:root {
    --size: calc((100vw / 100vh)*1);
    --font: calc(100vw / 75);
    --mg-rt: calc((100vw / 1680)*5);
    --gray: #DDDDDD;
    --lightgray: #EDEDED;
    --middlegray: #717681;
    --darkgray: #262930;
    --red: #E31616;
    --redhover: #BD0000;
}

/*=======SCROLLBAR==========*/
::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 1px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: var(--gray);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkgray);
    background-image: url("https://yraaa.ru/_pu/24/59610063.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 0.5px solid #fff;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-radius: 3px;
}
/*---for tablet and smartfone---*/
@media (max-width: 1023px) {
    ::-webkit-scrollbar {
        width: 0 !important;
    }
}
/*---end for tablet and smartfone---*/
/*=======END SCROLLBAR==========*/

html, body {
    margin: 0;
    padding: 0;
}

#maxmob .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 2em 0;
}

#maxmob .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#maxmob .left, .right {
    width: 50%;
}

.mmflex {
    display: flex;
}

.cl {
    flex-direction: column;
}

.alc {
    align-items: center;
}

.brd {
    border-bottom: 1px solid gray;
}

@media (max-width: 850px) {
    .left, .right {
        width: 100% !important;
    }

    #maxmob .wrapper {
        flex-direction: column;
    }

    .dtr {
        flex-direction: column;
    }

    #maxmob .container {
        padding: 1em 0;
    }
}
/*===typography===*/
#maxmob h1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc(var(--font)*3)
}

#maxmob h2 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: calc(var(--font)*1.5);
    padding: 0 0 1em 0;
    margin: 0;
}

#maxmob p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: calc(var(--font)*1.1);
    line-height: 2;
}

#maxmob li {
    list-style: url("../img/bullet.svg");
    font-family: 'Roboto';
    font-weight: 400;
    font-size: calc(var(--font)*1.1);
    line-height: 2;
    padding-bottom: 1em;
}

@media (max-width: 850px) {
    #maxmob h1 {
        font-size: 1.5em;
    }

    #maxmob h2 {
        font-size: 1.3em;
    }

    #maxmob ul {
        padding-left: 1.2em;
    }

    #maxmob p, #maxmob li {
        font-size: 1em;
    }
}
/*===end typography===*/
/*===head===*/
.mmhead {
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 60vw;
    margin: 0;
    padding: 0;
    background: url("../img/fonhead.jpg")top right;
    background-size: contain;
}

.mmheadleft {
    background-color: #0972ab;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#maxmob .mmheadleft h1 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc(var(--font)*3);
    padding-top: calc((var(--size))*50);
}

.mmheadright {
    background: url("../img/hand.png")bottom left no-repeat;
    background-size: contain;
}

#maxmob .map {
    position: absolute;
    right: 5%;
    bottom: 0;
}

.six {
    width: 60%;
}

@media (max-width: 850px) {
    .mmhead {
        height: auto;
        max-height: auto;
        background: none;
    }

    .mmheadleft {
        width: 100%;
        padding: 8em 0;
    }

    #maxmob .mmheadleft h1 {
        font-size: 1.5em;
    }

    .mmheadright, #maxmob .map {
        display: none;
    }
}
/*===end head===*/
/*===all section===*/
.im {
    height: 100vh;
}

.lt, .rt {
    padding: 0 5%;
}

.rt {
    background: #7E8C99;
    color: white;
}

.mmflex-bt {
    display: flex;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-right: 1em;
}

.circle2 {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    min-width: 2em;
    margin-right: 1em;
}

.grid {
    display: grid;
}

.griditem {
    border-radius: 1em;
    -webkit-box-shadow: 0px 0px 15px -7px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 0px 0px 15px -7px rgba(34, 60, 80, 0.5);
    box-shadow: 0px 0px 15px -7px rgba(34, 60, 80, 0.5);
    padding: 2em;
}

.gr1 {
    grid-template-columns: auto 1fr;
    align-items: center;
}

.gr2 {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.griditem img {
    padding-right: 2em;
}

.zag1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: calc(var(--font)*3);
    padding-right: 1em;
}

.zag2 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: calc(var(--font)*2.5);
    padding-right: 1em;
}

.zag3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: calc(var(--font)*2.3);
    padding-right: 1em;
}

.zag4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: calc(var(--font)*1.5);
    text-transform: uppercase;
    padding-right: 1em;
}

.osntxt {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: calc(var(--font)*1.1);
    padding-right: 1em;
}

.w45 {
    width: 45%;
}

.w45 {
    width: 35%;
}

.w80 {
    width: 80%;
}

.w60 {
    width: 60%;
}

.w7 {
    width: 7%;
}

@media (max-width: 850px) {
    .mmflex-bt {
        flex-direction: column;
    }

    .im {
        width: 100%;
        height: auto;
    }

    .wpp {
        flex-direction: column-reverse !important;
    }

    .circle {
        height: 1.5em;
        width: 1.5em;
        margin-right: 0.3em;
    }

    .circle2 {
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        min-width: 1.5em;
        margin-right: 0.5em;
    }

    .gr1, .gr2 {
        grid-template-columns: 1fr;
    }

    .gr2 {
        gap: 1em;
    }

    .griditem {
        padding: 1em;
    }

    .zag1 {
        font-size: 2em;
    }

    .zag2 {
        font-size: 1.8em;
    }

    .zag3 {
        font-size: 1.5em;
    }

    .zag4 {
        font-size: 1.5em;
    }

    .osntxt {
        font-size: 1.1em;
    }

    .w45 {
        width: 90%;
    }

    .w35 {
        width: 65%;
        padding-bottom: 1em;
    }

    .w80 {
        width: 100%;
    }

    .w60 {
        width: 90%;
    }

    .w7 {
        width: 15%;
    }
    .griditem img {
        padding-right: 0.5em;
    }
}
/*===end all section===*/
/*===section1===*/
.mmsection1 {
    background: url("../img/map_rf.png")top right no-repeat;
    background-size: contain;
}

.immob {
    width: 50%;
}

.rs1 {
    display: flex;
    justify-content: center;
}

@media (max-width: 850px) {
    #maxmob .conttd {
        flex-direction: column-reverse !important;
    }

    .immob {
        padding-top: 2em;
    }
}
/*===end section1===*/
/*===section3===*/
.typ {
    background: url("../img/typ.jpg")top 20% right no-repeat;
}

@media (max-width: 850px) {
    .typ {
        background-size: 100%;
    }
}
/*===end section3===*/
.mmsection5 {
    background: #0971AB;
}

    .mmsection5 h1 {
        color: white;
    }

#maxmob .sheme {
    flex-direction: column;
}

.imt, .imd {
    height: 80vh;
    padding-bottom: 5vh;
}


.mmsection6-1 {
    background: linear-gradient(to bottom, #7E8C99, transparent),url("../img/boke.jpg") 0 0 no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.imab {
    position: absolute;
    bottom: 0;
    right: 5%;
    height: 90vh;
}

.pol {
    width: 50%;
}

.text-span {
    margin-left: 0.5em;
    min-width: 1.5em !important;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    line-height: 1.5em;
    display: inline-block;
    text-align: center;
}

.it {
    padding-bottom: 0.5em;
}

.mmim1 {
    background: #7E8C99 url("../img/circle1.png")bottom 5% right 5% no-repeat;
    background-size: 20%;
}

.mmim2 {
    background: url("../img/circle2.png")bottom 5% right 5% no-repeat;
    background-size: 20%;
}

@media (max-width: 850px) {
    .imt {
        width: 100%;
        height: auto;
    }

    .imd {
        width: 50%!important;
        height: auto;
    }

    .pol {
        width: 100%;
    }
    .mmsection6-1 .imab {
        position: absolute;
        bottom: 0;
        right: 0!important;
        height: 50vh;
    }
    .mmsection6-1 {
        height: 70vh;
    }
}
