@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var mediaItem = Model.Value<dynamic>("img");
    if (mediaItem == null) return;
    
    var cssClass = ViewData["CssClass"] as string ?? "";
}

@if (mediaItem != null)
{
    <div class="image-wrapper @cssClass">
        <img src="@mediaItem.Url" alt="@mediaItem.Name" class="@cssClass" />
    </div>
}