<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d5cf2ac-6b71-4331-9ef8-422251e35146" Alias="IT внедрения в Группе компаний МАКСИМУМ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ITVnedreniyaVGruppeKompaniiMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:15</CreateDate>
    <NodeName Default="IT внедрения в Группе компаний МАКСИМУМ.">
      <Name Culture="ru">IT внедрения в Группе компаний МАКСИМУМ.</Name>
    </NodeName>
    <SortOrder>113</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-03-14T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В январе 2014 года успешно завершился основной этап проекта по внедрению системы ERP-класса в группе компаний "МАКСИМУМ". 
Проект охватил следующие функциональные области: общекорпоративные справочники, управление документооборотом, договорной блок, финансы и казначейство, производственные процессы, технический и диспетчерские блоки, расчеты с клиентами и поставщиками, управление коммерческими рисками, тарифы, контейнерные перевозки, терминальная обработка и хранение и различные интеграционные сценарии с внешними программными комплексами.
В результате во всей Группе было создано единое информационное пространство, оказавшее влияние на операционную деятельность и управление бизнес-процессами, и привело к сокращению времени на обработку информации, снижению рисков человеческих ошибок, увеличению производительности и качества труда. Таким образом, группа сократила временные и финансовые издержки, и повысила качество обслуживания клиентов.
Учитывая такой положительный эффект,  акционерами и руководством Группы компаний принято решение продолжить проект по автоматизации бизнес-процессов в Группе компаний. 
Разработан, и утвержден на собрании акционеров, план работ по дальнейшей реализации IT-стратегии Группы компаний.В частности, в 2014 году планируется активное внедрение электронного документооборота с контрагентами и запуск в эксплуатацию личного кабинета клиента, через который клиенты получат доступ к информации и дополнительные услуги, что еще выше поднимет качество обслуживания клиентов. 





 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[IT внедрения в Группе компаний МАКСИМУМ.]]></Value>
    </newsTitle>
  </Properties>
</Content>