<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2a2fa16-acaf-444d-8fe3-95f534ddef5f" Alias="maxexmob" Level="102">
  <Info>
    <Parent Key="9e5730a1-bfe7-4308-85b0-e77b0c13e196">Home</Parent>
    <Path>/[-20]/Home/maxexmob</Path>
    <Trashed Parent="9e5730a1-bfe7-4308-85b0-e77b0c13e196">true</Trashed>
    <ContentType>maxexmob</ContentType>
    <CreateDate>2024-02-12T17:34:11</CreateDate>
    <NodeName Default="maxexmob" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67117c0b-6f9c-488c-a307-8247824ac06b">maxexmob</Template>
  </Info>
  <Properties />
</Content>