<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6361b5a-e4c5-435f-8240-7043c66d7b0a" Alias="Test2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-02-13T12:26:31</CreateDate>
    <NodeName Default="Test2">
      <Name Culture="ru">Test2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <addressMoskow>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressMoskow>
    <addressPerm>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressPerm>
    <addressVlad>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressVlad>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/558ea2fea8444af7b8d3be6e5d2b673c",
        "settingsUdi": "umb://element/915f9e49855b49b5bafc5772715114c4",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/0b14df9afb704a35a5b167258cff55b8",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 7,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b3a20fe197a44110a68461d0fbad3d22",
        "settingsUdi": "umb://element/66e84fe701d34c249084cefaa852db3d",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/27b4df1c18d74979a4af92ff0f2cb692",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c5d5889cf9614682a63eb3202a52753b",
        "settingsUdi": "umb://element/781e0d9bf7844e81865e4fbc7817d40d",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/c6977f5e84964c07a1b07a4d0c8dd9c6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/558ea2fea8444af7b8d3be6e5d2b673c",
      "class": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/0b14df9afb704a35a5b167258cff55b8",
      "richText": {
        "markup": "<p style=\"text-align: center;\">888</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/b3a20fe197a44110a68461d0fbad3d22",
      "class": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/27b4df1c18d74979a4af92ff0f2cb692",
      "richText": {
        "markup": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"CallRequestMacro\" />\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/c5d5889cf9614682a63eb3202a52753b",
      "class": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/c6977f5e84964c07a1b07a4d0c8dd9c6",
      "richText": {
        "markup": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"EmailRequestMacro\" />\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/915f9e49855b49b5bafc5772715114c4",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/66e84fe701d34c249084cefaa852db3d",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/781e0d9bf7844e81865e4fbc7817d40d",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
    </content>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <iconButtonLK>
      <Value><![CDATA[[]]]></Value>
    </iconButtonLK>
    <iconSearch>
      <Value><![CDATA[[]]]></Value>
    </iconSearch>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <textButtonLK>
      <Value Culture="ru"><![CDATA[]]></Value>
    </textButtonLK>
  </Properties>
</Content>