<?xml version="1.0" encoding="utf-8"?>
<Content Key="983f6cc2-49d9-4b55-8c7c-d0aba198262b" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2024-02-29T11:46:04</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="08c3fb7e-86ca-48cf-b1de-972ad1a82c5a">Home</Template>
  </Info>
  <Properties />
</Content>