<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6735684-9ad2-428d-a591-4de39cb2388f" Alias="АО «ЗМК-Транс» под контролем ГК &quot;МАКСИМУМ&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/AOZMKTransPodKontrolemGKMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:35</CreateDate>
    <NodeName Default="АО «ЗМК-Транс» под контролем ГК &quot;МАКСИМУМ&quot;">
      <Name Culture="ru">АО «ЗМК-Транс» под контролем ГК "МАКСИМУМ"</Name>
    </NodeName>
    <SortOrder>43</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-12-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В декабре 2017 г. ООО «Репетек», владеющее 50% акций ж/д оператора АО «ЗМК-Транс», выкупило оставшиеся 50% акций, принадлежавших стороннему акционеру. Таким образом, АО «ЗМК-Транс» полностью перешло под контроль ГК «МАКСИМУМ».
Компания АО «ЗМК-Транс» является собственником профильных для ГК «МАКСИМУМ» типов вагонов: платформ для перевозки лесоматериалов и универсальных платформ. Поэтому установление над ней контроля стало логичным шагом в рамках стратегии Группы по увеличению профильного парка. Стоит отметить, что в условиях дефицита подвижного состава проведение сделок М&A является хорошей возможностью для крупных ж/д операторов по увеличению своей рыночной доли.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[АО «ЗМК-Транс» под контролем ГК "МАКСИМУМ"]]></Value>
    </newsTitle>
  </Properties>
</Content>