<?xml version="1.0" encoding="utf-8"?>
<Content Key="98271057-3c21-48f9-954c-74a8f1abddb6" Alias="Аренда подвижного состава" Level="103">
  <Info>
    <Parent Key="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">Услуги</Parent>
    <Path>/[-20]/Glavnaya/Uslugi/ArendaPodvizhnogoSostava</Path>
    <Trashed Parent="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:11:45</CreateDate>
    <NodeName Default="Аренда подвижного состава">
      <Name Culture="en-us">rental of rolling stock</Name>
      <Name Culture="ru">Аренда подвижного состава</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/487bbe37ebeb48519726250c438f6157"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7203131920cf4077a8fd88ff252b9824"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1b7a0840cd54482d85ea5fa95c45cdb3"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [
                                  {
                                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                                    "items": []
                                  }
                                ],
                                "columnSpan": 1,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9b052a724b384180bb21b312d2384254",
                                "settingsUdi": "umb://element/d99a99ed657749c5af05a216a521c3e0"
                              },
                              {
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e4186d84d83745c3825dce51facd8b4d"
                              },
                              {
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/29981c7dcf55445cb12f7d403dc41b07"
                              },
                              {
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/513db6ad5ea9480e89111c8f124c1c0f"
                              },
                              {
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3791d3d4290c4e85a847e7d7f92303c0"
                              },
                              {
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e2b72a8543844a53b195b0c3e9b29baa"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7b327361514a41cf988a5b3ad04d076f",
                        "settingsUdi": "umb://element/3df18c9603234f1e8cf245ff1b644ea0"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/3f7b6195900d4fc09089a41779f6498c",
                "settingsUdi": "umb://element/07fa165f2347483c959f46cc28b836bd"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3e1dfc9b366847dabe31f09e63d6621b",
        "settingsUdi": "umb://element/06f5d4c7b91943dbae04fe08649ffb39"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/3e1dfc9b366847dabe31f09e63d6621b",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/3f7b6195900d4fc09089a41779f6498c",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/487bbe37ebeb48519726250c438f6157",
      "headline": "Rental of rolling stock"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/7203131920cf4077a8fd88ff252b9824",
      "richText": "<ul>\n<li>Provision of rolling stock for rent</li>\n<li>Provision of commercially and technically serviceable rolling stock suitable for loading at the request of the client.</li>\n</ul>\n<p><br>The rental of rolling stock is provided in the quantity declared by the client for a certain period without limiting the areas of carriage running.<br>At the same time, the client independently operates the car, performs all types of ongoing repairs. The rate for the service is formed as a fixed amount per car per day.</p>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/1b7a0840cd54482d85ea5fa95c45cdb3",
      "richText": "<h4 style=\"text-align: center;\">Rental service for the following freight cars:</h4>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/7b327361514a41cf988a5b3ad04d076f",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/9b052a724b384180bb21b312d2384254",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/e4186d84d83745c3825dce51facd8b4d",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"0f49797d-c12e-4e82-9f69-57156d8bac3b\",\r\n    \"mediaKey\": \"6bd9dce8-bddd-41c8-89f8-0fa19aefae51\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">GONDOLA CAR RENTAL</p>",
      "edFoto": "%",
      "sizeFoto": "80",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/29981c7dcf55445cb12f7d403dc41b07",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"58e5d95e-dd9c-4558-b7a5-5eac9debabab\",\r\n    \"mediaKey\": \"adb82820-3f32-40af-b593-add51adb310f\"\r\n  }\r\n]",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">RENTAL OF COVERED WAGONS</p>",
      "sizeFoto": "80",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/513db6ad5ea9480e89111c8f124c1c0f",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"2af51553-7176-485f-84b1-44c6eb2837e5\",\r\n    \"mediaKey\": \"cb28cb10-9026-478d-aee3-2ca83095ef43\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">RENTAL OF TANK CARS</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/3791d3d4290c4e85a847e7d7f92303c0",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a7dfeec1-b154-4dd5-830a-c43e5c744e27\",\r\n    \"mediaKey\": \"2f59ffe5-8eaf-4981-b4a6-1ae036bb2699\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">HOPPER CAR RENTAL</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/e2b72a8543844a53b195b0c3e9b29baa",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"346cbfdf-31d9-4ede-aff8-68dfe4e3a564\",\r\n    \"mediaKey\": \"33d5b5c0-c1a3-4872-95d8-90a94f885c43\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">RENTAL OF PLATFORMS</p>",
      "gorizontalImgAlign": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/06f5d4c7b91943dbae04fe08649ffb39",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"93849ddd-7fe2-4d70-bf2e-eaf9799b779a\",\r\n    \"mediaKey\": \"787ccaff-7bb9-4bd1-8153-6f696ae2a9c0\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/07fa165f2347483c959f46cc28b836bd"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3df18c9603234f1e8cf245ff1b644ea0"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d99a99ed657749c5af05a216a521c3e0"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/10a97965e05d45feaf771d66d38c04ad",
        "settingsUdi": "umb://element/0d2b05ff633f4174bfb26a1bf25c163d",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/2994860177ff4d91bfe11234536da755",
                "settingsUdi": "umb://element/85b28e9dd96b4db9a9b5233081b1db25",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/317ce1ab19054894bc932db7525ef669",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/96cb6f47e5d44df8b95295d1b57411c7",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/80f8f5a83b4641d78c3e7510c71dd400",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/f419a23add54424c86ade274a3e9e3f7",
                        "settingsUdi": "umb://element/d97e9922d2f74668b4459edf1a20c44b",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/1aa8e2c3b0224434a2b06536f5bc668d",
                                "settingsUdi": "umb://element/b2aa7787303646fd9cc2953c974ded8f",
                                "areas": [
                                  {
                                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                                    "items": []
                                  }
                                ],
                                "columnSpan": 1,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/343b34626bae42988f962ac71f1e1dd1",
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/086c529cef384f648ec1ce59d2a9880c",
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/c95ec5a4c877488aa3643831f7d7c53a",
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/47643b6edc5d4f32ba37b293e8238380",
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/369b891d003346d685f345e8a7a7033f",
                                "areas": [],
                                "columnSpan": 2,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/10a97965e05d45feaf771d66d38c04ad",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/2994860177ff4d91bfe11234536da755",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/317ce1ab19054894bc932db7525ef669",
      "headline": "Аренда подвижного состава"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/96cb6f47e5d44df8b95295d1b57411c7",
      "richText": "<ul>\n<li>Предоставление подвижного состава в аренду</li>\n<li>Предоставление по заявке клиента коммерчески и технически исправного годного под погрузку подвижного состава.</li>\n</ul>\n<p><br>Аренда подвижного состава предоставляется в заявленном клиентом количестве на определенный период без ограничения районов курсирования вагонов.<br>При этом клиент самостоятельно осуществляет оперирование вагоном, выполняет все виды текущих ремонтов. Ставка за услугу формируется как фиксированная сумма за вагон в сутки.</p>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/80f8f5a83b4641d78c3e7510c71dd400",
      "richText": "<h4 style=\"text-align: center;\">Услуга аренды следующих грузовых вагонов:</h4>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/343b34626bae42988f962ac71f1e1dd1",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"0f49797d-c12e-4e82-9f69-57156d8bac3b\",\r\n    \"mediaKey\": \"6bd9dce8-bddd-41c8-89f8-0fa19aefae51\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">АРЕНДА ПОЛУВАГОНОВ</p>",
      "edFoto": "%",
      "sizeFoto": "80",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/f419a23add54424c86ade274a3e9e3f7",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/086c529cef384f648ec1ce59d2a9880c",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"58e5d95e-dd9c-4558-b7a5-5eac9debabab\",\r\n    \"mediaKey\": \"adb82820-3f32-40af-b593-add51adb310f\"\r\n  }\r\n]",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">АРЕНДА КРЫТЫХ ВАГОНОВ</p>",
      "sizeFoto": "80",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/c95ec5a4c877488aa3643831f7d7c53a",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"2af51553-7176-485f-84b1-44c6eb2837e5\",\r\n    \"mediaKey\": \"cb28cb10-9026-478d-aee3-2ca83095ef43\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">АРЕНДА ВАГОНОВ ЦИСТЕРН</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/47643b6edc5d4f32ba37b293e8238380",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a7dfeec1-b154-4dd5-830a-c43e5c744e27\",\r\n    \"mediaKey\": \"2f59ffe5-8eaf-4981-b4a6-1ae036bb2699\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">АРЕНДА ВАГОНОВ ХОППЕР</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/369b891d003346d685f345e8a7a7033f",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"346cbfdf-31d9-4ede-aff8-68dfe4e3a564\",\r\n    \"mediaKey\": \"33d5b5c0-c1a3-4872-95d8-90a94f885c43\"\r\n  }\r\n]",
      "sizeFoto": "80",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\">АРЕНДА ПЛАТФОРМ</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/1aa8e2c3b0224434a2b06536f5bc668d",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "col-none"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0d2b05ff633f4174bfb26a1bf25c163d",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"93849ddd-7fe2-4d70-bf2e-eaf9799b779a\",\r\n    \"mediaKey\": \"787ccaff-7bb9-4bd1-8153-6f696ae2a9c0\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/85b28e9dd96b4db9a9b5233081b1db25"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d97e9922d2f74668b4459edf1a20c44b"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b2aa7787303646fd9cc2953c974ded8f"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "e868bd89-c905-49f8-8c95-961817a71d49",
    "mediaKey": "e16374d0-135f-48ca-99a9-434ec757612c"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>