<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9fb7028-c7bf-41a8-a8fd-d7874b4b2ce4" Alias="Борьба за клиентов." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/BorBaZaKlientov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:18</CreateDate>
    <NodeName Default="Борьба за клиентов.">
      <Name Culture="ru">Борьба за клиентов.</Name>
    </NodeName>
    <SortOrder>119</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-01-20T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Компания ООО "Максима Логистик" к настоящему времени уже успела завоевать безупречную репутацию на российском рынке ж/д перевозок и накопить богатый опыт, который позволяет нам браться за самые сложные проекты, находить клиентам интересное решение их задач и обеспечить лучшее исполнение заказа в кратчайшие сроки. Подтверждением служат последние достижения в поистине бескомпромиссной борьбе за клиентов с такими грандами рынка как ОАО "Федеральная грузовая компания" (ФГК) и ОАО " Первая грузовая компания" (ПГК). 
  
 В декабре прошлого года наша компания приняла участие в стратегически важных тендерах на перевозку буровых установок таких не нуждающихся в представлении предприятий как ООО «Уралмаш НГО Холдинг» г.Екатеринбург  и ОАО "Завод Блочно-комплектных устройств" г.Тюмень. Результатом стала победа! Наша Компания обеспечит доставку сложного крупнотоннажного бурового оборудования железнодорожным транспортом в количестве 400 платформ в период с 01.12.13г. по 28.02.14  от ст. Войновка и ст.Екатеринбург-Товарных до ст.Усинск. 
  
 Победа в столь значимом тендере, где нашими конкурентами выступали столь мощные игроки, говорит не только о высоком уровне подготовки нашего Коммерческого Департамента, но и уже о состоявшемся мнении, доверии нашей Компании среди участников рынка перевозок – наших текущих и потенциальных клиентов, их уверенности, что мы не только можем, но и обязательно успешно справимся с задачей коль сколько сложной она бы ни была, что мы обязательно выполним свою работу по максимуму, на «Максима Логистик» уровне. 
  
 Это, несомненно, успех. Но также несомненно это и высокая ответственность. Наша Компания успешно формирует свой бренд на рынке перевозок. И необходимо со всей ответственностью, внимательно и серьёзно отнестись к выполнению своей части решения общей Задачи. Ведь в конечном итоге от каждого зависит общий успех Компании. 
  
 И тогда впереди нас ждут еще более интересные задачи и заказы. 
  

 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Борьба за клиентов.]]></Value>
    </newsTitle>
  </Properties>
</Content>