<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ef04654-35b7-4664-aed7-4e8ed01441e9" Alias="Возобновление работы с ФК Открытие" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/VozobnovlenieRabotySFKOtkrytie</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:12</CreateDate>
    <NodeName Default="Возобновление работы с ФК Открытие">
      <Name Culture="ru">Возобновление работы с ФК Открытие</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2020-12-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/0497cabcc340464db3562f68821063de]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                            После длительного перерыва ГК Максимум возобновила работу с ФК Открытие. 
    Диалог по привлечению финансирования в данном банке Группа начала еще в 2016 г., однако, на тот момент компании так и не смогли найти точки соприкосновения. И вот, прошло почти 4 года, за которые ГК Максимум выросла до уровня заметного игрока в своем сегменте рынка, а ФК Открытие претерпела значительные акционерные и организационные изменения. 
    В начале 2020 г. диалог компаний возобновился, и за полгода в суровых условиях карантина была проведена большая совместная работа, которая завершилась установлением лимита кредитных рисков на ГК Максимум в размере 4,5 млрд. руб. В рамках данного лимита в 4 кв. 2020г. были заключены несколько договоров лизинга между ООО «Репетек» (входит в ГК Максимум) и ООО «Открытый Лизинг» (входит в ФК Открытие), по которым в лизинг было передано 1 564 вагона, выкупленных ООО «Репетек» из лизинга  ПАО «ГТЛК». По мнению финансового директора ГК Максимум Максима Кунаева, основным результатом данной сделки стало не только существенное улучшение условий финансирования без увеличения общего долга Группы, но и общая диверсификация кредиторов в долговом портфеле ГК Максимум. Кроме этого, у Группы открывается большая перспектива дальнейшего сотрудничества с ФК Открытие, которое будет реализовано уже в 2021 году.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Возобновление работы с ФК Открытие]]></Value>
    </newsTitle>
  </Properties>
</Content>