<?xml version="1.0" encoding="utf-8"?>
<Content Key="48bf7477-b1c7-4f4d-a9f7-04f81601b76a" Alias="Группа компаний &quot;МАКСИМУМ&quot; набирает обороты." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GruppaKompaniiMAKSIMUMNabiraetOboroty</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:04</CreateDate>
    <NodeName Default="Группа компаний &quot;МАКСИМУМ&quot; набирает обороты.">
      <Name Culture="ru">Группа компаний "МАКСИМУМ" набирает обороты.</Name>
    </NodeName>
    <SortOrder>95</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-12-08T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Середина 3-его квартала ознаменовалась для компании ООО «Максима Логистик» развитием железнодорожного бизнеса в новом сегменте. К основным направлениям операторской деятельности по управлению универсальными платформами, фитинговыми  платформами, полувагонами и лесовозами добавился еще один вид подвижного состава - Крытые вагоны. К сегодняшнему дню в оперативном управлении состоят 110 единиц вагонов вместимостью 150 м3 каждый. За не полных три месяца при участии наших партнеров мы добились определенных успехов, в среднесрочных планах Компании - нарастить парк крытых вагонов до 200 единиц (130 вагонов объёмом 150 м3 , и 70 вагонов вместимостью по 130 м3).



Также наш партнер компания ООО «МаксЭкспресс», имея свою клиентскую базу, поможет нашей Компании расширить пул основных и постоянных грузоотправителей, дабы выполнить основную поставленную задачу руководством ГК «Максимум»: утвердиться на рынке данного подвижного состава, зарекомендовать себя клиентоориентированным и надежным партнером, и нарастить парк крытых вагонов до 1 000 единиц в течение 2015 года.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Группа компаний "МАКСИМУМ" набирает обороты.]]></Value>
    </newsTitle>
  </Properties>
</Content>