<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd563d40-0b54-41f2-8196-e309000060d4" Alias="Группа компаний &quot;МАКСИМУМ&quot; укрепляет свои партнерские отношения с Группой &quot;ИЛИМ&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GruppaKompaniiMAKSIMUMUkreplyaetSvoiPartnerskieOtnosheniyaSGruppoiILIM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:07</CreateDate>
    <NodeName Default="Группа компаний &quot;МАКСИМУМ&quot; укрепляет свои партнерские отношения с Группой &quot;ИЛИМ&quot;.">
      <Name Culture="ru">Группа компаний "МАКСИМУМ" укрепляет свои партнерские отношения с Группой "ИЛИМ".</Name>
    </NodeName>
    <SortOrder>99</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-09-12T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО «Финтранс» - специализированное транспортное предприятие группы  «ИЛИМ» - является надёжным  и  многолетним партнёром ООО «Максима Логистик».
Взаимовыгодное сотрудничество обеих компаний в настоящее время развивается не только по пути самого простого, «ванильного», способа сотрудничества - в сфере предоставления собственного подвижного состава в аренду, но и качественно: ГК «МАКСИМУМ» обеспечивает своим подвижным составом разные направления деятельности Группы «ИЛИМ». 
Например, интенсифицируется сотрудничество в сфере контейнерных перевозок. ГК «МАКСИМУМ» еще с 2012 года оказывает услуги по перевозке продукции ООО «Финтранс» на собственных 80ф платформах. Однако в этом году применяемые нами логистические схемы стали гораздо более сложными, а география нашей работы – обширнее. На осень намечен старт нового сложного проекта по обеспечению транспортным оборудованием Котласского ЦБК, после чего наши платформы с грузами группы Илим будут пересекать фактически всю Россию – от  порта Санкт-Петербурга до портов Дальнего Востока – совершая промежуточные погрузки в Сибири.
Плотность взаимодействия и рамки сотрудничества определяют и номенклатуру подвижного состава. Комплексный  и ответственный подход ГК «МАКСИМУМ»  к нуждам предприятий Группы «ИЛИМ» позволил задействовать весь спектр подвижного состава: платформы-лесовозы, фитинговые платформы, крытые вагоны и полувагоны.
Август ознаменовался появлением и качественно нового направления сотрудничества между компаниями ГК «МАКСИМУМ» и ООО «Финтранс» –благодаря совместным усилиям и слаженным действиям вместе  удалось влиться(войти) в грузопоток 40ф контейнеров из Москвы в города Новосибирск и Красноярск, которые в дальнейшем передаются для собственных нужд ООО «Финтранс».
 Наши компании находятся в постоянном контакте, что позволяет оперативно решать возникающие вопросы и открывает  дополнительные горизонты для успешного сотрудничества, основанного на доверии и взаимной выгоде.
Сотрудники и руководители ГК «МАКСИМУМ» высоко ценят оказанное нам доверие, которое подкреплено многолетним сотрудничеством, и гордится достигнутыми совместными  результатами.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Группа компаний "МАКСИМУМ" укрепляет свои партнерские отношения с Группой "ИЛИМ".]]></Value>
    </newsTitle>
  </Properties>
</Content>