<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca378e90-aaaf-4ba7-9292-145c6eb122c7" Alias="ЕЩЁ ОДИН УДАЧНЫЙ ГОД ДЛЯ ООО &quot;МАКСИМА ЛОГИСТИК&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/EShEODINUDAChNYIGODDLYaOOOMAKSIMALOGISTIK</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:42</CreateDate>
    <NodeName Default="ЕЩЁ ОДИН УДАЧНЫЙ ГОД ДЛЯ ООО &quot;МАКСИМА ЛОГИСТИК&quot;">
      <Name Culture="ru">ЕЩЁ ОДИН УДАЧНЫЙ ГОД ДЛЯ ООО "МАКСИМА ЛОГИСТИК"</Name>
    </NodeName>
    <SortOrder>57</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-04-26T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В управлении Компании находилось около 5.000 единиц подвижного состава. Ежемесячно более 7.000 вагонов и контейнеров отправлялись как на экспорт, так и во внутрироссийском сообщении.

За минувший год выручка ООО «Максима Логистик» от основной деятельности по РСБУ выросла на 28% и составила 2,3 млрд. руб.
Чистая прибыль достигла рекордного показателя – 122 млн. руб., что почти в 3 раза превышает финансовый результат предыдущего года.

Рост финансовых показателей компании позволил дисконтировать стоимость  кредитных средств и нарастить число банков–партнёров.
Всё это, а также профессионализм сотрудников компании, позволило увеличить объём продаж. При этом удалось планомерно снижать себестоимость производственного процесса и наращивать численность вагонного парка.

ООО «Максима Логистик» по достоинству заслужила статус поставщика самых качественных транспортных услуг!
2017 год сулит Компании раскрытие новых горизонтов и укрепление достигнутых позиций.

Супер гуд супер год!
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ЕЩЁ ОДИН УДАЧНЫЙ ГОД ДЛЯ ООО "МАКСИМА ЛОГИСТИК"]]></Value>
    </newsTitle>
  </Properties>
</Content>