<?xml version="1.0" encoding="utf-8"?>
<Content Key="4262b7da-33e9-4e17-befa-0ae345c58164" Alias="Железная дорога БТК привлечет в Турцию новые инвестиции" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ZheleznayaDorogaBTKPrivlechetVTurfiyuNovyeInvestifii</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:53</CreateDate>
    <NodeName Default="Железная дорога БТК привлечет в Турцию новые инвестиции">
      <Name Culture="ru">Железная дорога БТК привлечет в Турцию новые инвестиции</Name>
    </NodeName>
    <SortOrder>76</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-01-13T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/2033d2c577c643019a03676f5fc08613]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Отраслевые"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        По его словам, этот проект является идеальной возможностью для того, чтобы соединить Восток и Запад.

Ранее председатель ЗАО "Азербайджанские железные дороги" Джавид Гурбанов сказал, что по Баку-Тбилиси-Карс успешно запущен тестовый грузовой состав из пяти вагонов, который проследовал из Баку до станции Ахалкалаки.

Железная дорога Баку-Тбилиси-Карс строится на основании грузино-азербайджано-турецкого межгосударственного соглашения.

Азербайджан для строительства грузинского участка выделил кредит на сумму 775 миллионов долларов. Финансирование данного проекта Госнефтефондом осуществляется согласно Указу Президента Азербайджана "О претворении в жизнь мероприятий по проекту Баку-Тбилиси-Карс" от 21 февраля 2007 года.

В рамках проекта Баку-Тбилиси-Карс планируется построить новую 105-километровую ветку железнодорожной магистрали. Помимо этого, в Грузии будет реконструирован участок железной дороги Ахалкалаки-Марабда-Тбилиси, что повысит его пропускную способность до 15 миллионов тонн грузов в год. В Ахалкалаки планируется построить и пункт по переходу поездов с существующей в Грузии колеи на европейскую.

Пиковая пропускная способность коридора составит 17 миллионов тонн грузов в год. На начальном этапе этот показатель будет находиться на уровне одного миллиона пассажиров и 6,5 миллиона тонн грузов.                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Железная дорога БТК привлечет в Турцию новые инвестиции]]></Value>
    </newsTitle>
  </Properties>
</Content>