<?xml version="1.0" encoding="utf-8"?>
<Content Key="036b3ef0-6755-4a8b-b17a-cee5acc0e84a" Alias="Компания ООО «Максима Логистик» совместно с компанией ООО &quot;Бетта&quot; реализовала масштабный логистический проект." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KompaniyaOOOMaksimaLogistikSovmestnoSKompanieiOOOBettaRealizovalaMasshtabnyiLogisticheskiiProekt</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:55</CreateDate>
    <NodeName Default="Компания ООО «Максима Логистик» совместно с компанией ООО &quot;Бетта&quot; реализовала масштабный логистический проект.">
      <Name Culture="ru">Компания ООО «Максима Логистик» совместно с компанией ООО "Бетта" реализовала масштабный логистический проект.</Name>
    </NodeName>
    <SortOrder>81</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-10-08T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В сентябре 2015 года компании  ООО «Максима Логистик» и ООО Бетта завершили  работы над масштабным логистическим проектом по транспортировке большой партии запасных частей и комплектующих для железнодорожного транспорта из Новокузнецка в Саратовскую область. Заказчиком проекта выступила компания ПАО «Трансфин-М». Для компании ООО «Максима Логистик» -этот проект принципиально новый, в котором она приложила максимально много сил для его реализации.
Согласно техническому заданию начиная с мая 2015 года к транспортировке предназначалось более 100 тыс. единиц запасных частей и комплектующих общим весом около 3 тыс. тонн. Весь груз должен был быть доставлен в кратчайшие сроки для внедрения в производство заводами ОАО «Завод металлоконструкций» и АО «Вагоностроительный завод». Перевозимые комплектующие будут использоваться для тех же вагонов, которые планирует покупать в дальнейшем  ООО «Максима Логистик».
Компании  ООО «Максима Логистик» и ООО «Бетта» разработали сложный мультимодальный маршрут, который предполагал использование автомобильного и железнодорожного транспорта. Комплексное решение предусматривало изготовление чертежей крепления груза, согласование условий перевозки с железной дорогой, погрузочно-разгрузочные работы с использованием крановой техники, доставку груза «от двери до двери». Данное решение обеспечило рациональное использование средств заказчика и своевременную доставку груза. 
Перевозка осуществлялась через терминально-складской комплекс филиала ОАО "РЖД" в Новокузнецке (станция «Новокузнецк-Восточный»). Данная площадка в Новокузнецке была выбрана как эффективный перевалочный пункт для временного хранения и для последующей отправки груза на склады вагоностроительных заводов ОАО «ЗМК» и АО «ВСЗ» в Саратовской области (станции «Покровск-Приволжский» и «Балаково»). 
В результате для оказания транспортно-экспедиционных услуг по проекту было задействовано более 200 единиц автотранспорта и 25 железнодорожных вагонов. При выборе способа перевозки были учтены не только стоимость и сроки перевозки, но и такие важные факторы, как нестандартные габариты и вес груза, большой перечень номенклатуры, а также технологические возможности конечного грузополучателя. Необходимо отметить, что партия включала в себя более 500 тонн комплектующих для производства инновационных вагонов.
Гарантированное качество работ с ответственностью единого оператора на протяжении всего маршрута перевозки послужили основой для выполнения контрактных обязательств компаний ООО «Максима Логистик» и ООО «Бетта» точно в установленные заказчиком сроки.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Компания ООО «Максима Логистик» совместно с компанией ООО "Бетта" реализовала масштабный логистический проект.]]></Value>
    </newsTitle>
  </Properties>
</Content>