<?xml version="1.0" encoding="utf-8"?>
<Content Key="6330a3ec-2b4f-4754-90a4-5de79813a28e" Alias="Контейнерная конференция в Красноярске " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KonteinernayaKonferenfiyaVKrasnoyarske</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:28</CreateDate>
    <NodeName Default="Контейнерная конференция в Красноярске ">
      <Name Culture="ru">Контейнерная конференция в Красноярске </Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-09-06T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        5 сентября компания «Максима Логистик» приняла участие в конференции «За контейнерами», которая на этот раз состоялась в Красноярске и затронула наиболее актуальные на сегодняшний день проблемы современной контейнеризации грузов. 
Этот специальный проект, организованный партнёром компании – аналитическим центром «ИнфраНьюс», уже по традиции стал ежегодным поводом для встреч специалистов всей контейнерной отрасли. 
В процессе обсуждения участниками были затронуты такие темы, как современные тенденции контейнерного рынка; проблемы, мешающие контейнеризации; адаптация технологии контейнерного терминала под динамику рынка и другие.




]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Контейнерная конференция в Красноярске ]]></Value>
    </newsTitle>
  </Properties>
</Content>