<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cb9526b-9deb-4f6e-9c0d-5ff04e74f8cd" Alias="Крепнут позиции &quot;Максима Логистик&quot; в контейнерных перевозках" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KrepnutPozifiiMaksimaLogistikVKonteinernykhPerevozkakh</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:28</CreateDate>
    <NodeName Default="Крепнут позиции &quot;Максима Логистик&quot; в контейнерных перевозках">
      <Name Culture="ru">Крепнут позиции "Максима Логистик" в контейнерных перевозках</Name>
    </NodeName>
    <SortOrder>135</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-05-27T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В направлении бизнеса контейнерных перевозок оперативные показатели "Максима Логистик" на текущий момент составили:


общий объем погрузки составил более 40  тыс. тонн/мес
ежемесячно производится более 750 отгрузок 80 футовых платформ, что в грузовом эквиваленте составляет почти 2 950 TEU
парк фитинговых платформ вырос до 500 единиц
общее количество клиентов выросло до 89, из них активными являются более 36


Завершен первый этап инвестиционной программы на развитие контейнерной площадки в Перми ООО "Бетта". В очередной этап расширения терминала было инвестировано более 5 миллионов рублей. В результате инвестиций мощности площадки возросли до 350  единовременно размещаемых на Терминале контейнеров.
Ежемесячно предприятие осуществляет отправку до 70 контейнеров по мультимодальной схеме перевозок «door-to-door».








В настоящее время на терминале "Бетта" складируется 150 контейнеров единовременно. 



"Бетта" на сегодняшний день приобрела статус  самого современного терминала в регионе, способного быть надежным партнером и обеспечить растущие потребности региона в организации контейнерных перевозок. Инвестиционная программа предприятия позволила создать на терминале современное твердое покрытие из аэродромных плит, обеспечивающее круглогодичное использование для погрузо - разгрузочных работ, такую современную технику как ричстакер Ферарри. Также внедряется самое современное программное оборудование которое учитывает опыт работы крупных российских, а также международных контейнерных терминалов.



С учетом ежегодного роста в 10-15% контейнеризации грузов в Пермском регионе, для  оказания полного спектра услуг клиентам, предусмотрена программа по увеличению собственного парка контейнеровозов, планируется покупка 5 единиц универсальных полуприцепов, европейской марки Грюнвальд, позволяющих работать с любыми типоразмерами контейнеров. Большое внимание уделяется сохранности как контейнерного парка, так и грузов находящихся на временном хранении, для этого используется современные системы видеонаблюдения и физическая охрана объекта. 



В планах компании во втором квартале 2013 года увеличить объемы груженых контейнеров отправляемых из Пермского региона, по схеме "door-to-door" до 200-300 в месяц. Данные планы подтверждены контрактами с крупными предприятиями региона, и техническими возможностями терминала.



Для компании "Максима Логистика" управление контейнерными терминалами позволяет решать такие стратегические задачи как, оказание комплексного сервиса по организации контейнерных перевозок для уже имеющихся и новых клиентов компании, увеличение объемов перевозок с  использование собственных крупнотоннажных платформ в логистических цепях, образуемых терминалом и включение в уже существующие маршруты для исключение порожнего пробега вагонов. Инвестиции в терминал создадут современную техническую базу, способную отреагировать на растущий спрос контейнеризации промышленных грузов в пермском регионе. 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Крепнут позиции "Максима Логистик" в контейнерных перевозках]]></Value>
    </newsTitle>
  </Properties>
</Content>