<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b0e0d7d-191a-4170-9662-2ab7eee5be2c" Alias="Максима Логистик запускает новый сайт" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MaksimaLogistikZapuskaetNovyiSait</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:31</CreateDate>
    <NodeName Default="Максима Логистик запускает новый сайт">
      <Name Culture="ru">Максима Логистик запускает новый сайт</Name>
    </NodeName>
    <SortOrder>141</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-01-09T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                         Начало 2013 года ознаменовалось для Максима Логистик запуском нового сайта. 

 Он является интернет-отражением сути нашей компании. 

 Дизайн сайта современный и прогрессивный, как наш подход к постороению бизнеса. 

 Навигация простая и удобная, как наши взаимоотношения с клиентами. 

 Минимум информации и максимум информативности - только самое главное и по существу, ведь мы ценим время наших партнеров. 

 И, конечно, персональные контакты ключевых менеджеров для оперативности, так как наша задача -  оказывать услуги максимально быстро и качественно. 


 Мы искренне надеемся, что сайт станет удобным и полезным инструментом для нашей с вами совместной плодотворной работы. 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Максима Логистик запускает новый сайт]]></Value>
    </newsTitle>
  </Properties>
</Content>