<?xml version="1.0" encoding="utf-8"?>
<Content Key="b182e7ff-028b-4d6b-bc0f-b36d32b0f331" Alias="МАКСИМА ЛОГИСТИК активно наращивает клиентскую и грузовую базы НА РЫНКЕ ПЕРЕВОЗОК УНИВЕРСАЛЬНЫХ ПЛАТФОРМ" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MAKSIMALOGISTIKAktivnoNarashivaetKlientskuyuIGruzovuyuBazyNARYNKEPEREVOZOKUNIVERSALNYKhPLATFORM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:27</CreateDate>
    <NodeName Default="МАКСИМА ЛОГИСТИК активно наращивает клиентскую и грузовую базы НА РЫНКЕ ПЕРЕВОЗОК УНИВЕРСАЛЬНЫХ ПЛАТФОРМ">
      <Name Culture="ru">МАКСИМА ЛОГИСТИК активно наращивает клиентскую и грузовую базы НА РЫНКЕ ПЕРЕВОЗОК УНИВЕРСАЛЬНЫХ ПЛАТФОРМ</Name>
    </NodeName>
    <SortOrder>133</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-06-20T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО "Максима Логистик" расширяет список своих партнеров в сфере перевозок универсальных платформ. Только за Май 2013г. их количество в данном направление деятельности выросло на 15(!) новых контрагентов. В частности, "Максима Логистик" обрела новых клиентов по Северной, Свердловской жд и Казахстану, кроме того, диверсифицируется и структура отгрузки. 
  

 Наша клиентская база не только расширяется количественно, но и улучшается качественно. Присутствие крупных компаний с мировым именем  в списке наших партнёров уже само по себе способствует привлечению новых клиентов, а привлечение новых клиентов в свою очередь не только позволит увеличить нашу долю на рынке, но также позволит рассматривать увеличение возможных объемов закупки новых вагонов. В планах Компании увеличение парка ПС за ближайший год на 30%. 
  


 Мы готовы и будем расти!   

 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[МАКСИМА ЛОГИСТИК активно наращивает клиентскую и грузовую базы НА РЫНКЕ ПЕРЕВОЗОК УНИВЕРСАЛЬНЫХ ПЛАТФОРМ]]></Value>
    </newsTitle>
  </Properties>
</Content>