<?xml version="1.0" encoding="utf-8"?>
<Content Key="9188ba22-be78-4e11-9c7b-3e84e25f9cdc" Alias="Максима Логистик открыла новое направление деятельности" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MaksimaLogistikOtkrylaNovoeNapravlenieDeyatelNosti</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:23</CreateDate>
    <NodeName Default="Максима Логистик открыла новое направление деятельности">
      <Name Culture="ru">Максима Логистик открыла новое направление деятельности</Name>
    </NodeName>
    <SortOrder>126</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-09-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО "Максима Логистик" открыла новое направление деятельности- транспортировка леса по России и странам СНГ. 
      
     На текущий момент операционный парк  составляет 160 вагонов- лесовозов модель вагона 13-2114-07 производства ОАО "Алтайвагон". 
      
     Клиентами компании уже являются такие компании как: ООО "Адис", ООО "Бенчмарк", ООО "Финтранс", ООО "ТрансЛесКом", ООО "Восточно- Сибирская Транспортная Группа" и другие. 
      
     В планах компании расширение данного вида парка до 300 единиц до конца года. 




 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Максима Логистик открыла новое направление деятельности]]></Value>
    </newsTitle>
  </Properties>
</Content>