<?xml version="1.0" encoding="utf-8"?>
<Content Key="474a275c-e506-4b0e-a57e-87b07ce22f44" Alias="Новости" Level="2">
  <Info>
    <Parent Key="8297ea76-e03e-400e-a740-1aceee2ce2be">Home</Parent>
    <Path>/Home/Novosti</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2024-02-13T09:58:18</CreateDate>
    <NodeName Default="Новости">
      <Name Culture="ru">Новости</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="5b3e3806-07ec-4c90-85ea-88dad154d224">News</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="ru"><![CDATA[Список последних новостей компании]]></Value>
    </description>
    <keywords>
      <Value Culture="ru"><![CDATA[новости жд, новости разработки, новости IT]]></Value>
    </keywords>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[Новости компании E-MAX]]></Value>
    </title>
  </Properties>
</Content>