<?xml version="1.0" encoding="utf-8"?>
<Content Key="204f03e0-737c-4d29-bb81-e63fa545a1fe" Alias="Новые перспективные предложения Группы МАКСИМУМ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovyePerspektivnyePredlozheniyaGruppyMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:06</CreateDate>
    <NodeName Default="Новые перспективные предложения Группы МАКСИМУМ.">
      <Name Culture="ru">Новые перспективные предложения Группы МАКСИМУМ.</Name>
    </NodeName>
    <SortOrder>97</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-10-30T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Согласно стратегии развития ООО "Максима Логистик" приоритетное внимание отдается максимальной утилизации собственного подвижного состава в долгосрочных и повторяющихся на регулярной основе проектах. В отношении парка фитинговых платформ это, в первую очередь, использование нашего подвижного состава в Ускоренных Контейнерных Поездах (УКП).
Нашим партнерам мы предлагаем сотрудничество в организации контейнерных поездов и связанных с этим «сквозных» сервисов. 
Преимуществами данного сервиса являются: 

Круглосуточная работа терминала, 
Возможность использования специализированного контейнерного оборудования,  которое мы можем предоставить
и, самое важное, - отправление поезда в соответствии с фиксированным расписанием, что дает возможность заранее планировать объемы и сроки доставки.

При организации новых маршрутов УКП мы проводим следующие подготовительные работы самостоятельно, а именно: - обеспечиваем наличие необходимого подвижного состава и его своевременное прибытие в пункт отправления; подготовку и предоставление специализированного контейнерного оборудования; кроме того, по договоренности, также возможно предоставление сервиса по согласованию графика нитки поезда. 
Первым таким проектом стал совместный с ООО Фирма "Экодор" контейнерный поезд Москва – Красноярск, стартовавший в июне сего года.
Благодаря совместным усилиям ООО Фирма "Экодор" и ООО "Максима Логистик" в направлении повышения качества обслуживания, удалось добиться повышения такого показателя эффективности как «повторное обращение клиентов» - лояльность клиентов. В результате в настоящее время заполняемость данного УКП достигла порядка 90-95%, что в количественном выражении составляет 100-110TEU. 
Кроме того, в Сентябре текущего года ООО "Максима Логистик" в партнерстве с ОАО “Сахалинское морское пароходство” приступило к реализации нового проекта - УКП Москва (ТЛЦ Ховрино) - Владивосток (ст. Угольная/терминал ПИК).
Отправка первого поезда состоялась 6 октября.
На первоначальном этапе график отправки поезда будет еженедельно, в дальнейшем предполагается увеличение количества отправок поезда до восьми поездов в месяц.
Суммарно в перечисленных выше проектах будет задействовано 300-400 собственных и привлеченных 80-ти футовых фитинговых платформ.
Таким образом, опираясь на данные проекты, а также принимая во внимание такие факторы как возможность предоставления под погрузку самого нового на текущий момент парка вагонов, самый профессиональный и опытный среди всех российских операторов диспетчерский аппарат и наличие тесных/партнерских связей с другими участниками операторского рынка можно с уверенностью говорить о том, что количество  подобных проектов ООО "Максима Логистик" будет расти.   ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новые перспективные предложения Группы МАКСИМУМ.]]></Value>
    </newsTitle>
  </Properties>
</Content>