<?xml version="1.0" encoding="utf-8"?>
<Content Key="f437773e-8b29-45bb-bd08-60652048bdeb" Alias="ОАО &quot;Московский Кредитный банк&quot; расширил кредитную линию для ООО &quot;Максима Логистик&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OAOMoskovskiiKreditnyiBankRasshirilKreditnuyuLiniyuDlyaOOOMaksimaLogistik</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:24</CreateDate>
    <NodeName Default="ОАО &quot;Московский Кредитный банк&quot; расширил кредитную линию для ООО &quot;Максима Логистик&quot;">
      <Name Culture="ru">ОАО "Московский Кредитный банк" расширил кредитную линию для ООО "Максима Логистик"</Name>
    </NodeName>
    <SortOrder>129</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-08-05T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[

Продолжается взаимовыгодное сотрудничество между ООО "Максима Логистик" и ОАО "Московским Кредитным банком".





В текущем месяце было  подписано соглашение об увеличении размера кредитной линии  на пополнение оборотных средств компании "Максима Логистик". Размер овердрафта был повышен до 28,4 миллионов рублей.





Увеличение лимита кредитной линии лишний раз подчеркивает доверие банка, который давно является партнером компании "Максима Логистик".




Данные средства помогут "Максима Логистик" своевременно предоплачивать железнодорожный тариф в связи с растущим объемом перевозок компании.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ОАО "Московский Кредитный банк" расширил кредитную линию для ООО "Максима Логистик"]]></Value>
    </newsTitle>
  </Properties>
</Content>