<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c8a50c5-cb6b-4e7a-9fea-355852d541a4" Alias="ООО &quot;Максима Логистик&quot; продолжает сотрудничество с МОСКОВСКИМ КРЕДИТНЫМ БАНКОМ (ОАО)." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMaksimaLogistikProdolzhaetSotrudnichestvoSMOSKOVSKIMKREDITNYMBANKOMOAO</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:08</CreateDate>
    <NodeName Default="ООО &quot;Максима Логистик&quot; продолжает сотрудничество с МОСКОВСКИМ КРЕДИТНЫМ БАНКОМ (ОАО).">
      <Name Culture="ru">ООО "Максима Логистик" продолжает сотрудничество с МОСКОВСКИМ КРЕДИТНЫМ БАНКОМ (ОАО).</Name>
    </NodeName>
    <SortOrder>101</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-08-21T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В августе текущего года ООО «Максима Логистик» и ОАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК" продолжили сотрудничество в сфере финансового кредитования. В начале месяца партнеры заключили контракт, по условиям которого «Максима Логистик" привлекла овердрафт в размере 35 млн. рублей. 



Кредитные средства направлены на пополнение оборотных средств «Максима Логистик». 



Получение заемных средств способствует воплощению планов развития компании. Имея плодотворный опыт взаимодействия с банками, компания и в дальнейшем планирует развивать партнерские отношения с финансово-кредитными учреждениями. 


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Максима Логистик" продолжает сотрудничество с МОСКОВСКИМ КРЕДИТНЫМ БАНКОМ (ОАО).]]></Value>
    </newsTitle>
  </Properties>
</Content>