<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4016f5d-4eff-40e5-98cf-6049f6ce958f" Alias="ООО &quot;Репетек&quot; продолжает сотрудничество с МОРСКИМ БАНКОМ (ОАО)." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOORepetekProdolzhaetSotrudnichestvoSMORSKIMBANKOMOAO</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:11</CreateDate>
    <NodeName Default="ООО &quot;Репетек&quot; продолжает сотрудничество с МОРСКИМ БАНКОМ (ОАО).">
      <Name Culture="ru">ООО "Репетек" продолжает сотрудничество с МОРСКИМ БАНКОМ (ОАО).</Name>
    </NodeName>
    <SortOrder>106</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-06-16T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В рамках продолжающегося успешного сотрудничества с МОРСКИМ БАНКОМ состоялось подписание кредитного соглашения с компанией Репетек. Размер кредитования составил 80 млн. рублей.
Привлеченные средства будут направлены на приобретение нового железнодорожного подвижного состава.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Репетек" продолжает сотрудничество с МОРСКИМ БАНКОМ (ОАО).]]></Value>
    </newsTitle>
  </Properties>
</Content>