<?xml version="1.0" encoding="utf-8"?>
<Content Key="61d69e2b-105e-49f7-a7e5-f7594b074510" Alias="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с ОАО &quot;СОБИНБАНК&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMaksimaLogistikRasshiryaetSotrudnichestvoSOAOSOBINBANK</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:13</CreateDate>
    <NodeName Default="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с ОАО &quot;СОБИНБАНК&quot;.">
      <Name Culture="ru">ООО "Максима Логистик" расширяет сотрудничество с ОАО "СОБИНБАНК".</Name>
    </NodeName>
    <SortOrder>110</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-04-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В рамках продолжающегося успешного сотрудничества ОАО "СОБИНБАНК" с группой компаний Максимум, состоялось подписание очередного кредитного соглашения с ООО "Максима Логистик".  Лимит кредитования по овердрафту увеличен до 70 млн. рублей.
Увеличение лимита, лишний раз подтверждает стабильное и устойчивое положение Компании на российском рынке железнодорожных  перевозок,  а так же доверие к Компании со стороны крупнейших кредитных организаций.
Привлеченные средства будут направлены на пополнение оборотных средств Компании - оплату железнодорожного тарифа по территории РФ и стран СНГ, чего требует постоянно растущий парк подвижного состава в управлении ООО "Максима Логистик".


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Максима Логистик" расширяет сотрудничество с ОАО "СОБИНБАНК".]]></Value>
    </newsTitle>
  </Properties>
</Content>