<?xml version="1.0" encoding="utf-8"?>
<Content Key="93df5ca6-de47-46ff-9f95-265dcba5d948" Alias="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с «БАЛТИНВЕСТБАНК»" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMaksimaLogistikRasshiryaetSotrudnichestvoSBALTINVESTBANK</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:45</CreateDate>
    <NodeName Default="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с «БАЛТИНВЕСТБАНК»">
      <Name Culture="ru">ООО "Максима Логистик" расширяет сотрудничество с «БАЛТИНВЕСТБАНК»</Name>
    </NodeName>
    <SortOrder>63</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-12-29T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В рамках продолжающегося успешного сотрудничества с ПАО «БАЛТИНВЕСТБАНК» состоялось подписание очередного кредитного соглашения с ООО "Максима Логистик".  Лимит кредитования 290 млн. рублей.
Полученные кредитные средства у банка были направлены на приобретение нового парка вагонов.
                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Максима Логистик" расширяет сотрудничество с «БАЛТИНВЕСТБАНК»]]></Value>
    </newsTitle>
  </Properties>
</Content>