<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9fc6d41-e320-4162-8260-8dba6f1298c4" Alias="Основные финансовые показатели ООО &quot;ТопЛайн&quot; за 2013 год." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OsnovnyeFinansovyePokazateliOOOTopLainZa2013God</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:15</CreateDate>
    <NodeName Default="Основные финансовые показатели ООО &quot;ТопЛайн&quot; за 2013 год.">
      <Name Culture="ru">Основные финансовые показатели ООО "ТопЛайн" за 2013 год.</Name>
    </NodeName>
    <SortOrder>112</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-03-26T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Инвестиционный бюджет ООО “ТопЛайн” на 2013 год предусматривал рост операционного парка Компании почти в два раза (на 79%) по отношению к сформированному на начало 2013 года, что было реализовано в течении года (невыполнение инвестиционного плана составило менее 4%)
В течении 2013 г. Компания увеличила парк вагонов универсальных платформ за счет приобретения новых вагонов. 
Основные финансовые показатели:
• Выручка составила  240 млн. руб.
• EBIDTA- 200 млн. руб.
• Чистая прибыль по РСБУ –  71 млн. руб.
• Чистая прибыль по Управленческому учёту – более 90  млн. руб.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Основные финансовые показатели ООО "ТопЛайн" за 2013 год.]]></Value>
    </newsTitle>
  </Properties>
</Content>