<?xml version="1.0" encoding="utf-8"?>
<Content Key="e915133f-b0f2-4868-995a-f111ff56dc19" Alias="Открытие станции Блочная Свердловской ЖД" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OtkrytieStanfiiBlochnayaSverdlovskoiZhD</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:30</CreateDate>
    <NodeName Default="Открытие станции Блочная Свердловской ЖД">
      <Name Culture="ru">Открытие станции Блочная Свердловской ЖД</Name>
    </NodeName>
    <SortOrder>139</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-03-29T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
28.03.2013 г. Федеральным  агентством железнодорожного транспорта, был издан приказ  № 98  об открытии железнодорожной станции Свердловской железной дороги - станции Блочная по параграфам 8Н и 10Н. 
Это позволит стратегическому партнеру "Максима Логистик" контейнерному терминалу ООО "Бетта" (г. Пермь) самостоятельно осуществлять приемку  и выдачу грузов в универсальных контейнерах массой 20, 24 -30 тонн на подъездных путях. Тарифного руководства №4 на железнодорожных путях не общего пользования протяженностью 7082,5 м. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Открытие станции Блочная Свердловской ЖД]]></Value>
    </newsTitle>
  </Properties>
</Content>