<?xml version="1.0" encoding="utf-8"?>
<Content Key="d532a704-d517-4323-a9c0-3a321ccbdd2c" Alias="Открытие крупнейшего сухопутного зернового терминала России" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OtkrytieKrupneishegoSukhoputnogoZernovogoTerminalaRossii</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:07</CreateDate>
    <NodeName Default="Открытие крупнейшего сухопутного зернового терминала России">
      <Name Culture="ru">Открытие крупнейшего сухопутного зернового терминала России</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2022-09-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/d516b2da1d45475fa8615eed603d84dd]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Открытие крупнейшего сухопутного зернового терминала России]]></Value>
    </newsTitle>
  </Properties>
</Content>