<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cca74be-3934-4a03-992a-7afe4e33722d" Alias="ПАРТНЁРСТВО ГК &quot;МАКСИМУМ&quot; С ООО ФИРМА &quot;ЭКОДОР&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PARTNERSTVOGKMAKSIMUMSOOOFIRMAEKODOR</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:37</CreateDate>
    <NodeName Default="ПАРТНЁРСТВО ГК &quot;МАКСИМУМ&quot; С ООО ФИРМА &quot;ЭКОДОР&quot;">
      <Name Culture="ru">ПАРТНЁРСТВО ГК "МАКСИМУМ" С ООО ФИРМА "ЭКОДОР"</Name>
    </NodeName>
    <SortOrder>47</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-09-11T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ГК «МАКСИМУМ» в сентябре текущего года приобрела крупный пакет акций в капитале одного из крупнейших контейнерных терминалов в московском регионе –  ООО Фирма «Экодор» - ст. Силикатная (на базе ОАО «Подольское ППЖТ»). 

В 2016 году объём перевалки контейнеров на терминале достиг 241 000 TEUs и продолжает расти, площадь терминала составляет более 7 Га, а единовременная вместимость – 2700 TEUs. Ежемесячно «Экодор» обрабатывает более 50 пар контейнерных поездов на вход/выход. Для организации отправки ускоренных контейнерных поездов терминал сотрудничает с ведущими операторами железнодорожных контейнерных перевозок, такими как Транспортная группа «FESCO», АО «Русская Тройка» и ГК «МАКСИМУМ». 

Взаимовыгодное сотрудничество ГК «МАКСИМУМ» и ООО Фирма «Экодор» началось в 2014 году. На сегодняшний день, благодаря совместным усилиям, с терминала еженедельно отправляется несколько контейнерных поездов назначением на Красноярск и Владивосток, сформированных преимущественно из подвижного состава ГК «МАКСИМУМ». 

Инвестиционная программа, реализуемая в настоящее время ООО Фирма «Экодор» и ОАО «Подольское ППЖТ», предполагает существенное увеличение площади контейнерного терминала и его производственных возможностей. ГК «МАКСИМУМ»,  управляющая парком в 1800 ед. 80-футовых фитинговых платформ, в сотрудничестве с новым партнёром планирует предложить рынку новые и современные проекты в сфере контейнерной логистики. 

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ПАРТНЁРСТВО ГК "МАКСИМУМ" С ООО ФИРМА "ЭКОДОР"]]></Value>
    </newsTitle>
  </Properties>
</Content>