<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8ea9871-96c8-43cc-84b2-5747058d1793" Alias="Первый этап развития станции очистки химических контейнеров - завершён!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PervyiEtapRazvitiyaStanfiiOchistkiKhimicheskikhKonteinerovZavershen</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:49</CreateDate>
    <NodeName Default="Первый этап развития станции очистки химических контейнеров - завершён!">
      <Name Culture="ru">Первый этап развития станции очистки химических контейнеров - завершён!</Name>
    </NodeName>
    <SortOrder>70</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-09-15T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В сентябре 2016 года на Терминале «Бетта» состоялась презентация результатов реализации первого этапа стратегии развития станции очистки химических контейнеров. В мероприятии приняли участие партнеры компании, которые были ознакомлены с историей становления Терминала, а также со складскими территориями и производственными мощностями.

За несколько лет менеджмент Терминала «Бетта» прошел непростой путь от замысла до воплощения в жизнь сложного производственного комплекса – станции по очистке химических контейнеров. Из мойки на заднем дворе со штучным результатом удалось сформировать полноценное производство, использующее в своей работе современные инновационные технологии бережной очистки колбы ТК, что позволило за I полугодие 2016 года повысить производительность на 44,5% (по сравнению с результатами 2015 года).                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Первый этап развития станции очистки химических контейнеров - завершён!]]></Value>
    </newsTitle>
  </Properties>
</Content>