<?xml version="1.0" encoding="utf-8"?>
<Content Key="29f0d9fe-6d62-4460-a06c-7d997f21396c" Alias="Перевозки ж/д транспортом" Level="103">
  <Info>
    <Parent Key="bf1ac7cb-e28d-4461-90a5-80d2e2c7391d">Подвижной состав</Parent>
    <Path>/[-20]/Glavnaya/PodvizhnoiSostav/PerevozkiZhdTransportom</Path>
    <Trashed Parent="bf1ac7cb-e28d-4461-90a5-80d2e2c7391d">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:03:02</CreateDate>
    <NodeName Default="Перевозки ж/д транспортом">
      <Name Culture="en-us">railway transportation</Name>
      <Name Culture="ru">Перевозки ж/д транспортом</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1c857f5be4d9416895d587ce4b6cb241"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/d582cbcb2cbb4ddab883d8b777cb0d98"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/07bcb304586b4c579055b804595f320c"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/334d606dff2747a9b26fd0d8ceb2692c"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/28694e1b666d4e3bbf1729ccc7cfdbe9"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/d3870c16b03f468fbee0822560a3bf5f"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7090d65525c245ba8c305a3700d91044",
                        "settingsUdi": "umb://element/29987afc7b28435c88d106d810b9baeb"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/92e046a54dee478a980f1611089bb58a",
                "settingsUdi": "umb://element/54eb04b78dc14f41a82902af6e314e47"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/9bedaf18680348dda14928eaa33686bb",
        "settingsUdi": "umb://element/2f5e458696cc4cfd952c042fb25e1208"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/1990a46be0f54157a88c2646d2b2527b"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/7346243d65fd48a9a41e2f59293dd133"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/5ca4bf7f62454151adf82950a1adeb62"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/9d0c892687e44ff7896f4413e7f3d51b"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/22e14d92b84d424ba80de90839e8df56"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/834f988d00634f73ad82beb9cf8e78c0"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/0328f361674545dfbbeb7f5708dce505"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4f6419030e134104bf486ab8b5184ea4"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/6b92a1185fed465290c3633af410b664",
                "settingsUdi": "umb://element/b58616e83e4c40afadf02097d1239a94"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ea049e344ebb4088907a33a68fda959b",
        "settingsUdi": "umb://element/f60299f093f5403e83a019d2f7fa89ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/9bedaf18680348dda14928eaa33686bb",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/92e046a54dee478a980f1611089bb58a",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/1c857f5be4d9416895d587ce4b6cb241",
      "headline": "Transportation by railway transport"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/7090d65525c245ba8c305a3700d91044",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d582cbcb2cbb4ddab883d8b777cb0d98",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4d931f8b-a88d-4de8-a876-7d4043b4b807\",\r\n    \"mediaKey\": \"5d09eb39-1cdf-414f-ac51-2444fc0f95e0\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Transportation and logistics by rail occupies a significant part of the Russian cargo transportation market, since some categories of cargo can be delivered to many regions of the country only by rail.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/07bcb304586b4c579055b804595f320c",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"49769aa3-39e5-4516-84fd-6a4552e65ee3\",\r\n    \"mediaKey\": \"054f33c3-9e64-4693-a0fc-7dc5bf77950a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Railway rolling stock today is the main link not only in the logistics chain of Russia, but also in all CIS countries.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/334d606dff2747a9b26fd0d8ceb2692c",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b369c976-dd92-4c50-b1ce-25e6bdf31492\",\r\n    \"mediaKey\": \"27d29cea-1ad0-4c3e-a5a7-66237379418a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Given the wide geographical spread of the regions and the shortage of a modern fleet, there is an acute question in the transportation of goods by rail.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/28694e1b666d4e3bbf1729ccc7cfdbe9",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"9af314c5-14b9-4376-b937-d0c2f3e2ae84\",\r\n    \"mediaKey\": \"f40deaff-1fc8-45d9-a5ad-38ad96dffee3\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Moreover, the demand for railway transportation is becoming more popular, as it has a number of significant advantages: ensuring cargo safety, independence from weather conditions, large load capacity, low cost of delivery compared to motor transport.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d3870c16b03f468fbee0822560a3bf5f",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"f2fda229-536b-4718-a3af-0299123d92d6\",\r\n    \"mediaKey\": \"1c37c119-2f7a-4497-b121-0984ee6cec88\"\r\n  }\r\n]",
      "richText": "<p>Maxima Logistics LLC has a specialized rolling stock of railway transport and is a professional player in the modern freight logistics market. We provide our clients with high-quality advice and organization of delivery on favorable terms.</p>",
      "sizeFoto": "3",
      "edFoto": "em",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/ea049e344ebb4088907a33a68fda959b"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/1990a46be0f54157a88c2646d2b2527b",
      "richText": "<h2 style=\"text-align: center;\">Maxima-Logistics rolling stock</h2>"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7346243d65fd48a9a41e2f59293dd133",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"a090ef58-7daf-4347-8982-fc3be0b6521b\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(142, 155, 114, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">UNIVERSAL PLATFORMS<br><span class=\"bigText\">2,200</span> UNITS</h4>",
      "isButton": "1",
      "parametr": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/5ca4bf7f62454151adf82950a1adeb62",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"fcc6f77d-e62c-4c41-a40b-a64cf9c4affc\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(153, 112, 115, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">FITTING PLATFORMS<br><span class=\"bigText\">1,700</span> UNITS</h4>",
      "isButton": "1",
      "parametr": "2"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/9d0c892687e44ff7896f4413e7f3d51b",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"bee4d276-e6e2-4aaf-9425-504a71b6aff5\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(213, 186, 119, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">LOGGING PLATFORMS<br><span class=\"bigText\">2,500</span> UNITS</h4>",
      "isButton": "1",
      "parametr": "3"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/22e14d92b84d424ba80de90839e8df56",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"fc7cec7b-f920-4013-afd9-382ef3d46266\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(87, 120, 146, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">GRAIN WAGONS<br><span class=\"bigText\">2,400 </span>UNITS</h4>",
      "isButton": "1",
      "parametr": "4"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/834f988d00634f73ad82beb9cf8e78c0",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"e8860c97-3087-4ea2-8d4a-6058f5cabc25\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(110, 104, 134, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">COVERED WAGONS<br><span class=\"bigText\">2,000</span> UNITS</h4>",
      "isButton": "1",
      "parametr": "1"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/6b92a1185fed465290c3633af410b664",
      "gorizontalAlign": "[\"По центру\"]",
      "verticalAlign": "[\"По центру\"]",
      "class": "border-gray",
      "width": "100"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/0328f361674545dfbbeb7f5708dce505",
      "gorizontalAlign": "[\"По центру\"]",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"f7fca64e-a8dd-4590-8cf9-f65bccb0f9a6\",\r\n    \"mediaKey\": \"5386d06f-a7cc-4761-a04e-9290c035ed19\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "sizeImg": "20",
      "edImg": "%"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4f6419030e134104bf486ab8b5184ea4",
      "richText": "<h4 style=\"text-align: center;\">TRANSPORTATION<br>BY RAIL</h4>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/2f5e458696cc4cfd952c042fb25e1208",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"5753dc49-9eea-4356-81fd-87bbfe08a1a9\",\r\n    \"mediaKey\": \"108b6b17-62ed-4132-bf29-5454acbedf52\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/54eb04b78dc14f41a82902af6e314e47"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/29987afc7b28435c88d106d810b9baeb"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/f60299f093f5403e83a019d2f7fa89ed"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b58616e83e4c40afadf02097d1239a94"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d501468a1bb547ffaddc0edd65270643",
        "settingsUdi": "umb://element/3330187499ef4036b98257c3aceb8f61",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/0e65509627b743489e52d719e68adb21",
                "settingsUdi": "umb://element/0fff3550e68344a79a1025752091066c",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/9a75dc0978c9450880e1bb1e4e1dcd9a",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/93e3418eeab14356ad237b9e2e3cb343",
                        "settingsUdi": "umb://element/b84cd4469da3481690a48c478f0636d8",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/1678f552f0f94ef4b5d76c74d5f37604",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/a2fa3ebc901a4c5b85c0f4dd54be55c9",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/70ca7381bb55458caf564b4ff9da2141",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/47ca752fa19c42c7972ee876ee869d71",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/0c6efcf3a26843448888202af07343b1",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/15ea17f671f745fa8413c1a590c4555c",
        "settingsUdi": "umb://element/124823e975fd42bfa399eaa04ba33ed2",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/6bedb497230b4eadaa4aeedacce03fdd",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8e5bc1231faf4a7fba0dd6177931f2cb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f6cd428b4dbd4b56a046363c1bb40a89"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/6e3efdb1a93642538de89a5040ec0a63"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a6afbe79b9734eb7acf52e344473fb47"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/faa1c062ec4344aeaf0ef4e81ffbeaa7"
              },
              {
                "contentUdi": "umb://element/3c82a36632f143dda57201ee2c61416d",
                "settingsUdi": "umb://element/55785bf295214b4eac9b445f256cc7b9",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/55c93d1be8cd4025a20744eb82f741b4",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/329c66fea99e4001ab693e0e8ca6c78e",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/d501468a1bb547ffaddc0edd65270643",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/9a75dc0978c9450880e1bb1e4e1dcd9a",
      "headline": "Перевозки ж/д транспортом"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/0e65509627b743489e52d719e68adb21",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/1678f552f0f94ef4b5d76c74d5f37604",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4d931f8b-a88d-4de8-a876-7d4043b4b807\",\r\n    \"mediaKey\": \"5d09eb39-1cdf-414f-ac51-2444fc0f95e0\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Перевозка и логистика железнодорожным транспортом занимает существенную часть российского рынка грузоперевозок, поскольку во многие регионы страны некоторые категории грузов доставить можно только по железной дороге.</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/93e3418eeab14356ad237b9e2e3cb343",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/a2fa3ebc901a4c5b85c0f4dd54be55c9",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"49769aa3-39e5-4516-84fd-6a4552e65ee3\",\r\n    \"mediaKey\": \"054f33c3-9e64-4693-a0fc-7dc5bf77950a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Железнодорожный подвижной состав на сегодняшний день является основным связующим звеном не только в логистической цепочке России, но и во всех странах СНГ.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/70ca7381bb55458caf564b4ff9da2141",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b369c976-dd92-4c50-b1ce-25e6bdf31492\",\r\n    \"mediaKey\": \"27d29cea-1ad0-4c3e-a5a7-66237379418a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Учитывая широкий географический разброс регионов и дефицит современного парка, возникает острый вопрос в транспортировке грузов именно железнодорожным транспортом.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/47ca752fa19c42c7972ee876ee869d71",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"9af314c5-14b9-4376-b937-d0c2f3e2ae84\",\r\n    \"mediaKey\": \"f40deaff-1fc8-45d9-a5ad-38ad96dffee3\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Более того, спрос на перевозку жд транспортом становится всё популярнее, так как она обладает рядом существенных преимуществ: обеспечение безопасности груза, независимость от погодных условий, большая грузоподъёмность, невысокая стоимость доставки по сравнению с автотранспортом.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/0c6efcf3a26843448888202af07343b1",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"f2fda229-536b-4718-a3af-0299123d92d6\",\r\n    \"mediaKey\": \"1c37c119-2f7a-4497-b121-0984ee6cec88\"\r\n  }\r\n]",
      "richText": "<p>ООО «Максима Логистик» располагает специализированным подвижным составом железнодорожного транспорта и является профессиональным игроком на современном рынке грузовой логистики. Своим клиентам мы предоставляем качественную консультацию и организацию доставки на выгодных условиях.</p>",
      "sizeFoto": "3",
      "edFoto": "em"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/15ea17f671f745fa8413c1a590c4555c"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/6bedb497230b4eadaa4aeedacce03fdd",
      "richText": "<h2 style=\"text-align: center;\">Подвижной состав \"Максима-логистик\"</h2>"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/8e5bc1231faf4a7fba0dd6177931f2cb",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"a090ef58-7daf-4347-8982-fc3be0b6521b\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(142, 155, 114, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">УНИВЕРСАЛЬНЫЕ ПЛАТФОРМЫ</h4>\n<h4 class=\"rail-count\" style=\"text-align: center;\"><span class=\"bigText\">2 200</span> ЕДИНИЦ</h4>",
      "isButton": "1",
      "parametr": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/f6cd428b4dbd4b56a046363c1bb40a89",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"fcc6f77d-e62c-4c41-a40b-a64cf9c4affc\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(153, 112, 115, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">ФИТИНГОВЫЕ ПЛАТФОРМЫ</h4>\n<h4 class=\"rail-count\" style=\"text-align: center;\"><span class=\"bigText\">1 700</span> ЕДИНИЦ</h4>",
      "isButton": "1",
      "parametr": "2"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/6e3efdb1a93642538de89a5040ec0a63",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"bee4d276-e6e2-4aaf-9425-504a71b6aff5\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(213, 186, 119, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">ПЛАТФОРМЫ-ЛЕСОВОЗЫ</h4>\n<h4 class=\"rail-count\" style=\"text-align: center;\"><span class=\"bigText\">2 500</span> ЕДИНИЦ</h4>",
      "isButton": "1",
      "parametr": "3"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/a6afbe79b9734eb7acf52e344473fb47",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"fc7cec7b-f920-4013-afd9-382ef3d46266\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(87, 120, 146, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">ВАГОНЫ-ЗЕРНОВОЗЫ</h4>\n<h4 class=\"rail-count\" style=\"text-align: center;\"><span class=\"bigText\">2 400</span> ЕДИНИЦ</h4>",
      "isButton": "1",
      "parametr": "4"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/faa1c062ec4344aeaf0ef4e81ffbeaa7",
      "linkUrl": "[{\"name\":\"Универсальные платформы\",\"udi\":\"umb://document/41daa2553430454c8a0158611a2929db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"83872710-8697-4312-a7c5-fd997a18e936\",\r\n    \"mediaKey\": \"e8860c97-3087-4ea2-8d4a-6058f5cabc25\"\r\n  }\r\n]",
      "cropCard": "[\"16:9\"]",
      "gorizontalAlign": "[\"По правому краю\"]",
      "verticalAlign": "[\"По центру\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(110, 104, 134, 0.75)",
      "richText": "<h4 class=\"rail-name\" style=\"text-align: center;\">КРЫТЫЕ ВАГОНЫ</h4>\n<h4 class=\"rail-count\" style=\"text-align: center;\"><span class=\"bigText\">2 000</span> ЕДИНИЦ</h4>",
      "isButton": "1",
      "parametr": "1"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/3c82a36632f143dda57201ee2c61416d",
      "gorizontalAlign": "[\"По центру\"]",
      "verticalAlign": "[\"По центру\"]",
      "class": "border-gray",
      "width": "100"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/55c93d1be8cd4025a20744eb82f741b4",
      "gorizontalAlign": "[\"По центру\"]",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"f7fca64e-a8dd-4590-8cf9-f65bccb0f9a6\",\r\n    \"mediaKey\": \"5386d06f-a7cc-4761-a04e-9290c035ed19\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "sizeImg": "20",
      "edImg": "%"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/329c66fea99e4001ab693e0e8ca6c78e",
      "richText": "<h4 style=\"text-align: center;\">ПЕРЕВОЗКИ<br>ЖЕЛЕЗНОДОРОЖНЫМ ТРАНСПОРТОМ</h4>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3330187499ef4036b98257c3aceb8f61",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"5753dc49-9eea-4356-81fd-87bbfe08a1a9\",\r\n    \"mediaKey\": \"108b6b17-62ed-4132-bf29-5454acbedf52\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0fff3550e68344a79a1025752091066c"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b84cd4469da3481690a48c478f0636d8"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/124823e975fd42bfa399eaa04ba33ed2"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/55785bf295214b4eac9b445f256cc7b9"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "255dfd7b-1aa8-4c43-8ff8-46c62541b1b1",
    "mediaKey": "666583a7-f1d8-4726-8fff-dcac1ab60fe1"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>