<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6e9440f-0557-46f2-8173-3d39e1d61576" Alias="Покупка доли в компании «Комплексные Логистические Системы»" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PokupkaDoliVKompaniiKompleksnyeLogisticheskieSistemy</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:18</CreateDate>
    <NodeName Default="Покупка доли в компании «Комплексные Логистические Системы»">
      <Name Culture="ru">Покупка доли в компании «Комплексные Логистические Системы»</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-03-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/b88839b3d0ec43c09acf1a64a0b07e47]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В феврале ГК «Максимум» совершила сделку по приобретению доли в уставном капитале компании ООО «Комплексные Логистические Системы» (КЛС).  
КЛС – это современный многофункциональный контейнерный терминальный комплекс в Хабаровске, обеспечивающий весь цикл операций по обработке 20-ти и 40-ка футовых контейнеров. Терминал оснащен современным оборудованием и техникой, а также собственным парком локомотивов. Общая площадь терминала составляет 7 Га, годовая пропускная способность составляет 30 000 TEU. Терминал примыкает к  станции Хабаровск-2. 
ГК «Максимум» сотрудничает с компанией КЛС уже более четырёх лет, в начале 2018 года был запущен совместный контейнерный поезд по направлению Москва - Хабаровск. Компании развивают свои партнерские отношения, и данная сделка нацелена на их укрепление и улучшение клиентского сервиса. ГК «Максимум» занимается активным расширением собственных и партнерских контейнерных терминалов. Это является важной стратегической целью для развития компании и ее закрепления  на лидирующих позициях на рынке грузоперевозок.
Помимо покупки доли, ГК «Максимум» также начала проект внедрения в компании собственной ERP-системы на базе решения ведущего мирового поставщика ПО для автоматизации процессов терминальной обработки контейнеров.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Покупка доли в компании «Комплексные Логистические Системы»]]></Value>
    </newsTitle>
  </Properties>
</Content>