<?xml version="1.0" encoding="utf-8"?>
<Content Key="27fea6bd-e1a4-4b94-bf73-e7ab39b084c6" Alias="Поздравление с Новым годом!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PozdravlenieSNovymGodom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:53</CreateDate>
    <NodeName Default="Поздравление с Новым годом!">
      <Name Culture="ru">Поздравление с Новым годом!</Name>
    </NodeName>
    <SortOrder>77</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-12-29T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Поздравление с Новым годом!]]></Value>
    </newsTitle>
  </Properties>
</Content>