<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf1ac7cb-e28d-4461-90a5-80d2e2c7391d" Alias="Подвижной состав" Level="102">
  <Info>
    <Parent Key="08808991-8425-4698-946d-f30817549618">Главная</Parent>
    <Path>/[-20]/Glavnaya/PodvizhnoiSostav</Path>
    <Trashed Parent="08808991-8425-4698-946d-f30817549618">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T19:00:03</CreateDate>
    <NodeName Default="Подвижной состав">
      <Name Culture="ru">Подвижной состав</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[]]></Value>
    </icoNav>
  </Properties>
</Content>