<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8acf5f2-e3a2-41de-a6a8-88fd1bbcf257" Alias="Приобретение нового подвижного состава - универсальных платформ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PriobretenieNovogoPodvizhnogoSostavaUniversalNykhPlatform</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:08</CreateDate>
    <NodeName Default="Приобретение нового подвижного состава - универсальных платформ.">
      <Name Culture="ru">Приобретение нового подвижного состава - универсальных платформ.</Name>
    </NodeName>
    <SortOrder>102</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-08-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Группа компаний МАКСИМУМ продолжает свое сотрудничество с ОАО «Алтайвагон». В июле 2014г. было  приобретено 50 единиц новых универсальных платформ, модели 13-2114.
Мы стремимся к тому, чтобы  общий парк универсальных платформ под управлением группы МАКСИМУМ превысил 1 800 единиц к концу года. 


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Приобретение нового подвижного состава - универсальных платформ.]]></Value>
    </newsTitle>
  </Properties>
</Content>