<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f72ddcd-be24-482e-9260-020af7cef64f" Alias="Рефинансирование ООО &quot;ТопЛайн&quot; " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/RefinansirovanieOOOTopLain</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:30</CreateDate>
    <NodeName Default="Рефинансирование ООО &quot;ТопЛайн&quot; ">
      <Name Culture="ru">Рефинансирование ООО "ТопЛайн" </Name>
    </NodeName>
    <SortOrder>34</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-03-30T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В марте 2018 г. завершился процесс рефинансирования кредитного портфеля ООО «ТопЛайн», входящего в ГК «МАКСИМУМ». Работа с банками по улучшению качества кредитного портфеля компании началась в середине 2017 г. 

 В процессе рефинансирования было замещено порядка 500 млн. ранее привлеченных кредитных средств. В процессе замещения участвовали крупнейшие российские банки, имеющие высокие кредитные рейтинги: ПАО «Сбербанк» и АО «ЮниКредит Банк». 

 Основными целями рефинансирования кредитного портфеля компании стали: улучшение финансовой устойчивости, увеличение сроков финансирования, а также снижение процентных расходов. Упомянутые цели были достигнуты: все краткосрочные кредиты, а также кредиты со сроком погашения в ближайшие два года были замещены на 5-6 летние заемные средства с одновременным снижением ставки финансирования.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Рефинансирование ООО "ТопЛайн" ]]></Value>
    </newsTitle>
  </Properties>
</Content>