<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a40a177-9ec9-4f84-bc2a-add05ef03a0a" Alias="Руководители департаментов  ООО «Максима Логистик»  обсудили бизнес-задачи компании на выставке «TransRussia-2019»" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/RukovoditeliDepartamentovOOOMaksimaLogistikObsudiliBiznesZadachiKompaniiNaVystavkeTransRussia2019</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:18</CreateDate>
    <NodeName Default="Руководители департаментов  ООО «Максима Логистик»  обсудили бизнес-задачи компании на выставке «TransRussia-2019»">
      <Name Culture="ru">Руководители департаментов  ООО «Максима Логистик»  обсудили бизнес-задачи компании на выставке «TransRussia-2019»</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-04-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/e9418ab8405f43ca9d29109249f1a8f1]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        На «TransRussia» как всегда был большой ажиотаж - более 400 компаний и 17 000 посетителей из 75 регионов России и 54 стран мира посетили мероприятие. Помимо представителей различных ассоциаций и крупных отечественных транспортно-экспедиционных компаний, участвовали также представители российских и зарубежных органов государственной власти: депутат ГД Александр Старовойтов, генеральный директор ФБУ «Агентство автомобильного транспорта» Алексей Двойных, заместитель руководителя Ространснадзора Асланбек Ахохов, первый секретарь посольства Финляндии Сантери Эрикссон, заместитель посла Ирана Ахмад Хейдариан, заместитель государственного секретаря по вопросам транспорта Министерства национального развития Венгрии Ласло Мошоци, государственный секретарь Министерства экономики, транспорта и инноваций Вольного и Ганзейского города Гамбург Торстен Зевеке и др.

На выставке Руководители департаментов ООО «Максима Логистик» провели переговоры с действующими и потенциальными партнерами компании, на которых обсудили дальнейшие планы по увеличению объемов перевозки грузов на 2019 год в парке собственности аренды компании. 

«В планах компании расширение клиентской базы, что приведет к увеличению объемов перевозимых грузов в 2019 году до 30%», - прокомментировал заместитель коммерческого директора ООО «Максима Логистик» Дмитрий Абоимов.

В этом году было еще больше новых форматов и дискуссий: каждый зал был посвящен определенному разделу выставки, это позволило наиболее эффективно сегментировать экспозицию и сделать навигацию по выставке проще и удобнее. 

Также состоялось 5 конференций, две тематические зоны выставки объединились под общим названием «Транспортно-логистический конгресс «ТрансРоссия». Зона презентаций ИТ-решений работала в течение трех дней выставки и была разделена на тематические блоки. Зона интервью ТрансДиалог объединил в себе интервью-студию «Открытый разговор», организованную совместно с «РЖД-Партнер» и серию круглых столов с профессиональными ассоциациями.

В завершающий день выставки, 17-го апреля, прошла конференция «Лидеры логистики. Форсайт сессия», которая была посвящена созданию Единой цифровой платформы транспортного

комплекса.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Руководители департаментов  ООО «Максима Логистик»  обсудили бизнес-задачи компании на выставке «TransRussia-2019»]]></Value>
    </newsTitle>
  </Properties>
</Content>