<?xml version="1.0" encoding="utf-8"?>
<Content Key="6160e640-128d-494f-a927-b2e2957b66a3" Alias="С 9 МАЯ! С ДНЁМ ПОБЕДЫ!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SMAYaSDNEMPOBEDY</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:41</CreateDate>
    <NodeName Default="С 9 МАЯ! С ДНЁМ ПОБЕДЫ!">
      <Name Culture="ru">С 9 МАЯ! С ДНЁМ ПОБЕДЫ!</Name>
    </NodeName>
    <SortOrder>56</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-05-09T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        От души поздравляем с Великим Днём Победы! Мы гордимся!                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С 9 МАЯ! С ДНЁМ ПОБЕДЫ!]]></Value>
    </newsTitle>
  </Properties>
</Content>