<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d1299a2-50ab-499c-a350-51f12b40381a" Alias="С Новым 2018 Годом! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SNovym2018Godom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:34</CreateDate>
    <NodeName Default="С Новым 2018 Годом! ">
      <Name Culture="ru">С Новым 2018 Годом! </Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-12-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Дорогие друзья! Поздравляем с самым волшебным, самым долгожданным, самым замечательным праздником! 

Каждый из нас ожидает от Нового года только лучшего, ведь он обязательно должен быть удачнее и радостней предыдущего. Желаем, чтобы так и случилось! Пусть вас ждут в новом году яркие впечатления, приятные встречи, искренние улыбки. Удачи вам, благополучия и взаимопонимания!

Пусть 2018 год будет таким же ярким, как вспышки новогодних фейерверков, таким же красивым, как украшенная новогодняя елка, таким же веселым, как сам Новый Год! Пусть настроение будет на высоте, душа поет от радости, а сердце всегда греет любовь!

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С Новым 2018 Годом! ]]></Value>
    </newsTitle>
  </Properties>
</Content>