<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e887277-75dd-4cf3-8556-c468248da6f8" Alias="Сотрудничество ООО &quot;Максима Логистик&quot; с ОАО &quot;Крымская ж.д&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SotrudnichestvoOOOMaksimaLogistikSOAOKrymskayaZhd</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:12</CreateDate>
    <NodeName Default="Сотрудничество ООО &quot;Максима Логистик&quot; с ОАО &quot;Крымская ж.д&quot;.">
      <Name Culture="ru">Сотрудничество ООО "Максима Логистик" с ОАО "Крымская ж.д".</Name>
    </NodeName>
    <SortOrder>107</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-05-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
18 апреля 2014 года ООО “Максима Логистик” подписала соглашение о сотрудничестве с ОАО "Крымская ж.д".  
Согласно данному Соглашению, ООО “Максима Логистик” получила возможность осуществлять оплату ж.д. тарифа при транспортировке различных грузов на полуостров Крым, как с территории РФ, так и из Украины. Кроме того, “ООО Максима Логистик” также будет участвовать в организации внутренних перевозок по ОАО “Крымская ж.д”. 
В начале мая 2014 года был подписан первый клиентский договор между ООО “Максима Логистик” и ТОВ “ МЕТИНВЕСТ ШИППИНГ” на перевозку стальных заготовок и продукция черной металлургии по маршруту Крым (Севастополь) – Украина (Одесса).  


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Сотрудничество ООО "Максима Логистик" с ОАО "Крымская ж.д".]]></Value>
    </newsTitle>
  </Properties>
</Content>