<?xml version="1.0" encoding="utf-8"?>
<Content Key="79d8a933-0d3a-49a4-839a-43e63efddebb" Alias="Сотрудничество ООО &quot;Максима Логистик&quot; с АКБ &quot;Абсолют банком&quot; (ОАО)." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SotrudnichestvoOOOMaksimaLogistikSAKBAbsolyutBankomOAO</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:05</CreateDate>
    <NodeName Default="Сотрудничество ООО &quot;Максима Логистик&quot; с АКБ &quot;Абсолют банком&quot; (ОАО).">
      <Name Culture="ru">Сотрудничество ООО "Максима Логистик" с АКБ "Абсолют банком" (ОАО).</Name>
    </NodeName>
    <SortOrder>96</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-11-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[

ООО «Максима Логистик» подписало кредитное соглашение с Абсолют Банком в рамках расширения финансового сотрудничества. На компанию банк установил лимит овердрафта в размере 50 миллионов рублей сроком на 1 год. Кредитные средства будут направлены на пополнение оборотных средств «Максима Логистик». 
В дальнейшем компания планирует развивать партнерские отношения с Абсолют Банком и расширять спектр используемых финансовых инструментов. 



 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Сотрудничество ООО "Максима Логистик" с АКБ "Абсолют банком" (ОАО).]]></Value>
    </newsTitle>
  </Properties>
</Content>