<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c20a2c5-f051-4b94-89d5-0f819176d41a" Alias="Список услуг" Level="103">
  <Info>
    <Parent Key="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">Услуги</Parent>
    <Path>/[-20]/Glavnaya/Uslugi/SpisokUslug</Path>
    <Trashed Parent="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:10:47</CreateDate>
    <NodeName Default="Список услуг">
      <Name Culture="en-us">list of services</Name>
      <Name Culture="ru">Список услуг</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1429071414624a98b71fb5af436cc3a4"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/88288804d1814ce08d0a57eea7b6f352"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/95134177031c4fe9ab5e13aa2d421020"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3ab3ded862734a868974c35ea3412939"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/421ad8ebd7794165852a0b9939dadcf0"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/b286cd0b099c4c96955bf84bc2f1b3bd",
                "settingsUdi": "umb://element/b7e384493def4677a630203801311f88"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8a19f2599f6144b9b7adbe64193305a5",
        "settingsUdi": "umb://element/4051c3f68ad04fedb36bfc61a1338052"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/8a19f2599f6144b9b7adbe64193305a5",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/b286cd0b099c4c96955bf84bc2f1b3bd",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/1429071414624a98b71fb5af436cc3a4",
      "headline": "ORDER MULTIMODAL TRANSPORTATION AND FREIGHT FORWARDING SERVICES"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/88288804d1814ce08d0a57eea7b6f352",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Аренда подвижного состава\",\"udi\":\"umb://document/982710573c2148f9954c74a8f1abddb6\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"c491c492-9458-43fa-84da-caa7296af1c9\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(213, 186, 119, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">RENT<br>MOBILE<br>COMPOSITION</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/95134177031c4fe9ab5e13aa2d421020",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Мультимодальные перевозки\",\"udi\":\"umb://document/36c28abc1e934bd795545ad55544aa5f\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"3ddd9bb8-1da3-48fa-9060-0772db7912df\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(153, 112, 115, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">MULTIMODAL<br>TRANSPORTATION</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/3ab3ded862734a868974c35ea3412939",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Транспортно-экспедиционное обслуживание\",\"udi\":\"umb://document/416b0e62bcba4ac3bf27c624cf8b9805\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"8efd0bc4-2bb4-42e0-93ac-645d5c34317e\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(142, 155, 114, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">TRANSPORT-<br>EXPEDITION<br>SERVICE</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/421ad8ebd7794165852a0b9939dadcf0",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Оплата ж/д тарифов\",\"udi\":\"umb://document/68083f38855749f7a0eda7de8b3be9db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"a5051c65-9dcd-4ec6-89ba-a20e2ec9d301\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(87, 120, 146, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">PAYMENT OF RAILWAY TARIFFS</h4>",
      "isButton": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/4051c3f68ad04fedb36bfc61a1338052",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"59d8f3f6-9a1a-48b5-8ea3-869850254704\",\r\n    \"mediaKey\": \"cd44918d-822e-443d-850e-bca84f189a19\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b7e384493def4677a630203801311f88"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f41a742ba56642edac677751eb9fc64a",
        "settingsUdi": "umb://element/285323bcd91449dea3811e82db0db079",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/cb884282af004d0aad213c3e23d7defd",
                "settingsUdi": "umb://element/f16f2643f7a04f4aa1da7a4e98af472c",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/2703db1dbf8941fcb2f851b1639c3dea",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/bdd580aa5dc248329a6f85b15382b75c",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7bcc144664f84be5b279868bceb61042"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/f3bd11079438459c89d680ac2a325201"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/ef24f34a272b4d76b975125244c3f2f7"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f41a742ba56642edac677751eb9fc64a",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/cb884282af004d0aad213c3e23d7defd",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/2703db1dbf8941fcb2f851b1639c3dea",
      "headline": "ЗАКАЗАТЬ МУЛЬТИМОДАЛЬНЫЕ ПЕРЕВОЗКИ И ТРАНСПОРТНО-ЭКСПИДИЦИОННОЕ ОБСЛУЖИВАНИЕ"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/bdd580aa5dc248329a6f85b15382b75c",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Аренда подвижного состава\",\"udi\":\"umb://document/982710573c2148f9954c74a8f1abddb6\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"c491c492-9458-43fa-84da-caa7296af1c9\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(213, 186, 119, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">АРЕНДА<br>ПОДВИЖНОГО<br>СОСТАВА</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7bcc144664f84be5b279868bceb61042",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Мультимодальные перевозки\",\"udi\":\"umb://document/36c28abc1e934bd795545ad55544aa5f\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"3ddd9bb8-1da3-48fa-9060-0772db7912df\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(153, 112, 115, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">МУЛЬТИМОДАЛЬНЫЕ<br>ПЕРЕВОЗКИ</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/f3bd11079438459c89d680ac2a325201",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Транспортно-экспедиционное обслуживание\",\"udi\":\"umb://document/416b0e62bcba4ac3bf27c624cf8b9805\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"8efd0bc4-2bb4-42e0-93ac-645d5c34317e\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(142, 155, 114, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">ТРАНСПОРТНО-<br>ЭКСПЕДИЦИОННОЕ<br>ОБСЛУЖИВАНИЕ</h4>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/ef24f34a272b4d76b975125244c3f2f7",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Оплата ж/д тарифов\",\"udi\":\"umb://document/68083f38855749f7a0eda7de8b3be9db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"a5051c65-9dcd-4ec6-89ba-a20e2ec9d301\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(87, 120, 146, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h4 style=\"text-align: center;\">ОПЛАТА Ж/Д ТАРИФОВ</h4>",
      "isButton": "0"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/285323bcd91449dea3811e82db0db079",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"59d8f3f6-9a1a-48b5-8ea3-869850254704\",\r\n    \"mediaKey\": \"cd44918d-822e-443d-850e-bca84f189a19\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/f16f2643f7a04f4aa1da7a4e98af472c"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "4672cba6-9577-4290-885e-69a6e330ee6d",
    "mediaKey": "41395edc-6980-4d49-ab09-5e5f9c037f05"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>