<?xml version="1.0" encoding="utf-8"?>
<Content Key="416b0e62-bcba-4ac3-bf27-c624cf8b9805" Alias="Транспортно-экспедиционное обслуживание" Level="103">
  <Info>
    <Parent Key="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">Услуги</Parent>
    <Path>/[-20]/Glavnaya/Uslugi/TransportnoEkspedifionnoeObsluzhivanie</Path>
    <Trashed Parent="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:14:03</CreateDate>
    <NodeName Default="Транспортно-экспедиционное обслуживание">
      <Name Culture="en-us">freight forwarding services</Name>
      <Name Culture="ru">Транспортно-экспедиционное обслуживание</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/9c650ac55ae64b0283d71ac65527f0f8"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/9b78dc1207ae4ccf900ced0c64aa7f32"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/2d51d7c36168411ba1dfc6e6caa8ace4"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/994c94efe6d74ce19c0eb7636b9310d7"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/fdc77e77c99a42ff8cbf1bc665c30753"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/abf37f30d7174d7c962ed1917ad4beac"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/559f222fea4c40199b2fb89821175627"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/0e9dcfde44604a98b10d84096108a7d4"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/25fbf57b5e904c80be8c17b6dae1a8e3"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/a99f910dfb794905a1d72cbc0d78446a"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/76060b86245d48b08a48b303a2da3e45",
                        "settingsUdi": "umb://element/50bb0ac63a7f4af095cf3b7d6c2123a3"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/5fbfd45d40c14753beea533f09557595",
                "settingsUdi": "umb://element/dc8d1b22a7fe44fa9e74a328943b83cb"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/10a1f2328e904a9197f33af568910bd5",
        "settingsUdi": "umb://element/25f0fe7257b5407dbe5e2497419597d9"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/8a6426b4e7db4c398cb247a822d95813"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/899a52c4559344178ef6ce9d11863790"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/fde3313065fb4cf6a18c08bad62bb343"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/5e949c15639844cabe769179e117cb9f"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/25a1a7a39a4b4386a1d909fc6f6eba3b"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/74cc7f8ff4af4bcd975c775ecce5b3c3"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/b2230cef1aab4a28afbd9d2cf5d1463d"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/e2951595b4324473b7924165d4d28e1b"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/d6c887536247464790453270769fbcae"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b84f39fd55c24a54b45df88819cd03e8",
        "settingsUdi": "umb://element/c6ab3f80d12242d2ab7e37a5ea043ee9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/10a1f2328e904a9197f33af568910bd5",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/5fbfd45d40c14753beea533f09557595",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/9c650ac55ae64b0283d71ac65527f0f8",
      "headline": "Freight forwarding services"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/9b78dc1207ae4ccf900ced0c64aa7f32",
      "richText": "<p style=\"text-align: center;\">The main forwarding operations are elements of the general transportation process.</p>\n<div class=\"mb-10 mt-30 font-weight-bold f20\" style=\"text-align: center;\">These include:</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/76060b86245d48b08a48b303a2da3e45",
      "verticalAlign": "",
      "width": "80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/2d51d7c36168411ba1dfc6e6caa8ace4",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"aec8ab2b-2ebd-4de1-94fb-6c71caede60b\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>organization and support of cargo transportation;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/994c94efe6d74ce19c0eb7636b9310d7",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"81f05584-6d19-4f8d-b5d1-93fcc697775e\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>receiving cargo at the sender's warehouse;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/fdc77e77c99a42ff8cbf1bc665c30753",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"68dcef58-89eb-428b-841e-346a72e18a6d\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>delivery to the departure station;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/abf37f30d7174d7c962ed1917ad4beac",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"55c777f0-ddca-4f1d-a959-ce3ed9b707fd\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>payment of freight charges and fees;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/559f222fea4c40199b2fb89821175627",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"4292b1ad-eed2-4446-a04c-21860f5d9be8\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>interaction with the CFTO of JSC \"Russian Railways\", railway administrations and freight forwarders regarding the approval of applications for cargo transportation;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/0e9dcfde44604a98b10d84096108a7d4",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"72d72c52-2b06-4de3-9b00-1e642064ee53\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>informing the client about the location and time of arrival of the cargo at the destination station;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/25fbf57b5e904c80be8c17b6dae1a8e3",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"0c3f00ca-13d9-471d-bc48-54fada008ccf\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>payment of the railway tariff on the territories of the Russian Federation, CIS and Baltic countries, third countries;</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/a99f910dfb794905a1d72cbc0d78446a",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"3fc8d63e-aa1f-49dd-b64c-229f6068945d\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>round-the-clock dispatching control over the promotion of goods; informing the client about the promotion of goods.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/b84f39fd55c24a54b45df88819cd03e8"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/8a6426b4e7db4c398cb247a822d95813",
      "richText": "<h4 class=\"font-weight-bold f22 text-center mb-10\" style=\"text-align: center;\">Auxiliary freight forwarding operations</h4>\n<div class=\"font-weight-bold f22 text-center mb-10\" style=\"text-align: center;\"></div>\n<div class=\"text-center\" style=\"text-align: center;\">precede or accompany the transportation process and include:</div>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/899a52c4559344178ef6ce9d11863790",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"d8f80f3e-e438-4972-8c60-9a15b3b777c3\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">cargo packaging</p>",
      "sizeFoto": "100",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/fde3313065fb4cf6a18c08bad62bb343",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"4dea6f48-04df-46ae-a9f6-3828797e1b44\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">customs operations</p>",
      "sizeFoto": "100",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/5e949c15639844cabe769179e117cb9f",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"63d8cae0-fa44-4ab6-a7e4-0db01c892eaa\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">consultations</p>",
      "sizeFoto": "100",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/25a1a7a39a4b4386a1d909fc6f6eba3b",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"2e522587-7a67-40ad-b366-e5799dbc6aab\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">long-term storage</p>",
      "sizeFoto": "100",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/74cc7f8ff4af4bcd975c775ecce5b3c3",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"1de58145-f489-4b49-8b2f-e9c94edd68e0\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">transshipment to other types of transport</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/b2230cef1aab4a28afbd9d2cf5d1463d",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"9220e42e-ca1d-4974-ba87-eff9801efc6e\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">preparation of references</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/e2951595b4324473b7924165d4d28e1b",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"c16ade28-fc67-415e-a16b-b06d459a0f77\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">making copies of documents</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d6c887536247464790453270769fbcae",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"d8f80f3e-e438-4972-8c60-9a15b3b777c3\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">cargo packaging</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/25f0fe7257b5407dbe5e2497419597d9",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"a0a7a29e-f6ae-4174-a395-0537b3d3a132\",\r\n    \"mediaKey\": \"d84a84cb-685b-4f6b-b847-a38f55317e41\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/dc8d1b22a7fe44fa9e74a328943b83cb"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/50bb0ac63a7f4af095cf3b7d6c2123a3"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c6ab3f80d12242d2ab7e37a5ea043ee9"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f0dbc06f0e324eda936e40a8c0bd38f9",
        "settingsUdi": "umb://element/0e42cbd03fd54555bca08227dea95eef",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/172618504da840dbadaf23deec8fe8f4",
                "settingsUdi": "umb://element/2db5e11ba2884dc7bb4c18a03ef2bb7b",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/44da67f01b3c463e8747e2671dd4e317",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/cb8b0f7c1af648f6b5aa310a7fb6f88d",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/485179659dfd48a2a9dc473339df3cb2",
                        "settingsUdi": "umb://element/b6c9119f154c41c0bb0e4883307cfe46",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/507fc96544574d0ca4ff65aa477f66e3"
                              },
                              {
                                "contentUdi": "umb://element/d593d78a39534db68cd2aa5db5e62d81",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/df5633c073cb4c2b83b30f659b654b2f"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/84805ced42d64cd5b6fd6efc2f251f13"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6dd075f2ca3345a58688d0238f8b56fe"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e069503947ba4bed8a16ed69d38ef6fa"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/8a91b8598c6040a6a146046c98deeb0a"
                              },
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/14b8b929263743afaa5773722923d8f1"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/31b2721dd9a94f4581227b6818f57a31",
        "settingsUdi": "umb://element/b30e41af3b3b4954b1399858475dc731",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/4cacbdebbdb44533b0668f36a9593d5d",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3052eadec761473abd76c70588a19684",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/28576ec082b144f5a908fdac700f1292"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/3e88d197ac39448d99acc386b433139b"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/06198a0176c943e3b4c28df5ffcecdee"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/9bb910db6154426fa749d1f541837e41"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/25ce9d8a92834ac98dd5117be45a0dc0"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/04011e7c95384621a0339324ba185fe4"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/60730c7a719849a189adee911969e650"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f0dbc06f0e324eda936e40a8c0bd38f9",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/44da67f01b3c463e8747e2671dd4e317",
      "headline": "Транспортно-экспедиционное обслуживание"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/172618504da840dbadaf23deec8fe8f4",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/cb8b0f7c1af648f6b5aa310a7fb6f88d",
      "richText": "<p style=\"text-align: center;\">Основные транспортно-экспедиционные операции являются элементами общего перевозочного процесса.</p>\n<div class=\"mb-10 mt-30 font-weight-bold f20\" style=\"text-align: center;\">К ним относятся:</div>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d593d78a39534db68cd2aa5db5e62d81",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"81f05584-6d19-4f8d-b5d1-93fcc697775e\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>прием груза на складе отправителя;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/507fc96544574d0ca4ff65aa477f66e3",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"aec8ab2b-2ebd-4de1-94fb-6c71caede60b\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>организация и сопровождение перевозки грузов;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/df5633c073cb4c2b83b30f659b654b2f",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"68dcef58-89eb-428b-841e-346a72e18a6d\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<div>доставка до станции отправления;</div>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/8a91b8598c6040a6a146046c98deeb0a",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"0c3f00ca-13d9-471d-bc48-54fada008ccf\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>оплата ж/д тарифа по территориям Российской Федерации, стран СНГ и Балтии, третьих стран;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/84805ced42d64cd5b6fd6efc2f251f13",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"55c777f0-ddca-4f1d-a959-ce3ed9b707fd\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>оплата провозных платежей и сборов;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/6dd075f2ca3345a58688d0238f8b56fe",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"4292b1ad-eed2-4446-a04c-21860f5d9be8\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>взаимодействие с ЦФТО ОАО «РЖД», администрациями железных дорог и экспедиторами в части согласования заявок на перевозку грузов;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/e069503947ba4bed8a16ed69d38ef6fa",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"72d72c52-2b06-4de3-9b00-1e642064ee53\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>информирование клиента о месте нахождения и времени прибытия груза на станцию назначения;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/14b8b929263743afaa5773722923d8f1",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"a17a436c-3418-4a28-bdd8-f39d2cbb007a\",\r\n    \"mediaKey\": \"3fc8d63e-aa1f-49dd-b64c-229f6068945d\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p>круглосуточный диспетчерский контроль за продвижением грузов; информирование клиента о продвижении грузов.</p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/31b2721dd9a94f4581227b6818f57a31"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4cacbdebbdb44533b0668f36a9593d5d",
      "richText": "<h4 class=\"font-weight-bold f22 text-center mb-10\" style=\"text-align: center;\">Вспомогательные транспортно-экспедиционные операции</h4>\n<div class=\"font-weight-bold f22 text-center mb-10\" style=\"text-align: center;\"></div>\n<div class=\"text-center\" style=\"text-align: center;\">предшествуют или сопутствуют процессу перевозки и включают:</div>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/3052eadec761473abd76c70588a19684",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"d8f80f3e-e438-4972-8c60-9a15b3b777c3\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">упаковку грузов</p>",
      "sizeFoto": "100",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/28576ec082b144f5a908fdac700f1292",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"4dea6f48-04df-46ae-a9f6-3828797e1b44\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">таможенные операции</p>",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/3e88d197ac39448d99acc386b433139b",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"63d8cae0-fa44-4ab6-a7e4-0db01c892eaa\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">консультации</p>",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/06198a0176c943e3b4c28df5ffcecdee",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"2e522587-7a67-40ad-b366-e5799dbc6aab\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">длительное хранение</p>",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/9bb910db6154426fa749d1f541837e41",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"1de58145-f489-4b49-8b2f-e9c94edd68e0\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">перевалку на другие виды транспорта</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/25ce9d8a92834ac98dd5117be45a0dc0",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"9220e42e-ca1d-4974-ba87-eff9801efc6e\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">составление справок</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/04011e7c95384621a0339324ba185fe4",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"c16ade28-fc67-415e-a16b-b06d459a0f77\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">снятие копий с документов</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/60730c7a719849a189adee911969e650",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b9967f3b-d1ef-4ece-baba-29fc174fd3bc\",\r\n    \"mediaKey\": \"d8f80f3e-e438-4972-8c60-9a15b3b777c3\"\r\n  }\r\n]",
      "richText": "<p>упаковку грузов</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/485179659dfd48a2a9dc473339df3cb2",
      "verticalAlign": "",
      "width": "",
      "gorizontalAlign": "",
      "class": "div80"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0e42cbd03fd54555bca08227dea95eef",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"a0a7a29e-f6ae-4174-a395-0537b3d3a132\",\r\n    \"mediaKey\": \"d84a84cb-685b-4f6b-b847-a38f55317e41\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/2db5e11ba2884dc7bb4c18a03ef2bb7b"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b30e41af3b3b4954b1399858475dc731"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b6c9119f154c41c0bb0e4883307cfe46"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "2cb960ac-a84e-444e-941c-cd264923df7e",
    "mediaKey": "c35f44bf-7621-4018-9836-ae8ba9b740c1"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>