<?xml version="1.0" encoding="utf-8"?>
<Content Key="83d0be6f-1877-425c-805e-85a1901e6f07" Alias=" УВЕРЕННЫМ ШАГОМ К НОВЫМ ВЕРШИНАМ" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/UVERENNYMShAGOMKNOVYMVERShINAM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:43</CreateDate>
    <NodeName Default=" УВЕРЕННЫМ ШАГОМ К НОВЫМ ВЕРШИНАМ">
      <Name Culture="ru"> УВЕРЕННЫМ ШАГОМ К НОВЫМ ВЕРШИНАМ</Name>
    </NodeName>
    <SortOrder>59</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-03-27T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В I квартале 2017 года грузооборот на сети РЖД продемонстрировал уверенный рост, ставший неожиданностью для большинства отраслевых экспертов. Так, в январе и феврале 2017 года среднесуточная погрузка превысила аналогичные показатели 2016 года на 4,5 – 6,5 %. Прогноз на март столь же позитивен. Очевидно, эти тенденции свидетельствуют о благоприятной динамике в российской промышленности и, наконец то, об оживлении внутреннего спроса. Дно кризиса осталось позади.

В сфере контейнерных перевозок прирост объёмов был ещё более заметен. За 2016 год погрузка контейнеров выросла сразу на 10%, а в первом квартале 2017 года прибавила ещё 5 %. Уверенно прирастает и количество транзитных грузов.
В ЦФТО РЖД строят осторожные прогнозы о том, что в 2017 году будет установлен исторический рекорд по показателям перевозки контейнеров на сети российских железных дорог.

На фоне столь благоприятных рыночных тенденций ООО «Максима Логистик» с гордостью сообщает: мы росли быстрее рынка! 
Например, за последние 12 месяцев (использованы предварительные данные за I квартал 2017 года) объёмы перевозок на наших универсальных платформах выросли более, чем на 20 %:
            1кв. 2016 – 3 250 отправок/ 145 300т.
            1кв. 2017 – 3 925 отправок/ 179 600т.
Основная номенклатура перевозимых грузов – это техника, крупное промышленное оборудование, рельсы и пиломатериалы.

Объёмы контейнерных перевозок за это же время возросли более, чем на четверть:
            1 кв. 2016 – 7 025 отправок/ 17 560 teu 
            1 кв. 2017 – 7 340 отправок/ 22 000 teu
При этом численность парка платформ под управлением Максима Логистик не претерпела значительных изменений.

Залог уверенного роста наших производственных показателей – доверие клиентов и высокая квалификация сотрудников компании. 
Совершенствуя перевозочный процесс с помощью современных технологий движения и IT-сопровождения, нам удаётся значительно улучшать показатели полезного использования подвижного состава.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ УВЕРЕННЫМ ШАГОМ К НОВЫМ ВЕРШИНАМ]]></Value>
    </newsTitle>
  </Properties>
</Content>