<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddbdecc8-4d3d-48cb-973b-beab4efbf070" Alias="Увеличение корпоративного парка вагонов-цементовозов" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/UvelichenieKorporativnogoParkaVagonovFementovozov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:29</CreateDate>
    <NodeName Default="Увеличение корпоративного парка вагонов-цементовозов">
      <Name Culture="ru">Увеличение корпоративного парка вагонов-цементовозов</Name>
    </NodeName>
    <SortOrder>138</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-04-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
«Максима Логистик»  в апреле 2013 г. начала приобретение  новых вагонов-цементовозов: производства  ЗАО "УК Брянский машиностроительный завод" модель вагона 19-3018.







Данный парк вагонов будет эксплуатироваться по долгосрочному контракту с ОАО «Себряковцемент», с которым «Максима Логистик»  связывает многолетний опыт сотрудничества.



В апреле, мае 2013 г. будет приобретено и введено в эксплуатацию 100 единиц  данных вагонов.



Таким образом,  общий парк цементовозов под управлением "Максима Логистик" превысит 350 единиц. В планах группы – новые инвестиции в увеличение парка вагонов-хопперов: как цементовозов, так и зерновозов нового поколения. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Увеличение корпоративного парка вагонов-цементовозов]]></Value>
    </newsTitle>
  </Properties>
</Content>