<?xml version="1.0" encoding="utf-8"?>
<Content Key="46e793db-3f5e-4f78-8158-8cf24013f1fe" Alias="Формирование Группы Компаний МАКСИМУМ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/FormirovanieGruppyKompaniiMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:17</CreateDate>
    <NodeName Default="Формирование Группы Компаний МАКСИМУМ.">
      <Name Culture="ru">Формирование Группы Компаний МАКСИМУМ.</Name>
    </NodeName>
    <SortOrder>117</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-02-12T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Завершено формирование Группы компаний «МАКСИМУМ».  
По состоянию на начало 2014 г. в состав Группы вошли:   
  
 - ООО "Максима Логистик" - 100% 
  
 - ООО "ТопЛайн" - 99,9% 
  
 - ООО "ТопАктив" (дочерняя компания) 
  
 - ООО "Репетек" - 51%  
  

 Общий парк вагонов в оперативном управлении Группы компаний «МАКСИМУМ» превысил 3000 вагонов:  
  
 - универсальные платформы - 1 700 шт.  
  
 - 80-футовые платформы для перевозки крупнотоннажных контейнеров  - 1 100 шт.  
  
 - платформы для перевозки леса и лесоматериалов - 500 шт.  
  
 - вагоны-хопперы для перевозки цемента - 200 шт.


 Объединение компаний в единую Группу позволит: 
  
 - гибко реагировать на колебания рыночной ситуации 
  
 - существенно повысить общий кредитный рейтинг и, тем самым, снизить издержки по текущим обязательствам и кредитам 
  
 - оптимизировано перераспределить текущую долговую нагрузку за счет диверсификации направлений деятельности всех участников Группы, снижая кредитные риски каждой отдельно взятой компании, входящей в структуру Группы 
-  сбалансировано и эффективно распределять инвестиционные ресурсы в соответствии с интересами Группы и рыночными возможностями
- снизить общехозяйственные издержки и оптимизировать текущие затраты за счет централизации расходов ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Формирование Группы Компаний МАКСИМУМ.]]></Value>
    </newsTitle>
  </Properties>
</Content>