<?xml version="1.0" encoding="utf-8"?>
<Content Key="74c33c0c-beb9-425b-bdfe-d92d950d3458" Alias="Экскурсия на станцию Бескудниково " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/EkskursiyaNaStanfiyuBeskudnikovo</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:26</CreateDate>
    <NodeName Default="Экскурсия на станцию Бескудниково ">
      <Name Culture="ru">Экскурсия на станцию Бескудниково </Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-10-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В минувшую субботу (20 октября) сотрудники ООО «Максима Логистик» во главе с руководителем Дирекции управления движением посетили станцию Бескудниково Московской железной дороги. 

Компания ООО «Максима Логистик» длительное время сотрудничает с одним из грузополучателей станции – МТФ-заводом «Мокон» в части обеспечения порожними платформами под погрузку железобетонных изделий  для строительства мостовых конструкций. 

Бескудниково – это узловая ж/д станция, которая находится в 10 км от Савёловского вокзала и входит в Московско-Смоленский центр организации работы железнодорожных станций ДЦС-3 Московской дирекции управления движением. 

Программа экскурсии включала в себя просмотр презентации об истории станции Бескудниково, работе станции в период Великой Отечественной войны, а также ознакомление с технологией работы  на станции и подробное описание деятельности участников перевозочного процесса. Было проведено совещание, на котором обговорили проблемы, возникающие в ходе совместной деятельности, а также пути решения. Особое внимание было уделено исключению ситуаций, которые  приводят к нарушению сроков доставки.

Поездка коллег на станцию прошла очень плодотворно. Подобного рода экскурсии  – это наглядный и полезный опыт для всех сотрудников компании, тем более для новых специалистов, которые только начали набираться опыта в сфере железнодорожной логистики.  

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Экскурсия на станцию Бескудниково ]]></Value>
    </newsTitle>
  </Properties>
</Content>