<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8de4026a-b23c-4fbb-a0b3-63947a1428a1" Alias="testTemplate" Level="1">
  <Info>
    <Name>TestTemplate</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TestTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019bbb65-2a52-7eac-b5ef-bed9ec4f4980">TestTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>