<?xml version="1.0" encoding="utf-8"?>
<Media Key="fda32e78-f355-48af-a7c7-6282b834db5d" Alias="1024" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-17T21:55:24</CreateDate>
    <NodeName Default="1024" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>