<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb167e7d-b407-4377-9bf4-c9085c12076f" Alias="1024" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T15:08:56</CreateDate>
    <NodeName Default="1024" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>