<?xml version="1.0" encoding="utf-8"?>
<Media Key="10e7895a-a9fd-4706-8e9c-f0b5e49e2857" Alias="Aim2" Level="2">
  <Info>
    <Parent Key="14dce898-61c3-49d1-9ac2-d00c64dbf196">Advantages</Parent>
    <Path>/Advantages/Aim2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-26T09:50:33</CreateDate>
    <NodeName Default="Aim2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/noepoeh3/aim2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>