<?xml version="1.0" encoding="utf-8"?>
<Media Key="baa797bc-6acb-4996-ba5a-d60c411dfc74" Alias="Fonhead (1)" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Fonhead1</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-12T12:03:33</CreateDate>
    <NodeName Default="Fonhead (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rwllpowl/fonhead.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>