<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c956fdc-ff7e-466f-9c71-73a2c32c9af3" Alias="Fonhead" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Fonhead</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-12T12:03:32</CreateDate>
    <NodeName Default="Fonhead" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1jxjkpd4/fonhead.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>