<?xml version="1.0" encoding="utf-8"?>
<Media Key="43b75f4a-7f7a-4e73-bc3e-ad9f7148ab21" Alias="Im1" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Im1</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-12T12:03:35</CreateDate>
    <NodeName Default="Im1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jrploq10/im1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>