<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ba59eb9-7399-40fe-8bb7-a8a324f7fa33" Alias="Im2" Level="2">
  <Info>
    <Parent Key="41b1437f-156d-4e8a-8c8a-c8efb0ca407d">Services</Parent>
    <Path>/Services/Im2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:43:55</CreateDate>
    <NodeName Default="Im2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rcpkk02z/im2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>