<?xml version="1.0" encoding="utf-8"?>
<Media Key="66a7d017-e82d-4ec3-b022-a23cb2da4f67" Alias="Im3" Level="2">
  <Info>
    <Parent Key="41b1437f-156d-4e8a-8c8a-c8efb0ca407d">Services</Parent>
    <Path>/Services/Im3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:43:56</CreateDate>
    <NodeName Default="Im3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1ikozrn/im3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>