<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf4b5467-f8c1-45d7-8bf6-f884f3bab37c" Alias="Im3" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Im3</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-12T12:03:34</CreateDate>
    <NodeName Default="Im3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mfkext4b/im3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>