<?xml version="1.0" encoding="utf-8"?>
<Media Key="25a4cb1e-11a6-4ce2-a2be-7544dc48a108" Alias="Im4" Level="2">
  <Info>
    <Parent Key="41b1437f-156d-4e8a-8c8a-c8efb0ca407d">Services</Parent>
    <Path>/Services/Im4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:43:55</CreateDate>
    <NodeName Default="Im4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f5flijng/im4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>