<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea9917b0-9d8d-40c5-b38e-ca24f2847d21" Alias="Imhead" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Imhead</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-12T12:03:36</CreateDate>
    <NodeName Default="Imhead" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wyljt0un/imhead.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>