<?xml version="1.0" encoding="utf-8"?>
<Media Key="d50855f5-8c94-463d-8310-0519168a020c" Alias="Logistor 4 650" Level="4">
  <Info>
    <Parent Key="b24f3ffa-9a4c-49e2-a57d-b824fac05700">650</Parent>
    <Path>/Sites/Logistor//Logistor4650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:11:06</CreateDate>
    <NodeName Default="Logistor 4 650" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yrkbrvmu/logistor-4-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>