<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d05e890-8fd6-4153-9fcb-682b8fb2885d" Alias="Logistor 4" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/Logistor4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:18:13</CreateDate>
    <NodeName Default="Logistor 4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uhuaktow/logistor-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>