<?xml version="1.0" encoding="utf-8"?>
<Media Key="6935241a-e7ac-472d-9cf3-9e6db40b24b3" Alias="Logistor 3" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/Logistor3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:18:15</CreateDate>
    <NodeName Default="Logistor 3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fmsdk0nm/logistor-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>