<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0ed9c5f-c622-4dad-8a3e-dd458c2c8aaf" Alias="Logistor 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor1</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-13T16:44:00</CreateDate>
    <NodeName Default="Logistor 1" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0oo1mbc/logistor-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>