<?xml version="1.0" encoding="utf-8"?>
<Media Key="55a664db-fc9b-43ba-9e8a-ab87568ef87a" Alias="Logistor 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor3</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-13T16:44:01</CreateDate>
    <NodeName Default="Logistor 3" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3jskmvm1/logistor-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>