<?xml version="1.0" encoding="utf-8"?>
<Media Key="71a31ad8-c2c4-4c62-aff0-9b111106426d" Alias="Logistor 3 650" Level="4">
  <Info>
    <Parent Key="b24f3ffa-9a4c-49e2-a57d-b824fac05700">650</Parent>
    <Path>/Sites/Logistor//Logistor3650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:11:08</CreateDate>
    <NodeName Default="Logistor 3 650" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3enkg2oe/logistor-3-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>