<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5039ba5-7961-4c66-aa51-b99271a4e246" Alias="Logistor 3 1024" Level="4">
  <Info>
    <Parent Key="eb167e7d-b407-4377-9bf4-c9085c12076f">1024</Parent>
    <Path>/Sites/Logistor//Logistor31024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:09:03</CreateDate>
    <NodeName Default="Logistor 3 1024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ssnbhzlb/logistor-3-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>