<?xml version="1.0" encoding="utf-8"?>
<Media Key="dae34773-a648-4621-9811-f424a40f9fa5" Alias="Logistor 4 320" Level="4">
  <Info>
    <Parent Key="8d7f5bcb-820c-45ce-a0c6-280efeabaa3c">320</Parent>
    <Path>/Sites/Logistor//Logistor4320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:12:40</CreateDate>
    <NodeName Default="Logistor 4 320" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ijdphwsi/logistor-4-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>