<?xml version="1.0" encoding="utf-8"?>
<Media Key="e15be33c-a802-4969-8cc4-98744b36a173" Alias="Logistor 8" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor8</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T21:49:21</CreateDate>
    <NodeName Default="Logistor 8" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bxrfxyic/logistor-8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>