<?xml version="1.0" encoding="utf-8"?>
<Media Key="89f676de-58f9-47ef-bfb2-8d77c854a361" Alias="Logo Efko" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoEfko</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:07:10</CreateDate>
    <NodeName Default="Logo Efko" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/331pncpz/logo_efko.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>