<?xml version="1.0" encoding="utf-8"?>
<Media Key="f078a02a-8d29-4daa-8d26-3f68e84c320d" Alias="Logo Maxexpress" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoMaxexpress</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:07:11</CreateDate>
    <NodeName Default="Logo Maxexpress" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/doqhr2bj/logo_maxexpress.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>