<?xml version="1.0" encoding="utf-8"?>
<Media Key="3864419f-2341-412a-bfee-ee1c1f6f6edb" Alias="Logo Tfm" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoTfm</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:07:11</CreateDate>
    <NodeName Default="Logo Tfm" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzahiocb/logo_tfm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>