<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ef2a5ad-abbd-42f9-953d-27e5c4013689" Alias="Logo Betta" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoBetta</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:39:26</CreateDate>
    <NodeName Default="Logo Betta" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tsspetv3/logo_betta.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>