<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb6226c6-fb65-4cd3-b326-0d832519154a" Alias="Logo Rail" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoRail</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:33:17</CreateDate>
    <NodeName Default="Logo Rail" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/42tgfo1f/logo_rail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>