<?xml version="1.0" encoding="utf-8"?>
<Media Key="df017c83-be94-45ea-b67c-c8a19d98c64c" Alias="Logo Tfm" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoTfm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:33:19</CreateDate>
    <NodeName Default="Logo Tfm" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wj4adx2u/logo_tfm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>