<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c3b6c2e-03f4-4eaf-8f5c-1cdaf6dc868b" Alias="Max Mob 2 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob2320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:19:01</CreateDate>
    <NodeName Default="Max Mob 2 320" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fbwdwlhu/max_mob-2-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>