<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0dd3878-1d7c-450a-b0fe-b4c9d558174d" Alias="Max 1 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max12</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:24:33</CreateDate>
    <NodeName Default="Max 1 (2)" />
    <SortOrder>126</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/je2n1md2/max-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>