<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d7dc6ff-169b-4582-bad1-e67f9555f065" Alias="Max Mob 6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob6</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:54</CreateDate>
    <NodeName Default="Max Mob 6" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z1dh0xm1/max_mob-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>