<?xml version="1.0" encoding="utf-8"?>
<Media Key="deb34e53-7d1e-4477-ac35-254ab530e94c" Alias="Max 4 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max410241</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:31</CreateDate>
    <NodeName Default="Max 4 1024 (1)" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mjhlhxq4/max-4-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>