<?xml version="1.0" encoding="utf-8"?>
<Media Key="21fe039a-9772-4f2e-9685-31eb87a704cb" Alias="Max 3" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:24:33</CreateDate>
    <NodeName Default="Max 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vmbp2ils/max-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>