<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ba045a1-0f9d-475b-a97e-91d86c7d8480" Alias="Max Mob 3 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob31024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:19</CreateDate>
    <NodeName Default="Max Mob 3 1024" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbclac23/max_mob-3-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>