<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cad35a2-3d58-4c39-a3de-264be115d97b" Alias="Max 5 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max5320</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:22</CreateDate>
    <NodeName Default="Max 5 320" />
    <SortOrder>136</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sm0l0lcy/max-5-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>