<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc934d32-8f3f-45c8-9592-a1edac54de39" Alias="Max Mob 7 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob7650</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:42</CreateDate>
    <NodeName Default="Max Mob 7 650" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/angjhxb5/max_mob-7-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>