<?xml version="1.0" encoding="utf-8"?>
<Media Key="2616143b-b7f4-4d06-8dff-06bcaf758d3d" Alias="Max Mob 2 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob2650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T22:05:57</CreateDate>
    <NodeName Default="Max Mob 2 650" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bikbmjxu/max_mob-2-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>