<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbb623ad-1727-480d-a854-0783da7039a4" Alias="Max 6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max6</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:11</CreateDate>
    <NodeName Default="Max 6" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tqrlnozh/max-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>