<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb9f28c-14be-457c-b650-dfb87b86ca92" Alias="Max 6 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max6320</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:25</CreateDate>
    <NodeName Default="Max 6 320" />
    <SortOrder>134</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxzls434/max-6-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>