<?xml version="1.0" encoding="utf-8"?>
<Media Key="e79abcd7-83f4-45df-b21b-cf8690227c10" Alias="Max 1 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max1650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:42:56</CreateDate>
    <NodeName Default="Max 1 650" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0g4jvz5u/max-1-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>