<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf74a6e2-d5be-403e-a0de-c172b0855d65" Alias="Max Mob 5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob5</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:55</CreateDate>
    <NodeName Default="Max Mob 5" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0othjp34/max_mob-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>