<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0dd3878-1d7c-450a-b0fe-b4c9d558174d" Alias="Max 1" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:24:33</CreateDate>
    <NodeName Default="Max 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/je2n1md2/max-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>