<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5eb4536-4c1d-49ca-a7e1-286f8692577f" Alias="Max Mob 7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob7</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:55</CreateDate>
    <NodeName Default="Max Mob 7" />
    <SortOrder>113</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a3cpxji3/max_mob-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>