<?xml version="1.0" encoding="utf-8"?>
<Media Key="f16e154f-21e3-476c-86a7-558dd02d7424" Alias="Max Mob 7 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob71024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:19</CreateDate>
    <NodeName Default="Max Mob 7 1024" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pykh32pd/max_mob-7-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>