<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc3cbdc0-d59d-4c71-a8f8-ed15c5ae789d" Alias="Max Mob 1 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob11024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T21:48:41</CreateDate>
    <NodeName Default="Max Mob 1 1024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4g4dz5e3/max_mob-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>