<?xml version="1.0" encoding="utf-8"?>
<Media Key="88245a2c-38e9-418c-b802-b39c2db6262c" Alias="Max 2 320 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max23201</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:19</CreateDate>
    <NodeName Default="Max 2 320 (1)" />
    <SortOrder>137</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dvncjchj/max-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>