<?xml version="1.0" encoding="utf-8"?>
<Media Key="e82e0235-5903-4b0a-9334-6f1377a15c63" Alias="Max Mob 5 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob51024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:19</CreateDate>
    <NodeName Default="Max Mob 5 1024" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aqbc30ad/max_mob-5-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>