<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb09b124-57f1-4b47-bdff-34d1eb5e37c2" Alias="Max Mob 8" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob8</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:56</CreateDate>
    <NodeName Default="Max Mob 8" />
    <SortOrder>112</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cwybt45r/max_mob-8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>