<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c421340-2295-4bae-b979-d21b06809c56" Alias="Max 5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max5</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:08</CreateDate>
    <NodeName Default="Max 5" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oejfexev/max-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>