<?xml version="1.0" encoding="utf-8"?>
<Media Key="98e91f5f-7562-42e9-ab35-2784977a7f42" Alias="Max Mob 2 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob21024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T21:48:42</CreateDate>
    <NodeName Default="Max Mob 2 1024" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nypptgdc/max_mob-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>