<?xml version="1.0" encoding="utf-8"?>
<Media Key="2232f792-332b-4638-a077-341e4f0f8c6e" Alias="Max 2 (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max23</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:10</CreateDate>
    <NodeName Default="Max 2 (3)" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/up1deirl/max-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>