<?xml version="1.0" encoding="utf-8"?>
<Media Key="25cdcf20-281d-4f2a-9e2c-567f41902d6b" Alias="Max 4 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max42</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:10</CreateDate>
    <NodeName Default="Max 4 (2)" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/chhn0ji3/max-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>