<?xml version="1.0" encoding="utf-8"?>
<Media Key="8eca271e-0308-4bcf-b717-8ce99ea0a960" Alias="Max Mob 3" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:25:51</CreateDate>
    <NodeName Default="Max Mob 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/datnvdqi/max_mob-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>