<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6ed7a07-a1cf-4239-847f-d6d15d18e56c" Alias="Max 2 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max210241</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:26</CreateDate>
    <NodeName Default="Max 2 1024 (1)" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gz3o1nwp/max-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>