<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe3203b4-1b7a-45fc-af2d-8aaaeb081b35" Alias="Max Mob 1" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T21:44:40</CreateDate>
    <NodeName Default="Max Mob 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qubdf5t0/max_mob-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>