<?xml version="1.0" encoding="utf-8"?>
<Media Key="06806eb8-db23-46dc-8f9e-b8033bbf724c" Alias="Max Mob 5 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob5320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:19:05</CreateDate>
    <NodeName Default="Max Mob 5 320" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzxiabrd/max_mob-5-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>