<?xml version="1.0" encoding="utf-8"?>
<Media Key="98657f77-11c9-47fb-bea6-a9715b8a9486" Alias="Max Mob 1 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob11024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:23:36</CreateDate>
    <NodeName Default="Max Mob 1 1024" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/of5hlggj/max_mob-1-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>