<?xml version="1.0" encoding="utf-8"?>
<Media Key="085e07bb-55b4-40de-bca5-5fb4aa8c71bc" Alias="Max Mob 7 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob7320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:18:57</CreateDate>
    <NodeName Default="Max Mob 7 320" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xudf2cfu/max_mob-7-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>