<?xml version="1.0" encoding="utf-8"?>
<Media Key="2790fa68-108d-4331-89d6-61e7e5801709" Alias="Max 4 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max4650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:42:57</CreateDate>
    <NodeName Default="Max 4 650" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n13jaj2n/max-4-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>