<?xml version="1.0" encoding="utf-8"?>
<Media Key="57ebdb0e-7400-4cc5-874e-dfb9da2288f7" Alias="Max Mob 3 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob3650</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:14:02</CreateDate>
    <NodeName Default="Max Mob 3 650" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h5npwvya/max_mob-3-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>