<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd93345c-7adc-4653-b8ff-6e78b6c78ba7" Alias="Max 1 320 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max13201</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:23</CreateDate>
    <NodeName Default="Max 1 320 (1)" />
    <SortOrder>135</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nu0jhpo2/max-1-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>