<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7516b92-13e9-4a8f-95f9-6357b5e02fb8" Alias="Max 4 320" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max4320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:41:18</CreateDate>
    <NodeName Default="Max 4 320" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/srvfd35j/max-4-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>