<?xml version="1.0" encoding="utf-8"?>
<Media Key="065d91be-a7d3-485c-a950-c3e6926cd761" Alias="Max 4 320" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max4320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T11:29:29</CreateDate>
    <NodeName Default="Max 4 320" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r4if0bwt/max-4-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>