<?xml version="1.0" encoding="utf-8"?>
<Media Key="03a27ecc-f60f-421c-a3b8-eb7b6c2faefa" Alias="Maxapta 5 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta51</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:32:11</CreateDate>
    <NodeName Default="Maxapta 5 (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5v5keayp/maxapta-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>