<?xml version="1.0" encoding="utf-8"?>
<Media Key="07d525b0-642c-404c-90b3-dd995e10fe9a" Alias="Maxapta 1" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T21:54:43</CreateDate>
    <NodeName Default="Maxapta 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qesnkbzm/maxapta-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>