<?xml version="1.0" encoding="utf-8"?>
<Media Key="859edfe7-9cb1-445d-a868-32edb47164a4" Alias="Maxapta 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Maxapta1</Path>
    <Trashed Parent="b82d5a18-e8fa-41b7-8feb-199aa86c2970">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:06:34</CreateDate>
    <NodeName Default="Maxapta 1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01pj3bnr/maxapta-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>