<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf3d73f2-ec0f-4c83-8faa-2269c6a20707" Alias="Maxapta 1 1024" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta11024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T21:56:07</CreateDate>
    <NodeName Default="Maxapta 1 1024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ynzd1typ/maxapta-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>