<?xml version="1.0" encoding="utf-8"?>
<Media Key="32c37880-ada7-4e4f-9807-6c9ae35c0332" Alias="Maxaptaim" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Maxaptaim</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-27T10:15:18</CreateDate>
    <NodeName Default="Maxaptaim" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qz2mgmvh/maxaptaim.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>