<?xml version="1.0" encoding="utf-8"?>
<Media Key="5933f6cb-61b4-4eed-b9c9-71f745b83030" Alias="Maxapta 5 650 (1)" Level="4">
  <Info>
    <Parent Key="cc93c333-062e-47c5-8d35-e86b1be881f6">650</Parent>
    <Path>/Sites/maxapta//Maxapta56501</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:38:10</CreateDate>
    <NodeName Default="Maxapta 5 650 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5l1dgwnu/maxapta-5-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>