<?xml version="1.0" encoding="utf-8"?>
<Media Key="b24a501c-4bbd-4c74-b2dd-005b8df6ca84" Alias="Maxapta 2" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T21:54:29</CreateDate>
    <NodeName Default="Maxapta 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvievmv3/maxapta-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>