<?xml version="1.0" encoding="utf-8"?>
<Media Key="21cebf60-a571-4809-8243-40787520801a" Alias="Maxexmobim" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Maxexmobim</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-27T15:15:23</CreateDate>
    <NodeName Default="Maxexmobim" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m05n2ilr/maxexmobim.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>