<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b3f7815-9e0c-4484-bd3d-5d205fbcce22" Alias="Block Grid-Iternal - Content - Block Grid" Level="1">
  <Info>
    <Name>Block Grid-Iternal - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/image.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "1",
          "columnSpan": 12,
          "createLabel": null,
          "key": "b3ed76fa-109b-47b6-88d9-067af3f114d1",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/OneColumnSectionView/oneColumnSection.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/RichTextView/richText.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": "~/css/style.css",
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>