<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92be4a0d-42a2-48c9-84fc-0369a4d75492" Alias="Img" Level="2">
  <Info>
    <Name>Img</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>