<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3e75e0b-954a-4e92-898c-aa4b3f659deb" Alias="ImgTransform - Dropdown" Level="2">
  <Info>
    <Name>ImgTransform - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Обрезать"
    },
    {
      "id": 2,
      "value": "Вписать в контейнер"
    },
    {
      "id": 3,
      "value": "Оставить как есть"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>