<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcfb0a38-0950-4869-ae37-d40a70c07f22" Alias="NewsItem - NewsSection - Dropdown" Level="2">
  <Info>
    <Name>NewsItem - NewsSection - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Внутри компании"
    },
    {
      "id": 2,
      "value": "Отраслевые"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>