<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70b6174f-1e3c-42e0-818d-66c09aa11848" Alias="Radiobutton" Level="2">
  <Info>
    <Name>Radiobutton</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "%"
    },
    {
      "id": 2,
      "value": "em"
    }
  ]
}]]></Config>
</DataType>