<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5d04fa-adf6-4778-8ed8-dea793369c9e" Alias="WorkItem - Bg - Radio button list" Level="1">
  <Info>
    <Name>WorkItem - Bg - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Изображение"
    },
    {
      "id": 2,
      "value": "Цвет"
    },
    {
      "id": 3,
      "value": "Градиент"
    }
  ]
}]]></Config>
</DataType>