@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/preview/maxcont/img/favicon.ico" type="image/x-icon">
    <title>EMAX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/preview/maxcont/css/style1.css">
</head>
<body id="maxcont">

    <div class="mchead mcblue">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/mctext.svg" style="width: 97%;">
            <img src="~/preview/maxcont/img/imhead.png" style="width: 100%;">
        </div>
    </div>

    <div class="mcsection1 mcblue">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/one.svg" class="mcmgrt imc">
                <h1>ЗАДАЧА</h1>
            </div>
            <p style="text-align: center;">
                Создать сайт-одностраничник для компании-партнера с новостной лентой и формой отправки заявки.<br>
                В дизайне активно используется типографика, анимация и фирменные цвета Группы компаний.
            </p>

            <img src="~/preview/maxcont/img/bullet.svg" style="width: 1.5%;" class="dft">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/two.svg" class="mcmgrt imc">
                <h1>ТИПОГРАФИКА</h1>
            </div>
            <img src="~/preview/maxcont/img/Montserrat.svg" style="width: 70%;margin-top: 1.5em;">
            <span class="open">Open Sans</span>
            <div class="mcflex cls" style="width: 100%; border: 1px solid transparent; margin-top: 1.5em;">
                <div class="mcf-item">
                    <img src="~/preview/maxcont/img/abc.svg">
                </div>
                <div class="mcf-item cl">
                    <h1>H1<span>HeliosBlack 48, uppercase</span></h1>
                    <h2>H2<span>HeliosBlack 48, uppercase</span></h2>
                    <p>p<span>HeliosBlack 48, uppercase</span></p>
                </div>
                <div class="mcf-item">
                    <img src="~/preview/maxcont/img/cube.svg" style="width: 80%;">
                </div>
            </div>
        </div>
    </div>

    <div class="mcsection2 mcblue">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/three.svg" class="mcmgrt imc">
                <h1>ЦВЕТА</h1>
            </div>
            <div class="mcflex cls jsb mgt2" style="width: 100%;">
                <div class="mccube" style="background:#FFFFFF;">
                    <p class="black">#FFFFFF</p>
                </div>
                <div class="mccube" style="background:#EFF1F3;">
                    <p class="black">#EFF1F3</p>
                </div>
                <div class="mccube" style="background:#D9D9D9;">
                    <p class="black">#706F6F<br>27%</p>
                </div>
                <div class="mccube" style="background:#706F6F;">
                    <p>#706F6F</p>
                </div>
                <div class="mccube" style="background:#D9EFFF;">
                    <p class="black">#D9EFFF</p>
                </div>
                <div class="mccube" style="background:#00E0FF;">
                    <p class="black">#00E0FF</p>
                </div>
                <div class="mccube" style="background:#568FAB;">
                    <p>#568FAB</p>
                </div>
                <div class="mccube" style="background:#1669A6;border: 1px solid white;">
                    <p>#1669A6</p>
                </div>
                <div class="mccube" style="background:#003F63;">
                    <p>#003F63</p>
                </div>
                <div class="mccube" style="background:#000000;">
                    <p>#000000</p>
                </div>
            </div>
            <div class="mcflex" style="display: flex; justify-content: center; width: 100%;margin-top: 1.5em;">
                <div class="mccube2" style="background:linear-gradient(to bottom, #015B9E, #0F8FEE);border: 1px solid white;">
                    <p>#015B9E<br><br><br>#0F8FEE</p>
                </div>
                <div class="mccube2" style="background:linear-gradient(to bottom, #000000, #076AB3);border: 1px solid white;">
                    <p>#000000<br><br><br>#076AB3</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mcsection3 mcgradient">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/four.svg" class="mcmgrt imc">
                <h1>МАКЕТ</h1>
            </div>
            <img src="~/preview/maxcont/img/maket.png" style="width: 100%;">
        </div>
    </div>

    <div class="mcsection4">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet2.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/five.svg" class="mcmgrt imc">
                <h1 class="bluetext">НОВОСТНАЯ ЛЕНТА</h1>
            </div>
            <img src="~/preview/maxcont/img/news.png" style="width: 100%;">
        </div>
    </div>

    <div class="mcsection5">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet2.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/six.svg" class="mcmgrt imc">
                <h1 class="bluetext">АНИМАЦИЯ</h1>
            </div>
            <div>
                <video controls style="width: 100%;margin-top: 1.5em;">
                    <source src="~/preview/maxcont/img/mcontvideo.mp4" type="video/mp4">
                    <source src="~/preview/maxcont/img/mcontvideo.ogv" type="video/ogg">
                    <!--<iframe width="560" height="315" src="//www.youtube.com/embed/FkX88N4pCow?rel=0" frameborder="0" allowfullscreen></iframe>-->
                </video>
            </div>
        </div>
    </div>

    <div class="mcsection6">
        <div class="container cl alc">
            <img src="~/preview/maxcont/img/bullet2.svg" style="width: 1.5%;">
            <div class="mcflex alc">
                <img src="~/preview/maxcont/img/seven.svg" class="mcmgrt imc">
                <h1 class="bluetext">АДАПТИВ</h1>
            </div>
            <img src="~/preview/maxcont/img/adaptiv.png" style="width: 100%;">
        </div>
    </div>

    <div class="mcsection7 mcblue">
        <div class="container" style="justify-content: center;">
            <a href="https://max-cont.ru/" target="_blank">www.max-cont.ru</a>
        </div>
    </div>

</body>