<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b5fea98-6330-433a-a259-25340461c170" Alias="1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-02-12T12:05:01</CreateDate>
    <NodeName Default="1">
      <Name Culture="ru">1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <addressMoskow>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressMoskow>
    <addressPerm>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressPerm>
    <addressVlad>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressVlad>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4a68550e95af45899a1276abee005d46",
        "settingsUdi": "umb://element/95d634d29632430ca77c7323acd4d827",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/f9c2ebd1dec8445e8ac9777762c9f7ac",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 6,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ff29edb152ac46278af18d1f0cad5b7d",
        "settingsUdi": "umb://element/a76af7af306f4f6380dfd5c54f4053cb",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/e0294c25938e47fe96cd14af7d7160f9",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/da17d8d369304b81a2268ad7a20338c0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/4a68550e95af45899a1276abee005d46"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/f9c2ebd1dec8445e8ac9777762c9f7ac",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"118df4da-2ee8-4f2f-aa54-a5a4aeb78e66\",\r\n    \"mediaKey\": \"cc39e685-3499-4f62-aa5d-61f1a6684ce7\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/ff29edb152ac46278af18d1f0cad5b7d"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/da17d8d369304b81a2268ad7a20338c0",
      "richText": "<p>7854</p>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e0294c25938e47fe96cd14af7d7160f9",
      "richText": "<p>654</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/95d634d29632430ca77c7323acd4d827"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a76af7af306f4f6380dfd5c54f4053cb"
    }
  ]
}]]></Value>
    </content>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <iconButtonLK>
      <Value><![CDATA[[]]]></Value>
    </iconButtonLK>
    <iconSearch>
      <Value><![CDATA[[]]]></Value>
    </iconSearch>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <textButtonLK>
      <Value Culture="ru"><![CDATA[]]></Value>
    </textButtonLK>
  </Properties>
</Content>