<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ef68e2d-d548-4ca0-bd02-0da3867d2a41" Alias="C Днём Защитника Отечества!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/CDnemZashitnikaOtechestva</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:21</CreateDate>
    <NodeName Default="C Днём Защитника Отечества!">
      <Name Culture="ru">C Днём Защитника Отечества!</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-02-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/79a2b9d76ce64251a34fac846baf1636]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Уважаемые мужчины! 
Поздравляем вас с Днем защитника Отечества! Желаем спокойствия, расширения возможностей, перспективных предложений, больших финансовых поступлений и увеличивающегося спектра достижений. Будьте сильны, настойчивы и решительны. Мира, добра и всех благ!
С Праздником! 
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[C Днём Защитника Отечества!]]></Value>
    </newsTitle>
  </Properties>
</Content>