<?xml version="1.0" encoding="utf-8"?>
<Content Key="791acfbf-5003-4b52-a7d0-4157e3f2b010" Alias="chcont" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/chcont</Path>
    <Trashed Parent="9b4aafe7-22d3-412d-a7be-d49d2f29eca5">true</Trashed>
    <ContentType>workItem</ContentType>
    <CreateDate>2024-03-12T11:56:19</CreateDate>
    <NodeName Default="chcont">
      <Name Culture="ru">chcont</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <css>
      <Value Culture="ru"><![CDATA[/media/2utdvryp/style5.css]]></Value>
    </css>
    <html>
      <Value Culture="ru"><![CDATA[]]></Value>
    </html>
    <media>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "adcce677-478c-4c34-b514-ed4489121e75",
    "mediaKey": "ea9917b0-9d8d-40c5-b38e-ca24f2847d21"
  },
  {
    "key": "55228fa7-c6f1-458e-b94c-fd2411b76026",
    "mediaKey": "3c956fdc-ff7e-466f-9c71-73a2c32c9af3"
  },
  {
    "key": "a927bd9e-c71f-41b6-9f50-adcc6734fdb0",
    "mediaKey": "df973c8c-d1e1-4899-a30e-3fe20bf1755b"
  },
  {
    "key": "c51dd811-9390-4a33-9339-8837cbfb3e31",
    "mediaKey": "ea9917b0-9d8d-40c5-b38e-ca24f2847d21"
  },
  {
    "key": "f7b44354-054c-424b-b38f-eb4880f859f5",
    "mediaKey": "dff51112-4f33-4dbb-a00d-c47a5d60b5b2"
  },
  {
    "key": "c1d9d53b-acc3-45a7-b85f-610a05d20d87",
    "mediaKey": "cf4b5467-f8c1-45d7-8bf6-f884f3bab37c"
  },
  {
    "key": "65e12336-953b-43df-8948-4a611dfee9a8",
    "mediaKey": "381f5544-e445-41db-9ecb-85cd767f5d03"
  },
  {
    "key": "f12325bc-6dda-4246-8b32-6bfa474aab29",
    "mediaKey": "43b75f4a-7f7a-4e73-bc3e-ad9f7148ab21"
  },
  {
    "key": "c6a34237-8c05-4ec6-b678-7f6924132621",
    "mediaKey": "82f7854c-b33b-4c37-828f-6c822892a23f"
  }
]]]></Value>
    </media>
  </Properties>
</Content>