<?xml version="1.0" encoding="utf-8"?>
<Content Key="59a463e6-8b51-4a44-9060-d9d0bc997082" Alias="maxcont" Level="2">
  <Info>
    <Parent Key="8297ea76-e03e-400e-a740-1aceee2ce2be">Home</Parent>
    <Path>/Home/maxcont</Path>
    <Trashed>false</Trashed>
    <ContentType>maxcont</ContentType>
    <CreateDate>2024-02-29T10:09:59</CreateDate>
    <NodeName Default="maxcont" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b84e4c5f-704a-4205-bfab-ebd2f96e800a">maxcont</Template>
  </Info>
  <Properties />
</Content>