<?xml version="1.0" encoding="utf-8"?>
<Content Key="765ac9f1-97d5-4d7a-b4bb-344137a03432" Alias="В России впервые за четыре года может начаться рост производства грузовых вагонов" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/VRossiiVpervyeZaChetyreGodaMozhetNachatSyaRostProizvodstvaGruzovykhVagonov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:48</CreateDate>
    <NodeName Default="В России впервые за четыре года может начаться рост производства грузовых вагонов">
      <Name Culture="ru">В России впервые за четыре года может начаться рост производства грузовых вагонов</Name>
    </NodeName>
    <SortOrder>67</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-10-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/15365f36aba143c6b0124a01615e89a6]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Отраслевые"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Последние годы в российском железнодорожном машиностроении наблюдался значительный спад. В 2012 году было произведено в общей сложности 71,6 тыс. вагонов, в 2013 – 60,1 тыс., в 2014 – 55,1 тыс., в 2015 – 29,2 тыс. В 2016 году производство сохранится на уровне 2015 года и, возможно, превысит его. К такому выводу пришел в своем докладе руководитель отдела исследований транспортного машиностроения Института проблем естественных монополий (ИПЕМ) Георгий Зобов на 7-й международной конференции «Железнодорожные перевозки горно-металлургических грузов». 

С 2014 по 2016 годы темпы списания грузовых вагонов превышали темпы поставок нового подвижного состава на сеть. В то же время за 8 месяцев 2016 года по отношению к аналогичному периоду прошлого погрузка выросла на 1,5%, грузооборот на 1,6%, перевозки на 0,6%. Рост объема списания парка грузовых вагонов составил 7,4%, а их производство выросло на 5,9%. В связи с увеличением грузовой работы и стремительным выбытием парка повысилась потребность в подвижном составе. 

Государственные субсидии на поддержку грузового вагоностроения общим объёмом 8,8 млрд рублей, заложенные в бюджете на 2016 год, также способствуют росту производства, отмечается в докладе. 

Георгий Зобов считает, что важно не только создание сервисных центров по гарантийному обслуживанию и ремонту таких вагонов, но и обеспечение их запасными частями. Также необходимо повысить производительность вагонов в условиях инфраструктурных ограничений. 

«Необходим баланс между реальными возможностями производства различных моделей специализированного парка вагонов и недопущением дефицита такого парка вследствие запрета на модернизацию. Необходим баланс между затратами на сертификацию новых моделей специализированного парка и на модернизацию вагонов с продлением», - полагает аналитик ИПЕМ. Кроме того, существует риск не только роста транспортных расходов, но и невывоза груза из-за дефицита специализированного парка вагонов. 

Однако операторы подвижного состава отмечают, что в сегменте полувагонов необходимый баланс будет достигнут к зиме. По мнению генерального директора железнодорожного оператора «Восток1520» Владимира Сосипаторова, оптимальный парк полувагонов на сети ОАО «Российские железные дороги» должен составлять 470 тысяч. «Парк полувагонов порядка 470 тысяч единиц, который будет достигнут на сети «РЖД» к ноябрю, является наиболее сбалансированным уровнем для удовлетворения потребности грузоотправителей и инфраструктуры», - сообщил Владимир Сосипаторов в ходе конференции. 

По словам топ-менеджера, в этом году наблюдается повышенный спрос на полувагоны в локальных точках погрузки. Это связано с масштабными летними путевыми работами, особенно на Восточном полигоне сети, а также сезонным перераспределением парка для перевозок грузов различных отраслей. 

Пик пройден в сентябре, постепенно заканчивается галопирующее списание полувагонов, считает Сосипаторов. «Вагоностроительные заводы готовы удовлетворить необходимую потребность в новом подвижном составе. Улучшение культуры планирования «РЖД» и своевременный устойчивый возврат порожнего грузопотока к массовым точкам погрузки дают ощутимый положительный эффект», - отмечается в пресс-релизе компании. 

Вывоз растущих объемов экспортного угля обеспечивается концентрацией парка и использованием вагонов нового поколения на наиболее загруженных направлениях. По предварительной оценке, общий эффект от использования вагонов повышенной грузоподъемности в 2016 году будет выражен в дополнительно перевезенных 3 млн тонн угля, говорится в сообщении. 

«Синхронизация технологических действий участников перевозки, постоянная научная и изыскательская работа являются основой планомерного роста числа вагонов нового поколения. Уже сейчас модернизация портовой инфраструктуры планируется под новый подвижной состав (с нагрузками - Gudok.ru) не только 25, но и 27 тонн на ось», - констатировал Владимир Сосипаторов.                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[В России впервые за четыре года может начаться рост производства грузовых вагонов]]></Value>
    </newsTitle>
  </Properties>
</Content>