<?xml version="1.0" encoding="utf-8"?>
<Content Key="872b1b66-cf47-4cda-a6c3-adf56f032d6d" Alias="«Вошли в тридцатку!» " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/VoshliVTridfatku</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:51</CreateDate>
    <NodeName Default="«Вошли в тридцатку!» ">
      <Name Culture="ru">«Вошли в тридцатку!» </Name>
    </NodeName>
    <SortOrder>73</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-03-14T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Информационное агентство «INFOLine» подготовил ежегодный рейтинг операторов INFOLine Rail Russia TOP за 2015 год. В рейтинге отражена также динамика изменения парка вагонов с 2013 по 2015 год. ГК МАКСИМУМ вошла в ТОР-30, заняв 26-место в ранговом рейтинге INFOLine Rail Russia Top среди российских операторов. Кроме того, ГК МАКСИМУМ, практически единственная компания из участников этого рейтинга, которая показала рост парка за указанный период. Это лишний раз демонстрирует наш высокий профессиональный уровень и надежность на ЖД рынке. 
Информацию о рейтинге можно посмотреть здесь ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[«Вошли в тридцатку!» ]]></Value>
    </newsTitle>
  </Properties>
</Content>