<?xml version="1.0" encoding="utf-8"?>
<Content Key="20ecb6a4-f9d4-42ee-b0b6-0c7f492e42fa" Alias="ГЕОГРАФИЯ ПЕРЕВОЗОК ЗЕРНА РАСШИРЯЕТСЯ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GEOGRAFIYaPEREVOZOKZERNARASShIRYaETSYa</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:09</CreateDate>
    <NodeName Default="ГЕОГРАФИЯ ПЕРЕВОЗОК ЗЕРНА РАСШИРЯЕТСЯ.">
      <Name Culture="ru">ГЕОГРАФИЯ ПЕРЕВОЗОК ЗЕРНА РАСШИРЯЕТСЯ.</Name>
    </NodeName>
    <SortOrder>104</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-07-04T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
3 июля   Генеральный директор ООО" Максима Логистик" Фалин Н.А. принял участие в ежегодном Международном Агропромышленном форуме «ВолгаАгро-2014».



В ходе конференции был проведен ряд рабочих встреч, где обсуждались актуальные вопросы работы нашей компании в регионе, открыты новые направления перевозок, подписаны протоколы о намерениях и Соглашения о Сотрудничестве с целым рядом новых клиентов, с таких стратегических направлений как Казахстан, Азербайджан, Украина и страны Балтии. 



  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГЕОГРАФИЯ ПЕРЕВОЗОК ЗЕРНА РАСШИРЯЕТСЯ.]]></Value>
    </newsTitle>
  </Properties>
</Content>