<?xml version="1.0" encoding="utf-8"?>
<Content Key="edf02f3f-a670-44c6-ab90-39578444934b" Alias="ГК ВТБ Лизинг профинансировал для ГК Максимум 150 фитинговых платформ" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GKVTBLizingProfinansirovalDlyaGKMaksimum150FitingovykhPlatform</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:09</CreateDate>
    <NodeName Default="ГК ВТБ Лизинг профинансировал для ГК Максимум 150 фитинговых платформ">
      <Name Culture="ru">ГК ВТБ Лизинг профинансировал для ГК Максимум 150 фитинговых платформ</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2021-06-04T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/1dd0696076974f96afc2227d22332560]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В мае 2021 была осуществлена поставка первых 25 ед. 80-ти футовых фитинговых платформ по договору лизинга, заключенному между ООО «НеоТранс», входящему в ГК Максимум, и АО «ВТБ Лизинг». Договор заключен на поставку 150 новых 80-ти футовых фитинговых платформ на общую сумму более 500 млн рублей, срок лизинга составляет 10 лет.

 ВТБ Лизинг сотрудничает с ГК Максимум с 2012 года, лизинговый портфель партнеров без учета нового договора составляет более 600 вагонов. 

 «Мы всегда стремимся развивать отношения с действующими финансовыми партнерами, так как зачастую это бывает более эффективно, чем работа с новыми кредитными организациями «с чистого листа». Новый проект с ВТБ Лизинг подтвердил это наше убеждение - новая сделка структурирована с действующими договорами ООО «НеоТранс», что позволило заключить ее с нулевым авансом, т.е. без отвлечение оборотных средств компании.», - прокомментировал финансовый директор ГК Максимум Максим Кунаев.

 ГК Максимум  планирует использовать вагоны для контейнерных отгрузок пиломатериалов в Китай и страны Азиатско-Тихоокеанского региона, а также для внутрироссийских перевозок товаров народного потребления и обслуживания транзитного грузопотока из Китая в страны Западной Европы в составе контейнерных поездов. Поставщиком вагонов выступает АО «Барнаульский ВРЗ», поставка запланирована до августа 2021 года включительно.

 Для справки:

 Группа компаний ВТБ Лизинг стабильно занимает ведущие позиции на рынке железнодорожного лизинга. На сегодняшний день ж/д портфель ВТБ Лизинг насчитывает более 117 тысяч вагонов различных типов, по этому показателю компания является крупнейшим лизингодателем в России. 

 АО «Барнаульский ВРЗ» - одно из крупнейших промышленных предприятий Алтайского края и старейших в отрасли тяжелого машиностроения РФ. Завод специализируется на изготовлении и ремонте железнодорожного грузового подвижного состава и запасных частей. Начиная с 2011 года входит в состав Группы компаний ТАЛТЭК.
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГК ВТБ Лизинг профинансировал для ГК Максимум 150 фитинговых платформ]]></Value>
    </newsTitle>
  </Properties>
</Content>