<?xml version="1.0" encoding="utf-8"?>
<Content Key="9be8260c-4eb1-468c-b728-92462d9849a9" Alias="ГК «Максимум» выступила спонсором ФК «С.П.Б. К.Л.С.»." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GKMaksimumVystupilaSponsoromFKSPBKLS</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:10</CreateDate>
    <NodeName Default="ГК «Максимум» выступила спонсором ФК «С.П.Б. К.Л.С.».">
      <Name Culture="ru">ГК «Максимум» выступила спонсором ФК «С.П.Б. К.Л.С.».</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2021-03-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/46ec664aa6614c36b3727944ebf4c17c]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Официальный сайт ФК С.П.Б. К.Л.С. Санкт-Петербург
 Футбольный клуб «С.П.Б. К.Л.С.» провел исторически первый официально зарегистрированный футбольный матч в России в 1897 году, а само спортивное общество создано в 1888 году и является одним из старейших в России. 
 Пожелаем самому старому клубу успехов и вместе добиться новых вершин!
История клуба https://ru.wikipedia.org ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГК «Максимум» выступила спонсором ФК «С.П.Б. К.Л.С.».]]></Value>
    </newsTitle>
  </Properties>
</Content>