<?xml version="1.0" encoding="utf-8"?>
<Content Key="79dac8a6-a4d7-4186-b416-e9e4b0656ce8" Alias="ГК Максимум продолжает свое многолетнее сотрудничество с ОАО &quot;Морским банком&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GKMaksimumProdolzhaetSvoeMnogoletneeSotrudnichestvoSOAOMorskimBankom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:56</CreateDate>
    <NodeName Default="ГК Максимум продолжает свое многолетнее сотрудничество с ОАО &quot;Морским банком&quot;.">
      <Name Culture="ru">ГК Максимум продолжает свое многолетнее сотрудничество с ОАО "Морским банком".</Name>
    </NodeName>
    <SortOrder>82</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-09-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО "Репетек", входящее в группу компаний Максимум, подписало очередное кредитное соглашение с ОАО "Морской банк" в рамках расширения многолетнего финансового сотрудничества Банка и ГК «Максимум». На Компанию открыта кредитная линия с лимитом 80 миллионов рублей, кредитные средства будут использованы на пополнение оборотных средств и приобретение подвижного состава. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГК Максимум продолжает свое многолетнее сотрудничество с ОАО "Морским банком".]]></Value>
    </newsTitle>
  </Properties>
</Content>