<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bba922b-8b4b-4ffc-9fc0-f1ef793e0d8e" Alias="ГК &quot;МАКСИМУМ&quot; купила 100% акций ООО &quot;НеоТранс&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GKMAKSIMUMKupila100AkfiiOOONeoTrans</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:30</CreateDate>
    <NodeName Default="ГК &quot;МАКСИМУМ&quot; купила 100% акций ООО &quot;НеоТранс&quot;">
      <Name Culture="ru">ГК "МАКСИМУМ" купила 100% акций ООО "НеоТранс"</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-05-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В конце апреля 2018 г., ООО «Репетек», входящее в ГК "МАКСИМУМ", завершило сделку по приобретению 100% доли в уставном капитале ООО «Неотранс» - компании собственника ж.д. подвижного состава. Данная компания владеет на правах собственности и финансовой аренды парком в 570 ед. профильных для ГК Максимум вагонов: зерновозов, фитинговых платформ и универсальных платформ.

 По словам первого заместителя генерального директора М.А. Кунаева, парк ООО «Неотранс» хорошо известен для Группы, т.к. в течение нескольких лет большая его часть сдавалась в аренду ГК Максимум, средний возраст которых 3-5 лет. Для ГК Максимум приобретение компании с профильным парком «на борту» стало очередным логичным шагом в рамках стратегии по увеличению существующего вида парка и диверсификации парка в оперировании по видам собственности. Напомним, что в декабре 2017 г. Группа уже приобрела в собственность компанию с парком ж.д. вагонов, установив контроль над АО «ЗМК-Транс».                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГК "МАКСИМУМ" купила 100% акций ООО "НеоТранс"]]></Value>
    </newsTitle>
  </Properties>
</Content>