<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf73c99d-6695-4d8d-8080-9da16239700f" Alias="ГК Максимум укрепляет присутствие в контейнерном сегменте" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GKMaksimumUkreplyaetPrisutstvieVKonteinernomSegmente</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:11</CreateDate>
    <NodeName Default="ГК Максимум укрепляет присутствие в контейнерном сегменте">
      <Name Culture="ru">ГК Максимум укрепляет присутствие в контейнерном сегменте</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2021-03-16T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/08465d0b152d477dbcb1c939f96dead4]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
статья с сайта https://www.rzd-partner.ru/

 ГК «Максимум» владеет и управляет примерно 10 тыс. ед. подвижного состава различных типов. Консолидированная выручка составляет около 10 млрд руб. в год. И хотя сложности двух последних лет несколько снизили темп развития компании, она не только восстанавливает позиции, но и планирует увеличить темпы роста. Об этом нам рассказал Николай Фалин, владелец ГК «Максимум».

 – Николай Анатольевич, каких результатов ГК «Максимум» ожидает от 2021 года?

  – Мы с большим оптимизмом смотрим в 2021 год. В наших планах нарастить парк подвижного состава в собственности, лизинге и оперативном управлении примерно на 20–25%. Консолидированная выручка группы компаний вырастет, как мы надеемся, чуть сильнее – на 25–30%.

 Доходность работы специализированного подвижного состава держится на приемлемом уровне. В то же время основные статьи наших затрат – обслуживание кредитного портфеля, ремонт вагонов и обеспечение их запчастями – имеют четкую тенденцию к снижению. В этой связи мы обосновано полагаем, что рентабельность нашего бизнеса вернется к комфортным допандемийным значениям.

 Уверенный взгляд в завтрашний день позволяет нам планировать значительную инвестиционную программу, дабы укреплять присутствие в наиболее перспективных для нас сегментах рынка логистических услуг.

 – Вы управляете парками зерновозов, лесовозов, контейнерных и универсальных платформ. Какие ключевые тенденции и ожидания можно выделить в данных сегментах рынка? Можно ли прогнозировать, что контейнерные отправления продолжат бурный рост, как в 2020 году?

  – Вы правы, все участники рынка ждут продолжения «ралли» контейнерных перевозок. И мы в том числе. Очевиден растущий интерес к контейнерным отправкам как среди российских экспортеров, так и со стороны китайских и европейских компаний. Последних привлекают возможности железнодорожного транзита через территорию РФ. Сегодня темпы развития контейнерных перевозок ограничиваются лишь возможностями инфраструктуры: Восточный полигон РЖД и сухопутные погранпереходы с Китаем работают на пределе своих возможностей. А ведь надо расти дальше!

 Стоит отметить стабильные темпы роста грузовой базы и в перевозке зерновых и лесных грузов. Погрузка зерновых в 2020 году прибавила почти 30%, это просто невероятно! Погрузка лесных грузов чуть сократилась (-3%), но если оценить динамику за всю прошедшую пятилетку, то налицо – уверенный рост. Мы видим, как клиенты из этих отраслей экономики год за годом вкладывают значительные средства в расширение своих производственных возможностей, главным образом с прицелом на экспорт. И ГК «Максимум» спешит идти вслед за спросом, инвестируя в развитие своих провозных способностей.

 – На что в первую очередь ориентирована инвестиционная программа ГК «Максимум?

  – Во главу угла у нас сегодня поставлен контейнерный бизнес. На днях завершится подписание сделки по приобретению нескольких сотен контейнерных платформ, этот проект финансирует «ВТБ Лизинг». Параллельно развиваем отдельное терминальное направление – идут предпроектные работы в 2 локациях, где мы наметили построить новые контейнерные терминалы. Надеюсь, что уже в середине года нам будет чем похвастаться в плане сроков реализации и конкретных параметров этих новых предприятий.

 Продолжается наша сделка по приобретению инновационных зерновозов производства Тихвинского ВСЗ – несколько сотен вагонов уже получено, и в скором времени мы будем обсуждать с вагоностроителями продолжение сотрудничества. Данную сделку финансирует банковская группа «Открытие», с которыми мы реализовали ряд аналогичных сделок еще в 2020 году и наметили планы на 2021-й.

 – Как повлиял на развитие компании возникший в 2019 году корпоративный конфликт в ООО «Железнодорожные активы» между вами и бывшим акционером компании? Можно ли считать его разрешенным полностью?

  – Безусловно, этот конфликт отразился на деятельности ГК «Максимум». В первую очередь на темпах нашего развития.

 Со стороны ООО «Железнодорожные активы» были расторгнуты долгосрочные договоры аренды подвижного состава, находившегося в оперативном управлении ГК «Максимум». В результате чего наш рабочий парк сократился примерно на 20% (его мы частично уже восполнили с рынка), возникли десятки взаимосвязанных судебных процессов (ГК «Максимум» против «Железнодорожных активов» и наоборот) на сотни миллионов рублей.

В настоящее время этот конфликт уже позади. Но еще предстоит много работы по ликвидации его последствий, в том числе завершению всех судебных хозяйственных процессов в РФ, а подвижной состав, который мы потеряли из своего управления в 2019 году, возвращается «домой»: на наши маршруты и к нашим клиентам.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ГК Максимум укрепляет присутствие в контейнерном сегменте]]></Value>
    </newsTitle>
  </Properties>
</Content>