<?xml version="1.0" encoding="utf-8"?>
<Content Key="08808991-8425-4698-946d-f30817549618" Alias="Главная" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Glavnaya</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-07-19T13:31:47</CreateDate>
    <NodeName Default="Главная">
      <Name Culture="en-us">Main</Name>
      <Name Culture="ru">Главная</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <addressMoskow>
      <Value Culture="en-us"><![CDATA[<p>Moscow</p>]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressMoskow>
    <addressPerm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressPerm>
    <addressVlad>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressVlad>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "19318f32-e99f-40c8-9181-eb3a6f4e699e",
                    "items": []
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/b19f41040bbf487882960a7080be4d64"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": []
                  }
                ],
                "columnSpan": 2,
                "rowSpan": 1,
                "contentUdi": "umb://element/0e6d807642ba4efaba41429c8571236d",
                "settingsUdi": "umb://element/a9317b5ee0ce4f5cbd0f8834cd6b1d96"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/f25b5e6655254ef58455e945951b4d40"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/c6f823c18639452faca85548944ccd1e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/846f417783744e6ab04415cb86d95898",
        "settingsUdi": "umb://element/36d544490b5542c2af73d7a3aa9c38c2"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/cece029bdccb4804a206aa6903a0ff8d"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/7056a011a25b45198dbca9b28623d124"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/2e1d40a7a65149bba2dfed5b6cc7b979"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/50080056ac17442b96571cf80bffb67e"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/7b1d1cadb07b49dc8dcc3b79c02eaac2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3533b672c72a4cb794adad52920819a3",
        "settingsUdi": "umb://element/fd5c7bf57af2483b9dd8763d3b76a93a"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/4dee214b5bbd475f867ba9676179f0dd"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": []
                          }
                        ],
                        "columnSpan": 1,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/c58a0b2c0ce04a35a4bf481f975165d1",
                        "settingsUdi": "umb://element/02fafa0b55374d718c4b7bf2b6fbae83"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/8c75b7465c2742478b27b26822b209d7"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/353aa379070849148a7b0b84f724c9bf"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/172d3228e52448839d09b690606cc8cb"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/138d1d22e48c4e4ca50c47514b0e51e0"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/86b6e68665c747c8b8ceeb1fa80e167a"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/c262220b364f44cea8bc7c628de7ad21",
                "settingsUdi": "umb://element/0c10bdef9c0d46f1b6a0634ff7576c85"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3868356f683e4f61a7b1653eb4959f45",
        "settingsUdi": "umb://element/86437e62b3b044dba4dc6297365fbda1"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/d70cb3fb912749a7ad65736b909cb0d7"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a659c6002bb44f17b8ec59091f2efef7",
        "settingsUdi": "umb://element/b31dc51fe85d41ddbad9bbf81456fcdc"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/8b170f5173ac4f47b761e4a5f29360c4"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/030494a26358473fbb67832a7894c679"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a2d356c5e3a049dbb2043a6db3b0e182",
                "settingsUdi": "umb://element/b5e349c4fb524b979e8656b058242fd4"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/01e90517e87b4f25b96cc1db3721b7a7"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b7c5b6d4328149e3aae2fa577f561d32"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/87e8552765604c7592b9e2a06bb0ec73",
                "settingsUdi": "umb://element/dc9b8a4cc9d9440d9efb0ebea3776c37"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/51d248a1796f4ffeb4adea31c2713762",
        "settingsUdi": "umb://element/143917f1469f4536b9b0645841d18003"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/8d40926a25dd427485772565a1222f9e"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/d7c2a1a3aacf489babe3a09c9b393ab6"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/66d430a2d610417aa54f7f930f34b934"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/6fef0ed45a134daa981b3ddfa38e3a54"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/90cfa4ff017d438088e2fb13d5fdbeaf"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/72daceac428c46589d9beff1a012e054"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/a5535c2fbcff42ab86872494c3a2333a"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/8a1f87ab806c44cfb2a85e2bb810d08d"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/b4564b75d8a144c9b59a5e0cd88bba5a"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/8d40f1e0091642cb986a9878f1b1cbd9"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/c13a23a233b44d5e8ca18cb3a9fca0e7"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/c19133b67c674da0aa99c0eb2255bd59"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/d454140ff4634ee090cc48e37d67de6b"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/59e50b30a31648ea91e9dee913c38948"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/fa30103599e5457b9ffd7cc4e3ffcee7"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/31fc4ea2bb884e8bb31640205347b6b3"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/533abe5f6bd54735a95b9ea7977ddb2c"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/a3cc80b6e1c54933ac27147e1a4644b2"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/7e1a99a9a3444f1689d1ef26a3eb2877"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/a278a087fa9447c3a4bc22981278a2c5"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/45b26b5070ca46b4a6c396884565f36e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/75b1892abf504134bbbe3640d0f20294",
        "settingsUdi": "umb://element/0618dd0e61eb42f689ec7accf664fe65"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/846f417783744e6ab04415cb86d95898"
    },
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/b19f41040bbf487882960a7080be4d64",
      "video": "[\r\n  {\r\n    \"key\": \"35f35e53-35c0-4f0a-9b99-1e061eafc802\",\r\n    \"mediaKey\": \"b72850c9-64bd-4db8-98a0-0042d64f3e4e\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/0e6d807642ba4efaba41429c8571236d",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/f25b5e6655254ef58455e945951b4d40",
      "locationImage": "[\"Сверху\"]",
      "gorizontalImgAlign": "[\"По центру\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b89bf95d-735e-4dc8-9963-29dda14d4e42\",\r\n    \"mediaKey\": \"4740e924-0202-4da1-8a68-0e94c2e5c475\"\r\n  }\r\n]",
      "sizeFoto": "30",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\"><a href=\"https://maxima-logistic.ru/\">Car rental</a></p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/c6f823c18639452faca85548944ccd1e",
      "locationImage": "[\"Сверху\"]",
      "gorizontalImgAlign": "[\"По центру\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b89bf95d-735e-4dc8-9963-29dda14d4e42\",\r\n    \"mediaKey\": \"8c27e525-6f23-4c21-a47c-17f6d8c2da05\"\r\n  }\r\n]",
      "sizeFoto": "30",
      "edFoto": "%",
      "richText": "<p style=\"text-align: center;\"><a href=\"https://maxima-logistic.ru/\">Dislocation of wagons</a></p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/3533b672c72a4cb794adad52920819a3"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/cece029bdccb4804a206aa6903a0ff8d",
      "headline": "Services"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7056a011a25b45198dbca9b28623d124",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Аренда подвижного состава\",\"udi\":\"umb://document/982710573c2148f9954c74a8f1abddb6\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"c491c492-9458-43fa-84da-caa7296af1c9\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(213, 186, 119, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h3 style=\"text-align: center;\">RENT<br>MOBILE<br>COMPOSITION</h3>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/2e1d40a7a65149bba2dfed5b6cc7b979",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Мультимодальные перевозки\",\"udi\":\"umb://document/36c28abc1e934bd795545ad55544aa5f\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"3ddd9bb8-1da3-48fa-9060-0772db7912df\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(153, 112, 115, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h3 style=\"text-align: center;\">MULTIMODAL<br>TRANSPORTATION</h3>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/50080056ac17442b96571cf80bffb67e",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Транспортно-экспедиционное обслуживание\",\"udi\":\"umb://document/416b0e62bcba4ac3bf27c624cf8b9805\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"8efd0bc4-2bb4-42e0-93ac-645d5c34317e\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(142, 155, 114, 0.75)",
      "gorizontalAlign": "[\"По правому краю\"]",
      "richText": "<h3 style=\"text-align: center;\">TRANSPORT-<br>EXPEDITION<br>SERVICE</h3>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7b1d1cadb07b49dc8dcc3b79c02eaac2",
      "verticalAlign": "[\"По центру\"]",
      "linkUrl": "[{\"name\":\"Оплата ж/д тарифов\",\"udi\":\"umb://document/68083f38855749f7a0eda7de8b3be9db\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"c6965707-f6f6-4fbc-9cb9-188cd82841b3\",\r\n    \"mediaKey\": \"a5051c65-9dcd-4ec6-89ba-a20e2ec9d301\"\r\n  }\r\n]",
      "cropCard": "[\"Авто\"]",
      "billetWidth": "50",
      "billetHeight": "100",
      "billetColor": "rgba(87, 120, 146, 0.75)",
      "gorizontalAlign": "[\"По левому краю\"]",
      "richText": "<h3 style=\"text-align: center;\">PAYMENT OF RAILWAY TARIFFS</h3>",
      "isButton": "0"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/3868356f683e4f61a7b1653eb4959f45"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4dee214b5bbd475f867ba9676179f0dd",
      "richText": "<h2 style=\"text-align: center;\">The company's fleet consists<br>of more than 10,000 wagons:</h2>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/c262220b364f44cea8bc7c628de7ad21",
      "verticalAlign": "",
      "gorizontalAlign": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/c58a0b2c0ce04a35a4bf481f975165d1",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/8c75b7465c2742478b27b26822b209d7",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4f3d39ae-79e3-46a0-9acc-5c448890d95e\",\r\n    \"mediaKey\": \"a83090e2-4db1-456c-8255-87537a02b66f\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"blue red\">2000</span></h3>\n<p style=\"text-align: center;\">covered wagons</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/353aa379070849148a7b0b84f724c9bf",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"7ba12fa4-3027-47e1-a27d-23ad316a1872\",\r\n    \"mediaKey\": \"adc665d2-3516-4962-a690-c781565ae14d\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">1700</span></h3>\n<p style=\"text-align: center;\">fitting platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/172d3228e52448839d09b690606cc8cb",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"250f0600-1c9c-4ed3-bc6a-0a2bf59e2f4a\",\r\n    \"mediaKey\": \"82b6a269-f3a9-48c7-ad7a-7228f8413464\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2200</span></h3>\n<p style=\"text-align: center;\">universal platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/138d1d22e48c4e4ca50c47514b0e51e0",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"9175e704-38bf-4ae4-896c-de67a4154253\",\r\n    \"mediaKey\": \"111bdc20-e61c-423c-ac9b-e282f61c4d1d\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2400</span></h3>\n<p style=\"text-align: center;\">grain wagons</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/86b6e68665c747c8b8ceeb1fa80e167a",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"8fe82122-53a4-42f9-a196-c111a6234e43\",\r\n    \"mediaKey\": \"9dd48ca1-ff88-4cdf-8419-37678dc795d9\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2500</span></h3>\n<p style=\"text-align: center;\">logging platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/a659c6002bb44f17b8ec59091f2efef7"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/d70cb3fb912749a7ad65736b909cb0d7",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"NewsItemMacros\" />\n<p> </p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/51d248a1796f4ffeb4adea31c2713762"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/a2d356c5e3a049dbb2043a6db3b0e182",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/8b170f5173ac4f47b761e4a5f29360c4",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"white\">OUR GEOGRAPHY</span></h3>\n<div class=\"our-geography\" style=\"text-align: center;\"><span class=\"white\">All Russia, CIS and Baltic countries</span></div>"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/030494a26358473fbb67832a7894c679",
      "gorizontalAlign": "[\"По центру\"]",
      "edImg": "%",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"92a60770-c5f2-4a70-9f61-a8096b319c34\",\r\n    \"mediaKey\": \"369eb7bc-9347-44c3-bef1-e624ae0e2c6b\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "80"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/87e8552765604c7592b9e2a06bb0ec73",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/01e90517e87b4f25b96cc1db3721b7a7",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"white\">ЗАКАЗАТЬ</span><br><span class=\"white\">ОБРАТНЫЙ ЗВОНОК</span></h3>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/b7c5b6d4328149e3aae2fa577f561d32",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"CallMacro\" />\n<p> </p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/75b1892abf504134bbbe3640d0f20294"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/8d40926a25dd427485772565a1222f9e",
      "headline": "Our partners"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/d7c2a1a3aacf489babe3a09c9b393ab6",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"52095982-7a47-44c7-a72d-70d417e07396\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/66d430a2d610417aa54f7f930f34b934",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"9364c42d-476f-46a5-8dc5-c3134051d79a\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/6fef0ed45a134daa981b3ddfa38e3a54",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"61ba87f3-3ba8-448b-9951-cda41b460b08\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/90cfa4ff017d438088e2fb13d5fdbeaf",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"9faf60c3-fbc2-4901-a025-6a35843e0c0e\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/72daceac428c46589d9beff1a012e054",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"56dafd5a-a985-4d05-ac5e-798ddc1d48c2\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a5535c2fbcff42ab86872494c3a2333a",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"944dbc32-ebc6-4759-a8b0-31e6f47eeca2\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/8a1f87ab806c44cfb2a85e2bb810d08d",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"cd9637c9-235c-456a-b367-f4375cf7e7ee\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/b4564b75d8a144c9b59a5e0cd88bba5a",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"181a476b-e5ec-4a7c-81a4-aecf7a44bf2d\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/8d40f1e0091642cb986a9878f1b1cbd9",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"8564fca2-0ed8-4673-bda0-50c1345e5bf2\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/c13a23a233b44d5e8ca18cb3a9fca0e7",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"b99abf58-1a7d-40f9-b7bc-c4181c9c0757\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/c19133b67c674da0aa99c0eb2255bd59",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"2402540c-78d3-4073-8518-a3cda22e71a6\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/d454140ff4634ee090cc48e37d67de6b",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"6b0e7590-337c-4174-9735-dc6f348d5670\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/59e50b30a31648ea91e9dee913c38948",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"bf79b86f-d22e-4450-8121-7f461da41f13\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/fa30103599e5457b9ffd7cc4e3ffcee7",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"ce78cc14-7b14-4583-abc3-8a44d7eff330\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/31fc4ea2bb884e8bb31640205347b6b3",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"08b50f93-85ae-47ea-a993-ea83eb1b79e5\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/533abe5f6bd54735a95b9ea7977ddb2c",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"26849aa7-5cd7-400d-8ef8-b6ccf817f42e\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a3cc80b6e1c54933ac27147e1a4644b2",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"e100cdb1-dc8d-45f6-ac5f-79cf830e3327\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/7e1a99a9a3444f1689d1ef26a3eb2877",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"c9279c41-0fd7-49da-a604-f28fe6afbf7c\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a278a087fa9447c3a4bc22981278a2c5",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"8e639570-2823-4cbc-85f6-759a951f1f96\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/45b26b5070ca46b4a6c396884565f36e",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"5d7df15e-242b-4bca-a410-9dc4ceceff57\",\r\n    \"mediaKey\": \"6e1ef716-3d37-4be4-9caa-2ca2cdef6c2a\"\r\n  }\r\n]",
      "crop": "",
      "transform": "",
      "gorizontalAlign": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/36d544490b5542c2af73d7a3aa9c38c2"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a9317b5ee0ce4f5cbd0f8834cd6b1d96"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/fd5c7bf57af2483b9dd8763d3b76a93a",
      "imagePositionY": "[\"По центру\"]",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"c92b46b7-60fb-49e7-80ff-5320b2e66a7c\",\r\n    \"mediaKey\": \"d22f87cd-e624-4682-bd67-0f3da03388b7\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/86437e62b3b044dba4dc6297365fbda1"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0c10bdef9c0d46f1b6a0634ff7576c85"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/02fafa0b55374d718c4b7bf2b6fbae83"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b31dc51fe85d41ddbad9bbf81456fcdc",
      "imagePositionX": "",
      "imagePositionY": "",
      "photoDisplay": "0",
      "backgroundColor": "{\r\n  \"value\": \"7c9aae\",\r\n  \"label\": \"7c9aae\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"12\"\r\n}",
      "backgroundImage": "[]",
      "imageRepeat": "",
      "imageTransform": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/143917f1469f4536b9b0645841d18003"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b5e349c4fb524b979e8656b058242fd4",
      "imagePositionX": "",
      "imagePositionY": "",
      "photoDisplay": "0",
      "backgroundColor": "{\r\n  \"value\": \"7c9aae\",\r\n  \"label\": \"7c9aae\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"12\"\r\n}",
      "backgroundImage": "[]",
      "imageRepeat": "",
      "imageTransform": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/dc9b8a4cc9d9440d9efb0ebea3776c37",
      "imagePositionX": "[\"По правому краю\"]",
      "imagePositionY": "",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"d3570620-2495-4331-86b2-6d7bb146cbca\",\r\n    \"mediaKey\": \"e75f374d-af45-481c-9b89-19cea5cbd24c\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "sizeBackground": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0618dd0e61eb42f689ec7accf664fe65"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <iconButtonLK>
      <Value><![CDATA[[]]]></Value>
    </iconButtonLK>
    <iconSearch>
      <Value><![CDATA[[]]]></Value>
    </iconSearch>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <textButtonLK>
      <Value Culture="en-us"><![CDATA[Personal]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </textButtonLK>
  </Properties>
</Content>