<?xml version="1.0" encoding="utf-8"?>
<Content Key="17f5a304-c992-48ff-a1d5-1d88328bc5e4" Alias="Группа Компаний МАКСИМУМ расширяет своё сотрудничество с ОАО &quot;СОБИНБАНК&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GruppaKompaniiMAKSIMUMRasshiryaetSvoeSotrudnichestvoSOAOSOBINBANK</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:14</CreateDate>
    <NodeName Default="Группа Компаний МАКСИМУМ расширяет своё сотрудничество с ОАО &quot;СОБИНБАНК&quot;.">
      <Name Culture="ru">Группа Компаний МАКСИМУМ расширяет своё сотрудничество с ОАО "СОБИНБАНК".</Name>
    </NodeName>
    <SortOrder>111</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-04-11T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В рамках продолжающегося успешного сотрудничества с ОАО "СОБИНБАНК" состоялось подписание  кредитного соглашения с ООО "ТопАктив", входящая в состав Группы компаний МАКСИМУМ.  Лимит кредитования  40 млн. рублей, срок кредитования 36 месяцев.
Привлеченные средства в рамках данного кредитного соглашения будут направлены на развитие Компании - приобретение   подвижного состава (вагоны-хопперы) производства ОАО «Рузхиммаш».






 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Группа Компаний МАКСИМУМ расширяет своё сотрудничество с ОАО "СОБИНБАНК".]]></Value>
    </newsTitle>
  </Properties>
</Content>