<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b815bb7-0295-4b18-a146-bf2a51a8ff1c" Alias="Живучий контейнерный сервис." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ZhivuchiiKonteinernyiServis</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:00</CreateDate>
    <NodeName Default="Живучий контейнерный сервис.">
      <Name Culture="ru">Живучий контейнерный сервис.</Name>
    </NodeName>
    <SortOrder>90</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-03-31T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Первый квартал 2015 года выдался очень непростым для контейнерных перевозок. Резкое сокращение импорта (до 40 %, в денежной оценке), произошедшее вследствие девальвации рубля, привело к автоматическому сокращению объёмов контейнерных перевозок. Сократилось прибытие в Россию зарубежных морских контейнеров с импортными товарами, и в результате образовался острый дефицит контейнерного оборудования для обеспечения экспортных перевозок. Пострадали и внутрироссийские контейнерные маршруты, опять же из-за нехватки контейнерной тары. Наши ожидания на I квартал нынешнего года были более чем пессимистичными. 



Однако, благодаря слаженной работе коммерческого и технического департаментов, действительность превзошла наши робкие надежды. Совместно с партнерами ООО «Саско Навигатор» и ООО «Экодор» нам удалось сохранить регулярность отправок контейнерных поездов по ключевым нашим направлениям: Москва – Владивосток – Москва и Москва – Красноярск. Наши клиенты оценили точную отправку поездов по расписанию, отличное техническое состояние платформ и гибкую ценовую политику. В результате, на фоне сокращения объёмов перевозок у основных конкурентов, наши контейнерные сервисы оказались востребованными и загруженными работой. До конца 2014 года наполняемость поездов еженедельно составляла 70-80% от провозной способности. Уже в феврале 2015 г. этот показатель продемонстрировал  положительную динамику, а в марте заполнение сервиса составило 90-100%!



С начала запуска контейнерного поезда Москва-Владивосток-Москва (октябрь 2014 г.) наша компания снабдила данный сервис собственными 80футовыми платформами в количестве более 150 ед. Мы рассчитываем к лету 2015 года расширить своё присутствие на маршруте Москва – Дальний Восток до 250 контейнерных платформ при постепенно растущей доходности.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Живучий контейнерный сервис.]]></Value>
    </newsTitle>
  </Properties>
</Content>