<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f7f6bbc-6372-40f5-acf8-3fc20927fbcd" Alias="Замыкая круг " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ZamykayaKrug</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:39</CreateDate>
    <NodeName Default="Замыкая круг ">
      <Name Culture="ru">Замыкая круг </Name>
    </NodeName>
    <SortOrder>51</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-07-26T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ГК «Максимум совершила очередную небольшую, но очень продуктивную с клиентской точки зрения победу в области контейнерных  ж/д перевозок – в конце июня состоялась отправка первого поезда из Красноярска (ж.д. ст. Базаиха, терминал БЛТК) во Владивосток (ж.д. ст. Мыс Чуркин, терминал ВМКТ). Обновлённый сервис является логичным продолжением сервиса Москва – Красноярск и замыкает маршрут Москва – Красноярск – Владивосток – Москва. Теперь, благодаря сокращению срока доставки на плече Красноярск – Владивосток, мы сможем существенно  увеличить частоту отправки контейнерных поездов в указанном направлении.

Реализация этого важного проекта происходила в тесном сотрудничестве с терминалом  БЛТК, которому, благодаря своему высокому профессионализму, удалось прийти к взаимному соглашению с красноярскими клиентами-экспедиторами и консолидировать все их грузопотоки в формат контейнерного поезда. К слову, ранее все отправки с ж/д станций Красноярска осуществлялись исключительно формате повагонных отправок.  

Подводя итоги данного события, можно вкратце обозначить  основные плюсы для обеих сторон: 

•    Для владельцев и операторов вагонов: 
- в первую очередь, более  удобный  и экономически выгодный сервис, позволяющий отправлять грузы по обновлённому маршруту
- выровнялся экономический баланс  ж/д платформ 
- стал доступен контроль и управление системой  вагонообразования 

•    Для клиентов и грузовладельцев: 
- сокращение сроков доставки грузов на 30% 
- более выгодные ценовые условия в сравнении с повагонными отправками (до 20%)

В дальнейшем ГК «Максимум» также намерена прикладывать все возможные усилия для того, чтобы разработать и наладить новые, удобные и полезные для всех игроков маршруты в области ж/д перевозок. 



]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Замыкая круг ]]></Value>
    </newsTitle>
  </Properties>
</Content>