<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ff1121f-d4f6-4cbd-b550-e7d1ea893ddb" Alias="ИНФОРМАЦИОННАЯ СИСТЕМА &quot;МАКСАПТА&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/INFORMAFIONNAYaSISTEMAMAKSAPTA</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:51</CreateDate>
    <NodeName Default="ИНФОРМАЦИОННАЯ СИСТЕМА &quot;МАКСАПТА&quot;">
      <Name Culture="ru">ИНФОРМАЦИОННАЯ СИСТЕМА "МАКСАПТА"</Name>
    </NodeName>
    <SortOrder>74</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-02-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[

	 В группе компаний "Максимум" завершен основной этап разработки и тестирования инновационной информационной системы "МаксАпта»,  


	 предназначенной для управления компанией-оператором подвижного состава. По результатам тестирования, система успешно переведена в промышленную эксплуатацию. 


	 При разработке информационной системы было придумано и реализовано несколько инновационных "ноу-хау", 


	 благодаря которым, информационная система "МаксАпта" на порядок обходит программы подобного рода по эффективности для бизнеса, функциональности, качеству, удобству. 


	 Группа Максимум приняла решение зарегистрировать свои авторские права на данный продукт и получить соответствующие патенты в РосПатенте.





	 Подробнее о данном продукте вы можете прочитать здесь.










 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ИНФОРМАЦИОННАЯ СИСТЕМА "МАКСАПТА"]]></Value>
    </newsTitle>
  </Properties>
</Content>