<?xml version="1.0" encoding="utf-8"?>
<Content Key="5663b49f-c099-429d-be9a-59e5f281e648" Alias="К проекту железнодорожных грузоперевозок в обход России присоединились Литва и Белорусь" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KProektuZheleznodorozhnykhGruzoperevozokVObkhodRossiiPrisoedinilisLitvaIBelorus</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:52</CreateDate>
    <NodeName Default="К проекту железнодорожных грузоперевозок в обход России присоединились Литва и Белорусь">
      <Name Culture="ru">К проекту железнодорожных грузоперевозок в обход России присоединились Литва и Белорусь</Name>
    </NodeName>
    <SortOrder>75</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-02-04T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/70afbfc9b966439ca93bd66e011cdadc]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Отраслевые"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Новость сообщил премьер-министр Арсений Яценюк в ходе совещания в украинской железнодорожной компании «Укрзализныця». Таким образом, Литва станет первой страной — членом Евросоюза, которая присоединится к железнодорожному маршруту, идущему в обход России. Белорусь, хоть и не участвовала в подписании меморандума, также к ним присоединится, поскольку уже участвует в проекте «Викинг», пишет Газета.ру. Речь идет о поезде комбинированного транспорта «Викинг», который проходит по территории Литвы, Украины и Белоруси.

Поезд начал курсировать на регулярной основе в 2003 году. Он является совместным проектом железных дорог Литвы, Украины и Белоруси, стивидорных компаний (компании, связанные с погрузочно-разгрузочными работами) и портов Клайпеда, Ильичевск и Одесса. Общая протяженность маршрута Драугисте (Литва) — Минск (Белорусь) — Ильичевск (Украина) составляет 1,766 тыс. км. Объем грузоперевозок «Викинга» колеблется от 2 тыс. до 5 тыс. контейнеров в год. За восемь месяцев 2015 года объем перевозок составил 3,92 тыс. контейнеров.

Обсуждение возможных путей грузоперевозок из Азии в Центральную Азию и Европу «в обход России» активизировалось в прошлом году, хотя сам транскаспийский маршрут, носящий название «Шелковый ветер», был разработан еще в конце 2012 года.                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[К проекту железнодорожных грузоперевозок в обход России присоединились Литва и Белорусь]]></Value>
    </newsTitle>
  </Properties>
</Content>