<?xml version="1.0" encoding="utf-8"?>
<Content Key="81ee0cdd-ecb3-4187-b7d4-ac525dfdf163" Alias="Карьера в компании" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/KarEraVKompanii</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T21:58:52</CreateDate>
    <NodeName Default="Карьера в компании">
      <Name Culture="en-us">Career</Name>
      <Name Culture="ru">Карьера в компании</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4b430f459e8a4a7c9a47384dba0a0c1d"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 9,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/cea55cdc866e49fe9305894bf47a7853"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/58e1a14d55694a5c9d8befa45aa943ae",
                        "settingsUdi": "umb://element/f1d3abf51b564a1da6de60dca8c0a00d"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/a59eff0596354240a5c652efef62293b"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/803612f2b7664e1b92d544f2011f33da",
                        "settingsUdi": "umb://element/1866d12ec59042b6aee4495be0a17b61"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/3efeb8721c4b4520a09eb7d55096d87e",
                "settingsUdi": "umb://element/9df263ebdcab4fcda51fabbdb917c80c"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/7aa0f34386794fc998f011bae8838d35"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8dccecbe27a34cb8bf8785048a28f7ed",
        "settingsUdi": "umb://element/7b6406817e4d4a819b30dbc4e98416e1"
      },
      {
        "contentUdi": "umb://element/b0632fbee4d04d8a93e726097f941b49",
        "settingsUdi": "umb://element/66b5e5dd8047438f9791e1bb3a7bf8e1",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/f65951adc3ed4f8593a0a32db1b4f615",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/b0632fbee4d04d8a93e726097f941b49",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/f65951adc3ed4f8593a0a32db1b4f615",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"CareerMacro\" />\n<p> </p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/8dccecbe27a34cb8bf8785048a28f7ed",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/3efeb8721c4b4520a09eb7d55096d87e",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/4b430f459e8a4a7c9a47384dba0a0c1d",
      "headline": "Career in the company"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/58e1a14d55694a5c9d8befa45aa943ae",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/cea55cdc866e49fe9305894bf47a7853",
      "richText": "<h4 class=\"jobs-open\">Open vacancies</h4>\n<p>Specialist in the technical Department</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/803612f2b7664e1b92d544f2011f33da",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/a59eff0596354240a5c652efef62293b",
      "richText": "<h4 class=\"jobs-open mb-20\">Specialist in the technical Department</h4>\n<p>The company \"Maxima Logistics\" requires a technical specialist (repair of PS). Contact the head of the Technical Department Sabiryanov Yuri Robertovich 8 (926) 360-43-18; sabiryanovyr@ecolinе-zd.ru</p>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/7aa0f34386794fc998f011bae8838d35",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"CareerMacro\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/66b5e5dd8047438f9791e1bb3a7bf8e1"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7b6406817e4d4a819b30dbc4e98416e1",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"3c98cd53-3a2d-4d0a-975f-8f7489a215a0\",\r\n    \"mediaKey\": \"a845cfeb-737c-422d-acd6-d5647831ae4c\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/9df263ebdcab4fcda51fabbdb917c80c"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/f1d3abf51b564a1da6de60dca8c0a00d"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/1866d12ec59042b6aee4495be0a17b61"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f51fbeed0cf7470cb164d3f2fb66b828",
        "settingsUdi": "umb://element/1dbac46229164ba299a7ed83395458df",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/62216fdf2c8d4be4b993e25332b8a83c",
                "settingsUdi": "umb://element/c5fa0d0460a94e83932cbb15d2eb868b",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/9f04af312d564d5f9afe28ce29d505f8",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/a220980924b64a95aed712533974fbd4",
                        "settingsUdi": "umb://element/613983b39592440aa03f5aa4fa1911d9",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/e3c218638f0e425c95d1bf1df8a1c947",
                                "areas": [],
                                "columnSpan": 9,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/a95afa4dd8dd4e9585d0abf211d872d3",
                        "settingsUdi": "umb://element/c0d606f257dc4e9487fa876ea4d64666",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/53a7a0e18c77477ca3a93afa96f99cd3",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9ac031edd616405ea67696ce52ddc06d",
        "settingsUdi": "umb://element/b373ecef95794f68a8472103be4f0bce",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/1494c87912c840f499084239c82ebaef",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f51fbeed0cf7470cb164d3f2fb66b828",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/9f04af312d564d5f9afe28ce29d505f8",
      "headline": "Карьера в компании"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/62216fdf2c8d4be4b993e25332b8a83c",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/a220980924b64a95aed712533974fbd4",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e3c218638f0e425c95d1bf1df8a1c947",
      "richText": "<h4 class=\"jobs-open\">Открытые вакансии</h4>\n<p>Специалист в технический департамент</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/a95afa4dd8dd4e9585d0abf211d872d3",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/53a7a0e18c77477ca3a93afa96f99cd3",
      "richText": "<h4 class=\"jobs-open mb-20\">Специалист в технический департамент</h4>\n<p>В компанию \"Максима Логистик\" требуются технический специалист (ремонт ПС). Обращаться к руководителю Технического департамента Сабирянову Юрию Робертовичу 8 (926) 360-43-18; sabiryanovyr@ecolinе-zd.ru</p>"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/1494c87912c840f499084239c82ebaef",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"CareerMacro\" />\n<p> </p>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/9ac031edd616405ea67696ce52ddc06d",
      "class": "w802"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/1dbac46229164ba299a7ed83395458df",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"3c98cd53-3a2d-4d0a-975f-8f7489a215a0\",\r\n    \"mediaKey\": \"a845cfeb-737c-422d-acd6-d5647831ae4c\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c5fa0d0460a94e83932cbb15d2eb868b"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/613983b39592440aa03f5aa4fa1911d9"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c0d606f257dc4e9487fa876ea4d64666"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b373ecef95794f68a8472103be4f0bce"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "e863ee8a-c6cb-4d77-bb27-dade3a0273c0",
    "mediaKey": "c11d630d-fe44-4fcc-8a8f-83005ee0af35"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>