<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9e03bf0-c178-4123-9edb-5d431a9617e8" Alias="Компания «Максима Логистик», пополнила свой парк сотней новых 40футовых контейнеров." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KompaniyaMaksimaLogistikPopolnilaSvoiParkSotneiNovykh40futovykhKonteinerov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:08</CreateDate>
    <NodeName Default="Компания «Максима Логистик», пополнила свой парк сотней новых 40футовых контейнеров.">
      <Name Culture="ru">Компания «Максима Логистик», пополнила свой парк сотней новых 40футовых контейнеров.</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2021-09-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/8e125476040747b1a6cb82d6bfb94515]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Покупателем контейнерного оборудование, выпущенного в Китае, выступило ООО «Репетек», входящее в состав ГК «Максимум».

 Для ГК «Максимум» это первый опыт приобретения морских контейнеров в собственность. До настоящего момента потребности клиентов обслуживались с привлечением контейнеров, принадлежащих морским контейнерным линиям и крупнейшим международным экспедиторским компаниям. В совокупности под управлением ООО «Максима Логистик» находится свыше 3.000 40-футовых контейнеров, привлечённых на условиях «one way» и «round-trip», а также в аренду. 

 «Устойчивый дефицит контейнерного оборудования, наблюдаемый как на китайском, так и на российском рынке, подтолкнул нас к инвестициям в собственный контейнерный парк», - пояснил генеральный директор ООО «Максима Логистик» Фалин Николай Анатольевич.
 «Теперь, в дополнение к 2.000 ед. собственных 80-футовых платформ, мы будем управлять и парком собственных контейнеров.
 Кстати, ГК «Максимум» уже несколько лет является владельцем парка танк-контейнеров, обсуждаются инвестиции в рефрижераторные контейнеры.»

 Собственные контейнеры ГК «Максимум» будут направлены на обслуживание экспортных потоков ключевых клиентов из отраслей целлюлозно-бумажной и деревообрабатывающей промышленности. На импортном плече, из Китая обратно в Россию, распоряжаться этим оборудованием будет ООО «МаксКонтейнер», который ежемесячно организует отправку 15 контейнерных поездов из различных провинций Китая, через пограничный переход Эрлянь – Замын-Ууд. 

 В 2022 году ГК «Максимум» планирует продолжить приобретение собственных контейнеров, пользуясь сотрудничеством с ведущими российскими банками и лизинговыми компаниями.  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Компания «Максима Логистик», пополнила свой парк сотней новых 40футовых контейнеров.]]></Value>
    </newsTitle>
  </Properties>
</Content>