<?xml version="1.0" encoding="utf-8"?>
<Content Key="49e6cdcf-49a2-495a-8cab-de27e35de543" Alias="Компания" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Kompaniya</Path>
    <Trashed Parent="08808991-8425-4698-946d-f30817549618">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T18:59:43</CreateDate>
    <NodeName Default="Компания">
      <Name Culture="en-us">Company</Name>
      <Name Culture="ru">Компания</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[]]]></Value>
    </icoNav>
  </Properties>
</Content>