<?xml version="1.0" encoding="utf-8"?>
<Content Key="7afd90fc-6a39-4569-b4d8-2a42ba557adb" Alias="Контактная информация" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/KontaktnayaInformafiya</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:02:14</CreateDate>
    <NodeName Default="Контактная информация">
      <Name Culture="en-us">contacts</Name>
      <Name Culture="ru">Контактная информация</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/068b6d9684bd46708aa83479b5749b2c"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3c77b9ad65ac494bba0cc2ba57114c5e"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/075acba644d744e58afb514419efeebd",
                "settingsUdi": "umb://element/3192d94e56e5452ab00f6890933e8053"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ffb5370c7ae34744bc6cd345b2d7899b",
        "settingsUdi": "umb://element/50625f2347a2433981f49e626de8db1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/ffb5370c7ae34744bc6cd345b2d7899b",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/075acba644d744e58afb514419efeebd",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/068b6d9684bd46708aa83479b5749b2c",
      "headline": "Contact information"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/3c77b9ad65ac494bba0cc2ba57114c5e",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"ContactMacros\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/50625f2347a2433981f49e626de8db1a",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"002ded49-53cb-4ab3-a481-dba2d2e236c0\",\r\n    \"mediaKey\": \"27edff53-4330-4ba2-b273-1d1c20d3cd4f\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3192d94e56e5452ab00f6890933e8053"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bb42f62eda8b45ffac9a2160a9fcb386",
        "settingsUdi": "umb://element/4c34c81959f84c71b03df2416fa3c47e",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/65f7f29cfeb54b2b97c8a6f20626bf00",
                "settingsUdi": "umb://element/6ddb3a44a442473c9727b02aa156f458",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/530ba0faf436418f96746c2438d3f8ba",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/33f1f1802aa6426cbca16dd40d7f3466",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/bb42f62eda8b45ffac9a2160a9fcb386",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/530ba0faf436418f96746c2438d3f8ba",
      "headline": "Контактная информация"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/65f7f29cfeb54b2b97c8a6f20626bf00",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/33f1f1802aa6426cbca16dd40d7f3466",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"ContactMacros\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/4c34c81959f84c71b03df2416fa3c47e",
      "imagePositionX": "[\"По левому краю\"]",
      "imagePositionY": "[\"По верхнему краю\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"002ded49-53cb-4ab3-a481-dba2d2e236c0\",\r\n    \"mediaKey\": \"27edff53-4330-4ba2-b273-1d1c20d3cd4f\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/6ddb3a44a442473c9727b02aa156f458"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "9aad82f3-c2af-4249-bc19-05454ecb806a",
    "mediaKey": "ad1d06b8-063c-44b7-b0f9-28b34de69b77"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>