<?xml version="1.0" encoding="utf-8"?>
<Content Key="1028cb8c-3c83-4ea1-8319-48a545f8bec2" Alias="Крупнейший банк России вошел в состав кредиторов ГК &quot;МАКСИМУМ&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KrupneishiiBankRossiiVoshelVSostavKreditorovGKMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:33</CreateDate>
    <NodeName Default="Крупнейший банк России вошел в состав кредиторов ГК &quot;МАКСИМУМ&quot;">
      <Name Culture="ru">Крупнейший банк России вошел в состав кредиторов ГК "МАКСИМУМ"</Name>
    </NodeName>
    <SortOrder>39</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-01-15T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В декабре 2017 г. ООО «Максима Логистик» заключило первый долгосрочный кредитный договор с ПАО «Сбербанк России» в рамках одобренного на ГК «Максимум» общего лимита в объеме 1,3 млрд. руб. 

 Целевое назначение лимита – рефинансирование действующих кредитов Группы. Использование финансовых ресурсов и сервисов крупнейшего банка России позволяет Группе получить одни из лучший условий кредитования на рынке и тем самым существенно улучшить структуру своего кредитного портфеля. Помимо этого, доверие крупнейшего банка России несомненно является для Группы весомым имиджевым дивидендом и подтверждает амбиции ГК «МАКСИМУМ» занять лидирующие позиции среди экспедиторских компаний на рынке ж/д перевозок.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Крупнейший банк России вошел в состав кредиторов ГК "МАКСИМУМ"]]></Value>
    </newsTitle>
  </Properties>
</Content>