<?xml version="1.0" encoding="utf-8"?>
<Content Key="4498a786-078e-4471-a77f-7a38f0a29126" Alias="&quot;МАКСИМА ЛОГИСТИК&quot; в главном рейтинге ж/д операторов " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MAKSIMALOGISTIKVGlavnomReitingeZhdOperatorov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:39</CreateDate>
    <NodeName Default="&quot;МАКСИМА ЛОГИСТИК&quot; в главном рейтинге ж/д операторов ">
      <Name Culture="ru">"МАКСИМА ЛОГИСТИК" в главном рейтинге ж/д операторов </Name>
    </NodeName>
    <SortOrder>52</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-07-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Деловой «союзник» Группы компаний – журнал «РЖД-Партнёр» опубликовал актуальный рейтинг за 2016 год, состоящий из Топ-30 операторов, специализирующихся на ж/д перевозках. Учитывая прогноз в этом сегменте современного рынка, нельзя не подчеркнуть очевидный факт: доля профильных организаций в общем грузообороте растёт. Эта тенденция непрерывно прослеживается с 2015 года и, по мнению аналитиков, «шторм» успешно миновал. Обуславливается это, в первую очередь, итогами прошедшего 2016-го, которые рисуют нам неизменную картину рангового рейтинга операторов, расположенных на первых шести строчках. 
Учитывая анализ тенденций и предпосылки формирования рейтинга Info Line Rail Russia Top, ГК «Максимум» занимает свою заслуженную, твёрдую строчку практически во всех представленных номинациях, что нельзя не назвать экономическим прорывом. 
Итак, прослеживается положительная динамика в нижеуказанных рейтингах, предоставленных информационно-аналитическим агентством: 
•    В общем ранговом рейтинге операторов подвижного состава, по сравнению с 2015 годом, ГК «Максимум» поднялась на 2 места вверх, опередив ООО «УВЗ-Логистик;
•    По количеству вагонов в управлении за 2012-2016 гг. наша компания успешно поднялась на 7 позиций, опередив ООО «Балтсервис», ООО «Уралхим-Транс», ООО «ФосАгро-Транс», а также Группу «Трансгарант»; 
•    В рейтинге подвижного состава по величине парка в собственности, включая финансовый лизинг, ГК «Максимум» побила собственные показатели прошлого года, поднявшись вверх на 3 позиции; 
•    По объему грузовых перевозок прослеживается положительная динамика сразу на 7 строчек. Остались позади ООО «Уралхим-Транс» и ООО «УВЗ-Логистик»; 
•    По величине грузооборота в 2012-2016 гг. ГК «Максимум» также поднялась на 3 позиции, ненамного обогнав  ООО «Уралхим-Транс» и АО МХК «Еврохим». 
Таким образом, несмотря на все изменения прошлых лет, связанные с масштабным списанием парка подвижного состава и другими преобразованиями, стабильные игроки удерживают свои позиции, что говорит о своего рода «возрождении» рынка ж/д перевозок. ГК «Максимум», согласно общей сводке показателей, уверенно занимает своё место среди лидирующих компаний. При обзоре сформированного рейтинга стоит учитывать, что самые «высокие» позиции достались по большей части кэптивным организациям, входящим в структуру многопрофильных холдингов. Если бы данный рейтинг был бы сформирован без учёта кэптивов, то ГК «Максимум», по мнению большинства наших аналитиков, достойно поборолась бы за первую «двадцатку». 
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA["МАКСИМА ЛОГИСТИК" в главном рейтинге ж/д операторов ]]></Value>
    </newsTitle>
  </Properties>
</Content>