<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad493642-a2b0-4138-b71a-4964457e6c07" Alias="МАКСИМА ЛОГИСТИК ПОДВЕЛА ИТОГИ РАБОТЫ ЗА 1 КВАРТАЛ 2013 ГОДА" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MAKSIMALOGISTIKPODVELAITOGIRABOTYZA1KVARTAL2013GODA</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:28</CreateDate>
    <NodeName Default="МАКСИМА ЛОГИСТИК ПОДВЕЛА ИТОГИ РАБОТЫ ЗА 1 КВАРТАЛ 2013 ГОДА">
      <Name Culture="ru">МАКСИМА ЛОГИСТИК ПОДВЕЛА ИТОГИ РАБОТЫ ЗА 1 КВАРТАЛ 2013 ГОДА</Name>
    </NodeName>
    <SortOrder>136</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-04-30T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
По итогам 1 квартала 2013 г. численность парка грузовых вагонов под управлением  ООО "Максима-Логистик" превысила 2 300  вагонов. За последние 12 месяцев парк универсальных платформ "Максима Логистик" вырос более чем в 4 раза. 



В настоящее время наша компания  по численности парка и количеству постоянных клиентов занимает уверенное 3 место среди всех операторов универсальных платформ в России и СНГ.



Основной вклад в увеличение парка "Максима Логистик" внесла компания  "ТопЛайн", у которой "Максима Логистик" арендует более 30% своего парка универсальных платформ.   
Благодаря усилиям коммерческого  департамента были заключены стратегически  важные договора с такими крупными грузоотправителями как: Пензхиммаш, КТЗ "Промтрактор-Вагон","Курганхиммаш","Уралавтоприцеп" и многими другими.



Первый квартал 2013 года ознаменовался резким усилением позиций нашей группы компаний в сфере контейнерных перевозок. Помимо запуска в работу контейнерных терминалов, нам удалось в 4 (!) раза увеличить свой парк длиннобазных контейнерных платформ. Так, если в 4-м квартале 2012 года Максима Логистик  управляло в среднем 100 платформами, то к концу первого квартала 2013 года "Максима Логистик" оперировали уже 400 вагонами. 



С таким же темпом выросли показатели погрузки и грузооборота контейнерных грузов. Компания стала участником рынка мультимодальных контейнерных перевозок и экспедиторского сервиса. До конца текущего года мы ставим себе задачу увеличить свою долю на этом рынке как минимум в 2 раза.



Вместе с активным  ростом  подвижного состава расширяется и география деятельности компании. Уже сейчас "Максима Логистик"  осуществляет перевозки не только по России, но также в страны СНГ – Украину, Азербайджан, Казахстан, Узбекистан и пр.  Кроме того, активно развиваются филиалы во Владивостоке, Челябинске и Перми.



Итак, до конца года парк универсальных платформ превысит 2 300 единиц, а парк контейнерных платформ приблизится к 1 000 единиц. Всего под управлением "Максимы Логистик" будет находится до 3 000 единиц подвижного состава. Таким образом до конца года парк под управлением "Максима Логистик" удвоится, предоставляя все возможности для соответствующего роста клиентской базы и грузооборота.



 



 



 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[МАКСИМА ЛОГИСТИК ПОДВЕЛА ИТОГИ РАБОТЫ ЗА 1 КВАРТАЛ 2013 ГОДА]]></Value>
    </newsTitle>
  </Properties>
</Content>