<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6be1275-d61c-4da8-a04d-2208f2148811" Alias="Максима Логистик укрепляет партнерские отношения с Холдингом ИЛИМ" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MaksimaLogistikUkreplyaetPartnerskieOtnosheniyaSKholdingomILIM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:29</CreateDate>
    <NodeName Default="Максима Логистик укрепляет партнерские отношения с Холдингом ИЛИМ">
      <Name Culture="ru">Максима Логистик укрепляет партнерские отношения с Холдингом ИЛИМ</Name>
    </NodeName>
    <SortOrder>137</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-04-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО «Финтранс» (100% дочернее предприятие группы компании ИЛИМ) является надёжным  и многолетним партнёром ООО «Максима Логистик».



«Финтранс» арендует у «Максима Логистик» более 100 единиц подвижного состава, в том числе:  фитинговые платформы, универсальные платформы и платформы-лесовозы, заключается договор на передачу в аренду  300 крытых вагонов.



В тоже время «Максима Логистик»  оказывает услуги по перевозке контейнеров «Финтранса» по договору транспортно-экспедиторского обслуживания. Планируется, что в этом году сотрудничество двух компаний в данном направлении выйдет на уровень не менее 100 вагонов в месяц.



Во время совместного совещания руководства терминалов компаний «Финтранс» (г. Санкт-Петербург), «Альфа-Транс» (г. Челябинск) и «Бетта» (г. Пермь) были достигнуты следующие договоренности о взаимовыгодном сотрудничестве :
• о доставке грузов Группы Компаний ИЛИМ в контейнерах на контейнерные терминалы «Альфа-Транс» (г. Челябинск), «Бетта» (г. Пермь);
• о загрузке порожних контейнеров «Финтранс» попутным грузом на терминалах «Альфа-Транс» и «Бетта»; 
• о перетарке промышленных грузов из крытых вагонов в контейнеры на терминале «Восход» терминал «Финтранса» и отправке груженых контейнеров на терминалы «Альфа-Транс» и «Бетта»;
• об осуществлении подсыла платформ и контейнеров на контейнерные терминалы «Альфа-Транс» и «Бетта»  во избежание порожнего пробега.



Кроме того группа Илим планирует организовать свой дистрибуционный  центр  на базе терминала «Бетта» в Пермском крае, с использованием её логистических возможностей.



Таким образом по мере реализаций всех начинаний «Максима Логистик»  рассчитывает, что объем сотрудничества между «Максима Логистик»  и «Финтранс»  составит 25-30 миллионов рублей в месяц.



Справка: 
Группа «Илим» - лидер российской целлюлозно-бумажной промышленности по объемам выпуска продукции, финансовой устойчивости, уровню корпоративного управления и технологиям. В группу ИЛИМ входят такие компании как: ООО «Финтранс», Усть Илимский, Братский, Котласский целлюлозно-бумажные комбинаты, а также  ряд других деревообрабатывающих компаний. 
«Финтранс» - это 100 % дочернее предприятие Группы «Илим», которое оказывает логистические и транспортные услуги, осуществляет закупки для всех предприятий Группы "Илим". «Финтранс» имеет региональные филиалы и оказывает услуги для предприятий Группы «Илим».
Группа «Илим»  является самым крупным отправителем крытых вагонов и занимает   лидирующее место по отправке контейнеров. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Максима Логистик укрепляет партнерские отношения с Холдингом ИЛИМ]]></Value>
    </newsTitle>
  </Properties>
</Content>