<?xml version="1.0" encoding="utf-8"?>
<Content Key="5357e151-4d69-4fa3-a036-933a4018ec29" Alias="Мобильное приложение компании «МаксЭкспресс»" Level="3">
  <Info>
    <Parent Key="9b4aafe7-22d3-412d-a7be-d49d2f29eca5">Наши работы</Parent>
    <Path>/Home/NashiRaboty/MobilNoePrilozhenieKompaniiMaksEkspress</Path>
    <Trashed>false</Trashed>
    <ContentType>workItem</ContentType>
    <CreateDate>2024-03-13T19:13:41</CreateDate>
    <NodeName Default="Мобильное приложение компании «МаксЭкспресс»">
      <Name Culture="ru">Мобильное приложение компании «МаксЭкспресс»</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="dfb69cab-5b4c-49e9-83d0-b1df44b2b791">WorkItem</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value Culture="ru"><![CDATA[]]></Value>
    </bgColor>
    <bgImg>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "d59b95bc-af6e-477e-8f3e-000fd238330f",
    "mediaKey": "ac82ef35-0b20-46bb-9f11-032874cb6a2e"
  }
]]]></Value>
    </bgImg>
    <class>
      <Value Culture="ru"><![CDATA[wow fadeInLeft]]></Value>
    </class>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e87adaf9fcd540d3a723188b0f81ecc4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/625ade7c90fc40f5a460d465abae6dce",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8f7979177a914f6fad169dc4529c7c43",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cb4f16c10e8645eebf7824e6077004f7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/38e11df690484e63aab3c857f925bcfc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/614fc44a6eb44be09b25fff37f92b2a9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/54f4b6c2a1a345fcb2c6546be97a4520",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e79c03dd51b2402daf62fe7d72b04e75",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/e87adaf9fcd540d3a723188b0f81ecc4",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "0b656cbf-bdfc-4749-a41f-41d465f9c389",
          "mediaKey": "9a6f58e6-f9cd-409f-beed-7faa363f7da2"
        }
      ],
      "img1024": [
        {
          "key": "9444c2ff-5fb5-4573-a5a2-f80015a6563d",
          "mediaKey": "98657f77-11c9-47fb-bea6-a9715b8a9486"
        }
      ],
      "img650": [
        {
          "key": "db5c6786-2df3-47be-9b89-fdd1dd1d7581",
          "mediaKey": "4a0f4449-21ee-4a13-9492-9a3d4fd76fb4"
        }
      ],
      "img320": [
        {
          "key": "f21deda6-7b59-4fc4-a6b9-510a15865534",
          "mediaKey": "b6df1017-b1f2-4585-97a2-fe0fcde56278"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/625ade7c90fc40f5a460d465abae6dce",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "8c81ac26-ca69-476f-81d3-dd087a19b57a",
          "mediaKey": "a9293900-eca6-4057-887e-1437261ea3ae"
        }
      ],
      "img1024": [
        {
          "key": "8e8fb87d-78fe-41b4-8055-b47ef25f4837",
          "mediaKey": "d15433e9-0362-4a43-bd7d-5d3065f35185"
        }
      ],
      "img650": [
        {
          "key": "e408b600-7fb4-417c-8659-2da77d465b64",
          "mediaKey": "9fe9b8de-62c4-411e-9b73-63482bac5649"
        }
      ],
      "img320": [
        {
          "key": "f5a82779-d34c-4f03-b902-c8c4aab55bd5",
          "mediaKey": "2c3b6c2e-03f4-4eaf-8f5c-1cdaf6dc868b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/8f7979177a914f6fad169dc4529c7c43",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "f9935902-b993-4617-8b3c-e4c3f0b05d35",
          "mediaKey": "8eca271e-0308-4bcf-b717-8ce99ea0a960"
        }
      ],
      "img1024": [
        {
          "key": "24772821-1560-4f88-817d-4dbc4c8a6df9",
          "mediaKey": "48358db2-8037-4e61-96f4-1dfcf9f53b6f"
        }
      ],
      "img650": [
        {
          "key": "454bf616-9336-41de-be31-80bc03fc2e16",
          "mediaKey": "464e3024-5ff9-446a-bf67-95b024e52803"
        }
      ],
      "img320": [
        {
          "key": "d3f89342-954b-48c9-a7d4-80881a644d93",
          "mediaKey": "2c3b6c2e-03f4-4eaf-8f5c-1cdaf6dc868b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/cb4f16c10e8645eebf7824e6077004f7",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "f5dee81b-3968-49f5-a1dc-e4e1be8b37c2",
          "mediaKey": "bada6588-0c35-4ffc-a8fb-d6160d898f75"
        }
      ],
      "img1024": [
        {
          "key": "74dc55ab-9912-4835-ba70-f364c21e3e3d",
          "mediaKey": "0b072d88-c824-4bd3-ac1b-ec2142fce6fa"
        }
      ],
      "img650": [
        {
          "key": "16f89d28-c6db-4ca7-8687-1990c7e8fe99",
          "mediaKey": "6a53d4dd-e462-452c-abd7-6ee1c296fb85"
        }
      ],
      "img320": [
        {
          "key": "600270c7-1c8e-4161-aeca-d8e028a4b73a",
          "mediaKey": "891c1ec9-6728-4414-b2c3-da2fa4e87d70"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/38e11df690484e63aab3c857f925bcfc",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "67ac3c2e-b303-42d9-9078-9781377e9b81",
          "mediaKey": "3103aa75-38f1-481f-b198-5200c5e5225c"
        }
      ],
      "img1024": [
        {
          "key": "502d4eac-b781-4011-a96a-e89aee563545",
          "mediaKey": "4a49693b-f889-424c-b9fb-787b6be03fc5"
        }
      ],
      "img650": [
        {
          "key": "219d530c-4da1-4bed-97bf-c8011a7f4c67",
          "mediaKey": "c5856392-c7fe-428d-bc1f-2074d4422a5f"
        }
      ],
      "img320": [
        {
          "key": "5f343610-2e27-4258-ab76-43a85e140e54",
          "mediaKey": "06806eb8-db23-46dc-8f9e-b8033bbf724c"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/614fc44a6eb44be09b25fff37f92b2a9",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "fba55c52-f494-4fbc-8e24-d1879fa78077",
          "mediaKey": "0ccb300b-2fa8-4d92-83ce-91a696eb0dff"
        }
      ],
      "img1024": [
        {
          "key": "262f6805-c3cc-49f5-be32-9595b53b7344",
          "mediaKey": "c72ab238-ff60-4e2c-90aa-7528d171ace8"
        }
      ],
      "img650": [
        {
          "key": "60915fe4-5e85-41f9-8d7d-d4e66a98dcac",
          "mediaKey": "80ce4cfc-3b27-429c-affe-8aed36cc2812"
        }
      ],
      "img320": [
        {
          "key": "aaf51235-6616-4e47-aaf7-c21ac6647d81",
          "mediaKey": "ad2bfe20-e165-40c5-b97b-3a30ac6d80ed"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/54f4b6c2a1a345fcb2c6546be97a4520",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "4a355f37-1763-452d-8976-1af6a3977018",
          "mediaKey": "83934215-4e12-4f11-9397-035d0ae7e75e"
        }
      ],
      "img1024": [
        {
          "key": "a4bb8118-9659-4848-877d-07849e4a4f66",
          "mediaKey": "c97aa770-d7d4-4511-b1a8-3e2f9cd87eeb"
        }
      ],
      "img650": [
        {
          "key": "04799705-32a6-478e-9011-3e6c410da0c7",
          "mediaKey": "1e283a64-f498-4d34-be29-120cf614b043"
        }
      ],
      "img320": [
        {
          "key": "2e476755-d094-4697-a085-e3c8bbf14bd8",
          "mediaKey": "085e07bb-55b4-40de-bca5-5fb4aa8c71bc"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/e79c03dd51b2402daf62fe7d72b04e75",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "7e23a6fc-d2a7-4586-bf0d-32730dfc06cc",
          "mediaKey": "ef479f49-6f04-4bbc-a440-7174036f6b8d"
        }
      ],
      "img1024": [
        {
          "key": "db6ded76-a463-4b63-b127-be670be2f3d8",
          "mediaKey": "e44afdef-f31b-47df-8f78-83ce2136f63d"
        }
      ],
      "img650": [
        {
          "key": "26aee672-5069-4f40-9bc0-539bcf1d5059",
          "mediaKey": "d96819fb-8808-4dbb-9b19-b9576b07ec85"
        }
      ],
      "img320": [
        {
          "key": "5a07d9fa-7745-4175-b76f-e1423d74cdb3",
          "mediaKey": "ac7dc066-3b12-4831-b6bc-fe47ba0fe031"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <cropCard>
      <Value Culture="ru"><![CDATA[[
  "Авто"
]]]></Value>
    </cropCard>
    <description>
      <Value Culture="ru"><![CDATA[]]></Value>
    </description>
    <image>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "45a4fcfb-3fbe-4f7d-a689-bb7b6d147f14",
    "mediaKey": "21cebf60-a571-4809-8243-40787520801a"
  }
]]]></Value>
    </image>
    <keywords>
      <Value Culture="ru"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "03d525a1-e4a1-4583-bad7-d0bd93f9a947",
    "mediaKey": "352a81ba-ba71-47c1-a866-7ed258d5cd46"
  }
]]]></Value>
    </logo>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[E-MAX - Наши работы - Мобильное приложение компании «МаксЭкспресс»]]></Value>
    </title>
  </Properties>
</Content>