<?xml version="1.0" encoding="utf-8"?>
<Content Key="36c28abc-1e93-4bd7-9554-5ad55544aa5f" Alias="Мультимодальные перевозки" Level="103">
  <Info>
    <Parent Key="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">Услуги</Parent>
    <Path>/[-20]/Glavnaya/Uslugi/MulTimodalNyePerevozki</Path>
    <Trashed Parent="1a2c5d9e-454a-49da-9f06-0543f6c3bd39">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:12:35</CreateDate>
    <NodeName Default="Мультимодальные перевозки">
      <Name Culture="en-us">multimodal transportation</Name>
      <Name Culture="ru">Мультимодальные перевозки</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/28caa9e8323e4e67854a908fc42160b3"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d26e3a71d0b14a91982c47f6691827d9"
                      },
                      {
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/0ec3f21939c54bb9b337dc907a56c4a4"
                      },
                      {
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/6e601921c4834513b47dae1bd741122c"
                      },
                      {
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/78870b5f342344ffb821bac68d6a9797"
                      },
                      {
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/62d8ee0cdcb04003a6cfad9d04c07ef8"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4f8ba4c9217f4c9fa9fb27ab5d49a76d"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/3da74b2253174f61bddb639df1d91cc4",
                "settingsUdi": "umb://element/184438391c964737bb3463cf2a4d1a12"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/6622ff71b198484e85fd83963e195243",
        "settingsUdi": "umb://element/cb43159a272a4ad98de0e1f46f8ee36b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/6622ff71b198484e85fd83963e195243",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/3da74b2253174f61bddb639df1d91cc4",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/28caa9e8323e4e67854a908fc42160b3",
      "headline": "Multimodal transportation"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/d26e3a71d0b14a91982c47f6691827d9",
      "richText": "<p style=\"text-align: center;\">Multimodal transportation is a complex of logistics solutions involving the transportation of cargo by various modes of transport at different stages of the journey.</p>"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/0ec3f21939c54bb9b337dc907a56c4a4",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"fbeccf11-850c-4153-8a71-866c26fffd36\",\r\n    \"mediaKey\": \"ec584400-babb-42e8-b3f5-4697b1a0d09c\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/6e601921c4834513b47dae1bd741122c",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"6f5f8f38-1dec-4316-8320-eb5eafd7d757\",\r\n    \"mediaKey\": \"bd51aac9-afa7-45fa-82a9-a1c318952470\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/78870b5f342344ffb821bac68d6a9797",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"415cd4b8-d7eb-4b14-a50a-abf4e3c207a0\",\r\n    \"mediaKey\": \"a8158659-7841-479f-a375-407ace9418e8\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/62d8ee0cdcb04003a6cfad9d04c07ef8",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"9b74d619-b25e-4ec5-aaf8-07dff932aee1\",\r\n    \"mediaKey\": \"0dcf2d44-30e2-4899-abba-1beb13705159\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4f8ba4c9217f4c9fa9fb27ab5d49a76d",
      "richText": "<p style=\"text-align: center;\">The choice of vehicles is carried out on the basis of time and financial indicators in order to optimize monetary costs and achieve the greatest efficiency of delivery.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/cb43159a272a4ad98de0e1f46f8ee36b",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"f4918811-0b40-42ce-a999-02da3b99d5f7\",\r\n    \"mediaKey\": \"22317c36-f716-4e36-b40a-226adc46a0d4\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/184438391c964737bb3463cf2a4d1a12"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bfffd25ae9314561b541cc3f0417bdc5",
        "settingsUdi": "umb://element/67be3cdb40bf42dd90c2f21662f145cd",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/655e4bc4db7a47f2af45736ee3f43d87",
                "settingsUdi": "umb://element/b8670865c1ea4b839368c3a74274ebc3",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/7be50fd91675402e8acb1c321185fd34",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/ab822fe8744b4d10b0ebbb0ff27bbea6",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/635b23338d6741678c52ffb9ee231153",
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/6e963ee1ad2440eab7883d3fc851149a",
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/d6a335f48e5c4508b687f06c462d3b59",
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/3f77fb2952454f969869940993f032f2",
                        "areas": [],
                        "columnSpan": 3,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/9240c60abc6a42bc93ad653bf0b1880a",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/bfffd25ae9314561b541cc3f0417bdc5",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/7be50fd91675402e8acb1c321185fd34",
      "headline": "Мультимодальные перевозки"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/655e4bc4db7a47f2af45736ee3f43d87",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/ab822fe8744b4d10b0ebbb0ff27bbea6",
      "richText": "<p style=\"text-align: center;\">Мультимодальные перевозки представляют собой комплекс логистических решений, подразумевающий транспортировку груза различными видами транспорта на разных этапах пути.</p>"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/635b23338d6741678c52ffb9ee231153",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"fbeccf11-850c-4153-8a71-866c26fffd36\",\r\n    \"mediaKey\": \"ec584400-babb-42e8-b3f5-4697b1a0d09c\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/6e963ee1ad2440eab7883d3fc851149a",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"6f5f8f38-1dec-4316-8320-eb5eafd7d757\",\r\n    \"mediaKey\": \"bd51aac9-afa7-45fa-82a9-a1c318952470\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/d6a335f48e5c4508b687f06c462d3b59",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"415cd4b8-d7eb-4b14-a50a-abf4e3c207a0\",\r\n    \"mediaKey\": \"a8158659-7841-479f-a375-407ace9418e8\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/3f77fb2952454f969869940993f032f2",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"9b74d619-b25e-4ec5-aaf8-07dff932aee1\",\r\n    \"mediaKey\": \"0dcf2d44-30e2-4899-abba-1beb13705159\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/9240c60abc6a42bc93ad653bf0b1880a",
      "richText": "<p style=\"text-align: center;\">Выбор транспортных средств осуществляется на основе временных и финансовых показателей с целью оптимизации денежных затрат и достижения наибольшей оперативности доставки.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/67be3cdb40bf42dd90c2f21662f145cd",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"f4918811-0b40-42ce-a999-02da3b99d5f7\",\r\n    \"mediaKey\": \"22317c36-f716-4e36-b40a-226adc46a0d4\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b8670865c1ea4b839368c3a74274ebc3"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "9193dfaa-6808-4cef-a52f-682bf4e229b9",
    "mediaKey": "f0b543fe-3dd4-4e20-95dc-4fddba082db9"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>