<?xml version="1.0" encoding="utf-8"?>
<Content Key="04876987-c350-452a-a379-c5376e2d2c32" Alias="Награждение С.П.Б. К.Л.С. " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NagrazhdenieSPBKLS</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:05</CreateDate>
    <NodeName Default="Награждение С.П.Б. К.Л.С. ">
      <Name Culture="ru">Награждение С.П.Б. К.Л.С. </Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2022-12-08T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/e8aa42a2501b499d9a436f74169d55b1]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ФК «С.П.Б. К.Л.С.»
 Друзья! В минувшее воскресенье, состоялось награждение всех призеров чемпионата Санкт-Петербурга по футболу, наша команда была отмечена бронзовыми медалями за сезон 2022. Отрадно, что в год 125 летия футбола в России, С.П.Б. К.Л.С. не остались без награды, но этих медалей :бронзовая_медаль:не было бы без вас!

 Мы благодарим наших болельщиков за мегадостойную поддержку в течении всего чемпионата, наш клуб даже на выездных играх чувствовал себя как дома, это придавало силы и у нас однозначно был самый мощный 12 игрок во всей лиге!

 Говорим огромное спасибо за поддержку компании «Максима Логистик», безусловному топу в сфере железнодорожных грузовых перевозок. Если вам нужно, чтобы ваш груз по быстрому и деловому долетел по рельсам и шпалам до пункта назначения, то с этим однозначно к нашим друзьям!

 Очень признательны мы компании PARI, думаю столь авторитетная букмекерская контора в дополнительном представлении не нуждается, однако на всякий случай напоминаем, что если вы решили «запилить все на зеро», иными словами сделать ставку на какое-то спортивное событие, делать это нужно у наших, то есть в компании PARI.

 Естественно мы не забыли про нашего многолетнего друга, тем, кто как Прометей, несёт людям свет который год, компании «Маркет Света» , короче вы догадались, за светильниками токмо туда, тем кто за КЛС, там вмиг сделают скидку.

Ещё раз, всем спасибо и увидимся в следующем сезоне!                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Награждение С.П.Б. К.Л.С. ]]></Value>
    </newsTitle>
  </Properties>
</Content>