<?xml version="1.0" encoding="utf-8"?>
<Content Key="7870925a-608f-4a2a-967a-896a7ffa875c" Alias="Не останавливаясь на достигнутом." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NeOstanavlivayasNaDostignutom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:58</CreateDate>
    <NodeName Default="Не останавливаясь на достигнутом.">
      <Name Culture="ru">Не останавливаясь на достигнутом.</Name>
    </NodeName>
    <SortOrder>86</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-06-02T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Группа компаний  «Максимум» продолжает расширять свое присутствие на рынке контейнерных перевозок, путем увеличения парка 80 футовых фитинговых платформ.  Благодаря проведенным переговорам было подписано соглашение, по которому ГК «Максимум»  арендует у Группы Компаний «Рейл Гарант» платформы данного типа в количестве 273 ед., таким образом, общий парк ГК «Максимум» в оперирования вырастет до 1103 единиц. Данный факт существенно укрепит позиции Группы на данном направлении бизнеса. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Не останавливаясь на достигнутом.]]></Value>
    </newsTitle>
  </Properties>
</Content>