<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a66fa88-efa3-4cd1-854c-66f482b1400b" Alias="Новости партнёров. ООО &quot;ТопЛайн&quot; начала сотрудничество с членом банка системы Евросоюза." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovostiPartnerovOOOTopLainNachalaSotrudnichestvoSChlenomBankaSistemyEvrosoyuza</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:24</CreateDate>
    <NodeName Default="Новости партнёров. ООО &quot;ТопЛайн&quot; начала сотрудничество с членом банка системы Евросоюза.">
      <Name Culture="ru">Новости партнёров. ООО "ТопЛайн" начала сотрудничество с членом банка системы Евросоюза.</Name>
    </NodeName>
    <SortOrder>128</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-08-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
 ООО "ТопЛайн" заключило договор о предоставлении долгосрочного кредита с членом банка системы Евросоюза АО "Риетуму Банк" на сумму 6,2 миллионов долларов. 
  
  Кредитные средства пойдут на финансирование приобретения новых универсальных платформ производства ОАО "Алтайвагон" в количестве 125 единиц. Указанный выше подвижной состав будет передан ООО "ТопЛайн" в рамках действующих договоров в долгосрочную аренду ООО "Максима Логистик". 
  
 Успешное начало партнерских отношений с АО "Риетуму Банк" и открытие кредитной линии станет очередным шагом в реализации инвестиционной программы, направленной на запланированный рост парка универсальных платформ, что в свою очередь, является стратегическим направлением развития компании.  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новости партнёров. ООО "ТопЛайн" начала сотрудничество с членом банка системы Евросоюза.]]></Value>
    </newsTitle>
  </Properties>
</Content>