<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe878721-d7d6-40ca-8a26-f3198cac1528" Alias="Новости компаний Группы МАКСИМУМ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovostiKompaniiGruppyMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:16</CreateDate>
    <NodeName Default="Новости компаний Группы МАКСИМУМ.">
      <Name Culture="ru">Новости компаний Группы МАКСИМУМ.</Name>
    </NodeName>
    <SortOrder>115</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-02-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Одной из крупнейших компаний - собственников подвижного состава группы МАКСИМУМ является ООО «ТопЛайн». Компания была основана в 2010 году и проводит активную инвестиционную политику с приоритетом в наращивании собственного парка универсальных платформ. В 2013 году компанией было приобретено 370 единиц новых и 62 единицы производства 2008 года универсальных платформ модели 13-2114 ОАО «Алтайвагон».
 За 2013 г.  стоимость чистых активов компании превысила 1 млрд. рублей, которые были сформированы в том числе и за счет активного участия акционеров в увеличении уставного капитала Компании, в настоящее время УК компании составляет 130 млн. рублей.
Взвешенное отношение к формированию кредитной нагрузки позволило компании сохранить достаточно комфортное, относительно средних показателей по отрасли долговое плечо (долг к EBITDA менее 3) при отсутствии срочных  к погашению кредитов и займов.
В 2013 году силами Компании было создано дочернее предприятие ООО «ТопАктив» с уставным капиталом 6,5 млн.рублей. Стоимость чистых активов дочерней компании по состоянию на конец 2013 года – более 100 млн.рублей.
По состоянию на 31 декабря 2013 года общий парк обеих компаний составил более 700 вагонов. Основными приоритетными задачами в 2014 году для обеих компаний станут рост операционного парка, снижение долговой нагрузки и  улучшение достигнутых финансовых показателей.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новости компаний Группы МАКСИМУМ.]]></Value>
    </newsTitle>
  </Properties>
</Content>