<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd7e96e8-fdde-4dea-8800-e92039f6a5e7" Alias="Новости партнеров: открытие подъездных путей ООО &quot;Альфа&quot; на станции Челябинск-Главный ЮУЖД" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovostiPartnerovOtkrytiePodEzdnykhPuteiOOOAlFaNaStanfiiChelyabinskGlavnyiYuUZhD</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:25</CreateDate>
    <NodeName Default="Новости партнеров: открытие подъездных путей ООО &quot;Альфа&quot; на станции Челябинск-Главный ЮУЖД">
      <Name Culture="ru">Новости партнеров: открытие подъездных путей ООО "Альфа" на станции Челябинск-Главный ЮУЖД</Name>
    </NodeName>
    <SortOrder>130</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-07-23T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Федеральным агентством железнодорожного транспорта был издан приказ №267 об открытии железнодорожной станции Южно-Уральской железной дороги (филиал ОАО «РЖД») для выполнения ООО "Альфа" грузовых операций с контейнерами на станции Челябинск-Главный на погрузо-разгрузочном железнодорожном пути не общего пользования (полезная длина – 135 м., по параграфам 8Н и 10Н). 



Открытие подъездных путей ООО «Альфа» и наличие на терминале крупного стока контейнерного парка морских линий, позволяет ООО "Максима Логистик" при организации мультимодальных перевозок для ОАО "Сибур Холдинг", оперативно решать вопросы досыла вагонов и контейнеров по погрузку. Что, в свою очередь, обеспечивает дополнительное преимущество "Максима Логистик" в работе с одним из своих стратегических клиентов.  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новости партнеров: открытие подъездных путей ООО "Альфа" на станции Челябинск-Главный ЮУЖД]]></Value>
    </newsTitle>
  </Properties>
</Content>