<?xml version="1.0" encoding="utf-8"?>
<Content Key="46ccdd51-f97c-4986-859e-f5dc12b2ee9e" Alias="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с «Абсолют Банк» (ПАО)." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMaksimaLogistikRasshiryaetSotrudnichestvoSAbsolyutBankPAO</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:54</CreateDate>
    <NodeName Default="ООО &quot;Максима Логистик&quot; расширяет сотрудничество с «Абсолют Банк» (ПАО).">
      <Name Culture="ru">ООО "Максима Логистик" расширяет сотрудничество с «Абсолют Банк» (ПАО).</Name>
    </NodeName>
    <SortOrder>78</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-12-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В рамках продолжающегося успешного сотрудничества с «Абсолют Банком» (ПАО) состоялось подписание очередного кредитного соглашения с ООО "Максима Логистик".  Лимит кредитования по овердрафту увеличен до 70 млн. рублей.
Привлеченные средства будут направлены на пополнение оборотных средств для обеспечения текущей хозяйственной деятельности компании.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Максима Логистик" расширяет сотрудничество с «Абсолют Банк» (ПАО).]]></Value>
    </newsTitle>
  </Properties>
</Content>