<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0473dec-b4e2-42e2-ab8f-c8d283dee55d" Alias="ООО &quot;МАКСИМА ЛОГИСТИК&quot; ПОДВЕЛА ПРОИЗВОДСТВЕННЫЕ ИТОГИ 2014 ГОДА." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMAKSIMALOGISTIKPODVELAPROIZVODSTVENNYEITOGI2014GODA</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:00</CreateDate>
    <NodeName Default="ООО &quot;МАКСИМА ЛОГИСТИК&quot; ПОДВЕЛА ПРОИЗВОДСТВЕННЫЕ ИТОГИ 2014 ГОДА.">
      <Name Culture="ru">ООО "МАКСИМА ЛОГИСТИК" ПОДВЕЛА ПРОИЗВОДСТВЕННЫЕ ИТОГИ 2014 ГОДА.</Name>
    </NodeName>
    <SortOrder>89</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-04-21T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
По итогам 2014 года численность парка грузовых вагонов под управлением  ГК "МАКСИМУМ" подошла к отметке 5 600  вагонов. 



Парк подвижного состава в оперировании



За 2014 год произошло общее увеличение парка в оперативном управлении по Группе   до 4 287 вагонов. Прирост парка в оперативном управлении в основном произошел за счёт увеличения парка лесовозов, вагонов хопперов для перевозки зерна, универсальных платформ.



Коммерческая деятельность компании
Универсальные платформы


За  2014 года парк универсальных платформ увеличился на 400 единиц. ООО «Максима Логистик» в 2014 году сохранила уверенное 3-е место среди операторов универсальных платформ на территории РФ.
В сравнении с 2013 годом, объём перевозок в 2014 году вырос на 28%  и составил 12 399 отправок (566 135 тн.).
Укрепились позиции представительств ООО «Максима Логистик» на станциях Верещагино, Менделеево, Соликамск Свердловской железной дороги, заявленные объёмы превышали наличие вагонов в регионе. В связи с увеличением заявок от клиентов и дефицита парка в регионе, было принято решение закрывать 25-30% потребности привлеченным парком стороних собственников.
 ООО «Максима Логистик» вышла на новый уровень сотрудничества с ТК ЕВРАЗ, в сравнении с 2013 годом, когда среднемесячная заявка на погрузку составляла 100 вагонов, то во второй половине 2014 году составила 800-1000 единиц универсальных платформ(75% всей потребности двух комбинатов НТМК и ЗСМК). В данном проекте, для закрытия части объема, была так же применена практика   привлечения парка сторонних собственников: СЭТ, НОВОТРАНС и ЛитКол.


Фитинговые платформы: 


В сравнении с 2013 годом, объём перевезенных TEU’s в 2014 году вырос на 39%  и составил 36 078 TEU.
В 2014 году ООО «Максима Логистик» совместно с САСКО Навигатор   и Экодор создали поездные сервиса по направлениям:


 Ховрино ОКТ ж.д. – Угольная ДВ ж.д. - Ховрино ОКТ ж.д(САСКО Навигатор)
Силикатная МСК ж.д. – Базаиха КРС ж.д. (Экодор)
В проекте с Экодор, Максима Логистик выступает как основной поставщик подвижного состава собственного/привлеченного. Помимо обеспечения вагонной составляющей, Максима Логистик задействована в заполнении платформ контейнерными грузами, что составляет от 50 TEU’s в каждом поезде.



Крытые вагоны:


С августа 2014 года, ООО «Максима Логистик» открыла для себя новое направление- оперирование крытыми вагонами. На конец года парк данных вагонов составил 140 единиц с уверенной ставкой доходности - выше среднерыночной


Привлеченный парк полувагонов: 


В сравнении с 2013 годом, объём перевозок в 2014 году в полувагонах вырос на 175%  и составил 7 271 отправку (501 699 тн.).
Прирост отправок достигнут за счет клиентов: Тельф, Метинвест, Себряковцемент, Финтранс и Магнезит.


Мультимодальные перевозки:
На протяжении 2014 г. доходность по данному проекту показывала стабильные высокие  результаты. 
Годовая отгрузка с заводов составила 4 406*40’ конт. или 8 812 TEU.
Суммарный объем каботажных перевозок – 2 179 40’ и 20’ или 4 250 TEU.
Коэффициенты прироста показателей 2014 года к 2013 году:


объемы отгрузки с заводов  увеличились  на 46%
каботажные перевозки выросли в 3,3 раза
маржинальная прибыль увеличилась на 74%
средневзвешенная ставка доходности на платформу выросла на  13%


 
Технический департамент



В 2014 году техническим департаментом были достигнуты следующие показатели:


Сокращение простоев вагонов во всех типах ремонта, при этом средний простой вагонов по компании не превысил отметку в 6 календарных суток, несмотря на то, что в сравнении с 2013 годом количество ремонтов выросло на 128% и составило более 1100 вагонов.
Удалось сократить дебиторскую задолженность со стороны ОАО «РЖД» перед ООО «Максима Логистик» за колесные пары с 7 000 000 рублей в первом квартале 2014 года до 1 700 000 рублей на конец года.
Техническим департаментом организованы склады временного хранения запасных частей на основных станциях погрузки вагонов ООО «Максима Логистик». Организован учет и хранение более  30 единиц колесных пар и крупного вагонного литья по сети ОАО «РЖД».
За 2014 год технический департамент приписал и перерегистрировал свыше 1700 вагонов компании, что на 70 % выше показателя 2013 года.
Техническим департаментом также организован плановый ремонт 320 вагонам ООО «Максима Логистик». Средний простой вагонов в плановых ремонтах не превысил отметку в 7 календарных суток.
За 2014 год технический департамент организовал покупку и техническую приемку свыше 1 600 вагонов, которые поступили в оперативное управление ГК “Максимум”.
Произведена автоматизация департамента в рамках следующих направлений работы:


Приписка и регистрация подвижного состава (запущен электронный портал приписки и регистрации вагонов через компанию ООО «Нумерал».);
Текущий отцепочный ремонт (заключен и запущен договор на электронный документооборот по договору с Центральной Дирекцией Инфраструктуры);  
Аксапта (внесены изменения и доработки во внутреннюю электронную среду по работе с техническим блоком компании для оптимизации производственных процессов департамента.);


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "МАКСИМА ЛОГИСТИК" ПОДВЕЛА ПРОИЗВОДСТВЕННЫЕ ИТОГИ 2014 ГОДА.]]></Value>
    </newsTitle>
  </Properties>
</Content>