<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c036228-ba6e-4412-9d92-78633a97a9fe" Alias="Партнеры" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/Partnery</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T21:56:51</CreateDate>
    <NodeName Default="Партнеры">
      <Name Culture="en-us">partners</Name>
      <Name Culture="ru">Партнеры</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4812a8b7d42541b5afaf9431d08e50c7"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/15a39659089f4f0780cc3ab1281499ea"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/f6f823adab3b4abf9a8bb037cbe8585c"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/4f30c6f0f7ff471da7b64ee979b0f525"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6d1ba9c779ad497c9ce628f4975694ce"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/70534becdbd84f5580f7fd3d9e1c060b",
                        "settingsUdi": "umb://element/30570702a2f643d789fc5d9946239f3c"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/4750376f0f0646a7a1e69899b652e122"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/545fc056635243189cf80265fbda6b92"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/4ec4243756124750bbca905c41b80e3a"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/7dab2d31a89744a0aafda8ceea2128ec"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/59cc7c4052854c2b98b10ae5f6cf7edb",
                        "settingsUdi": "umb://element/c6f433cf1a94446bbbfdc7cd90eafb41"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/0bc5a98c17a34442b685a6097cab3d46",
                "settingsUdi": "umb://element/c8e180be6d7e47b98d890a2e41c90b0c"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/545f40dd12ae42098a1bc0b68c219d6f",
        "settingsUdi": "umb://element/c60bb7c65e034f58af39dd01639283d9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/545f40dd12ae42098a1bc0b68c219d6f",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/0bc5a98c17a34442b685a6097cab3d46",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/4812a8b7d42541b5afaf9431d08e50c7",
      "headline": "Partners"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/70534becdbd84f5580f7fd3d9e1c060b",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/15a39659089f4f0780cc3ab1281499ea",
      "imgMargin": "",
      "gorizontalAlign": "",
      "image": "[\r\n  {\r\n    \"key\": \"7624f4a2-a293-42bb-bd73-d0664d53c7f6\",\r\n    \"mediaKey\": \"af26d9c3-9c1d-42ab-befe-2e8ee20cb4f0\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "30",
      "edImg": "%"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/f6f823adab3b4abf9a8bb037cbe8585c"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4f30c6f0f7ff471da7b64ee979b0f525",
      "richText": "<p>The main activity is the transportation of goods in specialized platforms for the transportation of timber and grain carriers throughout the railway network of Russia, as well as the CIS and Baltic countries.</p>\n<p>In the person of our company, you will be able to have a reliable business partner, since the team of Ecoline LLC is formed by highly professional top managers of the transport industry and consists of specialists with many years of experience in organizing transportation by rail.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/6d1ba9c779ad497c9ce628f4975694ce",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b54840be-cbb5-4c1a-8b92-a69016fd9f0f\",\r\n    \"mediaKey\": \"26c7f49b-a457-48ec-8935-045227b08931\"\r\n  }\r\n]",
      "sizeFoto": "1",
      "edFoto": "em",
      "richText": "<p>Сайт «Эколайн»: <a href=\"http://ecoline-zd.ru/\">http://ecoline-zd.ru/</a></p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/59cc7c4052854c2b98b10ae5f6cf7edb",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/4750376f0f0646a7a1e69899b652e122",
      "imgMargin": "",
      "gorizontalAlign": "",
      "image": "[\r\n  {\r\n    \"key\": \"dc5d666a-a092-4c89-aa6d-22d883d35d40\",\r\n    \"mediaKey\": \"e0c0e915-e9d8-4b8d-bc5d-5f465baf6a8f\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "30",
      "edImg": "%"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/545fc056635243189cf80265fbda6b92"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/4ec4243756124750bbca905c41b80e3a",
      "richText": "<p>Provides container shipping services to direct customers and freight forwarders. It is an operator of accelerated container trains Moscow – Krasnoyarsk, Moscow – Khabarovsk, Moscow – Vladivostok.</p>\n<p>They have their own rolling stock, containers and fleet;</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/7dab2d31a89744a0aafda8ceea2128ec",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"bb578bd6-8ee6-4bd6-b326-cbe0aeb50e52\",\r\n    \"mediaKey\": \"26c7f49b-a457-48ec-8935-045227b08931\"\r\n  }\r\n]",
      "sizeFoto": "1",
      "edFoto": "em",
      "richText": "<p>Maxexpress website: <a href=\"https://xn--80akoahvhfbda1l.xn--p1ai/\">https://максэкспресс.рф</a></p>",
      "gorizontalImgAlign": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c60bb7c65e034f58af39dd01639283d9",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"91e753a2-1964-4865-bef4-5f8adeef7098\",\r\n    \"mediaKey\": \"838731b0-96f8-48ce-834a-2e488dff99f9\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c8e180be6d7e47b98d890a2e41c90b0c"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/30570702a2f643d789fc5d9946239f3c"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/c6f433cf1a94446bbbfdc7cd90eafb41"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/41e6465a08204da5937f2424be0f30fa",
        "settingsUdi": "umb://element/d55f1bf9beb64463a264898ff8a773d4",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/165fab1f666b44cb92f1d8348c6b8ad3",
                "settingsUdi": "umb://element/ed375e97f6b24e368e65b930df3cc4a0",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/ec0125f544a9477c894cf8547f6ddc07",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/ee2d3e62ce194f738a92dd1357dfcf08",
                        "settingsUdi": "umb://element/ca3aed9c71c9491da6b6168fb284bd43",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/a1dc7d80572b444889d1f5d3697c06dc",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/7c921cfaeaa94a9da470dd4aa6ed0f1b",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/0fabf75ea2c04a9ba895d60d62e71b50",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/6e613af424144852a148eefcf6d307cc",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/8999857cdda04e4dbcf50d5d7e679e40",
                        "settingsUdi": "umb://element/7aca1d37e90845f2aed702e2b1ff32d9",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/eaeadd2e16e7476b9bc902caa0690234",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/9bea7b82ad404c83a56a17fca3787c48",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/8f4203f033d94d2d90f39a7a286c5624",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/bfef13ba953a4726b955c6e0ffb0d377",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/41e6465a08204da5937f2424be0f30fa",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/165fab1f666b44cb92f1d8348c6b8ad3",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/ec0125f544a9477c894cf8547f6ddc07",
      "headline": "Партнеры"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/ee2d3e62ce194f738a92dd1357dfcf08",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/0fabf75ea2c04a9ba895d60d62e71b50",
      "richText": "<p>Основное направление деятельности - перевозка грузов в специализированных платформах для перевозки лесоматериалов и зерновозах по всей сети железных дорог России, а также стран СНГ и Балтии.<br><br>В лице нашей компании Вы сможете иметь надежного бизнес-партнера, поскольку коллектив ООО «Эколайн» сформирован высокопрофессиональными топ-менеджерами транспортной отрасли и состоит из специалистов, имеющих многолетний опыт организации перевозок на железнодорожном транспорте.</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/8999857cdda04e4dbcf50d5d7e679e40",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/8f4203f033d94d2d90f39a7a286c5624",
      "richText": "<p>Оказывает услуги по отправке контейнеров прямым клиентам и экспедиторам. Является оператором ускоренных контейнерных поездов Москва – Красноярск, Москва – Хабаровск, Москва – Владивосток.<br><br>Имеют собственный подвижной состав, контейнеры и автопарк;</p>"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/7c921cfaeaa94a9da470dd4aa6ed0f1b"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/9bea7b82ad404c83a56a17fca3787c48"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a1dc7d80572b444889d1f5d3697c06dc",
      "imgMargin": "",
      "gorizontalAlign": "",
      "image": "[\r\n  {\r\n    \"key\": \"7624f4a2-a293-42bb-bd73-d0664d53c7f6\",\r\n    \"mediaKey\": \"af26d9c3-9c1d-42ab-befe-2e8ee20cb4f0\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "30",
      "edImg": "%"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/eaeadd2e16e7476b9bc902caa0690234",
      "imgMargin": "",
      "gorizontalAlign": "",
      "image": "[\r\n  {\r\n    \"key\": \"dc5d666a-a092-4c89-aa6d-22d883d35d40\",\r\n    \"mediaKey\": \"e0c0e915-e9d8-4b8d-bc5d-5f465baf6a8f\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "30",
      "edImg": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/6e613af424144852a148eefcf6d307cc",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b54840be-cbb5-4c1a-8b92-a69016fd9f0f\",\r\n    \"mediaKey\": \"26c7f49b-a457-48ec-8935-045227b08931\"\r\n  }\r\n]",
      "sizeFoto": "1",
      "edFoto": "em",
      "richText": "<p>Сайт «Эколайн»:<a href=\"http://ecoline-zd.ru/\">http://ecoline-zd.ru/</a></p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/bfef13ba953a4726b955c6e0ffb0d377",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"bb578bd6-8ee6-4bd6-b326-cbe0aeb50e52\",\r\n    \"mediaKey\": \"26c7f49b-a457-48ec-8935-045227b08931\"\r\n  }\r\n]",
      "sizeFoto": "1",
      "edFoto": "em",
      "richText": "<p>Сайт «МаксЭкспресс»:<a href=\"https://xn--80akoahvhfbda1l.xn--p1ai/\">https://максэкспресс.рф</a></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d55f1bf9beb64463a264898ff8a773d4",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"91e753a2-1964-4865-bef4-5f8adeef7098\",\r\n    \"mediaKey\": \"838731b0-96f8-48ce-834a-2e488dff99f9\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/ed375e97f6b24e368e65b930df3cc4a0"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/ca3aed9c71c9491da6b6168fb284bd43"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7aca1d37e90845f2aed702e2b1ff32d9"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "94405c54-85ca-4d7d-9dde-faab8cf13df7",
    "mediaKey": "ff572713-bd9f-4957-80e5-62254d3eeeae"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>