<?xml version="1.0" encoding="utf-8"?>
<Content Key="92fde70f-154c-477d-9e71-f722468f0c4d" Alias="Первая продукция нового комплекса ВКМ-2." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PervayaProdukfiyaNovogoKompleksaVKM2</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:55</CreateDate>
    <NodeName Default="Первая продукция нового комплекса ВКМ-2.">
      <Name Culture="ru">Первая продукция нового комплекса ВКМ-2.</Name>
    </NodeName>
    <SortOrder>79</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-11-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
2015 год – непростое время для российской экономики, но есть предприятия и предприниматели, которые нацелены на успех, верят в стабильное и поступательное движение экономики страны, прикладывают немало усилий и средств для выхода бизнеса из рецессии. Одно из таких – ООО «Вагонно-колёсная мастерская», инвестировавшая в течение этого года в развитие своей сферы деятельности на территории Старооскольского городского округа миллиард рублей.



2 НОЯБРЯ, в День рождения предприятия, в ООО «Вагонно-колёсная мастерская», расположенном на железнодорожной станции Котёл, состоялось открытие нового производственного комплекса ВКМ-2, предназначенного для ремонта колёсных пар локомотивов, тепловозов и вагонов повышенной грузоподъёмности.
В открытии принял участие А.В. Гнедых, глава администрации Старооскольского округа, С.А. Гущин, один из учредителей группы компаний Rail Garant, в которую входит ООО «ВКМ», партнеры компании. 
За восемь лет своего существования на территории округа «Вагонно¬колёсная мастерская» прошла большой путь: от оказания услуг по формированию и ремонту колёсных пар для грузовых вагонов до высокотехнологичного предприятия, осуществляющего кроме этого текущий и плановый ремонт грузовых вагонов, утилизацию исключённых из инвентарного парка грузовых вагонов. В год формируется и ремонтируется порядка 50 тысяч колёсных пар.
В ближайших планах - формирование колёсных пар для высокоскоростных пассажирских составов типа «Ласточка», есть возможности по переоборудованию подвижного состава железных дорог с роликовых на кассетные подшипники. Обсуждается проект по созданию на базе ВКМ сервисного центра по обслуживанию подшипников и инновационного подвижного состава Тихвинского вагоностроительного завода.
Встречая гостей, директор ООО «ВКМ» К.В. Иванов показал новый административно­бытовой корпус с отличным внутренним дизайном, подчёркивающим специфику производства предприятия. 






Глава администрации Александр Гнедых не обошёл вниманием новую котельную, работающую на пару, полностью автоматизированную, экономящую ВКМ до 75 тысяч рублей в месяц. Она предназначена для подачи тепла и энергии в новый комплекс ВКМ-2 и АБК, а также в отремонтированные и модернизированные помещения для персонала: душевые, раздевалки, столовую.



Первая свая под новый комплекс ВКМ-2 была забита 26 июня 2014 года, по традиции под неё была заложена золотая монета, предоставленная Сбербанком, давним и хорошим партнёром предприятия. 
Сейчас комплекс уже работает по полной программе, отгружает продукцию, в нём задействовано современное прессовое, токарное оборудование, моющие и покрасочные установки, колёсно­расточные станки. Действует полный производственный цикл: поступают колёсные пары, идет демонтаж, мойка, дефектация, восстановительный ремонт, сборка, выходной контроль. Применяется технология по смазке подшипников непосредственно перед монтажом с тем, чтобы масляная плёнка защищала их с первых минут эксплуатации.



- Сегодняшнее положение в экономике заставляет нас думать шире, внедрять не только массовое производство, но и осваивать высокотехнологичную, специализированную продукцию, - говорит директор Константин Иванов. - Мы рассматриваем множество вариантов развития, один из них заключается в том, чтобы войти на рынок формирования колёсных пар подвижного состава, используемого на различных промышленных предприятиях страны, на данный момент монополизируемый ОАО «РЖД». Мы хотели бы использовать под сервисный центр находящийся рядом подшипниковый завод, чтобы максимально отрабатывать этот вид услуг. Стоит задача интенсивнее использовать участок под разделку старых товарных вагонов и их утилизацию для того, чтобы подогреть спрос на новые вагоны, в которых применяются кассетные подшипники, позволяющие эксплуатировать без ремонта подвижной состав с пробегом до 500 тысяч километров, вместо старых вагонов с роликовыми подшипниками и всего лишь 160 тысячами километров безремонтного движения.



Гости понаблюдали за работой отечественной установки вибродиагностики буксовых узлов, позволяющей хранить все данные проверки вплоть до времени и фамилии специалиста, и распечатывать их на официальном бланке, по¬участвовали в подписании первого договора на продукцию ВКМ-2 с компанией «Максима Логистик».



Генеральный директор ООО «Максима Логистик» Н.А. Фалин отметил:
- Мы планируем покупать колёсные пары для вагонов с повышенной грузоподъёмностью. Вижу, что специалистами ООО «ВКМ» проделана очень большая, качественная работа по созданию нового производства, люди вложили в комплекс ВКМ-2 не только деньги, но и душу, силы, время. Я знаю, что у них есть много задумок, развивать предприятие дальше – желаю успехов, будем помогать своими заказами.



Присутствовал на открытии заместитель генерального директора группы компаний Rail Garant из Москвы Игорь Евгеньевич Тягунов:
- На сегодняшний день мы являемся реальными поставщиками объёмов колёсных пар для ООО «ВКМ», поскольку обслуживаем 50 тысяч вагонов по всей стране. Наши компании - стратегические партнёры, новый комплекс ВКМ-2 поможет нашему плодотворному сотрудничеству, - сказал он.
Один из учредителей группы компаний Rail Garant Сергей Гущин считает:
- Мы идём постепенно от формирования одного производства к другому, создавая для округа рабочие места, выплачивая налоги. Мы благодарны администрации округа за всестороннюю поддержку. У предприятия в сегодняшних условиях есть время, чтобы подготовиться к подъёму российской экономики. Мы клиентоориентированная компания и необходимо создавать такие сервисные центры, чтобы у потребителя наших услуг было только две заботы: сдать вагон в ремонт и оплатить работу сервиса. Следующая стратегическая задача ВКМ – строительство прокатного стана для производства колёс. Мы могли бы гарантированно продавать металлолом ОЭМК, а получать заготовки колёс с «Уральской стали», поскольку эти предприятия входят в один холдинг. Предполагаем, что количество получаемой литой заготовки могло бы составить 10 % от общего производства металлургов из Новотроицка – это достаточно крупные объёмы.
Глава администрации округа Александр Викторович Гнедых поддерживает развитие ООО «ВКМ»:



- Мы постараемся привлечь внимание директора по производству УК «Металлоинвест» Андрея Алексеевича Угарова к вашим предложениям, поскольку заинтересованы в формировании на нашей территории новых заводов, появлении высокотехнологичных рабочих мест, поступления новых налогов в бюджет округа.



Сотрудники ООО «ВКМ» уже ведут переговоры о поставках оборудования для прокатного стана с немецкими и австрийскими фирмами, при этом обязательно учитывая интересы российских компаний. Так, крупные части стана будут приобретены в Воронеже, часть металлоконструкций - у «Белгородэнергомаша».



Для работы на новых производствах менеджеры «Вагонно-колёсной мастерской» подыскивают инженеров и техников. На данный момент имеются договорённости с профильными Новосибирским, Ростовским высшими учебными заведениями и Самарским учебным центром о переобучении и повышении квалификации работников ВКМ - мастеров, приёмщиков вагонов, дефектоскопистов, которые будут работать на новом производстве.
Ну а День рождения ООО «Вагонно-колёсная мастерская» трудовой коллектив отметил на следующий день после открытия ВКМ-2 за столами, накрытыми сладостями, печеньем и вкусным горячим чаем. А на этой неделе менеджеры и технологи отправились в рабочие командировки, договариваться о реализации новых проектов на Оскольской земле.



Дмитрий Зарубин
http://www.oskolnews.ru/





 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Первая продукция нового комплекса ВКМ-2.]]></Value>
    </newsTitle>
  </Properties>
</Content>