<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb2d5bca-7066-4495-a78c-4d111fe95fae" Alias="Первый контейнерный поезд в Китай " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PervyiKonteinernyiPoezdVKitai</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:32</CreateDate>
    <NodeName Default="Первый контейнерный поезд в Китай ">
      <Name Culture="ru">Первый контейнерный поезд в Китай </Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-02-26T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        На прошлой неделе (23 февраля) компания «Максима Логистик» совместно с китайским грузовым экспедитором «SWIFT» отправила первый контейнерный поезд по маршруту ст. Базаиха (Красноярск) – Китай (ч/з пп Наушки/Замын-Ууд). 

Уже в марте партнёры планируют выйти на стабильное расписание один поезд в неделю. В работе задействованы 80-ти футовые фитинговые платформы ООО «Максима Логистик» и грузовые контейнеры, принадлежащие «SWIFT». В перспективе текущего года силами контейнерного экспедитора «МаксЭкспресс» планируется увеличить грузовую базу и выйти на более частый график отправок контейнерных поездов. 

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Первый контейнерный поезд в Китай ]]></Value>
    </newsTitle>
  </Properties>
</Content>