<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e9a96b3-2462-486c-8bd4-a950cbe50e3e" Alias="Планомерное развитие контейнерного сервиса." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PlanomernoeRazvitieKonteinernogoServisa</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:57</CreateDate>
    <NodeName Default="Планомерное развитие контейнерного сервиса.">
      <Name Culture="ru">Планомерное развитие контейнерного сервиса.</Name>
    </NodeName>
    <SortOrder>84</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-07-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Продолжает успешно функционировать запущенный в октябре 2014 года Контейнерный поезд по Маршруту: ст. Ховрино - ст. Мыс Чуркин- ст. Ховрино. По прошествии 3 кварталов количество отправок собственных вагонов составило 1110 единиц, количество привлеченных вагонов 395 единиц соответственно общее количество составило 1505 единиц. Не смотря на кризисные явления, профессиональная работа сотрудников ГК "Максимум" и взятые на себя обязательства , поддерживают соблюдение графика нитки данного контейнерного сервиса. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Планомерное развитие контейнерного сервиса.]]></Value>
    </newsTitle>
  </Properties>
</Content>