<?xml version="1.0" encoding="utf-8"?>
<Content Key="b34e0a3b-8e7d-4545-979e-b8673a4959c1" Alias="Поздравляем с 8 Марта милых дам! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PozdravlyaemS8MartaMilykhDam</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:31</CreateDate>
    <NodeName Default="Поздравляем с 8 Марта милых дам! ">
      <Name Culture="ru">Поздравляем с 8 Марта милых дам! </Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-03-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Поздравляем очаровательных, обаятельных и прекрасных женщин с праздником весны! Пусть ласковое весеннее солнце согревает вас своими лучами, а сердце наполняется счастьем и нежностью.

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Поздравляем с 8 Марта милых дам! ]]></Value>
    </newsTitle>
  </Properties>
</Content>