<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dea75ec-7327-4748-a49f-5e0ffc0672b8" Alias="Подводим итоги " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PodvodimItogi</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:34</CreateDate>
    <NodeName Default="Подводим итоги ">
      <Name Culture="ru">Подводим итоги </Name>
    </NodeName>
    <SortOrder>42</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-12-24T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Подводя итоги уходящего года, информационно-аналитический портал ИнфраНьюс опубликовал интересный и немного необычный материал о самых масштабных «происшествиях» в бизнесе за эти 12 месяцев. Состоявшаяся минувшей осенью успешная сделка ГК «МАКСИМУМ» с контейнерным терминалом «Компания Экодор» не осталась в стороне и удостоилась, по мнению исследовательского центра, титула «Сделка 2017 года». Основная «изюминка» этого взаимовыгодного соглашения, по мнению экспертов ИнфраНьюс, заключается в удачном стечении обстоятельств, благодаря которым ГК «МАКСИМУМ» удалось приобрести акции терминала за 2 месяца до окончательного закрытия Павелецкой. 

 Напомним, что в сентябре 2017 года Группа компаний приобрела пакет акций в капитале ООО Фирма «Экодор» - ст. Силикатная (на базе ОАО «Подольское ППЖТ»). 
 Совместно запланированная инвестиционная программа «Экодора» и «Подольского ППЖТ» направлена на масштабное увеличение площади контейнерного терминала и его мощностей. Таким образом, ГК «МАКСИМУМ», располагающая собственным парком 80-футовых фитинговых платформ, в сотрудничестве со своим новым партнёром готовится предложить рынку современные проекты в области контейнерной логистики. 

 Ссылка на статью http://infranews.ru/issledovaniya/reitingi/50500-itogi-i-perspektivy-goda-ot-infranews/ ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Подводим итоги ]]></Value>
    </newsTitle>
  </Properties>
</Content>