<?xml version="1.0" encoding="utf-8"?>
<Content Key="b438b435-1240-4b33-a5d2-3d4e22b18c7a" Alias="Поздравляем с 8 Марта! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PozdravlyaemS8Marta</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:19</CreateDate>
    <NodeName Default="Поздравляем с 8 Марта! ">
      <Name Culture="ru">Поздравляем с 8 Марта! </Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-03-06T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/57738753768440f7aa151d2f9e418734]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Дорогие женщины!
Поздравляем Вас с самым весенним и прекрасным праздником – Международным Женским Днем! Хотим пожелать Вам счастья, радости, подарков, цветов и хорошего настроения! Пусть этой весной у вас не будет поводов для печали, а для радости будет максимум причин!
С Праздником!
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Поздравляем с 8 Марта! ]]></Value>
    </newsTitle>
  </Properties>
</Content>