<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce7859cf-cad9-4dd4-b071-79757b1ae3b1" Alias="Поздравляем АО &quot;БВРЗ&quot; с юбилеем! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PozdravlyaemAOBVRZSYubileem</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:27</CreateDate>
    <NodeName Default="Поздравляем АО &quot;БВРЗ&quot; с юбилеем! ">
      <Name Culture="ru">Поздравляем АО "БВРЗ" с юбилеем! </Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-09-21T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        21 сентября руководители компании торжественно поздравили АО «Барнаульский ВРЗ» с грандиозным событием – 100 лет со дня основания! Предприятие является одним из наиболее крупных в вагоноремонтной отрасли в стране – его оснащенность  позволяет производить капитальный ремонт грузового подвижного состава в значительных объемах. 

Присоединяюсь к руководящему составу, компания «Максима Логистик» от всей души поздравляет вас, дорогие коллеги, с этим знаменательным событием. Пусть эта красивая дата станет ещё одним шагом на пути освоения новых горизонтов и исполнения задуманных идей! Пусть работа  приносит радость каждому из вас! Пусть завод славится бравым трудом, а каждый день знаменуется высокими результатами и отменным качеством вагонов, которые мы, ваши преданные партнёры, всегда готовы покупать. 
Процветания вам, современных нововведений, потрясающих усовершенствований и бесперебойной работы в вашем дружном коллективе. С Праздником! 
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Поздравляем АО "БВРЗ" с юбилеем! ]]></Value>
    </newsTitle>
  </Properties>
</Content>