<?xml version="1.0" encoding="utf-8"?>
<Content Key="837aa7bb-2c5e-4283-aecb-82384025f5c5" Alias="Продажа вагонов" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/ProdazhaVagonov</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T21:54:53</CreateDate>
    <NodeName Default="Продажа вагонов">
      <Name Culture="en-us">sale of wagons</Name>
      <Name Culture="ru">Продажа вагонов</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/abb976e3e41e4b2fb6f36d5681a61758"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/6ea9b4f091f54b4b84585b37b1f41d2e"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/184627cb82da4f6f96c85d92c3f6e1c8"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/060a5262d466499a8b12336d630b6228",
                        "settingsUdi": "umb://element/3670fb4f63df405a90ae393bef0f1e86"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/500c662810bf4c40b7032105779afce8",
                "settingsUdi": "umb://element/48bc0a2c87de43b2a310a0990b2c2a56"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a4ffd26e91f54a31859329a9a0df7563",
        "settingsUdi": "umb://element/e43796e98fbe4378966c8a81887fac32"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/a4ffd26e91f54a31859329a9a0df7563",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/500c662810bf4c40b7032105779afce8",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/abb976e3e41e4b2fb6f36d5681a61758",
      "headline": "PURCHASE OF USED ROLLING STOCK"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/6ea9b4f091f54b4b84585b37b1f41d2e",
      "richText": "<p style=\"text-align: center;\">We also inform you that Maxima Logistics LLC is interested in buying used wagons and other railway rolling stock: universal and fitting platforms, timber trucks, grain carriers and covered wagons of various models.</p>\n<p style=\"text-align: center;\">You can check all the detailed information in the Technical Department.</p>\n<p style=\"text-align: center;\">Please send all current offers for the purchase of a PS to the email specified in the section Contacts. If you have any questions, you can contact us by phone:</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/060a5262d466499a8b12336d630b6228",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/184627cb82da4f6f96c85d92c3f6e1c8",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"7bd28aea-cdc7-449f-a166-6f92e8062ae4\",\r\n    \"mediaKey\": \"7da93272-eed0-4e7b-9102-8bfba8c9f35d\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<h3>+7 (495) 983-59-58 (доб. 211)</h3>",
      "gorizontalImgAlign": "[\"По центру\"]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/e43796e98fbe4378966c8a81887fac32",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"846ec867-7484-48c8-b0a3-22972f9b5a59\",\r\n    \"mediaKey\": \"d4436e6a-8a7c-443a-a305-824dec1581e2\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/48bc0a2c87de43b2a310a0990b2c2a56"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3670fb4f63df405a90ae393bef0f1e86"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9ada907152034a6f8ae580b6a50ae44c",
        "settingsUdi": "umb://element/a2f38a2d24554367a3dff70d4c56a8cd",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/c5251f4eab0b4c06819eb58e3676a035",
                "settingsUdi": "umb://element/7cf61c9ebc7e46039218d61b845e4243",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/07c0f6a49f634758bf69eea442dd989e",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/86b8b3e0c66341e59f9e422de1aa848e",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/718c604ef12641cfa96e15ab6e23a239",
                        "settingsUdi": "umb://element/0bf0252a5ccf4779bce3852f40986e6c",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/1c76ea7972f54b90b50e4e62c9b59995",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/9ada907152034a6f8ae580b6a50ae44c",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/07c0f6a49f634758bf69eea442dd989e",
      "headline": " ПОКУПКА Б/У ПОДВИЖНОГО СОСТАВА"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/86b8b3e0c66341e59f9e422de1aa848e",
      "richText": "<p style=\"text-align: center;\">Также сообщаем, что ООО «Максима Логистик» заинтересовано в покупке б/у вагонов и другого железнодорожного подвижного состава: универсальных и фитинговых платформ, лесовозов, зерновозов и крытых вагонов различных моделей.</p>\n<p style=\"text-align: center;\">Всю подробную информацию вы можете уточнить в Техническом департаменте.</p>\n<p style=\"text-align: center;\">Все актуальные предложения по приобретению ПС просьба отправлять на почту, указанную в разделе <a href=\"https://maxima-logistic.ru/company/cars-for-sale/\">Контакты</a>. По любым возникающим вопросам можете обращаться по телефону:</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/718c604ef12641cfa96e15ab6e23a239",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/1c76ea7972f54b90b50e4e62c9b59995",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"7bd28aea-cdc7-449f-a166-6f92e8062ae4\",\r\n    \"mediaKey\": \"7da93272-eed0-4e7b-9102-8bfba8c9f35d\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<h3>+7 (495) 983-59-58 (доб. 211)</h3>",
      "gorizontalImgAlign": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/c5251f4eab0b4c06819eb58e3676a035",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a2f38a2d24554367a3dff70d4c56a8cd",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"846ec867-7484-48c8-b0a3-22972f9b5a59\",\r\n    \"mediaKey\": \"d4436e6a-8a7c-443a-a305-824dec1581e2\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0bf0252a5ccf4779bce3852f40986e6c"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7cf61c9ebc7e46039218d61b845e4243"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "6d4404c5-2081-4910-a546-c8d10bdac540",
    "mediaKey": "f6c27782-4835-4a5a-ae32-ade439a86753"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>