<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fb538a1-fb97-4171-9f5f-ec215756852b" Alias="Продолжение сотрудничества ГК Максимум и ОАО &quot;Банк Финсревис&quot;." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ProdolzhenieSotrudnichestvaGKMaksimumIOAOBankFinsrevis</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:57</CreateDate>
    <NodeName Default="Продолжение сотрудничества ГК Максимум и ОАО &quot;Банк Финсревис&quot;.">
      <Name Culture="ru">Продолжение сотрудничества ГК Максимум и ОАО "Банк Финсревис".</Name>
    </NodeName>
    <SortOrder>83</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-08-21T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО "ТопЛайн", входящее в группу компаний Максимум, подписало кредитное соглашение с ОАО "Банк Финсервис" в рамках расширения финансового сотрудничества Банка и ГК «Максимум». На Компанию открыта кредитная линия с лимитом 180 миллионов рублей сроком на 3 года. Кредитные средства будут использованы на финансирование текущей финансово-хозяйственной деятельности Компании и приобретение подвижного состава. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Продолжение сотрудничества ГК Максимум и ОАО "Банк Финсревис".]]></Value>
    </newsTitle>
  </Properties>
</Content>