<?xml version="1.0" encoding="utf-8"?>
<Content Key="c42f2097-83ad-44a7-ace7-75375b7d5763" Alias="Реквизиты и документы" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/RekvizityIDokumenty</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T21:57:34</CreateDate>
    <NodeName Default="Реквизиты и документы">
      <Name Culture="en-us">banking details and documents</Name>
      <Name Culture="ru">Реквизиты и документы</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e33aee8d6e564bcebc6606f35eb86453"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/db51b7fc54124114bebcf0185d92ef53"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/dcf33a2526784c0a972103c6a328ccb0"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3495e3c4c3754d5c96e6064c980486fd"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 7,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b5810c8b4df6476e8d793953eda066b0",
                        "settingsUdi": "umb://element/72639cdbb0e74c79963664fa44a691f5"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3083c8132ff7463b95a1cb9d80602d9b"
                              },
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/1d070446093a498b808b4c6a057cdbbe"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 5,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/cba2e7818b56443ca1872f6f62771e62",
                        "settingsUdi": "umb://element/0554452082db4a0aae8e34145826474c"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/aec738225e354a52ae607b3c1aa48784",
                "settingsUdi": "umb://element/b7989f881b1849f89ef43a4659402ee2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/cce703a3db2841429d1c76357330a036",
        "settingsUdi": "umb://element/1baa86117d88479090ea0e70dde20981"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/cce703a3db2841429d1c76357330a036",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/aec738225e354a52ae607b3c1aa48784",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/e33aee8d6e564bcebc6606f35eb86453",
      "headline": "Banking details and documents"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/b5810c8b4df6476e8d793953eda066b0",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/db51b7fc54124114bebcf0185d92ef53",
      "richText": "<h4>Our banking details</h4>"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/dcf33a2526784c0a972103c6a328ccb0"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/3495e3c4c3754d5c96e6064c980486fd",
      "richText": "<p><strong>Maxima Logistics Limited Liability Company / Maxima Logistics LLCRegistration</strong> date: July 18, 2011.<br>Certificate No.: 013478523<br>OGRN 1117746559930<br>Registration authority: IFNS of Russia No. 46 in Moscow<br>TIN: 7709881471</p>\n<p>CHECKPOINT: 771901001<br>Settlement account No. 40702810300160000765 to VTB Bank (PJSC), Moscow</p>\n<p>BIC: 044525187</p>\n<p>Correspondent account No. 30101810700000000187 to the OPERA of the Moscow State Technical University of the Bank of Russia</p>\n<p>Legal address: 1A Semenovskaya Square, Moscow, 107023, Russia<br>Postal address: 107023, Russia, Moscow, Semenovskaya Square, 1atelephone: +7 (495) 983-59-58<br>Fax: +7 (495) 983-59-58</p>\n<p>General Director: Falin Nikolay Anatolyevich<br>Chief Accountant: Oleg V. Krylov</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/cba2e7818b56443ca1872f6f62771e62",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/3083c8132ff7463b95a1cb9d80602d9b",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"e1f4779c-195b-44cb-9e9c-b7dcb36efec6\",\r\n    \"mediaKey\": \"d8101e54-bb32-40b3-8856-a0123da72932\"\r\n  }\r\n]",
      "sizeFoto": "5",
      "edFoto": "em",
      "richText": "<p><a href=\"https://upload/docs/maxima_logistic_req.doc\">Download banking details in DOC format</a></p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/1d070446093a498b808b4c6a057cdbbe",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4cb3f5fc-c44d-4284-86e5-ce807f32be18\",\r\n    \"mediaKey\": \"3687ad8d-8b0a-44b4-825c-2cd450354b10\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p><a href=\"https://upload/docs/maxima_logistic_req.pdf\">Download banking details in PDF format</a></p>",
      "gorizontalImgAlign": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/1baa86117d88479090ea0e70dde20981",
      "imagePositionY": "[\"По центру\"]",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"b6663cea-a908-4a6e-b071-5b0bc28ca7da\",\r\n    \"mediaKey\": \"9da679e9-c43d-48c1-9c77-51c733fe7edb\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b7989f881b1849f89ef43a4659402ee2"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/72639cdbb0e74c79963664fa44a691f5"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0554452082db4a0aae8e34145826474c"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/198d019d25ff4623a544a85e4c97c4e2",
        "settingsUdi": "umb://element/a8ce42c757d3428e9058b3310427185e",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/2a5c607bdef24287b3c737da619afc06",
                "settingsUdi": "umb://element/88962d818f6144a397c5d6f019141e18",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/6dcc5d8e73684073a23f4d9ae3cac9ae",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/6a566817b650492989d02d72f069c40a",
                        "settingsUdi": "umb://element/a824a323762a4109b4a8de4e22bb2533",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/7a18ce68c62d4e6f821d194525a1274c",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/b810ac829366435d9850cee75be14eb2",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/0cce0965f00d4404bdb257af1612cf78",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 7,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/47af625b4eaf49d5afa11bad2ff4a29b",
                        "settingsUdi": "umb://element/19ab2b393a644e99b0396a135e63e4e0",
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/7faaa8504d944e12844f4e1b7206d69b",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/2800004825a4424785872e3cceddb5f5",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 5,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/198d019d25ff4623a544a85e4c97c4e2",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/6dcc5d8e73684073a23f4d9ae3cac9ae",
      "headline": "Реквизиты и документы"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/2a5c607bdef24287b3c737da619afc06",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/6a566817b650492989d02d72f069c40a",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/7a18ce68c62d4e6f821d194525a1274c",
      "richText": "<h4>Наши реквизиты</h4>"
    },
    {
      "contentTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "udi": "umb://element/b810ac829366435d9850cee75be14eb2"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/0cce0965f00d4404bdb257af1612cf78",
      "richText": "<p><strong>Общество с ограниченной ответственностью «Максима Логистик»</strong><span> / ООО «Максима Логистик»</span>Дата регистрации: 18 июля 2011г.<br>№ свидетельства: 013478523<br>ОГРН 1117746559930<br>Регистрирующий орган: ИФНС России № 46 по г. Москве<br>ИНН: 7709881471<br><br>КПП: 771901001<br>Расчетный счёт № 40702810300160000765 в Банк ВТБ (ПАО), г. Москва<br><br>БИК: 044525187<br><br>Корреспондентский cчёт № 30101810700000000187 в ОПЕРУ Московского ГТУ Банка России<br><br>Юридический адрес:<span> 107023, Россия, г. Москва, площадь Семеновская, д. 1А</span><br>Почтовый адрес:<span> 107023, Россия, г. Москва, площадь Семеновская, д. 1А</span>Телефон: +7 (495) 983-59-58<br>Факс: +7 (495) 983-59-58<br><br>Генеральный директор: Фалин Николай Анатольевич<br>Главный бухгалтер: Крылов Олег Валерьевич</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/47af625b4eaf49d5afa11bad2ff4a29b",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/7faaa8504d944e12844f4e1b7206d69b",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"e1f4779c-195b-44cb-9e9c-b7dcb36efec6\",\r\n    \"mediaKey\": \"d8101e54-bb32-40b3-8856-a0123da72932\"\r\n  }\r\n]",
      "sizeFoto": "5",
      "edFoto": "em",
      "richText": "<p><a rel=\"noopener\" href=\"https://upload/docs/maxima_logistic_req.doc\" target=\"_blank\" class=\"f14 d-flex align-items-center\">Скачать реквизиты в формате DOC</a></p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/2800004825a4424785872e3cceddb5f5",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4cb3f5fc-c44d-4284-86e5-ce807f32be18\",\r\n    \"mediaKey\": \"3687ad8d-8b0a-44b4-825c-2cd450354b10\"\r\n  }\r\n]",
      "edFoto": "em",
      "sizeFoto": "5",
      "richText": "<p><a rel=\"noopener\" href=\"https://upload/docs/maxima_logistic_req.pdf\" target=\"_blank\" class=\"f14 d-flex align-items-center pt-20\">Скачать реквизиты в формате PDF</a></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a8ce42c757d3428e9058b3310427185e",
      "imagePositionY": "[\"По центру\"]",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"b6663cea-a908-4a6e-b071-5b0bc28ca7da\",\r\n    \"mediaKey\": \"9da679e9-c43d-48c1-9c77-51c733fe7edb\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/88962d818f6144a397c5d6f019141e18"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a824a323762a4109b4a8de4e22bb2533"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/19ab2b393a644e99b0396a135e63e4e0"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "ca57b5b2-c356-4ec5-b699-0733c9b8e6a8",
    "mediaKey": "5e62fc26-f5b8-4e29-99bc-a29b472d3db2"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>