<?xml version="1.0" encoding="utf-8"?>
<Content Key="86b6553d-425c-409d-8d7d-b8d7cdef8218" Alias="Рекордные показатели ООО Фирма &quot;ЭКОДОР&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/RekordnyePokazateliOOOFirmaEKODOR</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:33</CreateDate>
    <NodeName Default="Рекордные показатели ООО Фирма &quot;ЭКОДОР&quot;">
      <Name Culture="ru">Рекордные показатели ООО Фирма "ЭКОДОР"</Name>
    </NodeName>
    <SortOrder>40</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-01-11T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Подводя бизнес-итоги прошлого года, стоит обратить внимание на заметное увеличение оборота российского контейнерного рынка в сети РЖД. 

 Согласно информации, предоставленной партнёрами из ООО Фирма «ЭКОДОР», за 2017 год терминалом было принято 512 контейнерных поездов, а отправлено 594 поезда с гружёными контейнерами по различным направлениям. 

 Таким образом, суммарный объём переработки контейнеров по железной дороге за минувший год составил 166 198 TEU, что является абсолютным рекордом по сравнению с показателями предыдущих лет (2013-2016 гг.). 

 Основные причины такого динамичного роста – это, несомненно, оживление рынка железнодорожных контейнерных перевозок и слаженная командная работа ООО Фирма «ЭКОДОР», Транспортной группы «FESCO» и ГК «МАКСИМУМ». Напомним, что в сентябре минувшего года ГК «МАКСИМУМ» приобрела в собственность крупный пакет акций в капитале ООО Фирма «ЭКОДОР» - ст. Силикатная.

Активное взаимовыгодное сотрудничество ГК «МАКСИМУМ» с ООО Фирма «ЭКОДОР», а также зафиксированная положительная динамика дают начало новому этапу развития железнодорожных перевозок, который в 2018 году предложит рынку современные проекты и технологии в сфере контейнерной логистики.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Рекордные показатели ООО Фирма "ЭКОДОР"]]></Value>
    </newsTitle>
  </Properties>
</Content>