<?xml version="1.0" encoding="utf-8"?>
<Content Key="20748887-aa1b-4344-9968-2ccf6ffb3ad4" Alias="Рейтинг РА &quot;Эксперт&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ReitingRAEkspert</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:36</CreateDate>
    <NodeName Default="Рейтинг РА &quot;Эксперт&quot;">
      <Name Culture="ru">Рейтинг РА "Эксперт"</Name>
    </NodeName>
    <SortOrder>45</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-11-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        По итогам минувшего 2016 года ГК «МАКСИМУМ» вошла в состав 50 крупнейших транспортно-логистических компаний России, заняв 21-е место в рейтинге ноябрьского журнала «Эксперт».

 В верхней части рейтинга традиционно разместились основные игроки рынка ж/д перевозок: ОАО «РЖД», АО «ПГК», АО «ФГК», Globaltrans, а также ФГУП «Почта России». В середине рейтинга, наряду с ГК «МАКСИМУМ» и другими ж/д перевозчиками (АО «РЖД Логистика», ООО «Восток 1520», ЗАО «Евросиб СПб-ТС»), были представлены крупнейшие российские порты и пароходства: ПАО «Мурманский морской торговый порт», ПАО «Северо-Западное пароходство», АО «Туапсинский морской торговый порт» и другие.

 Отрадно, что помимо основного рейтинга, ГК «МАКСИМУМ» попала в тройку лидеров субрейтинга «10 наиболее динамичных компаний по итогам 2015-2016 годов», где перечислены десять логистических организаций, которые активно росли даже в условиях падающего рынка. 
 Кроме ряда конъюнктурных факторов, РА «Эксперт» отметил общее влияние оптимизации бизнес-процессов, и в первую очередь внедрения IT-технологий, которые начинают вносить все более заметный вклад в динамику бизнеса транспортной логистики.

 Выводы аналитиков РА «Эксперт» подтверждаются результатами внедрения в ООО «Максима Логистик» собственной ERP-системы «МАКСАПТА», благодаря которой удалось ускорить сроки обработки документов, сократить издержки за счет снижения непроизводительных простоев вагонов, увеличить производительность труда и повысить качество оказываемых услуг. 

 Результаты рейтинга РА «Эксперт» стали объективным подтверждением высоких темпов развития ГК «МАКСИМУМ», а также большого потенциала Группы компаний на рынке транспортно-логистических услуг России.
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Рейтинг РА "Эксперт"]]></Value>
    </newsTitle>
  </Properties>
</Content>