<?xml version="1.0" encoding="utf-8"?>
<Content Key="1efbbfb6-54db-4dad-9281-6610b89611f7" Alias="с Днём железнодорожника! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/sDnemZheleznodorozhnika</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:28</CreateDate>
    <NodeName Default="с Днём железнодорожника! ">
      <Name Culture="ru">с Днём железнодорожника! </Name>
    </NodeName>
    <SortOrder>30</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-08-02T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ВАША ЖИЗНЬ - СПЛОШНЫЕ РЕЛЬСЫ, 
ШПАЛЫ - ВЕХИ НА ПУТИ. 
ПУСТЬ НА НИХ СВОЮ УДАЧУ 
ДОВЕДЁТСЯ ВАМ НАЙТИ! 

ПОД ОТКОС ЛЕТЯТ ПУСТЬ БЕДЫ -
ИМ В СОСТАВЕ МЕСТА НЕТ,
А В ВАГОНЕ ВАШЕМ СЧАСТЬЕ 
ЗАБРОНИРУЕТ БИЛЕТ! 

С ДНЁМ ЖЕЛЕЗНОДОРОЖНИКА, ДРУЗЬЯ!                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[с Днём железнодорожника! ]]></Value>
    </newsTitle>
  </Properties>
</Content>