<?xml version="1.0" encoding="utf-8"?>
<Content Key="6efbb006-0242-4a71-a4f7-83e6193160bd" Alias="С Новым 2019 Годом! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SNovym2019Godom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:23</CreateDate>
    <NodeName Default="С Новым 2019 Годом! ">
      <Name Culture="ru">С Новым 2019 Годом! </Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-12-28T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/28a48c8808d44af4ad387e109fdaa4db]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Уважаемые партнеры, коллеги и друзья! Компания "Максима Логистик" от всей души поздравляет вас с наступающим праздником - Новым 2019 годом! Хочется поблагодарить вас за оказанное доверие. Желаем, чтобы наша плодотворная работа в наступающем году принесла еще больше результатов, чтобы год подарил новые перспективы и возможности. Пусть под бой курантов исполнятся все ваши мечты, а дома у вас всегда витает атмосфера понимания и любви!

С Новым Годом!                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С Новым 2019 Годом! ]]></Value>
    </newsTitle>
  </Properties>
</Content>