<?xml version="1.0" encoding="utf-8"?>
<Content Key="d55f66e7-3cf8-420d-ba29-4d7a8f352a5b" Alias="С ДНЁМ ЖЕЛЕЗНОДОРОЖНИКА!  (1)" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SDNEMZhELEZNODOROZhNIKA1</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:38</CreateDate>
    <NodeName Default="С ДНЁМ ЖЕЛЕЗНОДОРОЖНИКА!  (1)">
      <Name Culture="ru">С ДНЁМ ЖЕЛЕЗНОДОРОЖНИКА!  (1)</Name>
    </NodeName>
    <SortOrder>50</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-08-04T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Уважаемые работники железной дороги!
Коллектив ГК "Максимум" от всего сердца поздравляет вас
   
 с  вашим профессиональным праздником! 

   
Хотим сказать вам «Спасибо» за такую тяжелую работу, которую вы беспрекословно выполняете. Желаем вам крепкого здоровья и простых человеческих радостей, ежедневно скрашивающих жизнь! Пусть все пути и стрелы всегда будут в правильном направлении. Пусть горит зелёный свет любым вашим начинаниям и желаниям! Будьте бдительны, осмотрительны, внимательны! 

С Праздником!  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С ДНЁМ ЖЕЛЕЗНОДОРОЖНИКА! ]]></Value>
    </newsTitle>
  </Properties>
</Content>