<?xml version="1.0" encoding="utf-8"?>
<Content Key="089aa6d0-ac69-4291-b1df-dfa66bb4d041" Alias="С Днём Защитника Отечества! " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SDnemZashitnikaOtechestva</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:32</CreateDate>
    <NodeName Default="С Днём Защитника Отечества! ">
      <Name Culture="ru">С Днём Защитника Отечества! </Name>
    </NodeName>
    <SortOrder>38</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-02-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Дорогие мужчины! 

23 февраля - День защитников Отечества. Этот праздник возник в 1918 году как день рождения Красной Армии в ознаменование победы под Нарвой и Псковом над немецкими завоевателями. В календаре знаменательных дат День защитников Отечества занимает особое место.В этот день все россияне отдают дань уважения и признательности военнослужащим, ветеранам армии и флота, воинам-афганцам и семьям тех, кто был или остается в ратном строю! 
Компания "Максима Логистик" от всей души поздравляет вас! 
Пусть в этот праздник для вас играет марш храбрости, а в сердце звучит вальс любви! 
Пусть для благородных поступков не будет препятствий, а на жизненном пути всегда сопутствует удача! 
Пусть небо будет мирным, плечо рядом – надёжным, а смелость – оправданной. 
С Праздником!                                                             ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С Днём Защитника Отечества! ]]></Value>
    </newsTitle>
  </Properties>
</Content>