<?xml version="1.0" encoding="utf-8"?>
<Content Key="112665bf-f2fa-4b1c-b2d2-3cb20d5ed8dc" Alias="Сайт компании «Логистор»" Level="3">
  <Info>
    <Parent Key="9b4aafe7-22d3-412d-a7be-d49d2f29eca5">Наши работы</Parent>
    <Path>/Home/NashiRaboty/SaitKompaniiLogistor</Path>
    <Trashed>false</Trashed>
    <ContentType>workItem</ContentType>
    <CreateDate>2024-03-12T12:10:38</CreateDate>
    <NodeName Default="Сайт компании «Логистор»">
      <Name Culture="ru">Сайт компании «Логистор»</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="dfb69cab-5b4c-49e9-83d0-b1df44b2b791">WorkItem</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value Culture="ru"><![CDATA[]]></Value>
    </bgColor>
    <bgImg>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "0261c8d1-e48b-4412-88cc-91483f5e706d",
    "mediaKey": "1020b459-aec6-4ac4-a05c-e7eccf6cc51d"
  }
]]]></Value>
    </bgImg>
    <class>
      <Value Culture="ru"><![CDATA[wow fadeInRight]]></Value>
    </class>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/193942282db24424b03206b60792c406",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fdff1885fb2e463b8cf5ac7a3e53145f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/018fd542183a41999397ff4b65e56932",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2c11f7ae778b4debb3cb22a486347839",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cd122dcb9c4346c982fddd68a6cb8f0c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cb8da278fc8a4ab39ea975d4f6ed1302",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/aed81b5695dd4c369bc8e3acab8a2060",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "b3ed76fa-109b-47b6-88d9-067af3f114d1",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/5523eaed9ab34b39bd4a496af1263d69"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3f355b87002a4df2a289fb1387ecd119",
        "settingsUdi": "umb://element/5ffb035620b64ebfacd39f70140cc61f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/193942282db24424b03206b60792c406",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "cb4210f1-a20d-4077-91d7-e953b482612b",
          "mediaKey": "c36668ab-acca-41fe-9df2-12b7bad3684b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "8bd0826b-9c44-4dd3-89ea-8c0666966ef1",
          "mediaKey": "e418f188-f075-4cbb-b5b6-218e61816df7"
        }
      ],
      "img650": [
        {
          "key": "6072313d-f155-4fe0-8e0c-2005f907eeb0",
          "mediaKey": "c8e6d19e-bdf5-4737-992c-5893d5b7d1cf"
        }
      ],
      "img320": [
        {
          "key": "f3febe8b-0a54-4708-b81a-0b211f8ce898",
          "mediaKey": "5cc96cca-64fa-469b-9569-3bafbc8032ed"
        }
      ],
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/fdff1885fb2e463b8cf5ac7a3e53145f",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "3b24f94c-d3b0-4558-ab8e-103325f54b41",
          "mediaKey": "e19ae5fd-7905-4e8b-be00-cd815ac3dcef"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "11c5c6ca-705c-49ed-b4ba-8ed681978909",
          "mediaKey": "b055eb3c-ffc7-46da-ac11-b43fd530b0b8"
        }
      ],
      "img650": [
        {
          "key": "888a280d-27fe-4d82-bab0-01a4e801da7a",
          "mediaKey": "d59c819f-1305-46f6-a374-ad6b5b9d9cb0"
        }
      ],
      "img320": [
        {
          "key": "3741105a-9432-40be-acde-2aace2614316",
          "mediaKey": "97fff031-d9ff-4b53-b2ae-900bc99e3368"
        }
      ],
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/018fd542183a41999397ff4b65e56932",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "006409a6-3256-4b8b-8b0a-8f363986dadf",
          "mediaKey": "1e35468d-648a-412f-a100-88c4b4ebb12e"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "8de4c881-9539-4238-8199-21a8df7ad8ae",
          "mediaKey": "64c5ef02-7e15-4e73-b294-9768d5e2c33e"
        }
      ],
      "img650": [
        {
          "key": "71e1d3cb-3e78-44d2-86d5-18005504b77f",
          "mediaKey": "1241b009-39fb-4961-aa97-5cc9e2770d2c"
        }
      ],
      "img320": [
        {
          "key": "45c73481-9f0a-4461-8cd8-128d98d2745b",
          "mediaKey": "f2f238bb-c6ae-47f5-9929-410bdf864ffc"
        }
      ],
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/2c11f7ae778b4debb3cb22a486347839",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "7226e621-fce3-404c-b02a-dd9c5a93a376",
          "mediaKey": "d41d3aa4-2b39-4711-9e8c-b9786d037a05"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "07e32255-b508-406a-b48d-78fbfceebb93",
          "mediaKey": "e26afe51-2629-4c18-9337-5ddf37c80625"
        }
      ],
      "img650": [
        {
          "key": "1eb85db7-9599-431f-8ec2-f657685b3725",
          "mediaKey": "7ed9156e-6698-4e06-84b8-f6041ffbd5c5"
        }
      ],
      "img320": [
        {
          "key": "74833702-b0f7-4864-910a-808c3c599891",
          "mediaKey": "069cc195-2263-48e4-82f3-9198cb514aca"
        }
      ],
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/3f355b87002a4df2a289fb1387ecd119",
      "class": "",
      "anchor": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/5523eaed9ab34b39bd4a496af1263d69",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><a rel=\"noopener\" href=\"https://logistorgroup.com/\" target=\"_blank\">https://logistorgroup.com/</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "class": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/cd122dcb9c4346c982fddd68a6cb8f0c",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "854b5fc6-8fdb-492f-9251-35b3c009263f",
          "mediaKey": "bccb12bd-34f6-4b90-bd94-89599f64a483"
        }
      ],
      "img1024": [
        {
          "key": "bd31dace-9ab9-479d-8e10-b614e10bd6b0",
          "mediaKey": "c27e1249-d441-4f01-8e04-61ae42a3f19f"
        }
      ],
      "img650": [
        {
          "key": "735c642f-59c0-4ab1-93a1-3f05fff830dc",
          "mediaKey": "6a614352-1cfa-4ca8-a89e-ca87d33fd454"
        }
      ],
      "img320": [
        {
          "key": "ef8235da-6322-42f9-93e9-1bd9796c2704",
          "mediaKey": "7b6cc293-9933-44b7-9265-1cc2ca16316e"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/cb8da278fc8a4ab39ea975d4f6ed1302",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "1c2ea6be-dc6c-480c-810c-093fc9f73fbc",
          "mediaKey": "4c8b7c5e-ef51-4a96-9e82-e01b00aa484a"
        }
      ],
      "img1024": [
        {
          "key": "5ffce91d-4641-4d08-8693-f6f5c6e62dfb",
          "mediaKey": "ee474ff1-e69a-4efd-a8f9-8cb7a303dab6"
        }
      ],
      "img650": [
        {
          "key": "242741a1-8692-483f-8c36-6fce22d04905",
          "mediaKey": "2df3d1d9-1d75-4000-aa11-74d59d5f1fdf"
        }
      ],
      "img320": [
        {
          "key": "4b78f90f-580c-4632-85cc-095bbd63a20f",
          "mediaKey": "cccfb309-54c7-4962-9b40-a7cb67a88930"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/aed81b5695dd4c369bc8e3acab8a2060",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "2c5f0092-9271-41be-b991-8e9bd446a45c",
          "mediaKey": "d134490a-299a-4fd0-9991-0b53e3c66b3d"
        }
      ],
      "img1024": [
        {
          "key": "372779aa-26d8-4413-a105-efdd4a0c200d",
          "mediaKey": "9fe04948-1927-460d-95db-4f6bb5700297"
        }
      ],
      "img650": [
        {
          "key": "a9789303-a459-4327-b0d1-f9b9429e8875",
          "mediaKey": "2ae5def4-fd7d-4c6c-8fc2-164f973a3117"
        }
      ],
      "img320": [
        {
          "key": "bfd3b3bd-6104-42ff-91c8-1e95719fc76d",
          "mediaKey": "c0fc1abe-30a0-4175-8b3c-686f465e81e3"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/5ffb035620b64ebfacd39f70140cc61f",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": {
        "value": "262930",
        "label": "262930",
        "sortOrder": 3,
        "id": "12"
      },
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
    </content>
    <cropCard>
      <Value Culture="ru"><![CDATA[[
  "Авто"
]]]></Value>
    </cropCard>
    <description>
      <Value Culture="ru"><![CDATA[]]></Value>
    </description>
    <image>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "58d7a610-cb2c-41c5-a90f-276976e2351a",
    "mediaKey": "d27663d5-a078-4fbb-ad68-eda42c658808"
  }
]]]></Value>
    </image>
    <keywords>
      <Value Culture="ru"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "f274c93d-025a-4b43-9f6d-f3b87ff3912f",
    "mediaKey": "8f27a942-5f08-4816-85c7-fd296bfdcb42"
  }
]]]></Value>
    </logo>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[E-MAX - Наши работы - Сайт компании «Логистор»]]></Value>
    </title>
  </Properties>
</Content>