<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b1de506-5bac-4333-9e6c-0b2d1d6c722f" Alias="Соблюдаем меры безопасности и работаем в обычном режиме" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SoblyudaemMeryBezopasnostiIRabotaemVObychnomRezhime</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:13</CreateDate>
    <NodeName Default="Соблюдаем меры безопасности и работаем в обычном режиме">
      <Name Culture="ru">Соблюдаем меры безопасности и работаем в обычном режиме</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2020-03-20T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/3eba0ce497e0424b8ae385d1d7423916]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Уважаемые партнеры и клиенты ГК «МАКСИМУМ», сообщаем вам, что часть сотрудников нашей компании переходят на дистанционную работу с целью предотвращения распространения короновирусной инфекции (COVID-19) и введением режима повышенной готовности в г. Москве.

 Мы делаем все, чтобы сложившаяся непростая ситуация в мире и в стране, в частности, никак не повлияла на нашу работу, поэтому, все основные функции компании будут поддерживаться в обычном режиме. 

 Помните, что вводимые сегодня ограничения являются необходимыми и будут отменены сразу после того, как эта необходимость отпадет. 

Берегите себя и своих близких, соблюдайте все меры безопасности, ведь каждый из нас может повлиять на то, чтобы вирус не распространялся.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Соблюдаем меры безопасности и работаем в обычном режиме]]></Value>
    </newsTitle>
  </Properties>
</Content>