<?xml version="1.0" encoding="utf-8"?>
<Content Key="42e51785-3364-4925-989b-acb525f5e115" Alias="Сотрудничество ГК &quot;МАКСИМУМ&quot; с &quot;Rietumu Banka&quot; (Латвия)." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SotrudnichestvoGKMAKSIMUMSRietumuBankaLatviya</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:06</CreateDate>
    <NodeName Default="Сотрудничество ГК &quot;МАКСИМУМ&quot; с &quot;Rietumu Banka&quot; (Латвия).">
      <Name Culture="ru">Сотрудничество ГК "МАКСИМУМ" с "Rietumu Banka" (Латвия).</Name>
    </NodeName>
    <SortOrder>98</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-09-22T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В текущем квартале исполнился ровно год со дня начала работы группы компании  «МАКСИМУМ»  с банком «Риетуму». Именно тогда (15.07.2013) был заключен первый долгосрочный кредитный договор между Банком и компанией ООО «Топ Лайн» (входит в ГК «МАКСИМУМ») по которому стороны четко исполняют свои обязательства и по сей день. 
Полученные кредитные средства были направлены на приобретение универсальных платформ, которые успешно эксплуатирует ООО «Максима Логистик» и в настоящее время операционный парк данного вида насчитывает порядка 1 800 единиц.
В планах ГК «МАКСИМУМ» продолжить взаимовыгодное сотрудничество с банком «Риетуму» и получить очередной кредит, который так же будет направлен на приобретение нового подвижного состава.
Генеральный  директор ООО «Максима Логистик» Николай Фалин отметил, что получаемые кредитные средства от одного из крупнейших банков Балтии лишний раз подтверждают стабильное и устойчивое положение компании на российском рынке перевозок. «Грамотное использование кредитных ресурсов позволило ГК «МАКСИМУМ» завоевать доверие, в том числе и европейских банков, и это еще раз доказывает, что мы развиваем свой транспортный бизнес в правильном направлении», — сказал Н. Фалин.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Сотрудничество ГК "МАКСИМУМ" с "Rietumu Banka" (Латвия).]]></Value>
    </newsTitle>
  </Properties>
</Content>