<?xml version="1.0" encoding="utf-8"?>
<Content Key="634aecf0-037a-4bc6-beb5-0ce998e0c27e" Alias="Сотрудничество с ПАО «Банк ВТБ»" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SotrudnichestvoSPAOBankVTB</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:22</CreateDate>
    <NodeName Default="Сотрудничество с ПАО «Банк ВТБ»">
      <Name Culture="ru">Сотрудничество с ПАО «Банк ВТБ»</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-01-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/c601653c180a478392ad9cea81860d0e]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
     В декабре 2018 г. в кредитном портфеле ГК «Максимум» появилось имя одного из крупнейших банков РФ – новым финансовым партнером Группы стало ПАО «Банк ВТБ». Банк занимает вторую строчку в рейтинге крупнейших российских банков по величине активов. Кредитная линия на компании Группы в размере 500 млн. руб. была предоставлена в рамках программы по рефинансированию кредитного портфеля, привлечение кредита ПАО «Банк ВТБ» стало заключительным этапом данной программы, которая проводилась в 2017-2018 гг. 

      По словам финансового директора холдинга М. Кунаева, по результатам проделанной работы около 70% долга Группы на долгосрочной основе сосредоточено в ведущих российских банках: ПАО Сбербанк, ПАО Банк ВТБ и АО «Юникредит Банк», что в целом достаточно убедительно характеризует динамику кредитного рейтинга и финансовых показателей ГК «Максимум» за последние два года.  ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Сотрудничество с ПАО «Банк ВТБ»]]></Value>
    </newsTitle>
  </Properties>
</Content>