<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d4d340f-d023-4e14-a0db-6b5c64a69440" Alias="Сотрудничество с Банком Финсервис продолжается" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SotrudnichestvoSBankomFinservisProdolzhaetsya</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:20</CreateDate>
    <NodeName Default="Сотрудничество с Банком Финсервис продолжается">
      <Name Culture="ru">Сотрудничество с Банком Финсервис продолжается</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-03-04T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/3199bcc7b753434b8d3c58e51a0036e2]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В феврале ГК "Максимум" завершила проект по рефинансированию кредитного портфеля в АО "Банк Финсервис". 
В отличие от предыдущих аналогичных сделок, когда кредиты небольших банков замещались более крупными участниками банковского сектора, в этот раз партнером по рефинансированию выступил сам Банк Финсервис. Банк смог обеспечить новые условия по кредитам ООО «ТопЛайн» и ООО «Репетек», сопоставимые с предложениями крупнейших банков России. 
Отрадно, что наш давний финансовый партнер, сотрудничество с которым началось в 2014 г., развивается вместе с Группой и может обеспечить ее растущие потребности. Предлагая конкурентные рыночные условия по срокам и стоимости кредитования, АО «Банк Финсервис» смог сохранить основные преимущества небольших отраслевых банков – высокий уровень клиентоориентированности и мобильность в принятии решений.
Наряду с кредитованием, АО «Банк Финсервис» оказывает компаниям Группы услуги по документарным операциям, реализовывает зарплатные проекты и обслуживает ВЭД.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Сотрудничество с Банком Финсервис продолжается]]></Value>
    </newsTitle>
  </Properties>
</Content>