<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b08a907-bf0b-4908-a84e-69a00fc03675" Alias="Строительство терминала в Чунояре " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/StroitelStvoTerminalaVChunoyare</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:27</CreateDate>
    <NodeName Default="Строительство терминала в Чунояре ">
      <Name Culture="ru">Строительство терминала в Чунояре </Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-09-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО «Восточный Транспортный Комплекс» (ВТК), входящее в состав ГК «Максимум», при поддержке нового партнёра группы - ООО «Левана» - начали проектирование контейнерного терминала в северо-восточной части Красноярского края – посёлке Чунояр. 

 Основная задача терминала – обеспечить стабильную контейнеризацию экспорта лесных грузов в соответствии с потребностями клиентов ГК «Максимум» из числа красноярских лесоперерабатывающих предприятий. 

 Контейнерный терминал расположен на территории, принадлежащей ООО «Левана», и уже обеспечен подъездными путями. На данный момент ведутся проектные работы и завершается открытие путей по параграфам 8Н, 10Н, 11Н и 12Н для операций с контейнерами. По прогнозам, уже в 4 квартале текущего года начнутся первые контейнерные отправки.

 Мощности Чуноярского терминала будут ориентированы на маршрутные отправки контейнеров через морские порты Дальнего Востока (Находка Восточная, Владивосток), а также через сухопутные пограничные переходы в Китай и Монголию – Забайкальск, Достык и Наушки. 
 ООО «ВТК» планирует еженедельно отправлять на экспорт 1 контейнерный поезд, установив регулярное расписание. Тем самым терминал рассчитывает добиться отправки 300 ед. 40-футовых контейнеров ежемесячно, что эквивалентно примерно 7000 TEU/год.
 В работе терминала будут задействованы не только международные контейнерные линии APL, Maersk, Sinokor, Hyundai, CMA CGM, но и китайские транспортные компании. Отправки пиломатериалов будут осуществляться в страны Восточной Азии – Китай, Японию и Корею. 
 Проект контейнерного терминала на базе Чунояра в дальнейшем послужит фундаментом для реализации подобного строительства и в Канске, расположенном в 247 км от Красноярска – сейчас там уже идёт подготовка к проектированию.

 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Строительство терминала в Чунояре ]]></Value>
    </newsTitle>
  </Properties>
</Content>