<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7366f5-e89b-4238-a35b-45464a79248a" Alias="Территория партнеров расширяется пропорционально росту бизнеса ГК &quot;Максимум&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/TerritoriyaPartnerovRasshiryaetsyaProporfionalNoRostuBiznesaGKMaksimum</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:50</CreateDate>
    <NodeName Default="Территория партнеров расширяется пропорционально росту бизнеса ГК &quot;Максимум&quot;">
      <Name Culture="ru">Территория партнеров расширяется пропорционально росту бизнеса ГК "Максимум"</Name>
    </NodeName>
    <SortOrder>71</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-06-15T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В июне текущего года состоялось подписание договора кредитной линии с лимитом 200 млн. рублей, сроком на три года, с новым партнером ГК Максимум - ПАО «БАЛТИНВЕСТБАНК». Данные кредитные средства будут направлены на инвестиционную и хозяйственную деятельность компаний группы Максимум. 
Заинтересованность новых партнеров в финансировании ГК Максимум лишний раз подчеркивает инвестиционную привлекательность холдинга и позволяет увеличить объемы бизнеса. 

Коротко о новом партнере:  
       ПАО «БАЛТИНВЕСТБАНК» создан в декабре 1994 года под именем ОАО КБ «БАЛТОНЭКСИМ БАНК». Сегодня сеть БАЛТИНВЕСТБАНКа состоит из 6 филиалов и 38 дополнительных офисов, расположенных в 5 федеральных округах. С конца 2015 года БАЛТИНВЕСТБАНК находится на финансовом оздоровлении, для участия в котором в качестве инвестора Агентством по страхованию вкладов был выбран АКБ «Абсолют Банк» (ПАО), который обеспечил бесперебойную работу БАЛТИНВЕСТБАНКа с вкладчиками и заемщиками, предприняв все необходимые действия по выполнению взятых на себя обязательств. В настоящее время БАЛТИНВЕСТБАНК осуществляет свою деятельность в обычном режиме, предоставляя полный комплекс банковских услуг и обеспечивая бесперебойное обслуживание клиентов.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Территория партнеров расширяется пропорционально росту бизнеса ГК "Максимум"]]></Value>
    </newsTitle>
  </Properties>
</Content>