<?xml version="1.0" encoding="utf-8"?>
<Content Key="64bb1a63-3e62-4fd9-ab4a-512ec933fc01" Alias="Транзиту сократили ожидание" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/TranzituSokratiliOzhidanie</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:46</CreateDate>
    <NodeName Default="Транзиту сократили ожидание">
      <Name Culture="ru">Транзиту сократили ожидание</Name>
    </NodeName>
    <SortOrder>65</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-12-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/9c0dbbeb10a44a60bf66c5634bb081d1]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Отраслевые"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В минувшую пятницу 16 декабря со станции Находка-Восточная отправлен контейнерный поезд с 112 TEU (20-футовыми контейнерами) с автокомплектующими компании General Motors. Время доставки груза по железной дороге до пункта назначения – узбекского города Асака (станция Ассаке), где расположен автозавод GM-Uzbekistan, - десять дней. 

Транзитные контейнеры пришли в порт Восточный из Южной Кореи. Особенностью данной перевозки стало то, что на оформление транзита в морском пункте пропуска ушло минимальное время – не больше суток. Для сравнения, на начало 2016 года нахождение контейнера в Восточном с момента выгрузки и до окончания государственного контроля в среднем занимало 5,6 дней. 

Минимизация сроков стала возможна благодаря слаженной работе работников порта, станции, таможенных органов и ПАО «ТрансКонтейнер» на всех этапах пропуска груза. «За счет представленной на таможенный пост предварительной информации о грузе были сокращены процедуры оформления, его обработка осуществлена по прямому варианту судно-вагон с исключением временного хранения на складе», - рассказал начальник филиала ПАО «ТрансКонтейнер» на Дальневосточной железной дороге Петр Силин. 

К данной технологии, работающей на основе электронного документооборота, все чаще прибегают участники внешнеэкономической деятельности. Если в августе 2016 года доля представленной на таможенный пост Морской порт Восточный предварительной информации от всего количества ввезенных товарных партий составляла около 5%, то в ноябре – более 55%, сообщила главный государственный таможенный инспектор по связям с общественностью Находкинской таможни Наталья Сабадаш. 

Упрощенный пропуск грузов на границе необходим для повышения конкурентоспособности российской транспортной системы, говорит Петр Силин. Сегодня для обеспечения транзита задействуются различные транспортные схемы, в том числе в обход России. К примеру, отправители из Южной Кореи, помимо маршрутов deep-sea, используют транзитные возможности Китая. Груз сначала следует морем до китайских портов (Далянь, Циньхуандао, Тяньцзинь), далее по сети железных дорог КНР - до казахстанского пункта пропуска Достык. 

Добавим, сейчас набирают активность перевозки транзита по международному транспортному коридору (МТК) «Приморье-1». Они осуществляются через пограничный переход Суйфэньхэ - Гродеково, связывающий китайскую провинцию Хэйлунцзян и Приморский край. Время следования груза по территории России не превышает 13 часов. 
За 11 месяцев в данном сообщении перевезено около 2 тыс. TEU. Это в восемь раз превышает аналогичный показатель прошлого года. При этом в ноябре зафиксирован наибольший объем транзитных перевозок – 510 TEU. Номенклатура транзита представлена, главным образом, пиломатериалами, изделиями из дерева, а также сельскохозяйственными грузами. 

По итогам 2016 года перевозки транзита через ДВЖД составят более 2,6 тыс. TEU, прогнозируют в Дальневосточном территориальном центре фирменного транспортного обслуживания. В ТЦФТО ожидают дальнейшего роста транзитного контейнерного потока в следующем году. 

Производственная мощность завода GM-Uzbekistan в городе Асака - 230 тыс. автомобилей в год. В настоящее время на предприятии выпускается порядка десяти моделей. Нынешней осенью здесь началось производство седана Chevrolet Cobalt. Объем выпуска новой модели составит более 120 тыс. автомобилей в год, из которых не менее половины будет реализовываться в странах СНГ.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Транзиту сократили ожидание]]></Value>
    </newsTitle>
  </Properties>
</Content>