<?xml version="1.0" encoding="utf-8"?>
<Content Key="79f3c384-4a8e-4770-b0a8-c5fcf799bb78" Alias="УСПЕХИ &quot;МАКСИМА ЛОГИСТИК&quot; С ПАРТНЁРОМ &quot;МАКСЭКСПРЕСС&quot; " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/USPEKhIMAKSIMALOGISTIKSPARTNEROMMAKSEKSPRESS</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:47</CreateDate>
    <NodeName Default="УСПЕХИ &quot;МАКСИМА ЛОГИСТИК&quot; С ПАРТНЁРОМ &quot;МАКСЭКСПРЕСС&quot; ">
      <Name Culture="ru">УСПЕХИ "МАКСИМА ЛОГИСТИК" С ПАРТНЁРОМ "МАКСЭКСПРЕСС" </Name>
    </NodeName>
    <SortOrder>66</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-10-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Компания МаксЭкспресс занимающаяся контейнерными перевозками по России является надежным партнером по бизнесу компании Максима Логистик.
Это первый партнер, с которым удалось протестировать электронный документооборот через оператора СКБ Контур.
За период внедренной технологии были подписаны и отправлены через оператора ЭДО более 500 документов. Переход на электронный документооборот позволил сократить расходы на производство и пересылку бумажных документов и увеличить скорость согласования и подписания документов.
Все партнеры заметили скорость и экономию новых технологий по обмену документов.
Важным событием на рынке в III квартале стал договор, который заключили СКБ Контур и трое других крупных операторов ЭДО: «Корус Консалтинг», «Тензор» и «Такском». В соответствии с этим четырехсторонним соглашением каждый из них становится роуминговым оператором и может обеспечить транзит документов любому другому участнику рынка. Это соглашение упрощает подключение к ЭДО клиентов, работающих через других операторов.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[УСПЕХИ "МАКСИМА ЛОГИСТИК" С ПАРТНЁРОМ "МАКСЭКСПРЕСС" ]]></Value>
    </newsTitle>
  </Properties>
</Content>