<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a2c5d9e-454a-49da-9f06-0543f6c3bd39" Alias="Услуги" Level="102">
  <Info>
    <Parent Key="08808991-8425-4698-946d-f30817549618">Главная</Parent>
    <Path>/[-20]/Glavnaya/Uslugi</Path>
    <Trashed Parent="08808991-8425-4698-946d-f30817549618">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T19:00:14</CreateDate>
    <NodeName Default="Услуги">
      <Name Culture="ru">Услуги</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[]]></Value>
    </icoNav>
  </Properties>
</Content>