<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfdca301-39bd-42d4-a651-78f4390874b9" Alias="Участие в конференции InfraNews " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/UchastieVKonferenfiiInfraNews</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:37</CreateDate>
    <NodeName Default="Участие в конференции InfraNews ">
      <Name Culture="ru">Участие в конференции InfraNews </Name>
    </NodeName>
    <SortOrder>48</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-08-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        23 августа компания «Максима Логистик» приняла участие в конференции, организованной InfraNews, где на повестку дня были вынесены актуальные вопросы: инновационные фитинговые платформы и скоростные ж/д технологии, новые методы управления терминалом, контейнерные поезда КНР-РФ-КНР, дефицит оборудования в Китае, влияние сезонности на себестоимость транзита и др. 
Помимо прочего была проанализирована текущая ситуация на контейнерном рынке. По итогам конференции были составлены следующие прогнозы: 
- количество экспорта в Китай увеличивается;
- скоростные контейнерные поезда составят достойную конкуренцию авиаперевозкам на дальние расстояния;
- инновационные рефрижераторные контейнеры - гарантия качественной перевозки экспортных продуктов питания;
- к 2022 г. весь старый ж/д состав будет полностью ликвидирован и заменён современным. 

Ссылка на видео конференции InfraNews по ссылке https://www.youtube.com/watch?v=GoW1WezBlxw 
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Участие в конференции InfraNews ]]></Value>
    </newsTitle>
  </Properties>
</Content>