<?xml version="1.0" encoding="utf-8"?>
<Content Key="8325b685-fc5f-47d0-9ef4-66b60bb00959" Alias="Финансовые показатели ООО &quot;Максима Логистик&quot; за 2013 год." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/FinansovyePokazateliOOOMaksimaLogistikZa2013God</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:13</CreateDate>
    <NodeName Default="Финансовые показатели ООО &quot;Максима Логистик&quot; за 2013 год.">
      <Name Culture="ru">Финансовые показатели ООО "Максима Логистик" за 2013 год.</Name>
    </NodeName>
    <SortOrder>109</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-04-28T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
По данным бухгалтерской отчетности ООО “Максима Логистик” за 2013 год:



• Выручка составила более 2 млр. руб.
• Валовая прибыль - порядка 200 млн. руб.
• Чистая прибыль - более 40 млн. руб.



Данные показатели более чем внушительны для молодой компаний на фоне снизившихся объёмов перевозок в 2013 году. ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Финансовые показатели ООО "Максима Логистик" за 2013 год.]]></Value>
    </newsTitle>
  </Properties>
</Content>