<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae3213a4-e251-4c2e-9cf9-33380973c442" Alias="Экспертное мнение." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/EkspertnoeMnenie</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:07</CreateDate>
    <NodeName Default="Экспертное мнение.">
      <Name Culture="ru">Экспертное мнение.</Name>
    </NodeName>
    <SortOrder>100</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-08-28T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
С компанией ООО «Максима Логистик» считаются на рынке железнодорожных перевозок. С 1 августа на железных дорогах России в ступил в силу новый технический регламент Таможенного союза. Он вносит существенные изменения в практику использования вагонного парка. К этому  действию была посвящена статья в еженедельном аналитическом журнале «Эксперт» № 34, 18-24 августа, в которой проанализирована ситуация с профицитом грузовых вагонов, свои комментарии дал г-н Фалин Николай Анатольевич, которые были отражены в статье. 
Ссылка на статью http://expert.ru/expert/2014/34/izbavitsya-ot-profitsita/ ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Экспертное мнение.]]></Value>
    </newsTitle>
  </Properties>
</Content>