<?xml version="1.0" encoding="utf-8"?>
<Content Key="6260a8ac-2756-4c8e-9d2e-9c33a666337d" Alias="Экспансия в регионы" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/EkspansiyaVRegiony</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:22</CreateDate>
    <NodeName Default="Экспансия в регионы">
      <Name Culture="ru">Экспансия в регионы</Name>
    </NodeName>
    <SortOrder>125</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-10-15T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО "Максима Логистик" открыла свои  представительства на Свердловской дороги (Верещагино, Соликамск) в дополнение существующей филиальной сети ООО "Альфа-Транс" (Челябинск) и ООО "Бетта" (Пермь). 
    
    В планах Компании  открыть представительства на: 
    
   На Кировском узле Горьковской дороги, на Сывтыкарском узле Северной дороги, на станции  Лесосибирск Красноярской дороги, на станции Иркутск Восточно-Сибирской дороги, а так же на транспортных узлах Азербайджана и Казахстана. 
    
   Наличие представительств в данных  регионах позволит существенно расширить клиентскую базу. 
    
   Благодаря  работе представителей Компании на Свердловской и Горьковской дорогах с 01.10.2013  уже были подписаны договора о сотрудничестве  с такими партнерами как: 
    
 ООО "Стивидор", ООО "Граф", ООО "Пермлессервис" и другие. 





 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Экспансия в регионы]]></Value>
    </newsTitle>
  </Properties>
</Content>