<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d7f5bcb-820c-45ce-a0c6-280efeabaa3c" Alias="320" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T15:12:34</CreateDate>
    <NodeName Default="320" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>