<?xml version="1.0" encoding="utf-8"?>
<Media Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54" Alias="650" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T11:27:49</CreateDate>
    <NodeName Default="650" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>