<?xml version="1.0" encoding="utf-8"?>
<Media Key="b24f3ffa-9a4c-49e2-a57d-b824fac05700" Alias="650" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T15:11:01</CreateDate>
    <NodeName Default="650" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>