<?xml version="1.0" encoding="utf-8"?>
<Media Key="14dce898-61c3-49d1-9ac2-d00c64dbf196" Alias="Advantages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Advantages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-26T09:50:07</CreateDate>
    <NodeName Default="Advantages" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>