<?xml version="1.0" encoding="utf-8"?>
<Media Key="6da73fca-0642-41f2-9f5c-f40fcf8037f4" Alias="Call" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Call</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T09:22:36</CreateDate>
    <NodeName Default="Call" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5m5lo1kc/call.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>