<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f" Alias="chcont" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/chcont</Path>
    <Trashed Parent="c258ff76-69aa-4347-970a-35083c42ab8f">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-12T12:03:22</CreateDate>
    <NodeName Default="chcont" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>