<?xml version="1.0" encoding="utf-8"?>
<Media Key="381f5544-e445-41db-9ecb-85cd767f5d03" Alias="Im4" Level="102">
  <Info>
    <Parent Key="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">chcont</Parent>
    <Path>/[-21]/chcont/Im4</Path>
    <Trashed Parent="3a1f850b-49a9-4f64-9fac-859ba16ceb7f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-12T12:03:34</CreateDate>
    <NodeName Default="Im4" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ijkb4ocf/im4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>