<?xml version="1.0" encoding="utf-8"?>
<Media Key="887ff950-2d1d-4c05-b3b1-d99e7099f97b" Alias="Lg 3" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Lg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T10:15:17</CreateDate>
    <NodeName Default="Lg 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mh2h5ca3/lg-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>