<?xml version="1.0" encoding="utf-8"?>
<Media Key="b620d2bf-4c25-4fd5-bada-38a12c8d0349" Alias="Logistor 4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor4</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-13T16:44:01</CreateDate>
    <NodeName Default="Logistor 4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1jcbnrf/logistor-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>