<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3f7f5d3-df6a-4b80-92c5-0e062a961ad8" Alias="Logistor 6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor6</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T21:49:22</CreateDate>
    <NodeName Default="Logistor 6" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2l0ppi1k/logistor-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>