<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab4a7d5b-9dbe-4c35-bdcc-378b7594fed7" Alias="Logistor 1 650" Level="4">
  <Info>
    <Parent Key="b24f3ffa-9a4c-49e2-a57d-b824fac05700">650</Parent>
    <Path>/Sites/Logistor//Logistor1650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:11:07</CreateDate>
    <NodeName Default="Logistor 1 650" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nj4fvk34/logistor-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>