<?xml version="1.0" encoding="utf-8"?>
<Media Key="86713f92-0124-4f1e-9389-ef27dd997eda" Alias="Logistor 4 1024" Level="4">
  <Info>
    <Parent Key="eb167e7d-b407-4377-9bf4-c9085c12076f">1024</Parent>
    <Path>/Sites/Logistor//Logistor41024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:09:01</CreateDate>
    <NodeName Default="Logistor 4 1024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/um5hdbre/logistor-4-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>