<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a0de1be-0561-4db8-84bf-210dd3ccf3ba" Alias="Logo Rail" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoRail</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:07:10</CreateDate>
    <NodeName Default="Logo Rail" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r5qb0otb/logo_rail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>