<?xml version="1.0" encoding="utf-8"?>
<Media Key="23db8ca2-e7bf-45d8-a2f4-5efb86cad407" Alias="Logo Betta (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoBetta1</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:33:17</CreateDate>
    <NodeName Default="Logo Betta (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sognwi35/logo_betta.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>