<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b77e1b-620b-45ea-9024-9aebb5afe67f" Alias="Max 5 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max5650</Path>
    <Trashed Parent="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:59</CreateDate>
    <NodeName Default="Max 5 650" />
    <SortOrder>129</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fj5lp3al/max-5-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>