<?xml version="1.0" encoding="utf-8"?>
<Media Key="47f00097-8b64-4dff-bccf-591db731bf5a" Alias="Max 6 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max61024</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:30</CreateDate>
    <NodeName Default="Max 6 1024" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uyapar1e/max-6-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>