<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5a0833a-25ec-423f-9128-53b2213fe1bd" Alias="Max 1 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max11024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T11:26:18</CreateDate>
    <NodeName Default="Max 1 1024" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/boblbjpm/max-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>