<?xml version="1.0" encoding="utf-8"?>
<Media Key="c246337b-2d8e-454a-821a-1dd9427cdd3d" Alias="Max 6 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max6650</Path>
    <Trashed Parent="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:58</CreateDate>
    <NodeName Default="Max 6 650" />
    <SortOrder>130</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jizfnquo/max-6-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>