<?xml version="1.0" encoding="utf-8"?>
<Media Key="d730c485-b5e0-430e-88ae-ee7525674343" Alias="Max Mob 4 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob4650</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-18T14:13:39</CreateDate>
    <NodeName Default="Max Mob 4 650" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpcdbv5a/max_mob-4-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>