<?xml version="1.0" encoding="utf-8"?>
<Media Key="470e8ab6-f540-4190-966e-d615a4e7ce04" Alias="Max Mob 5 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob5650</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:41</CreateDate>
    <NodeName Default="Max Mob 5 650" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4fa2r0a/max_mob-5-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>