<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a49693b-f889-424c-b9fb-787b6be03fc5" Alias="Max Mob 5 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob51024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:23:37</CreateDate>
    <NodeName Default="Max Mob 5 1024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hvufssuj/max_mob-5-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>