<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ac1a581-5b5f-4a88-b3d3-87bf11ff9235" Alias="Max 3 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max310241</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:25</CreateDate>
    <NodeName Default="Max 3 1024 (1)" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcsncss5/max-3-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>