<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ce4cfc-3b27-429c-affe-8aed36cc2812" Alias="Max Mob 6 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob6650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:20:53</CreateDate>
    <NodeName Default="Max Mob 6 650" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5jgm3abh/max_mob-6-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>