<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fc31815-34a9-4d37-b0d3-49ca0a98851b" Alias="Max 4 320 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max43201</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:26</CreateDate>
    <NodeName Default="Max 4 320 (1)" />
    <SortOrder>133</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eqmmgx3j/max-4-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>