<?xml version="1.0" encoding="utf-8"?>
<Media Key="e44afdef-f31b-47df-8f78-83ce2136f63d" Alias="Max Mob 8 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob81024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:23:38</CreateDate>
    <NodeName Default="Max Mob 8 1024" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3h4fvza1/max_mob-8-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>