<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3c53e97-76af-43da-8ddd-e9441e5bc93e" Alias="Max Mob 1 (4)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob14</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:56</CreateDate>
    <NodeName Default="Max Mob 1 (4)" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uy5mlu3p/max_mob-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>