<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a0f4449-21ee-4a13-9492-9a3d4fd76fb4" Alias="Max Mob 1 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob1650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:20:50</CreateDate>
    <NodeName Default="Max Mob 1 650" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3ca4sxo/max_mob-1-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>