<?xml version="1.0" encoding="utf-8"?>
<Media Key="072473c6-008a-40c8-96f5-df620cf4a40e" Alias="Max Mob 8 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob81024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:20</CreateDate>
    <NodeName Default="Max Mob 8 1024" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/43zdib2k/max_mob-8-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>