<?xml version="1.0" encoding="utf-8"?>
<Media Key="b916320e-99e8-403c-b3a9-ba3aa6e7eed2" Alias="Max 1 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max11</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:05</CreateDate>
    <NodeName Default="Max 1 (1)" />
    <SortOrder>123</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2zbnopi/max-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>