<?xml version="1.0" encoding="utf-8"?>
<Media Key="21fe039a-9772-4f2e-9685-31eb87a704cb" Alias="Max 3 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max32</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:24:33</CreateDate>
    <NodeName Default="Max 3 (2)" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vmbp2ils/max-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>