<?xml version="1.0" encoding="utf-8"?>
<Media Key="361210c4-c29d-47d2-9482-bdf1c37ae4f0" Alias="Max 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max1</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:00:27</CreateDate>
    <NodeName Default="Max 1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4uibenu3/max-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>