<?xml version="1.0" encoding="utf-8"?>
<Media Key="607ade73-09e6-4139-ad90-bcb81a8dd26d" Alias="Max 3 320" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max3320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T11:29:30</CreateDate>
    <NodeName Default="Max 3 320" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ilphuyhg/max-3-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>