<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae9c03e3-19d8-4525-8234-68e710d29a35" Alias="Maxapta 4 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta41</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:32:10</CreateDate>
    <NodeName Default="Maxapta 4 (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ibjzlwy/maxapta-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>