<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f032ae5-44e2-4d6c-b6fd-4320fdefdf1b" Alias="Maxapta 1 320" Level="4">
  <Info>
    <Parent Key="9410c5fd-84e0-4bac-ae53-9b9772909388">320</Parent>
    <Path>/Sites/maxapta//Maxapta1320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T21:58:59</CreateDate>
    <NodeName Default="Maxapta 1 320" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0qvahd5c/maxapta-1-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>