<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ef0d6ce-d1bb-4d5c-ae97-356f36438127" Alias="Maxapta 2 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta210241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:35:45</CreateDate>
    <NodeName Default="Maxapta 2 1024 (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/55lpahv1/maxapta-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>