<?xml version="1.0" encoding="utf-8"?>
<Media Key="6631d070-e2fc-4bd0-bd7c-dae43ae34913" Alias="Maxapta 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Maxapta2</Path>
    <Trashed Parent="b82d5a18-e8fa-41b7-8feb-199aa86c2970">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:06:33</CreateDate>
    <NodeName Default="Maxapta 2" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihidczx2/maxapta-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>