<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac82ef35-0b20-46bb-9f11-032874cb6a2e" Alias="Maxexmobcover" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Maxexmobcover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-27T15:15:22</CreateDate>
    <NodeName Default="Maxexmobcover" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gpxjflba/maxexmobcover.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>