<?xml version="1.0" encoding="utf-8"?>
<Media Key="2feaa53d-f022-424e-bc73-8f21539f8b5f" Alias="Zag3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zag3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T15:11:01</CreateDate>
    <NodeName Default="Zag3" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsspulzc/zag3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>