<?xml version="1.0" encoding="utf-8"?>
<Media Key="313aa966-0290-4411-9f15-85736e194e7c" Alias="1024" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T21:48:36</CreateDate>
    <NodeName Default="1024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>