<?xml version="1.0" encoding="utf-8"?>
<Media Key="a36ab093-e734-43b9-a0c2-3736c3e61d0c" Alias="2024 03 03 21 30 52" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-03T21:31:39</CreateDate>
    <NodeName Default="2024 03 03 21 30 52" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/swygvizu/2024-03-03_21-30-52.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>