<?xml version="1.0" encoding="utf-8"?>
<Media Key="28a28182-847e-495c-855f-bf5ae98cc70f" Alias="320" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T11:29:22</CreateDate>
    <NodeName Default="320" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>