<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff097abe-88b6-4b9f-ae37-9f9f1683178d" Alias="Aim1" Level="2">
  <Info>
    <Parent Key="14dce898-61c3-49d1-9ac2-d00c64dbf196">Advantages</Parent>
    <Path>/Advantages/Aim1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-26T09:50:32</CreateDate>
    <NodeName Default="Aim1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r33at53w/aim1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>