<?xml version="1.0" encoding="utf-8"?>
<Media Key="19d8fbbd-4784-4e5e-b6d4-1731cb97516a" Alias="Aim3" Level="2">
  <Info>
    <Parent Key="14dce898-61c3-49d1-9ac2-d00c64dbf196">Advantages</Parent>
    <Path>/Advantages/Aim3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-26T09:50:32</CreateDate>
    <NodeName Default="Aim3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rt3nqgme/aim3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>