<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bce4cb2-f83b-4037-b9ca-a4164606d7b6" Alias="Logistor 3 32" Level="4">
  <Info>
    <Parent Key="8d7f5bcb-820c-45ce-a0c6-280efeabaa3c">320</Parent>
    <Path>/Sites/Logistor//Logistor332</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T15:12:41</CreateDate>
    <NodeName Default="Logistor 3 32" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qngm20z1/logistor-3-32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>