<?xml version="1.0" encoding="utf-8"?>
<Media Key="77db5f72-41d7-429e-9be5-eac793a1e6ed" Alias="Logistor 9" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor9</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T21:49:21</CreateDate>
    <NodeName Default="Logistor 9" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/inpnw34x/logistor-9.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>