<?xml version="1.0" encoding="utf-8"?>
<Media Key="de280100-51fe-4cdc-9e83-aa177621de64" Alias="Logistor 7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor7</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T21:49:22</CreateDate>
    <NodeName Default="Logistor 7" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/geadrxx4/logistor-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>