<?xml version="1.0" encoding="utf-8"?>
<Media Key="21b11361-6690-4e62-b4f4-7d3148599ef6" Alias="Logistor 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logistor2</Path>
    <Trashed Parent="c521c417-6ba6-409e-bc09-af67cc16c015">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-13T16:43:59</CreateDate>
    <NodeName Default="Logistor 2" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kajlcimq/logistor-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>