<?xml version="1.0" encoding="utf-8"?>
<Media Key="f260c3a6-f512-4066-98b7-cef99948b216" Alias="Logo Ecoline" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoEcoline</Path>
    <Trashed Parent="7895e320-462f-4f96-ac1a-16b68561766c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T11:10:14</CreateDate>
    <NodeName Default="Logo Ecoline" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s5bhb2qs/logo_ecoline.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>