<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e04e6da-4ff9-402b-9131-34bcfde56876" Alias="Max 5 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max5650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:42:57</CreateDate>
    <NodeName Default="Max 5 650" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ttai5xz/max-5-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>