<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac0cd2b-5325-407b-adf9-24c8c77fbd31" Alias="Max 5 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max51024</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:30</CreateDate>
    <NodeName Default="Max 5 1024" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dlgna4rf/max-5-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>