<?xml version="1.0" encoding="utf-8"?>
<Media Key="97d8ce93-9f34-4ef1-b955-bd1db32547c4" Alias="Max 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max3</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:00:28</CreateDate>
    <NodeName Default="Max 3" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulhnrfzu/max-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>