<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8a5a124-b4c8-4557-8fb8-8cd1e7610506" Alias="Max Mob 3" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T21:48:42</CreateDate>
    <NodeName Default="Max Mob 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cwqllwgi/max_mob-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>