<?xml version="1.0" encoding="utf-8"?>
<Media Key="03fccf7a-8c04-40b0-a933-31fd6b18c53b" Alias="Max 3 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max31</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:00:02</CreateDate>
    <NodeName Default="Max 3 (1)" />
    <SortOrder>124</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jphpyaye/max-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>