<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e4ac14d-521b-4b37-828d-a8c8fd0f6d0b" Alias="Max 2 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max22</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:36:27</CreateDate>
    <NodeName Default="Max 2 (2)" />
    <SortOrder>118</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ptafuhq1/max-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>