<?xml version="1.0" encoding="utf-8"?>
<Media Key="630212d2-f0cd-4195-bd9d-eedb9f4415de" Alias="Max Mob 3 650 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob36501</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:41</CreateDate>
    <NodeName Default="Max Mob 3 650 (1)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2mjaey4n/max_mob-3-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>