<?xml version="1.0" encoding="utf-8"?>
<Media Key="c28132d0-c607-41a3-a442-5f1f1828a589" Alias="Max 2" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:46:26</CreateDate>
    <NodeName Default="Max 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0yzidqqh/max-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>