<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf21a963-a084-40ac-9563-900a97fd57de" Alias="Max Mob 2 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob210241</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:17</CreateDate>
    <NodeName Default="Max Mob 2 1024 (1)" />
    <SortOrder>109</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kkuddp2e/max_mob-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>