<?xml version="1.0" encoding="utf-8"?>
<Media Key="b48e9538-25f1-4831-ac8d-3779090c49a1" Alias="Max Mob 2 650 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob26501</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:14:02</CreateDate>
    <NodeName Default="Max Mob 2 650 (1)" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bgkj3nhr/max_mob-2-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>