<?xml version="1.0" encoding="utf-8"?>
<Media Key="02cbc4a0-bacb-49ff-85aa-9efb761c9ce5" Alias="Max 2 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max21024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T11:26:18</CreateDate>
    <NodeName Default="Max 2 1024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shcmwawl/max-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>