<?xml version="1.0" encoding="utf-8"?>
<Media Key="88defd94-2b8c-4f72-b6de-207e020dc577" Alias="Max Mob 1 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob110241</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:17</CreateDate>
    <NodeName Default="Max Mob 1 1024 (1)" />
    <SortOrder>108</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ux4n3cem/max_mob-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>