<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eaa6903-4cc3-4639-be42-7a50e0c15640" Alias="Max Mob 4 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob4320</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-18T14:14:02</CreateDate>
    <NodeName Default="Max Mob 4 320" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/avulutwd/max_mob-4-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>