<?xml version="1.0" encoding="utf-8"?>
<Media Key="abff595e-0299-4358-bb42-aca3ef13ccd8" Alias="Max Mob 2" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T21:44:40</CreateDate>
    <NodeName Default="Max Mob 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3mp5k2z/max_mob-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>