<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab4ea192-7e22-47da-a348-3cbaf534c437" Alias="Max Mob 6 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob6320</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:14:03</CreateDate>
    <NodeName Default="Max Mob 6 320" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uoqf3kzc/max_mob-6-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>