<?xml version="1.0" encoding="utf-8"?>
<Media Key="534b4621-03c8-4879-8fd4-ab552ba7ec84" Alias="Max 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max2</Path>
    <Trashed Parent="e42d95d3-3786-4455-8ca0-b407692a306e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:00:28</CreateDate>
    <NodeName Default="Max 2" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cbdewu4i/max-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>