<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c7bb79e-c632-4f82-b043-f1d89ce5b4b4" Alias="Max Mob 2 (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob23</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:55</CreateDate>
    <NodeName Default="Max Mob 2 (3)" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v41hw5bs/max_mob-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>