<?xml version="1.0" encoding="utf-8"?>
<Media Key="2842342d-ee47-4be6-8e28-17286b7c0c23" Alias="Max 4 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max41024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T14:44:27</CreateDate>
    <NodeName Default="Max 4 1024" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fm0eekch/max-4-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>