<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b733ff7-8e47-46b5-b0e1-d18162743c95" Alias="Max Mob 4 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob41024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-18T14:13:19</CreateDate>
    <NodeName Default="Max Mob 4 1024" />
    <SortOrder>107</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4e5hhc0h/max_mob-4-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>