<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3a4f81f-5001-46c1-9891-2434718cff85" Alias="Max Mob 5 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob5320</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:14:03</CreateDate>
    <NodeName Default="Max Mob 5 320" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f12kj2yb/max_mob-5-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>