<?xml version="1.0" encoding="utf-8"?>
<Media Key="79b293f3-669e-4594-922f-e3a0b1860d05" Alias="Max 3 320 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max33201</Path>
    <Trashed Parent="28a28182-847e-495c-855f-bf5ae98cc70f">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:49:19</CreateDate>
    <NodeName Default="Max 3 320 (1)" />
    <SortOrder>138</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykjle4m4/max-3-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>