<?xml version="1.0" encoding="utf-8"?>
<Media Key="282ca28c-3399-4a6c-b072-6cf04d7d6ef9" Alias="Max Mob 1 650 (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob16503</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:38</CreateDate>
    <NodeName Default="Max Mob 1 650 (3)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xwrcykez/max_mob-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>