<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef69c4c2-8212-4199-a2f1-a2219d9f1609" Alias="Max Mob 8 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob8650</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:42</CreateDate>
    <NodeName Default="Max Mob 8 650" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4pcgt1ys/max_mob-8-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>