<?xml version="1.0" encoding="utf-8"?>
<Media Key="9258553a-b11a-4272-9885-ee47b9bc70fa" Alias="Max Mob 3 (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob33</Path>
    <Trashed Parent="5c4c18da-5095-4312-b72e-56661e5baba3">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:58:55</CreateDate>
    <NodeName Default="Max Mob 3 (3)" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bnkfreq0/max_mob-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>