<?xml version="1.0" encoding="utf-8"?>
<Media Key="d18359d8-9b02-48cf-9ed0-70a89d468bbf" Alias="Max 1 1024 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Max110241</Path>
    <Trashed Parent="a3f6829e-9077-4f15-8257-97635f197d74">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:48:28</CreateDate>
    <NodeName Default="Max 1 1024 (1)" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3fmjhuic/max-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>