<?xml version="1.0" encoding="utf-8"?>
<Media Key="35fd0d0f-8370-4f91-86a0-d984a5fb12c4" Alias="Max Mob 6 650" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob6650</Path>
    <Trashed Parent="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:42</CreateDate>
    <NodeName Default="Max Mob 6 650" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hygp0nlq/max_mob-6-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>