<?xml version="1.0" encoding="utf-8"?>
<Media Key="91bfc02d-d591-47ed-b038-3685ab949100" Alias="Max Mob 6 1024" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob61024</Path>
    <Trashed Parent="313aa966-0290-4411-9f15-85736e194e7c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:13:19</CreateDate>
    <NodeName Default="Max Mob 6 1024" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dtal5emr/max_mob-6-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>