<?xml version="1.0" encoding="utf-8"?>
<Media Key="a91307bc-659f-4e1f-bfb2-5fa46d7f360f" Alias="Max Mob 7 320" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MaxMob7320</Path>
    <Trashed Parent="12dc40dd-be38-4624-b25c-eb75e207909e">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T14:14:03</CreateDate>
    <NodeName Default="Max Mob 7 320" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rudbhkm5/max_mob-7-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>