<?xml version="1.0" encoding="utf-8"?>
<Media Key="a082640e-c261-44eb-826c-4db11b615273" Alias="Maxapta 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Maxapta3</Path>
    <Trashed Parent="b82d5a18-e8fa-41b7-8feb-199aa86c2970">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T22:06:33</CreateDate>
    <NodeName Default="Maxapta 3" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h3sifidb/maxapta-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>