<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f1b9518-6e93-4096-b69e-f4b671231fd7" Alias="Maxapta 1 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta110241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:35:46</CreateDate>
    <NodeName Default="Maxapta 1 1024 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fgkbwp2t/maxapta-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>