<?xml version="1.0" encoding="utf-8"?>
<Media Key="df3043c8-6fb9-4c4c-b919-84d7b98f98fa" Alias="Maxapta 7 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta710241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:35:44</CreateDate>
    <NodeName Default="Maxapta 7 1024 (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fbdbx3z/maxapta-7-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>