<?xml version="1.0" encoding="utf-8"?>
<Media Key="d152ba6b-b691-46d9-8002-d749a418bce7" Alias="Maxapta 2 320 (1)" Level="4">
  <Info>
    <Parent Key="9410c5fd-84e0-4bac-ae53-9b9772909388">320</Parent>
    <Path>/Sites/maxapta//Maxapta23201</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T13:38:23</CreateDate>
    <NodeName Default="Maxapta 2 320 (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lk3ffumr/maxapta-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>