<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c4c18da-5095-4312-b72e-56661e5baba3" Alias="MaxMob" Level="2">
  <Info>
    <Parent Key="c258ff76-69aa-4347-970a-35083c42ab8f">Sites</Parent>
    <Path>/Sites/MaxMob</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T21:44:29</CreateDate>
    <NodeName Default="MaxMob" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>