<?xml version="1.0" encoding="utf-8"?>
<Media Key="41b1437f-156d-4e8a-8c8a-c8efb0ca407d" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-16T11:43:48</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>