<?xml version="1.0" encoding="utf-8"?>
<Media Key="c258ff76-69aa-4347-970a-35083c42ab8f" Alias="Sites" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sites</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-12T12:03:02</CreateDate>
    <NodeName Default="Sites" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>