<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da29f433-53e8-4883-befe-537428b7bc6b" Alias="Div-Gorizontal align-Dropdown" Level="3">
  <Info>
    <Name>Div-Gorizontal align-Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid/Div</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "По левому краю"
    },
    {
      "id": 2,
      "value": "По правому краю"
    },
    {
      "id": 3,
      "value": "По центру"
    },
    {
      "id": 4,
      "value": "По ширине"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>