<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3873c14-650d-4211-b3d7-b5d1449f0aa8" Alias="GorizontalAlign - Dropdown" Level="2">
  <Info>
    <Name>GorizontalAlign - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "По левому краю"
    },
    {
      "id": 2,
      "value": "По правому краю"
    },
    {
      "id": 3,
      "value": "По центру"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>