<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b164845-db0d-4ab2-817f-38edd38ed016" Alias="VerticalAlign - Dropdown" Level="2">
  <Info>
    <Name>VerticalAlign - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "По верхнему краю"
    },
    {
      "id": 2,
      "value": "По центру"
    },
    {
      "id": 3,
      "value": "По нижнему краю"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>