<?xml version="1.0" encoding="utf-8"?>
<Content Key="06c47a15-0e1f-4f4f-999d-343de3a2b8b7" Alias="2014. Задачи и Направления. Зерновозы." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/ZadachiINapravleniyaZernovozy</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:19</CreateDate>
    <NodeName Default="2014. Задачи и Направления. Зерновозы.">
      <Name Culture="ru">2014. Задачи и Направления. Зерновозы.</Name>
    </NodeName>
    <SortOrder>120</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-01-10T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В настоящее время одним из приоритетных направлений компании ООО "Максима Логистик" по развитию и наращиванию собственного парка вагонов является приобретение в собственность специализированного подвижного состава -  вагонов-хопперов для перевозки зерна. Парк зерновозов представлен моделью 19-9858, выпускаемой на ОАО "Завод металлоконструкций" (г. Энгельс Саратовкой обл.). 
  
 В соответствии с Техническими  условиями вагон-зерновоз модели   19-9858 предназначен для перевозки зерна,  других пищевых грузов (солод, отруби, жом, шрот, лузга и др.), а также семян масличных и технических культур (подсолнечник, лен, рапс, соя и др.). 
  

 Вагоны выходят с завода с сетевыми номерами, имеют курсирование  по всей сети железных дорог колеи 1520 мм: РЖД, стран СНГ, Грузии, Латвийской Республики, Литовской Республики, Эстонской Республики, а также стран ближнего и дальнего зарубежья. 
  
 До конца 2013года парк вагонов-зерновозов составит 100 единиц. Плановое развитие парка вагонов-зерновозов на 2014г. составляет до 1000 единиц. 
  
 В настоящее время парк вагонов-зерновозов задействован в перевозках зерновых грузов из Казахстана назначением на станции Узбекистана, Таджикистана, Киргизии, малые порты Азовско-Черноморского бассейна. В ближайшее время планируется расширение географии перевозок с Западной Сибири, Центрального региона назначением в порты Прибалтики, российские порты Балтийского и Каспийского морей, Азербайджана, а также во внутригосударственном и международном экспортно-импортном и транзитном сообщении через сухопутные погранпереходы. 
  

 Основными клиентами компании по перевозкам зерновых грузов являются: 

 - ООО "Технотранс"; 

 - ООО "Балтсервис"; 

 - ООО "Би-Ай-Гранум"; 

 - АО "Холдинг Казэкспрортастык"; 

 - ТОО "Норд ТЭК". 

В перспективе планируется дальнейшее развитие сотрудничества и заключение договоров с элеваторами, трейдерами, предприятиями - производителями и переработчиками зерна и зерновой продукции. 
  
 Объем перевозок  в вагонах-зерновозах прогнозируется в декабре 2013г. на уровне 5-и тыс. тонн. К концу 2014г. данный показатель должен составить не менее 40 тыс. тонн в месяц. 
  

 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[2014. Задачи и Направления. Зерновозы.]]></Value>
    </newsTitle>
  </Properties>
</Content>