<?xml version="1.0" encoding="utf-8"?>
<Content Key="8643c903-43be-4a93-9c08-3012e5521c48" Alias="Copyright ГК &quot;МАКСИМУМ&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/CopyrightGKMAKSIMUM</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:50</CreateDate>
    <NodeName Default="Copyright ГК &quot;МАКСИМУМ&quot;">
      <Name Culture="ru">Copyright ГК "МАКСИМУМ"</Name>
    </NodeName>
    <SortOrder>72</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-04-15T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В начале 2016 года «Максима Логистик» стал официальным правообладателем программы «МАксапта» получив СВИДЕТЕЛЬСТВО о государственной регистрации программы для ЭВМ. 
 Построена программа на базе системы ERP- класса Microsoft Dynamics Ax, произведенной компанией Microsoft. Как известно, многие российские компании пользуются именно Microsoft Dynamics например: ООО «Рейл Гарант», ООО «Мечел-Транс», ТФМ-оператор и многие др. 

 Преимущества «Максапта»:

  западная система, полная прозрачность процессов 
  Полностью взаимодействует с бухгалтерией 1С 
  Все процессы замкнуты, минимальный риск ошибки в результате человеческого фактора 
  Разделение компаний в одной базе, зеркальный процесс (акты, договора, документы и т.п.)
  Единое отраслевое решение, охватывающие не только оперативный процесс, но и процессы бэк-офиса. 
  Электронный документооборот с контрагентами
  Масштабируемость, низкие требования к ресурсам
  Интеграция с ж/д системами: ЭТРАН, ГВЦ, АСОУП, АСУ ВРК, АСУ по ТОРам
  Открытый код, который можно легко и быстро менять под свои нужды

 Ожидая внедрения на большой рынок, программой «Максапта» пользуются наши партнеры, такие как: 
 ООО «МаксЭкспресс», ООО «Бетта», ПАО «ТрансФин-М»
 По отзывам наших партнеров, внедрение программы для бизнеса дала положительный результат. 
             Её оценили по достоинству. А значит Мы на правильном пути                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Copyright ГК "МАКСИМУМ"]]></Value>
    </newsTitle>
  </Properties>
</Content>