<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f49e8e6-6006-4102-a86f-bfa8472b563f" Alias="ERP - система «Максапта»" Level="3">
  <Info>
    <Parent Key="9b4aafe7-22d3-412d-a7be-d49d2f29eca5">Наши работы</Parent>
    <Path>/Home/NashiRaboty/ERPSistemaMaksapta</Path>
    <Trashed>false</Trashed>
    <ContentType>workItem</ContentType>
    <CreateDate>2024-03-13T19:14:06</CreateDate>
    <NodeName Default="ERP - система «Максапта»">
      <Name Culture="ru">ERP - система «Максапта»</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="dfb69cab-5b4c-49e9-83d0-b1df44b2b791">WorkItem</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value Culture="ru"><![CDATA[#dbf1ff]]></Value>
    </bgColor>
    <bgImg>
      <Value Culture="ru"><![CDATA[[]]]></Value>
    </bgImg>
    <class>
      <Value Culture="ru"><![CDATA[wow fadeInLeft]]></Value>
    </class>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a281f405f3624539b0008ccf5e259a5e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4fd0aba97be24f89822250b0b6ea51a2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/673faa20901a4ed2865fc98097465866",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/609c1b4eb5964f2b8c7656bf374a2edf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/745b455d569f460191feb97422b83727",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/08c99cb3fc804fbdb88a467203775bc2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/478b4721f84341bbb62bcb80829883e1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f3bcd036cd2741f79b42e1cf9f129c06",
        "settingsUdi": "umb://element/046bc65803644e37b44f773dfd1b234a",
        "areas": [
          {
            "key": "b3ed76fa-109b-47b6-88d9-067af3f114d1",
            "items": [
              {
                "contentUdi": "umb://element/252ade31e78443d0913fb45002e13ab7",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a281f405f3624539b0008ccf5e259a5e",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "0a54396d-6a9a-42eb-967b-f6ef2fc1cf6e",
          "mediaKey": "a29acfa3-da03-48d9-a24f-b0fe647ba6a2"
        }
      ],
      "img1024": [
        {
          "key": "25863120-9e11-4afb-b1a7-16b773bdf0f7",
          "mediaKey": "3f1b9518-6e93-4096-b69e-f4b671231fd7"
        }
      ],
      "img650": [
        {
          "key": "5708c135-2f0a-4007-b363-6a02c2d1e5a5",
          "mediaKey": "8839c1e7-b02b-41d4-8c6a-c23baddf066c"
        }
      ],
      "img320": [
        {
          "key": "09c02e68-0238-4beb-80ba-168e8af2cd13",
          "mediaKey": "80d0f9ac-2fe0-4063-a810-acf484ce3a43"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/4fd0aba97be24f89822250b0b6ea51a2",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "a9e7103d-6b18-4ea7-99f2-af370d395c90",
          "mediaKey": "30258e6a-9b5f-4b51-92ae-7455953b6e8d"
        }
      ],
      "img1024": [
        {
          "key": "1f077c56-83bd-473a-93b6-540d47459e06",
          "mediaKey": "1ef0d6ce-d1bb-4d5c-ae97-356f36438127"
        }
      ],
      "img650": [
        {
          "key": "b2ba94c4-e880-42bd-990d-d76fcb2e6e7e",
          "mediaKey": "7104952a-46e5-499f-870a-a19263fd3a6a"
        }
      ],
      "img320": [
        {
          "key": "e3a967a0-1b34-4f2d-b33c-8e1dd8650437",
          "mediaKey": "d152ba6b-b691-46d9-8002-d749a418bce7"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f3bcd036cd2741f79b42e1cf9f129c06",
      "class": "",
      "anchor": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/252ade31e78443d0913fb45002e13ab7",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><a rel=\"noopener\" href=\"https://www.maxapta.ru/\" target=\"_blank\">https://www.maxapta.ru/</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "class": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/673faa20901a4ed2865fc98097465866",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "44d4d9cc-491d-43fd-bafb-57ff5d296960",
          "mediaKey": "733c301e-a078-4896-b18d-1cf0482236aa"
        }
      ],
      "img1024": [
        {
          "key": "85f23de0-9f09-4811-a2d4-c875f1002b44",
          "mediaKey": "4f94d90b-615d-472c-97f1-152652ecfa1a"
        }
      ],
      "img650": [
        {
          "key": "2a8d1b4a-60d4-47f9-bf56-c210df0505df",
          "mediaKey": "adb5997d-f624-461e-8c8c-522581e28690"
        }
      ],
      "img320": [
        {
          "key": "b69f0e22-afef-454a-bcd1-1319640ecde4",
          "mediaKey": "10c0b2ae-1a79-48a4-8aed-ea693ab32159"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/609c1b4eb5964f2b8c7656bf374a2edf",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "39bddeee-f348-47c6-96b2-1846eb35a91c",
          "mediaKey": "ae9c03e3-19d8-4525-8234-68e710d29a35"
        }
      ],
      "img1024": [
        {
          "key": "59dd5adc-5bdd-43a5-8231-b0e2b584f896",
          "mediaKey": "d27ee3f7-d510-428b-88e2-f9d7b76ed4f1"
        }
      ],
      "img650": [
        {
          "key": "1f0a54d5-82d2-4d58-b8c3-8501e0f29fd8",
          "mediaKey": "a64037de-1032-4175-8928-c8de74269ee8"
        }
      ],
      "img320": [
        {
          "key": "5ef448c3-d99c-4b52-9126-176f4421dcc4",
          "mediaKey": "9586a0d9-2b75-4a65-a1d9-430701f2b4f4"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/745b455d569f460191feb97422b83727",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "4c144ac7-62d3-48d1-802b-d6a5d177f1b2",
          "mediaKey": "03a27ecc-f60f-421c-a3b8-eb7b6c2faefa"
        }
      ],
      "img1024": [
        {
          "key": "58dad7c4-e086-437b-872f-5a01c1bd24c8",
          "mediaKey": "a6707372-d55e-4b4f-b94a-eef770469a6f"
        }
      ],
      "img650": [
        {
          "key": "ca193701-792c-41ce-bb4f-578215fc450e",
          "mediaKey": "5933f6cb-61b4-4eed-b9c9-71f745b83030"
        }
      ],
      "img320": [
        {
          "key": "cc12900b-07d4-4ea7-a77b-8e8a7027f25d",
          "mediaKey": "478dcec7-eca5-49b8-95bb-92c783eb5cee"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/08c99cb3fc804fbdb88a467203775bc2",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "3a372f88-4e37-4192-9e39-f6eced97d379",
          "mediaKey": "0098757c-1ca0-4db4-a8cb-c984679c8794"
        }
      ],
      "img1024": [
        {
          "key": "483f616f-690e-4652-b077-f27803dccca2",
          "mediaKey": "b4c442ff-b793-408e-b7fc-33dd0f4f58ad"
        }
      ],
      "img650": [
        {
          "key": "6d53508a-e3b0-438e-8363-56632a52f91b",
          "mediaKey": "d5ae3fd8-e3dd-4bcb-b548-39406b09c207"
        }
      ],
      "img320": [
        {
          "key": "6451ad94-5874-47ae-8860-cce69938abe6",
          "mediaKey": "10a8e88b-aca0-496e-bc7e-d0808841b226"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/478b4721f84341bbb62bcb80829883e1",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "f9ed78d8-fbf4-4d71-84c0-89ccf9c302f8",
          "mediaKey": "58e68b17-5027-4d77-91e3-e452858f2e73"
        }
      ],
      "img1024": [
        {
          "key": "9d1c15b1-ef4e-414c-8157-9fc923a3ba8b",
          "mediaKey": "df3043c8-6fb9-4c4c-b919-84d7b98f98fa"
        }
      ],
      "img650": [
        {
          "key": "ed3e7f91-299e-4286-90d9-f9332232dbb7",
          "mediaKey": "7b623a3a-28fd-4cc9-8782-dad4944650d7"
        }
      ],
      "img320": [
        {
          "key": "79bf9957-8b8e-48bb-99e4-16bdb26753be",
          "mediaKey": "2a7d3a30-56d2-45b9-a5ea-2f712fcaf673"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/046bc65803644e37b44f773dfd1b234a",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": {
        "value": "262930",
        "label": "262930",
        "sortOrder": 3,
        "id": "12"
      },
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
    </content>
    <cropCard>
      <Value Culture="ru"><![CDATA[[
  "Авто"
]]]></Value>
    </cropCard>
    <description>
      <Value Culture="ru"><![CDATA[]]></Value>
    </description>
    <image>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "8e0a3a34-f751-4c85-8bbf-daa73f61c791",
    "mediaKey": "32c37880-ada7-4e4f-9807-6c9ae35c0332"
  }
]]]></Value>
    </image>
    <keywords>
      <Value Culture="ru"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "d5163347-6745-49df-9d9c-08de04c83b0c",
    "mediaKey": "887ff950-2d1d-4c05-b3b1-d99e7099f97b"
  }
]]]></Value>
    </logo>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[E-MAX - Наши работы - ERP - система «Максапта»]]></Value>
    </title>
  </Properties>
</Content>