<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce17c4c9-0122-4608-b1ad-13ce23240155" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-02-08T13:27:01</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
      <Name Culture="ru">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <addressMoskow>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressMoskow>
    <addressPerm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressPerm>
    <addressVlad>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </addressVlad>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1ab39171c772435290b7de15b322419c",
        "settingsUdi": "umb://element/ae7d419b48c4400aab493ef314362014",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c34452513bff4f008369865a962c94b3",
        "settingsUdi": "umb://element/747e38f294714cda82e218b1f666670f",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/4af7dd09d14f4059b57f8037dccbc56c",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/cdac7040db784ad7bbc9a5060c155095",
                "areas": [
                  {
                    "key": "69e655f3-86d0-4de9-bc44-babb48f66036",
                    "items": []
                  }
                ],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/1ab39171c772435290b7de15b322419c",
      "class": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/c34452513bff4f008369865a962c94b3",
      "class": ""
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/4af7dd09d14f4059b57f8037dccbc56c",
      "headline": "О КОМПАНИИ",
      "class": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/cdac7040db784ad7bbc9a5060c155095",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "0a0df4fe-6a79-40bd-b42a-bd02e0c9db12",
          "mediaKey": "99602658-dff2-410d-a2d3-4693f8384d89"
        }
      ],
      "crop": [
        "5:6"
      ],
      "transform": [
        "Вписать в контейнер"
      ],
      "gorizontalAlign": "",
      "imgMargin": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/ae7d419b48c4400aab493ef314362014",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/747e38f294714cda82e218b1f666670f",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c9f050aa5a4341ba9da4924003ae3f12",
        "settingsUdi": "umb://element/d9acdc8313cf4e7ba29521cd97586b06",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/5aced67a10004cfc8fe60ba838266b55",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 5,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/c9f050aa5a4341ba9da4924003ae3f12",
      "class": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/5aced67a10004cfc8fe60ba838266b55",
      "richText": {
        "markup": "<p style=\"text-align: center;\">5555</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d9acdc8313cf4e7ba29521cd97586b06",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": "",
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
    </content>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <iconButtonLK>
      <Value><![CDATA[[]]]></Value>
    </iconButtonLK>
    <iconSearch>
      <Value><![CDATA[[]]]></Value>
    </iconSearch>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <textButtonLK>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </textButtonLK>
  </Properties>
</Content>