<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9c6c1f8-367b-4b25-9fe9-4e569c8f5879" Alias="Test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-03-01T15:44:08</CreateDate>
    <NodeName Default="Test (1)">
      <Name Culture="ru">Test (1)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0a0037becda646d49087eaa33c356b8d",
        "settingsUdi": "umb://element/96e7909c191a484f9b10b71c13394d99",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/e96281442b5140c6819f531493101205",
                "settingsUdi": "umb://element/eee5792f4b8541dda36493ed83203caa",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/0a0037becda646d49087eaa33c356b8d",
      "class": "testclass",
      "anchor": ""
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/e96281442b5140c6819f531493101205",
      "linkUrl": null,
      "image": [
        {
          "key": "c9e1a578-0ad8-4d64-b6a6-cec7d075dfba",
          "mediaKey": "21cebf60-a571-4809-8243-40787520801a"
        }
      ],
      "logo": [
        {
          "key": "8705974f-6357-43c0-bda5-40d652367d92",
          "mediaKey": "352a81ba-ba71-47c1-a866-7ed258d5cd46"
        }
      ],
      "cropCard": "",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><strong>ntcnfhjhskjhjkfs</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "parametr": "",
      "class": "",
      "css": "",
      "html": "",
      "img": null,
      "cover": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/96e7909c191a484f9b10b71c13394d99",
      "photoDisplay": "0",
      "backgroundImage": [
        {
          "key": "188df05e-28f1-41d2-a3da-b3ede35f069e",
          "mediaKey": "d35166d7-368b-4147-bd31-3b9f1f51064b"
        }
      ],
      "imageRepeat": "",
      "imageTransform": [
        "Обрезать"
      ],
      "sizeBackground": "",
      "backgroundColor": {
        "value": "dbf1ff",
        "label": "dbf1ff",
        "sortOrder": 4,
        "id": "13"
      },
      "contrast": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      },
      "imagePositionX": "",
      "imagePositionY": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/eee5792f4b8541dda36493ed83203caa",
      "photoDisplay": "0",
      "backgroundImage": [
        {
          "key": "a8be3cdd-0345-481e-89db-e3b0f47578b9",
          "mediaKey": "ac82ef35-0b20-46bb-9f11-032874cb6a2e"
        }
      ],
      "imageRepeat": [
        "не повторять"
      ],
      "imageTransform": [
        "Обрезать"
      ],
      "sizeBackground": "",
      "backgroundColor": {
        "value": "dbf1ff",
        "label": "dbf1ff",
        "sortOrder": 4,
        "id": "13"
      },
      "contrast": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "imagePositionX": [
        "По центру"
      ],
      "imagePositionY": [
        "По центру"
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>