<?xml version="1.0" encoding="utf-8"?>
<Content Key="e68b474d-85c4-431d-a4e8-9609b8d6a3ba" Alias="В Новый год железные дороги работают, как всегда, круглосуточно и бесперебойно" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/VNovyiGodZheleznyeDorogiRabotayutKakVsegdaKruglosutochnoIBespereboino</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:45</CreateDate>
    <NodeName Default="В Новый год железные дороги работают, как всегда, круглосуточно и бесперебойно">
      <Name Culture="ru">В Новый год железные дороги работают, как всегда, круглосуточно и бесперебойно</Name>
    </NodeName>
    <SortOrder>64</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2016-12-26T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/29717a64881741dfb371b619e9ff6fa1]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Отраслевые"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В Новый год железные дороги работают, как всегда, круглосуточно и бесперебойно, обеспечивая перевозки грузов и пассажиров. Правда, праздничные дни традиционно сказываются на объёмах погрузки.

Многие предприятия «уходят на каникулы» и грузопоток в первой декаде января из-за этого снижается. Тем не менее, в ЦФТО сообщили, что массовые грузы будут предъявляться в прежних объёмах. В декабре введено автоматическое согласование заявок на перевозку грузов во внутреннем сообщении, оно поможет снять то напряжение с погрузкой, которое существовало в прежние годы.

Что же касается сети дорог, то ситуация в регионах разная.

«В 2017 году на Куйбышевской дороге прогнозируется погрузка на уровне 65 млн тонн. Прогноз оптимистичный, учитывая динамику погрузки в декабре и планы клиентов на ближайшую перспективу. В частности, на январь мы планируем среднесуточную погрузку в объёме более 180 тыс. тонн, но, по уточнённым данным, грузовая база на данный момент уже составляет 184 тыс. тонн в среднем в сутки. Это позволяет прогнозировать выполнение плана погрузки в целом по дороге не ниже уровня 2016 года», – сказал начальник Куйбышевского ТЦФТО Игорь Хахулин.

В праздничные дни не останавливают погрузку предприятия нефтехимического комплекса. По словам заместителя начальника транспортного управления ПАО «КуйбышевАзот» (Тольятти) Олега Кулакова, предприятие работает в круглосуточном режиме и праздничные дни не станут исключением. Ежемесячная погрузка капролактама, аммиака и азотных удобрений составит около 160 тыс. тонн. «За первую декаду января мы планируем отгрузить не менее 50 тыс. тонн продукции», – пояснил Олег Кулаков.

Оптимистичные планы и на Южно-­Уральской железной дороге.

«В следующем году ожидаемый объём погрузки более 83 млн тонн, это обеспечит положительную динамику к уровню 2016 года, – сказала Алевтина Маринина, начальник отдела мониторинга и маркетинга грузовых перевозок Южно-Уральского ТЦФТО. – Работа дороги в первую декаду января будет достаточно напряжённой. Но основной наш грузоотправитель – металлургический комплекс – обещает обычный режим и круглосуточную погрузку. Что касается минерально-строительных грузов, то здесь возможны проблемы с обеспечением подвижным составом и риски из-за отсутствия заключённых контрактов».

В Свердловском ТЦФТО полагают, что в первую декаду нового года погрузка немного снизится. Это обусловлено рядом причин, в их числе – авария на Локосовском газоперерабатывающем заводе, модернизация производства на Антипинском ГПЗ, а также переход нефти с железнодорожного транспорта на трубопроводный.

Начальник управления транспортной логистики крупнейшего Новолипецкого металлургического комбината Юрий Савин отметил, что погрузка чёрных металлов в январе останется на уровне декабря и составит 1 млн 100 тыс. тонн. По его словам, в первую декаду января она будет меньше, чем в две последующие.

«Однако на комбинате есть месячный график производства, и мы не можем его нарушать, – сказал Юрий Савин. – Ведь может случиться и так, что, не выполнив его в одни сутки, мы потом не нагоним до конца месяца. Поэтому и рассчитываем выпуск продукции так, чтобы, несмотря на небольшое снижение в первых числах января, в целом выполнить план погрузки».

Как сообщили в Северо-Кавказском территориальном центре фирменного транспортного обслуживания, в первую декаду января на дороге ожидается погрузка в размере 91,3 тыс. тонн, что составляет 102,8% к аналогичному периоду 2016 года. Планируется, что при этом основными номенклатурами станут нефть и нефтепродукты, зерно и чёрные металлы.

Поддержат железнодорожников и смежники-портовики.

«Работа в новогодние праздники будет идти в круглосуточном режиме, в том числе и в новогоднюю ночь, – заявил заместитель директора по коммерческой работе и эксплуатации ОАО «Туапсинский морской торговый порт» Вячеслав Бобров. – Будет происходить обработка вагонов, а на дежурстве будут находиться бригады на случай каких-либо происшествий».

Словом, зимние праздники обещают быть жаркими.
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[В Новый год железные дороги работают, как всегда, круглосуточно и бесперебойно]]></Value>
    </newsTitle>
  </Properties>
</Content>