<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b8c0242-f31a-4a84-8459-f2127e49bab2" Alias="Грамотное финансирование - залог успешного развития и процветания любой компании" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/GramotnoeFinansirovanieZalogUspeshnogoRazvitiyaIProfvetaniyaLyuboiKompanii</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:41</CreateDate>
    <NodeName Default="Грамотное финансирование - залог успешного развития и процветания любой компании">
      <Name Culture="ru">Грамотное финансирование - залог успешного развития и процветания любой компании</Name>
    </NodeName>
    <SortOrder>55</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-05-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Во втором квартале 2017 г. компания продолжает вести активную работу по улучшению качественных показателей своего кредитного портфеля. Активно привлекаются новые кредиты, которые позволяют проводить своевременное рефинансирование. С банками-партнерами постоянно ведутся переговоры с целью улучшения условий обслуживания по действующим кредитам. 
    Так, в апреле-мае 2017 г. были достигнуты договоренности с крупными кредиторами Компании:  ПАО «БАЛТИНВЕСТБАНК» и ОАО «МОРСКОЙ БАНК». Основной пункт договоренности — снижение процентных ставок по действующим кредитам. По словам Заместителя Генерального директора Компании Максима Кунаева, это лишь первый этап работы по улучшению условий кредитования, впереди реализация поистине грандиозных планов: увеличение сроков кредитования в этих банках, а также снижение ставок в остальных банках, сотрудничающих с Компанией.
    Благодаря успешным финансовым показателям Компании, продемонстрированным по итогам 2016 г. и в 1-м кв. 2017 г., а также улучшению ситуации на кредитном рынке РФ удалось достигнуть таких договоренностей. Восстановление экономической активности в стране, относительно низкий уровень инфляции (по итогам 1-го кв. 2017 г. индекс потребительских цен вырос на 1,0%, что составляет 4,3% в годовом выражении), а также политика Центрального Банка РФ, направленная на снижение стоимости фондирования (напомним, что ЦБ дважды в этом году снижал ключевую ставку: с 10% до 9,75% с 27.03.17г. и с 9,75% до 9,25% с 02.05.17г.), привели в снижению процентных ставок по кредитам, а также увеличению объемов кредитования юридических лиц. Такая тенденция позволяет Компании развиваться стремительными темпами.

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Грамотное финансирование - залог успешного развития и процветания любой компании]]></Value>
    </newsTitle>
  </Properties>
</Content>