<?xml version="1.0" encoding="utf-8"?>
<Content Key="350e6746-6f26-4281-8508-d71767180b71" Alias="Контейнерные перевозки Максима Логистик и партнеров в 2013 году." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KonteinernyePerevozkiMaksimaLogistikIPartnerovV2013Godu</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:18</CreateDate>
    <NodeName Default="Контейнерные перевозки Максима Логистик и партнеров в 2013 году.">
      <Name Culture="ru">Контейнерные перевозки Максима Логистик и партнеров в 2013 году.</Name>
    </NodeName>
    <SortOrder>118</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-01-30T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
К концу 2013 года компания ООО "Максима Логистик" вышла на следующие показатели деятельности:
Объем  экспортных мультимодальных перевозок  достиг 700 TEUs в месяц. 
Объем каботажных перевозок достиг 200 TEUs в месяц.
Объём  контейнерных перевозок с использованием парка Компании (80 футовых фитинговых платформ) достиг 3 250 TEUs в месяц.
Во втором полугодии 2014 г. планируется запуск отправок контейнерного поезда с экспортным грузом на ежемесячной основе.
     Показатели наших партнеров ООО "Альфа-Транс"(г. Челябинск) и ООО "Бетта" (г. Пермь).
Контейнерный терминал ООО "Альфа-Транс" в 4 квартале 2013 года переработал -  2570 TEUs, из них 1420 TEUs –по приему контейнеров, 1150 TEUs – по отправке контейнеров. Ежемесячно на хранении находятся от 900 до 1100 TEUs. 



Контейнерный терминал ООО "Бетта" в 4 квартале 2013 года переработал – 1160 TEUs, из них 760 TEUs –по приему контейнеров, 400 TEUs –по отправке контейнеров. Ежемесячно на хранении находятся от 300 до 600 TEUs. 



В текущем  2014 году нам необходимо сохранить положительную динамику роста, которая была продемонстрирована Компанией в 2013 году, этого от нас требуют время и общая рыночная ситуация. 



В 2014 году за счет развития технологий по затарке контейнеров ООО "Альфа-Транс" планирует увеличить количество отправляемых контейнеров до 4000 TEUs в квартал. Так же планируется ввод в эксплуатацию нового грузового фронта и открытия дополнительной площадки для хранения контейнеров. Терминал расширяет свой спектр услуг по погрузке универсальных платформ колесной техникой и негабаритными грузами.В декабре в работу планируется ввести собственный авто контейнеровоз, что существенно повысит привлекательность терминала и качество предоставляемых им услуг. 



Контейнерным терминалом ООО "Бетта" в 2014 году запланирован запуск участка по затарке контейнеров удобрениями на экспорт. Терминал получает лицензию на погрузо-разгрузочные работы с «Опасными грузами», данные услуги будут способствовать увеличению грузопотока.  



Важной задачей для обоих терминалов, является организация регулярного поездного сервиса по особо востребованным направлениям. В проработке маршруты Челябинск Гл.- Соликамск , Челябинск Гл. – ДВЖД, Блочная– Автово, Блочная  - Хабаровск, Москва – Блочная – Челябинск Гл., Находка Восточная – Челябинск Гл - Блочная.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Контейнерные перевозки Максима Логистик и партнеров в 2013 году.]]></Value>
    </newsTitle>
  </Properties>
</Content>