<?xml version="1.0" encoding="utf-8"?>
<Content Key="98cc1f79-35a1-4919-92c9-d355ed884a0a" Alias="&quot;Круглая&quot; цифра парка &quot;Максима Логистик&quot; " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/KruglayaFifraParkaMaksimaLogistik</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:29</CreateDate>
    <NodeName Default="&quot;Круглая&quot; цифра парка &quot;Максима Логистик&quot; ">
      <Name Culture="ru">"Круглая" цифра парка "Максима Логистик" </Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-07-13T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        За последние 2 года прослеживается ярко выраженная тенденция роста рынка ж/д перевозок. Согласно статистике, в 2017 г. погрузка на сети РЖД составила 1 261, 3 млн т, что на 3% больше предыдущего года и является рекордной цифрой за последние 5 лет.

ГК «Максимум» не скрывает своих амбициозных планов, связанных с непрерывным пополнением коммерчески пригодного к перевозкам операционного парка, сбалансированного основными видами грузового подвижного состава.

 На текущий момент, учитывая последние заключённые контракты Группы с кредитными и лизинговыми организациями, парк компании заметно пополнился и составляет уже более 10 000 единиц, среди которых:

 - 2 495 платформ-лесовозов 
 - 2 100 вагонов-зерновозов 
 - 1 947 универсальных платформ 
 - 1 734 фитинговых платформ 
 - 1 833 крытых вагонов 

Высокий экспортный потенциал страны провоцирует дальнейший рост рынка железнодорожной логистики. ГК «Максимум», за счёт тщательно спланированной стратегии, планирует подняться на лидирующие строчки рейтингов операторов-перевозчиков и предложить рынку обширный парк современных вагонов в необходимом для бизнеса количестве. 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA["Круглая" цифра парка "Максима Логистик" ]]></Value>
    </newsTitle>
  </Properties>
</Content>