<?xml version="1.0" encoding="utf-8"?>
<Content Key="7362a283-7595-4dec-8431-ed2173411a7d" Alias="Лендинг компании «МаксКонтейнер»" Level="3">
  <Info>
    <Parent Key="9b4aafe7-22d3-412d-a7be-d49d2f29eca5">Наши работы</Parent>
    <Path>/Home/NashiRaboty/LendingKompaniiMaksKonteiner</Path>
    <Trashed>false</Trashed>
    <ContentType>workItem</ContentType>
    <CreateDate>2024-03-13T19:13:55</CreateDate>
    <NodeName Default="Лендинг компании «МаксКонтейнер»">
      <Name Culture="ru">Лендинг компании «МаксКонтейнер»</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="dfb69cab-5b4c-49e9-83d0-b1df44b2b791">WorkItem</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value Culture="ru"><![CDATA[#f7f6f9]]></Value>
    </bgColor>
    <bgImg>
      <Value Culture="ru"><![CDATA[[]]]></Value>
    </bgImg>
    <class>
      <Value Culture="ru"><![CDATA[wow fadeInRight]]></Value>
    </class>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2a69632919a34baf9554224579fe7cee",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/46b3632375d2444ebfafb65588f1d472",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6d5bb68399be4c9cab0ea35af9faf42a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8b242f44fe0f46b0ad7b4759d35699f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d4936f1363cd4354b29df1367aab2c04",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a48e3b68c57544aabd836f12bf5feb93",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "b3ed76fa-109b-47b6-88d9-067af3f114d1",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/b1575fce907e422da0d618b3b12a44d7"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ecf23f15b96f4120b930fed9d76ac9e0",
        "settingsUdi": "umb://element/5346e388fd8f44d09f7bdba1011a24c9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/2a69632919a34baf9554224579fe7cee",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "2dab42bd-0dbc-4d20-a727-1775800b2d1d",
          "mediaKey": "87360987-464b-443a-a2ca-d2215770f5b2"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "9885723a-f4df-4721-aa29-36b16bd8a3d8",
          "mediaKey": "52d53d02-d176-435c-a5c9-a9b00d9e972c"
        }
      ],
      "img650": [
        {
          "key": "3f86e2c1-b629-461c-b8f9-d9b56c1719fe",
          "mediaKey": "e79abcd7-83f4-45df-b21b-cf8690227c10"
        }
      ],
      "img320": [
        {
          "key": "07d07889-9219-4665-8c69-cee06907aebb",
          "mediaKey": "6d34e011-8dc7-448f-8beb-04d6ce67fecf"
        }
      ],
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/46b3632375d2444ebfafb65588f1d472",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "21c2736a-95b8-4aa1-a075-e44ab3032b8a",
          "mediaKey": "c28132d0-c607-41a3-a442-5f1f1828a589"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "0bb3c011-11ae-4da0-860d-4da9815da010",
          "mediaKey": "dbf88eae-8afd-4257-acd2-3d3df47eeaf9"
        }
      ],
      "img650": [
        {
          "key": "dff4a601-e209-4388-87a1-baf8eace8de7",
          "mediaKey": "4453ea3c-1d05-4bea-b096-64064c82b382"
        }
      ],
      "img320": [
        {
          "key": "b33de3ba-b96d-461f-9a6e-d0f46e798bfd",
          "mediaKey": "424ccf12-b377-46a6-9c22-a5dda95f56cb"
        }
      ],
      "load": [
        "eager"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/6d5bb68399be4c9cab0ea35af9faf42a",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "a40ea2e8-b60c-43c4-b6b9-11de6133542d",
          "mediaKey": "03fccf7a-8c04-40b0-a933-31fd6b18c53b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "436585de-8bd5-41d0-89f0-fefcce7668be",
          "mediaKey": "4ac1a581-5b5f-4a88-b3d3-87bf11ff9235"
        }
      ],
      "img650": [
        {
          "key": "5f1c678b-1d68-48d1-b4ef-7e422da2eed1",
          "mediaKey": "f7638a13-9eeb-45e3-af22-7bff15a09df0"
        }
      ],
      "img320": [
        {
          "key": "c47ee496-87ea-48a0-893d-52a21614fec9",
          "mediaKey": "79b293f3-669e-4594-922f-e3a0b1860d05"
        }
      ],
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/8b242f44fe0f46b0ad7b4759d35699f3",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "aac495ba-9555-405c-a9a6-40120f82d781",
          "mediaKey": "25cdcf20-281d-4f2a-9e2c-567f41902d6b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "img1024": [
        {
          "key": "ad79daef-8b28-409e-8f0b-6a150c5255a6",
          "mediaKey": "deb34e53-7d1e-4477-ac35-254ab530e94c"
        }
      ],
      "img650": [
        {
          "key": "c069e13b-1ed5-47b1-b2bc-db7a6c68746f",
          "mediaKey": "b0cd8f3e-e697-42ce-97c0-2d0f6d448004"
        }
      ],
      "img320": [
        {
          "key": "ff1c2bb8-1684-4846-bcf6-8805f6519ceb",
          "mediaKey": "5fc31815-34a9-4d37-b0d3-49ca0a98851b"
        }
      ],
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/ecf23f15b96f4120b930fed9d76ac9e0",
      "class": "",
      "anchor": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/b1575fce907e422da0d618b3b12a44d7",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><a rel=\"noopener\" href=\"https://max-cont.ru/\" target=\"_blank\">https://max-cont.ru/</a></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "class": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/d4936f1363cd4354b29df1367aab2c04",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "1d955c19-13bf-4835-9dce-73307996536c",
          "mediaKey": "5c421340-2295-4bae-b979-d21b06809c56"
        }
      ],
      "img1024": [
        {
          "key": "662247e4-4789-4dde-a6ef-6f7a1fa7034c",
          "mediaKey": "7ac0cd2b-5325-407b-adf9-24c8c77fbd31"
        }
      ],
      "img650": [
        {
          "key": "e649da74-97cc-4443-9503-3b6f028f303c",
          "mediaKey": "f4b77e1b-620b-45ea-9024-9aebb5afe67f"
        }
      ],
      "img320": [
        {
          "key": "5cc70ff3-2f30-4073-8635-1f5bb4997f44",
          "mediaKey": "2cad35a2-3d58-4c39-a3de-264be115d97b"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/a48e3b68c57544aabd836f12bf5feb93",
      "sizeImg": "",
      "edImg": "",
      "image": [
        {
          "key": "18aff7fc-ed78-4a72-8ff1-b53817ce0998",
          "mediaKey": "bbb623ad-1727-480d-a854-0783da7039a4"
        }
      ],
      "img1024": [
        {
          "key": "73799b11-34d0-4d46-8fd2-4aff209d2eb3",
          "mediaKey": "47f00097-8b64-4dff-bccf-591db731bf5a"
        }
      ],
      "img650": [
        {
          "key": "fd546629-0f04-48b2-ad9f-1438810ba760",
          "mediaKey": "c246337b-2d8e-454a-821a-1dd9427cdd3d"
        }
      ],
      "img320": [
        {
          "key": "6b340855-fa7d-4342-88ee-7715d46656d8",
          "mediaKey": "7bb9f28c-14be-457c-b650-dfb87b86ca92"
        }
      ],
      "crop": "",
      "transform": "",
      "class": "",
      "gorizontalAlign": "",
      "load": [
        "lazy"
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/5346e388fd8f44d09f7bdba1011a24c9",
      "photoDisplay": "0",
      "backgroundImage": [],
      "imageRepeat": "",
      "imageTransform": "",
      "sizeBackground": "",
      "backgroundColor": {
        "value": "262930",
        "label": "262930",
        "sortOrder": 3,
        "id": "12"
      },
      "contrast": "",
      "imagePositionX": "",
      "imagePositionY": ""
    }
  ]
}]]></Value>
    </content>
    <cropCard>
      <Value Culture="ru"><![CDATA[[
  "Авто"
]]]></Value>
    </cropCard>
    <description>
      <Value Culture="ru"><![CDATA[]]></Value>
    </description>
    <image>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "f4caa2e5-b237-403b-ac69-ccb1032d3346",
    "mediaKey": "a64d7a72-a028-4c80-8bb9-dc3a230b7ad7"
  }
]]]></Value>
    </image>
    <keywords>
      <Value Culture="ru"><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "64e9820a-c39e-41a8-b8e2-6a1c37e3d482",
    "mediaKey": "ab4d6c7f-655b-4709-9a8e-a326f77585cc"
  }
]]]></Value>
    </logo>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[E-MAX - Наши работы - Лендинг компании «МаксКонтейнер»]]></Value>
    </title>
  </Properties>
</Content>