<?xml version="1.0" encoding="utf-8"?>
<Content Key="92d7c2ee-971f-49b2-b98a-2f4fce6e8233" Alias="Максима Логистик расширяет сотрудничество в Казахстане (наращивает своё присутствие на рынке Казахстана)" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MaksimaLogistikRasshiryaetSotrudnichestvoVKazakhstaneNarashivaetSvoePrisutstvieNaRynkeKazakhstana</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:23</CreateDate>
    <NodeName Default="Максима Логистик расширяет сотрудничество в Казахстане (наращивает своё присутствие на рынке Казахстана)">
      <Name Culture="ru">Максима Логистик расширяет сотрудничество в Казахстане (наращивает своё присутствие на рынке Казахстана)</Name>
    </NodeName>
    <SortOrder>127</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-09-05T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Казахстан  является приоритетным направлением нашей работы и приобретает все более ощутимый вес в общей массе наших  ежемесячных отгрузок. К настоящему времени, по направлению Казахстан задействовано около 15% нашего общего парка подвижного состава и его доля продолжает увеличиваться. За последний месяц мы приобрели следующих новых клиентов: 
    

 
 •    ТОО «Курты», ст. Казыбе-Бек  -  объём 15-20 платформ в месяц 
  
 •    «Railway Engineering» ст. Жете-Су –  объём 20-30 платформ в месяц 
  
 •    ООО   «Геогран» грузополучатель со станции Казыбек-Бек до ст. Воскресенск-  объём 5-10 платформ в месяц 
  
 •    ТОО   «Спец Транс Экспресс» ст. Жеты-Су -  объём 40-60 платформ в месяц 
  
 •    ТОО   «Атасу Транс» ст.Жеты-Су  -  объём 20 платформ в месяц 
  
 •    ООО   «Курус» грузополучатель со ст. Казыбек-Бек на станции Московского региона (ст. Фрязево, ст. Марк и другие) -  объём 5-10 платформ в месяц. 
  


Таким образом, мы существенно сокращаем издержки по порожнему пробегу и одновременно увеличиваем ежемесячную отгрузку. В краткосрочной перспективе планируеться стабилизировать ежемесячную отправку на уровне 250-300 платформ в месяц. 
    
   Нашими конкурентными преимуществами являются новый парк подвижного состава, традиционно высокое качество обслуживания и оперативность подачи подвижного состава. 
  
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Максима Логистик расширяет сотрудничество в Казахстане (наращивает своё присутствие на рынке Казахстана)]]></Value>
    </newsTitle>
  </Properties>
</Content>