<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbc1de41-075d-419a-968d-9638017e9a2c" Alias="Максима Логистик  укрепляет свои позиции на рынке перевозок грузов в универсальных платформах" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/MaksimaLogistikUkreplyaetSvoiPozifiiNaRynkePerevozokGruzovVUniversalNykhPlatformakh</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:30</CreateDate>
    <NodeName Default="Максима Логистик  укрепляет свои позиции на рынке перевозок грузов в универсальных платформах">
      <Name Culture="ru">Максима Логистик  укрепляет свои позиции на рынке перевозок грузов в универсальных платформах</Name>
    </NodeName>
    <SortOrder>140</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-03-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Собственный парк компании ООО "ТопЛайн" в марте превысил 500 вагонов, увеличившись за последний год почти в два раза. 
  

 Прирост произошел за счет приобретения новых универсальных платформ производства ОАО "Алтайвагон", численность которых в парке ООО «ТопЛайн» уже превышает 300 единиц. 
  


По словам заместителя коммерческого директора ООО «Максима Логистик» - Татьяны Черновой 
  
 "именно  универсальные платформы производства  ОАО "Алтайвагон" отвечают всеми необходимыми требованиями и подходят без ограничений для погрузки любого груза, перевозимого на открытом подвижном составе. Прежде всего это объясняется наличием полностью  деревянного пола, а также  большой грузоподъемностью вагонов". 
  


 ООО «Максима Логистик» является эксклюзивным арендатором парка универсальных платформ собственности ООО «ТопЛайн». 


 Перевозки грузов в универсальных платформах - одно из основных направлений деятельности ООО «Максима Логистик». 
  
 "Мы намерены дальше укреплять свои позиции.  К концу текущего года операционный парк универсальных платформ превысит 1 500 единиц. Сейчас мы уже занимаем третье место наряду с компаниями ОАО «ПГК» и ОАО «ФГК», а к концу года мы намереваемся «побороться» за второе место по количеству операционного парка универсальных платформ", пояснил генеральный директор ООО «Максима Логистик» - Николай Фалин 
  


По словам Генерального директора ООО "ТопЛайн"- Михаила Степанова 
  
 "В планах компании ООО "ТопЛайн" увеличить парк  собственных универсальных платформ до 1000 ед. Тем самым  компания ООО "ТопЛайн" займет третье  место по количеству универсальных платформ в собственности, и  окажет поддержку компании ООО "Максима Логистик" в реализации своих амбициозных планов на рынке перевозок грузов универсальных платформ". 
  
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Максима Логистик  укрепляет свои позиции на рынке перевозок грузов в универсальных платформах]]></Value>
    </newsTitle>
  </Properties>
</Content>