<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b4aafe7-22d3-412d-a7be-d49d2f29eca5" Alias="Наши работы" Level="2">
  <Info>
    <Parent Key="8297ea76-e03e-400e-a740-1aceee2ce2be">Home</Parent>
    <Path>/Home/NashiRaboty</Path>
    <Trashed>false</Trashed>
    <ContentType>work</ContentType>
    <CreateDate>2024-03-12T10:28:46</CreateDate>
    <NodeName Default="Наши работы">
      <Name Culture="ru">Наши работы</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="ae8e175b-a9b1-409d-98d9-ec7f7e5dcdd6">Work</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="ru"><![CDATA[Вы можете посмотреть наши работы, которые мы выполняли для наших клиентов в сфере логистики]]></Value>
    </description>
    <keywords>
      <Value Culture="ru"><![CDATA[мобильное приложение, сайт, лендинг, личный кабинет, разработка, IT]]></Value>
    </keywords>
    <robots>
      <Value Culture="ru"><![CDATA[]]></Value>
    </robots>
    <title>
      <Value Culture="ru"><![CDATA[Наши работы - портфолио компании E-MAX ]]></Value>
    </title>
  </Properties>
</Content>