<?xml version="1.0" encoding="utf-8"?>
<Content Key="49cdc59b-2f79-46f7-916b-dfb09a907540" Alias="Новый проект с БАНКОМ СОЮЗ (АО)" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovyiProektSBANKOMSOYuZAO</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:42</CreateDate>
    <NodeName Default="Новый проект с БАНКОМ СОЮЗ (АО)">
      <Name Culture="ru">Новый проект с БАНКОМ СОЮЗ (АО)</Name>
    </NodeName>
    <SortOrder>58</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-03-29T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ГК Максимум реализовала очередной проект по привлечению заемного финансирования.
 В феврале 2017 г. между ООО «Максима Логистик» и Банком СОЮЗ заключен кредитный договор на сумму 200 млн. руб. Привлеченные денежные средства будут направлены на финансирование инвестиционной деятельности Группы, а также на частичное рефинансирование текущего кредитного портфеля с целью улучшения его качества.

Коротко о Банке:
"Банк СОЮЗ (АО) был основан в 1993 году как АКБ «АЛИНА-МОСКВА». 
В 1999 году название банка было изменено на АКБ «ИНГОССТРАХ-СОЮЗ», а в 2003 году, после присоединения к нему трёх банков: Автогазбанк, Сибрегионбанк и Народный банк сбережений, объединённый банк получил наименование АКБ «СОЮЗ» (ОАО). 
В 2015 году наименование банка было изменено на Банк СОЮЗ (АО). 
Основной акционер - СПАО «Ингосстрах» (95,86% акций)."                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новый проект с БАНКОМ СОЮЗ (АО)]]></Value>
    </newsTitle>
  </Properties>
</Content>