<?xml version="1.0" encoding="utf-8"?>
<Content Key="47eca05c-9fe9-4548-b1ec-bc9b6f79d018" Alias="Новости партнёров: На контейнерном терминале ООО&quot;Бетта&quot; в г. Пермь завершен очередной этап реконструкции." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovostiPartnerovNaKonteinernomTerminaleOOOBettaVGPermZavershenOcherednoiEtapRekonstrukfii</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:26</CreateDate>
    <NodeName Default="Новости партнёров: На контейнерном терминале ООО&quot;Бетта&quot; в г. Пермь завершен очередной этап реконструкции.">
      <Name Culture="ru">Новости партнёров: На контейнерном терминале ООО"Бетта" в г. Пермь завершен очередной этап реконструкции.</Name>
    </NodeName>
    <SortOrder>132</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-07-12T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        На контейнерном терминале ООО "Бетта" в г. Пермь завершен очередной этап реконструкции. 

За прошедшие три месяца проведена полная перепланировка участка с формированием  многослойного щебеночного покрытия. Требования к твердому покрытию терминала формировались с учетом больших весовых нагрузок, а также с учетом требований по эксплуатации используемого на Терминале собственного погрузо-разгрузочного оборудования ричстакер FERRARI. На подготовленное щебеночное покрытие была произведена укладка аэродромных плит. Именно аэродромное бетонное покрытие было выбрано из-за своих высоких технико-эксплуатационных качеств. 
  
 Между тем, и в ходе реконструкции Терминал продолжает работать, осуществляя полный сервис контейнерного депо. С ростом оборота груженых контейнеров на терминале и предоставления услуг по их хранению, организована круглосуточная охрана, введен в эксплуатацию комплекс видеонаблюдения по всему периметру территории, началось строительство дороги с асфальтовым покрытием, которая будет иметь прямой выход на улицу Докучаева и существенно повысит пропускную способность терминала. 
  
 Текущая модернизация площадки позволит увеличить и обьем оказываемых услуг, так в третьем квартале 2013 года терминалом запланировано: 
  

 •    Обработка контейнеров - 900 TEUs 

 •    Прием/отправка фитинговых платформ - 200 единиц 

 •    Прием/отправка вагонов - 150 единиц                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новости партнёров: На контейнерном терминале ООО"Бетта" в г. Пермь завершен очередной этап реконструкции.]]></Value>
    </newsTitle>
  </Properties>
</Content>