<?xml version="1.0" encoding="utf-8"?>
<Content Key="35d88cac-62c2-4335-aa1d-b2d9defbe3a0" Alias="Новости партнеров." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovostiPartnerov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:59</CreateDate>
    <NodeName Default="Новости партнеров.">
      <Name Culture="ru">Новости партнеров.</Name>
    </NodeName>
    <SortOrder>87</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-05-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[

Компания ООО "Бетта" продолжает совершенствовать инфраструктуру по перевалке и техническому обслуживанию танк-контейнеров в Пермском крае. Расширяя номенклатуру оказываемых услуг и организовывая пакеты комплексных услуг, компания привлекает к обслуживанию лидеров рынка оперирования танк- контейнеров: СпецТрансГарант, ХимИнвестТранс, Инфотэк-Балтика, Балтика-Транс, СГ-Транс, LLC Den Hartogh Logistics, Транскем Евразия.
ООО "Бетта"  перевезла в танк-контейнерах  в 1 квартале 2015 года,  7 800 тонн - химической продукции, из них 2 000 тон на экспорт в республику Нидерлады и КНР.
ООО "Бетта" внедряет инновационные технологии по перевозке наливных грузов в флекси танках, для этого запланированы  проведение опытных перевозок и согласование технических условий на погрузку  данных флекси - танков по сети РЖД. 



 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новости партнеров.]]></Value>
    </newsTitle>
  </Properties>
</Content>