<?xml version="1.0" encoding="utf-8"?>
<Content Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2" Alias="Новости" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/Novosti</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2023-07-24T21:58:07</CreateDate>
    <NodeName Default="Новости">
      <Name Culture="en-us">news</Name>
      <Name Culture="ru">Новости</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="5b3e3806-07ec-4c90-85ea-88dad154d224">News</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7b55f06bfb894fda9a7512f70748902d"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/76a7aefe83ae480aa5549fc943b8cdd0"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/f80cb1051a444bba948e4f0e71ca012f",
                "settingsUdi": "umb://element/010b3a98e7304cb1bb047f523da0803a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/763891ad4f5a46eabdfe595b7c20d6ee",
        "settingsUdi": "umb://element/133277533d874c1a9a877e0398a62c45"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/763891ad4f5a46eabdfe595b7c20d6ee",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/f80cb1051a444bba948e4f0e71ca012f",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/7b55f06bfb894fda9a7512f70748902d",
      "headline": "news"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/76a7aefe83ae480aa5549fc943b8cdd0",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"NewsMacro\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/133277533d874c1a9a877e0398a62c45",
      "imagePositionX": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"0b139ce8-bc3f-4cfb-b639-71b1b302989c\",\r\n    \"mediaKey\": \"5be500c4-d479-4925-a762-0af85579c49c\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/010b3a98e7304cb1bb047f523da0803a"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d332de5ddc954b72bc83b3a9ed559bfd",
        "settingsUdi": "umb://element/02a0218c7dbe4daf8ab5a0370195a906",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/96bc457daee444599449233904412d27"
                      },
                      {
                        "contentUdi": "umb://element/abd82ab89cc349799b623855ad50d8e7",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/40a0ad80d5f74daeaeb772737ce8b499",
                "settingsUdi": "umb://element/be3222172ed548d69fb5fedcad52bcee"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/d332de5ddc954b72bc83b3a9ed559bfd",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/40a0ad80d5f74daeaeb772737ce8b499",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/96bc457daee444599449233904412d27",
      "headline": "НОВОСТИ"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/abd82ab89cc349799b623855ad50d8e7",
      "richText": "<p> </p>\n<?UMBRACO_MACRO macroAlias=\"NewsMacro\" />\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/02a0218c7dbe4daf8ab5a0370195a906",
      "imagePositionX": "[\"По левому краю\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"0b139ce8-bc3f-4cfb-b639-71b1b302989c\",\r\n    \"mediaKey\": \"5be500c4-d479-4925-a762-0af85579c49c\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "imagePositionY": "[\"По верхнему краю\"]",
      "sizeBackground": "100"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/be3222172ed548d69fb5fedcad52bcee"
    }
  ]
}]]></Value>
    </content>
    <iconav>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="ru"><![CDATA[[
  {
    "key": "e510ee80-8ac7-4e1d-8144-1c31a96d0f67",
    "mediaKey": "13b8bb4e-2b37-4274-87de-58a4eb5c4b6e"
  }
]]]></Value>
    </iconav>
  </Properties>
</Content>