<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a8795d4-b9c1-47e0-b8d1-6ab596b6af4f" Alias="Новые направления деятельности." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/NovyeNapravleniyaDeyatelNosti</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:55</CreateDate>
    <NodeName Default="Новые направления деятельности.">
      <Name Culture="ru">Новые направления деятельности.</Name>
    </NodeName>
    <SortOrder>80</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-10-27T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
Компания ООО "Максима Логистик", совместно с ООО "МаксЭкспресс"  приступила к самостоятельному управлению парком собственных и арендованных универсальных контейнеров. 



Покупка и долгосрочная аренда контейнеров стала следствием растущего спроса со стороны клиентов: всё большее количество заказчиков заинтересовано не только в предоставлении платформ под погрузку, но и в услугах по обработке и доставке грузов по маршруту склад - контейнерная площадка. Первые контейнеры были приобретены летом 2015 года, в октябре были приняты  в работу 80 40-футовых контейнеров. Особый интерес у клиентов вызывают специализированные контейнеры для перевозки автомобилей «40’TransRack». 



Ключевая задача на ближайшие полгода – занять крепкие позиции на рынке перевозки контейнеров в прямом смешанном железнодорожно-водном сообщении (ПСЖВС). Это мультимодальные перевозки, где необходима очень тщательная интеграция и координация нескольких видов транспорта (автомобильный, железнодорожный, водный), контейнерных терминалов и портов перевалки. Грузы, транзитом через порт Владивосток, следуют в адрес получателей, расположенных в Магадане, на Камчатке, на Сахалине и в другие районы РФ. 



В части морских перевозок нашими партнёрами выступают судоходные компании «Гарант Интермодал» и «Камчатское пароходство».
∙ На линии Владивосток – Магадан: 2 судна вместимостью 250 TEU, судозаход во Владивосток осуществляется каждые 10 дней
∙ На линии Владивосток – Петропавловск-Камчатский: 3 судна вместимостью от 250 до 600 TEU, судозаход во Владивосток осуществляется каждые 7 дней
∙  На линии Владивосток – Корсаков (Сахалин): 2 судна вместимостью 200 ДФЭ, судозаход во Владивосток осуществляется каждые 10 дней
С момента запуска сервиса ст. Силикатная - ст. мыс Чуркин (ВМПП) было отправлено 9 ускоренных контейнерных поездов или 1062 TEU (52х20’ и 505х40’), в том числе назначением ПСЖВС 408 TEU (38х20' и 185х40'). В начале октября 2015 года было сформировано 4 полносоставных поезда, которые будут курсировать по данному маршруту. Планируется отправка порядка 5 поездов в месяц.
Продажа услуг осуществляется по схемам «станция-станция/порт», «станция – дверь», «дверь-дверь».
Отправка поездов из Москвы выполняется еженедельно с привязкой дат прибытия поездов к судозаходам каботажных линий.
Оперирование сервисом и координацию с судовладельцами осуществляет компания ООО “МаксЭкспресс”.


 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Новые направления деятельности.]]></Value>
    </newsTitle>
  </Properties>
</Content>