<?xml version="1.0" encoding="utf-8"?>
<Content Key="a24d96e8-046b-4b27-a7c1-1b231bd27630" Alias="О компании" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/OKompanii</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T19:00:41</CreateDate>
    <NodeName Default="О компании">
      <Name Culture="en-us">About</Name>
      <Name Culture="ru">О компании</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/98696139a08d4179bb7d34a6a72cf904"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/cdd82cbcdcef4a909ae389dd92333d70"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3c4bf6591af04dbb9e7dcf2587d5fff8"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/050994c973e248ffafbf795114305747"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/79ab4376259e472782ed389608df75f6"
                              },
                              {
                                "areas": [],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/ba8a71780b3740bf90d7d3e5ec47880a"
                              },
                              {
                                "areas": [],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/faa56d2d05504d6bbc6e9ca8573c4811"
                              },
                              {
                                "areas": [],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/7b87dd3e7cb1445a8ef3bd761ffa3f54"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/564add64bfac4c30b30b6eeeb71493b2",
                        "settingsUdi": "umb://element/54d505725e0c4982a351d89028405c28"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/a60a9a0af51c4c0389eed9dc930bc3ec",
                "settingsUdi": "umb://element/735fe6f5e523461dad560772d98a9c1e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/885aba11513c4901bd37f10c6fc69008",
        "settingsUdi": "umb://element/0e8d40e877fd43dda77bb02af795c5d8"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/2d49a1d6d94548a7bbe27366a601af15"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/db8edd800a3643d48678b1b7efdd81fc"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5afa8977c79f416e88bdf02182c21701",
        "settingsUdi": "umb://element/9a3a7fda887643f89198bef8585daa04"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/27e8798c95c448b98a4bca837820a23e"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": []
                          }
                        ],
                        "columnSpan": 1,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/0ebaafebcf3d47339463ac93c8673999",
                        "settingsUdi": "umb://element/ca7838776b90400fa0bc09fb22298456"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/5f4f651a24544cbca300762e213f39fb"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3e415f319e42493b95ba83115271f732"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/db85994bacf24021a09a3c230e7e70cc"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a38dd4475ce04ffb990dcf8d60e9c550"
                      },
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/82cf22ba8c88404b8814faca739f111e"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/a13b5ca119c347aab20088e321c84e0c",
                "settingsUdi": "umb://element/db2aed5f290a43ff96fcd5417d3c1972"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/dae0b10a5f764e718a28bd793f095b43",
        "settingsUdi": "umb://element/6e910c80a7c84db899ba3cf9879a2af3"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/7bf949fac5e149eeabb767c0cfaeb05a"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d0002403d8f54c09a74b58736c6f898f"
                      },
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/0f86660c5f3b4395aed64ff0863b4726"
                      },
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e0fe577c0a2649f5bee974326abade82"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/0f4875481967429b99d13dba0166d74b",
                "settingsUdi": "umb://element/549de35e5230411b9b28d017ec5ac0a3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ae61452fbcbb4bd5888ce1fded9ef62f",
        "settingsUdi": "umb://element/4b7ba8fdb14140d98f84188c740140b5"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/c075e1dc95c3485a9599c456aa61a6af"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/37a9e7dc21c245b7b652fbfbc960930f"
                      },
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b34d894d02a64bd6a1fa6b49974dce5f"
                      },
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/8719842fc9474617a77eba004625bb09"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/dff2d3eb2e4747fa89cf7bb78235b155",
                "settingsUdi": "umb://element/16b8c1b45f0f4e238130ed93537bdab0"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/81612bd6f63f4e96b2507e5412a382d0",
        "settingsUdi": "umb://element/5ff833943d024ab28096fe86f8b6ce79"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/885aba11513c4901bd37f10c6fc69008",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/a60a9a0af51c4c0389eed9dc930bc3ec",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/98696139a08d4179bb7d34a6a72cf904",
      "headline": "About the company"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/cdd82cbcdcef4a909ae389dd92333d70",
      "richText": "<p style=\"text-align: center;\">Maxima Logistics LLC is an operator of railway rolling stock with its own fleet of wagons and logistics centers. Today the company is one of the most dynamically developing in the field of railway logistics.</p>\n<p style=\"text-align: center;\">For the accumulated experience in the transport services market, Maxima Logistics has gained the status of a reliable partner and is among the top 30 companies according to the Russian rating of rolling stock operators.</p>"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/3c4bf6591af04dbb9e7dcf2587d5fff8",
      "imgMargin": "",
      "gorizontalAlign": "[\"По центру\"]",
      "image": "[\r\n  {\r\n    \"key\": \"c29fd7c8-097b-4ce5-916b-a25cf0ddf486\",\r\n    \"mediaKey\": \"5ee11658-377e-49c7-b937-867730b87221\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "10",
      "edImg": "%"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/050994c973e248ffafbf795114305747",
      "richText": "<h3 style=\"text-align: center;\">Our specialization –</h3>\n<p style=\"text-align: center;\">these are cargo transportation by covered wagons, universal and fitting platforms, transportation of timber and grain cargo, as well as multimodal delivery of containers \"door to door\".</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/564add64bfac4c30b30b6eeeb71493b2",
      "verticalAlign": "",
      "width": "80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/79ab4376259e472782ed389608df75f6",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"cf752d5f-e51d-49e1-9dc6-dd775614d870\",\r\n    \"mediaKey\": \"a8aa0cbc-af29-482e-b25e-d6474907ab4d\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">Covered wagons</p>",
      "sizeFoto": "70",
      "edFoto": "%",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/ba8a71780b3740bf90d7d3e5ec47880a",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"3bb0e733-775e-4045-989f-ffbd95df72c4\",\r\n    \"mediaKey\": \"f48badf6-9318-4045-af13-f51ec92947d6\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">Universal and fitting platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/faa56d2d05504d6bbc6e9ca8573c4811",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"c4bff88c-c36b-4cd3-bbff-018571d07266\",\r\n    \"mediaKey\": \"2fe8ed44-a4b4-4d8d-9e46-f0a95b009ef5\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">Transportation of timber and grain cargoes</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/7b87dd3e7cb1445a8ef3bd761ffa3f54",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"691aae1c-edb2-4344-ac56-0b25439dca87\",\r\n    \"mediaKey\": \"3e05093c-ad39-4aa7-89fe-32b300d95de7\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">Multimodal door-to-door container delivery</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/5afa8977c79f416e88bdf02182c21701"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/2d49a1d6d94548a7bbe27366a601af15",
      "richText": "<h2 style=\"text-align: center;\">Our geography –</h2>\n<p style=\"text-align: center;\">the whole of Russia, the CIS countries and the Baltic states.</p>"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/db8edd800a3643d48678b1b7efdd81fc",
      "imgMargin": "",
      "gorizontalAlign": "[\"По центру\"]",
      "image": "[\r\n  {\r\n    \"key\": \"11aea54a-df58-40a7-a7c9-8108c7294dca\",\r\n    \"mediaKey\": \"369eb7bc-9347-44c3-bef1-e624ae0e2c6b\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Вписать в контейнер\"]",
      "sizeImg": "60",
      "edImg": "%"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/dae0b10a5f764e718a28bd793f095b43"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/27e8798c95c448b98a4bca837820a23e",
      "richText": "<h2 style=\"text-align: center;\">The company's fleet consists<br>of more than 10,000 wagons:</h2>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/a13b5ca119c347aab20088e321c84e0c",
      "verticalAlign": "",
      "gorizontalAlign": "[\"По центру\"]"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/0ebaafebcf3d47339463ac93c8673999",
      "gorizontalAlign": "",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/5f4f651a24544cbca300762e213f39fb",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4f3d39ae-79e3-46a0-9acc-5c448890d95e\",\r\n    \"mediaKey\": \"a83090e2-4db1-456c-8255-87537a02b66f\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2000</span></h3>\n<p style=\"text-align: center;\">covered wagons</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/3e415f319e42493b95ba83115271f732",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"7ba12fa4-3027-47e1-a27d-23ad316a1872\",\r\n    \"mediaKey\": \"adc665d2-3516-4962-a690-c781565ae14d\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">1700</span></h3>\n<p style=\"text-align: center;\">fitting platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/db85994bacf24021a09a3c230e7e70cc",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"250f0600-1c9c-4ed3-bc6a-0a2bf59e2f4a\",\r\n    \"mediaKey\": \"82b6a269-f3a9-48c7-ad7a-7228f8413464\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2200</span></h3>\n<p style=\"text-align: center;\">universal platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/a38dd4475ce04ffb990dcf8d60e9c550",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"9175e704-38bf-4ae4-896c-de67a4154253\",\r\n    \"mediaKey\": \"111bdc20-e61c-423c-ac9b-e282f61c4d1d\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2400</span></h3>\n<p style=\"text-align: center;\">grain wagons</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/82cf22ba8c88404b8814faca739f111e",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"8fe82122-53a4-42f9-a196-c111a6234e43\",\r\n    \"mediaKey\": \"9dd48ca1-ff88-4cdf-8419-37678dc795d9\"\r\n  }\r\n]",
      "richText": "<h3 style=\"text-align: center;\"><span class=\"red\">2500</span></h3>\n<p style=\"text-align: center;\">logging platforms</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "70",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/ae61452fbcbb4bd5888ce1fded9ef62f"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/7bf949fac5e149eeabb767c0cfaeb05a",
      "richText": "<h2 style=\"text-align: center;\">The main advantage</h2>\n<p style=\"text-align: center;\">WE PROVIDE FOR LOADING:</p>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/0f4875481967429b99d13dba0166d74b",
      "verticalAlign": "",
      "width": "80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d0002403d8f54c09a74b58736c6f898f",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"91c1ce89-188d-4707-ab8b-56d25b0a4ac5\",\r\n    \"mediaKey\": \"22c34850-8bf1-4f53-9b25-477c46a1a4a0\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\"><span class=\"violet\">ONLY MODERN CARRIAGES</span></p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/0f86660c5f3b4395aed64ff0863b4726",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"057ef0ca-26c6-4814-8d90-ada18e687b44\",\r\n    \"mediaKey\": \"4873c09e-b100-4d6b-8d5f-e1717fdb0844\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\"><span class=\"mustard\">WAGONS OF VARIOUS TYPES</span></p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/e0fe577c0a2649f5bee974326abade82",
      "locationImage": "[\"Сверху\"]",
      "image": "[\r\n  {\r\n    \"key\": \"6a05ed1f-dbe3-4236-8f4a-943770f87535\",\r\n    \"mediaKey\": \"a24aad19-d733-451a-879e-a145439ecd28\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\"><span class=\"vinous\">THE AGE OF THE WAGONS DOES NOT EXCEED 6 YEARS</span></p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/81612bd6f63f4e96b2507e5412a382d0"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/c075e1dc95c3485a9599c456aa61a6af",
      "richText": "<h2 style=\"text-align: center;\">Due to the continuous search for IT solutions and the development of our own online tools, we guarantee a simple solution to the most complex logistical tasks:</h2>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/dff2d3eb2e4747fa89cf7bb78235b155",
      "verticalAlign": "",
      "width": "80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/37a9e7dc21c245b7b652fbfbc960930f",
      "locationImage": "[\"Снизу\"]",
      "image": "[\r\n  {\r\n    \"key\": \"274ff88a-2ce7-4306-beb9-7b3335e63fd4\",\r\n    \"mediaKey\": \"7c9ec666-908f-4296-9469-b8b90c3e7a11\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">MAXIMUM QUALITY</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/b34d894d02a64bd6a1fa6b49974dce5f",
      "locationImage": "[\"Снизу\"]",
      "image": "[\r\n  {\r\n    \"key\": \"ba90b8e6-4486-4913-aca6-45aba4e1949f\",\r\n    \"mediaKey\": \"7c247c0d-e99e-4490-8e67-ce4372d9007a\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">AS EFFICIENTLY AS POSSIBLE</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/8719842fc9474617a77eba004625bb09",
      "locationImage": "[\"Снизу\"]",
      "image": "[\r\n  {\r\n    \"key\": \"7a34ddb4-e9c0-421d-8af8-041764361e18\",\r\n    \"mediaKey\": \"c17e09a4-77af-4ca0-8e8b-c0fe8829cd3d\"\r\n  }\r\n]",
      "richText": "<p style=\"text-align: center;\">ON THE MOST FAVORABLE TERMS</p>",
      "gorizontalImgAlign": "",
      "sizeFoto": "100",
      "edFoto": "%"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/0e8d40e877fd43dda77bb02af795c5d8",
      "imagePositionX": "",
      "imagePositionY": "",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"27d837a8-a454-4f7f-b79e-62c1d269fb8c\",\r\n    \"mediaKey\": \"a292142f-ca7b-4008-a2e9-b9a7ae976721\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "sizeBackground": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/735fe6f5e523461dad560772d98a9c1e"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/54d505725e0c4982a351d89028405c28"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/9a3a7fda887643f89198bef8585daa04"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/6e910c80a7c84db899ba3cf9879a2af3",
      "imagePositionX": "",
      "imagePositionY": "",
      "photoDisplay": "0",
      "backgroundColor": "{\r\n  \"value\": \"c9e0ef\",\r\n  \"label\": \"c9e0ef\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"9\"\r\n}",
      "backgroundImage": "[]",
      "imageRepeat": "",
      "imageTransform": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/db2aed5f290a43ff96fcd5417d3c1972"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/ca7838776b90400fa0bc09fb22298456"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/4b7ba8fdb14140d98f84188c740140b5"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/549de35e5230411b9b28d017ec5ac0a3"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/5ff833943d024ab28096fe86f8b6ce79",
      "imagePositionX": "",
      "imagePositionY": "",
      "photoDisplay": "0",
      "backgroundColor": "{\r\n  \"value\": \"eaeaea\",\r\n  \"label\": \"eaeaea\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"10\"\r\n}",
      "backgroundImage": "[]",
      "imageRepeat": "",
      "imageTransform": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/16b8c1b45f0f4e238130ed93537bdab0"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[]]]></Value>
    </icoNav>
  </Properties>
</Content>