<?xml version="1.0" encoding="utf-8"?>
<Content Key="3771f997-9066-4489-bd3e-275e1fa8b910" Alias="ООО &quot;МАКСИМА ЛОГИСТИК&quot; И  ООО &quot;ЭКОЛАЙН&quot; СОВМЕСТНО С ЗМК (Г.ЭНГЕЛЬС) ПРЕДСТАВИЛИ НОВУЮ МОДЕЛЬ ЛЕСОВОЗА." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMAKSIMALOGISTIKIOOOEKOLAINSOVMESTNOSZMKGENGELSPREDSTAVILINOVUYuMODELLESOVOZA</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:09</CreateDate>
    <NodeName Default="ООО &quot;МАКСИМА ЛОГИСТИК&quot; И  ООО &quot;ЭКОЛАЙН&quot; СОВМЕСТНО С ЗМК (Г.ЭНГЕЛЬС) ПРЕДСТАВИЛИ НОВУЮ МОДЕЛЬ ЛЕСОВОЗА.">
      <Name Culture="ru">ООО "МАКСИМА ЛОГИСТИК" И  ООО "ЭКОЛАЙН" СОВМЕСТНО С ЗМК (Г.ЭНГЕЛЬС) ПРЕДСТАВИЛИ НОВУЮ МОДЕЛЬ ЛЕСОВОЗА.</Name>
    </NodeName>
    <SortOrder>103</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-07-07T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
26-27 июня 2014 г. в г. Энгельс, Саратовской обл. ООО "Максима Логистик" и ООО “Эколайн” совместно с партнером - Заводом Металлоконструкций провели презентацию новой модели платформы для перевозки пиломатериалов. 
Была представлена модель 13-9997.
На встречу были приглашены, как наши постоянные, так и потенциальные партнеры из богатых лесом регионов России. 
Презентация прошла непосредственно на производственной линии ЗМК. Присутствующим был продемонстрирован полный производственный цикл рождения лесовоза – от заготовки до покраски и  выхода на колею.
Встреча прошла в неформальной, теплой и дружественной обстановке. 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "МАКСИМА ЛОГИСТИК" И  ООО "ЭКОЛАЙН" СОВМЕСТНО С ЗМК (Г.ЭНГЕЛЬС) ПРЕДСТАВИЛИ НОВУЮ МОДЕЛЬ ЛЕСОВОЗА.]]></Value>
    </newsTitle>
  </Properties>
</Content>