<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3925465-c794-4747-964a-ac8786e56d68" Alias="ООО &quot;Максима Логистик&quot; увеличивает парк фитинговых платформ до 1 100 единиц." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/OOOMaksimaLogistikUvelichivaetParkFitingovykhPlatformDo1100Edinif</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:10</CreateDate>
    <NodeName Default="ООО &quot;Максима Логистик&quot; увеличивает парк фитинговых платформ до 1 100 единиц.">
      <Name Culture="ru">ООО "Максима Логистик" увеличивает парк фитинговых платформ до 1 100 единиц.</Name>
    </NodeName>
    <SortOrder>105</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2014-06-25T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
ООО «Максима Логистик» расширяет свое присутствие на рынке контейнерных перевозок и увеличивает свой операционный парк 80 футовых фитинговых платформ.  В июне текущего года будет введено в эксплуатацию дополнительно 100 единиц данных вагонов модели 23-469-07 производства ОАО «ЗМК» г. Энгельс.
Таким образом, общий парк фитинговых платформ под управлением ООО «Максима Логистик» превысит 1 100 единиц.



   ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[ООО "Максима Логистик" увеличивает парк фитинговых платформ до 1 100 единиц.]]></Value>
    </newsTitle>
  </Properties>
</Content>