<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c67b32b-de88-4229-b019-92602e3f14b7" Alias="Платформы-лесовозы" Level="103">
  <Info>
    <Parent Key="bf1ac7cb-e28d-4461-90a5-80d2e2c7391d">Подвижной состав</Parent>
    <Path>/[-20]/Glavnaya/PodvizhnoiSostav/PlatformyLesovozy</Path>
    <Trashed Parent="bf1ac7cb-e28d-4461-90a5-80d2e2c7391d">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T22:07:02</CreateDate>
    <NodeName Default="Платформы-лесовозы">
      <Name Culture="en-us">logging platforms</Name>
      <Name Culture="ru">Платформы-лесовозы</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b9fdd7a23fd340069434e0f80728da3d"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/48d95d0ba79b4b97aaded41595afc917"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e57f247d2adb4cf4826ed549e0c2eb28"
                              },
                              {
                                "areas": [
                                  {
                                    "key": "0a1b1512-3086-41d1-8efa-963e0fb7bd68",
                                    "items": []
                                  }
                                ],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/06633884f72348719f617850371f0fae"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e78e18c5857749178be127b0439039c4",
                        "settingsUdi": "umb://element/f8dbfd5cbf6448e8a9a00e5822700bb9"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/ad502babe2e349dbbb19a50a7946b700",
                "settingsUdi": "umb://element/44e02a1159fe40f6bc59aba59e681bc5"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/bc9cd6ee425e4f038c509a3d1f677d59",
        "settingsUdi": "umb://element/dbeef18360aa48779ebb9b7f93f7f2bd"
      },
      {
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/dad9ed3cc73f4dc4adeb4c5ee536721d"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4c00d43522934e2ca4e6144f2c1c9a75"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/aca309215322430fb796ae0b74fc496e"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b93eb90d084543f6a45b1d926dc39b55"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/02a07e2cd0cc4640b4337a4ac4d201ab"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/22de7043f89149f3ba9fe61e63ac21ea",
                "settingsUdi": "umb://element/573bd847bcba4e98aa0e9f6fa3f354a7"
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/1f8ce945af9844389bd63eff644d21ea"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b06f573c737a4fa69e5d5f4589a3e2bf"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/859280b02d9b4318ac2bc7bf6e7db60b"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/063777c833ca42f49cb9385378f97171",
                "settingsUdi": "umb://element/b204d9780e00419790a560d5d67d864d"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/93cc14a8c25847808059fce45be55466"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e76c97a6e1fe481db903d0e87fe9d439"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/e2132e0262124bc2995d29457e31b622",
                "settingsUdi": "umb://element/5a09053e2b2847cdb6cab96fc5a2e60d"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e6d5ce42834e44a6996c9ff16898b883"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d42011e8d2684d6ab20341cad05cceeb"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/eeeed47df8ed4f969e846068eeb2ede3",
                "settingsUdi": "umb://element/929386387723452b9a8f45d3e7c02c8b"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/04acf6ff2ed842c599af1a5fc69248b4"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/2c4e6c2e59e743139e67908562a28500"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/6d95d049fa2b49bcacbd6627aeb7a90b",
                "settingsUdi": "umb://element/eb314affeaf74229918e2b36082f7301"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d6c96b09db864c9296b82dba8160fa78",
        "settingsUdi": "umb://element/9b7b0249b39340819e7fab99ab99663a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/bc9cd6ee425e4f038c509a3d1f677d59",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/ad502babe2e349dbbb19a50a7946b700",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/b9fdd7a23fd340069434e0f80728da3d",
      "headline": "Logging platforms"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/48d95d0ba79b4b97aaded41595afc917",
      "richText": "<div class=\"count-platforms\" style=\"text-align: center;\">\n<div class=\"count-platforms\">The company's operating fleet includes <span class=\"vinous\"><strong>more than <span class=\"bigText\">2,500</span> units</strong></span> of logging platforms</div>\n</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/e78e18c5857749178be127b0439039c4",
      "gorizontalAlign": "[\"По центру\"]",
      "verticalAlign": "",
      "width": "",
      "class": "divheight"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e57f247d2adb4cf4826ed549e0c2eb28",
      "richText": ""
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "udi": "umb://element/06633884f72348719f617850371f0fae",
      "link": null,
      "img": "[\r\n  {\r\n    \"key\": \"14b0b36a-c88e-47cd-9fd4-842677d35a4b\",\r\n    \"mediaKey\": \"6d55c552-2275-424a-a0d2-85afd1288468\"\r\n  }\r\n]",
      "nameLink": "ORDER",
      "class": "bottom-but",
      "parametr": "3",
      "isRequest": "1"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/d6c96b09db864c9296b82dba8160fa78"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/1f8ce945af9844389bd63eff644d21ea",
      "richText": "<h4 style=\"text-align: center;\">THE FLEET OF MODERN LOGGING TRUCKS CONSISTS EXCLUSIVELY OF PLATFORMS BUILT IN 2013-2017. IT CONSISTS OF MODELS:</h4>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/063777c833ca42f49cb9385378f97171",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/b06f573c737a4fa69e5d5f4589a3e2bf",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"2299e13a-09c8-448a-a78e-0db62fac54ce\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/859280b02d9b4318ac2bc7bf6e7db60b",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9997 (OJSC \"ZMK\")</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Platform with 16 racks for the transportation of lumber and round timber that do not require protection from environmental influences, carrying capacity - 69.5 tons. Optimal technical characteristics and growing demand make this model of a logging truck one of the most popular in its segment today.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/e2132e0262124bc2995d29457e31b622",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/93cc14a8c25847808059fce45be55466",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"65a2e85b-dd1e-431a-a937-c8bc7bfd79f2\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e76c97a6e1fe481db903d0e87fe9d439",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9744-02 (JSC Transmash)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Platform with 12 removable racks, 2 end walls and 8 fitting stops, load capacity - 67 tons. Distinctive features are a comb installed on the floor of the platform to prevent the displacement of timber, binding brackets and folding fittings for fastening large-capacity containers.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/eeeed47df8ed4f969e846068eeb2ede3",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/e6d5ce42834e44a6996c9ff16898b883",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"8e5d219c-05e0-4095-8585-a77c8359f946\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/d42011e8d2684d6ab20341cad05cceeb",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-2114-07 (Altayvagon JSC)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">The logging truck platform, the main feature of which is the presence of 12 removable racks and end walls, the load capacity is 66 tons.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/6d95d049fa2b49bcacbd6627aeb7a90b",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/04acf6ff2ed842c599af1a5fc69248b4",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"4d832b5f-1d3d-49cc-8aeb-20a07cafde86\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/2c4e6c2e59e743139e67908562a28500",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9924-01 (OA \"RVRZ\")</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">The platform is equipped with 16 racks and is suitable for the transportation of round timber, packaged and unpackaged lumber. Load capacity – 68.5 tons.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/22de7043f89149f3ba9fe61e63ac21ea",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "div80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/dad9ed3cc73f4dc4adeb4c5ee536721d",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4d931f8b-a88d-4de8-a876-7d4043b4b807\",\r\n    \"mediaKey\": \"5d09eb39-1cdf-414f-ac51-2444fc0f95e0\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Transportation and logistics by rail occupies a significant part of the Russian cargo transportation market, since some categories of cargo can be delivered to many regions of the country only by rail.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/4c00d43522934e2ca4e6144f2c1c9a75",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"49769aa3-39e5-4516-84fd-6a4552e65ee3\",\r\n    \"mediaKey\": \"054f33c3-9e64-4693-a0fc-7dc5bf77950a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Railway rolling stock today is the main link not only in the logistics chain of Russia, but also in all CIS countries.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/aca309215322430fb796ae0b74fc496e",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b369c976-dd92-4c50-b1ce-25e6bdf31492\",\r\n    \"mediaKey\": \"27d29cea-1ad0-4c3e-a5a7-66237379418a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Given the wide geographical spread of the regions and the shortage of a modern fleet, there is an acute question in the transportation of goods by rail.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/b93eb90d084543f6a45b1d926dc39b55",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"9af314c5-14b9-4376-b937-d0c2f3e2ae84\",\r\n    \"mediaKey\": \"f40deaff-1fc8-45d9-a5ad-38ad96dffee3\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Moreover, the demand for railway transportation is becoming more popular, as it has a number of significant advantages: ensuring cargo safety, independence from weather conditions, large load capacity, low cost of delivery compared to motor transport.</p>",
      "gorizontalImgAlign": ""
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/02a07e2cd0cc4640b4337a4ac4d201ab",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"f2fda229-536b-4718-a3af-0299123d92d6\",\r\n    \"mediaKey\": \"1c37c119-2f7a-4497-b121-0984ee6cec88\"\r\n  }\r\n]",
      "richText": "<p>Maxima Logistics LLC has a specialized rolling stock of railway transport and is a professional player in the modern freight logistics market. We provide our clients with high-quality advice and organization of delivery on favorable terms.</p>",
      "sizeFoto": "3",
      "edFoto": "em",
      "gorizontalImgAlign": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/dbeef18360aa48779ebb9b7f93f7f2bd",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"47a6fae6-6b3e-4ad6-965e-a8923af4d260\",\r\n    \"mediaKey\": \"0bc8a219-1d1b-40c7-9021-c3fd506736e3\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/44e02a1159fe40f6bc59aba59e681bc5"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/f8dbfd5cbf6448e8a9a00e5822700bb9",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По верхнему краю\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"b469fd81-9261-4146-b459-61cd6a1cc314\",\r\n    \"mediaKey\": \"bee4d276-e6e2-4aaf-9425-504a71b6aff5\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "backgroundColor": "{\r\n  \"value\": \"c9e0ef\",\r\n  \"label\": \"c9e0ef\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"9\"\r\n}"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/9b7b0249b39340819e7fab99ab99663a"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/b204d9780e00419790a560d5d67d864d"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/5a09053e2b2847cdb6cab96fc5a2e60d"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/929386387723452b9a8f45d3e7c02c8b"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/eb314affeaf74229918e2b36082f7301"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/573bd847bcba4e98aa0e9f6fa3f354a7"
    }
  ]
}]]></Value>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c0546acdaaaa4820babbdf733fb7eb64",
        "settingsUdi": "umb://element/7736dff3353c41d699bf77f6d462758a",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a49014a5284745e1812633557d112162"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/27adf1cd904649969a5eba80f98fdfc9"
                      },
                      {
                        "areas": [
                          {
                            "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                            "items": [
                              {
                                "contentUdi": "umb://element/c6cdf9842cd44487b538eea2c73289c3",
                                "areas": [],
                                "columnSpan": 12,
                                "rowSpan": 1
                              },
                              {
                                "areas": [
                                  {
                                    "key": "0a1b1512-3086-41d1-8efa-963e0fb7bd68",
                                    "items": []
                                  }
                                ],
                                "columnSpan": 3,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/c8e10f92f18c4ff2a86e5c675e2b5368"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/484129eb9c3c4b75bbc3f5efd77cf586",
                        "settingsUdi": "umb://element/af6dc3d99cbb4ebcae51718aa4f52bbd"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/3583b2ef22b4403592a28431874a80c8",
                "settingsUdi": "umb://element/a39a8c2cf3024a56a1a3cdccd99ee490"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0ed3fbcf52604023a6dc649ed0f67dc8",
        "settingsUdi": "umb://element/91635f25e8e34aa3b2e33f334c2ca64d",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/dbcc41aa96d54a718ab252d638ea23cb"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d3d360186c134634aa3128719031cea8"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/7cc112befcb14f43b596c0c102401993"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/68c2c63f40ca4d75874b6d38bcc49941"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/413494e1a30245048a7ec20ce8850158"
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/44573a8cdfa945599e4efaa87166a031",
                "settingsUdi": "umb://element/55efaee2481c4eeca9615cea64375e8c"
              },
              {
                "contentUdi": "umb://element/0f91d65dd8c44d19b07a63499518f647",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/91a365301c574352b30dc4e627da103b"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/84495e635b904584a7a0593a3cd33677"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/461d35231538446791109f99aa7072de",
                "settingsUdi": "umb://element/20b534f1f42140e78adba6575b3c9b62"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/adddb08a7ca142738146c754bc9a403f"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/bce934b7d02f4a2db3cbdeebeea037a8"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/ce232fb9e198405ab5e34c5db770e6cc",
                "settingsUdi": "umb://element/d23b9a93f30d4573a14776ebdd50cab3"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1fa525098f4a4224b1db55af4270d4d1"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/fe85b6bd760d4598a1a3734412c90928"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/e42e44a51fc24d1399f0287d7a129858",
                "settingsUdi": "umb://element/df9b04e3df694ec1ad08fb0d237e8c95"
              },
              {
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/786d841937244589a83429d2b39f96e4"
                      },
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b96b14d4f1864f259a96b5c9d9b73ac0"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f546bfd1cb784491aa514170aa59cfec",
                "settingsUdi": "umb://element/2f8fdc7b19e04b75b50cb5e8561f66fd"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/c0546acdaaaa4820babbdf733fb7eb64",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/3583b2ef22b4403592a28431874a80c8",
      "verticalAlign": "",
      "gorizontalAlign": "",
      "class": "headerdiv"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/a49014a5284745e1812633557d112162",
      "headline": "Платформы-лесовозы"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/27adf1cd904649969a5eba80f98fdfc9",
      "richText": "<div class=\"count-platforms\" style=\"text-align: center;\">\n<div class=\"count-platforms\">Операционный парк компании насчитывает  <span class=\"vinous\"><strong>более <span class=\"bigText\">2 500</span> единиц</strong></span>  платформ-лесовозов</div>\n</div>"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/0ed3fbcf52604023a6dc649ed0f67dc8"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/0f91d65dd8c44d19b07a63499518f647",
      "richText": "<h4 style=\"text-align: center;\">ПАРК СОВРЕМЕННЫХ ЛЕСОВОЗОВ СОСТОИТ ИСКЛЮЧИТЕЛЬНО ИЗ ПЛАТФОРМ 2013-2017 ГГ. ПОСТРОЙКИ СОСТОИТ ИЗ МОДЕЛЕЙ:</h4>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/461d35231538446791109f99aa7072de",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/91a365301c574352b30dc4e627da103b",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"2299e13a-09c8-448a-a78e-0db62fac54ce\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/84495e635b904584a7a0593a3cd33677",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9997 (ОАО «ЗМК»)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Платформа с 16-ю стойками для транспортировки пиломатериалов и круглых лесоматериалов, не требующих защиты от воздействий окружающей среды, грузоподъёмность - 69, 5 т. Оптимальные технические характеристики и растущий спрос делают данную модель лесовоза одной из самых востребованных в своём сегменте на сегодняшний день.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/ce232fb9e198405ab5e34c5db770e6cc",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/adddb08a7ca142738146c754bc9a403f",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"65a2e85b-dd1e-431a-a937-c8bc7bfd79f2\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/bce934b7d02f4a2db3cbdeebeea037a8",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9744-02 (ОАО «Трансмаш»)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Платформа с 12-ю съёмными стойками, 2-мя торцевыми стенами и 8-ю фитинговыми упорами, грузоподъёмность – 67 т. Отличительными особенностями являются установленная на полу платформы гребёнка для предотвращения смещения лесоматериалов, увязочные скобы и откидные фитинги для крепления крупнотоннажных контейнеров.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/e42e44a51fc24d1399f0287d7a129858",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/1fa525098f4a4224b1db55af4270d4d1",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"8e5d219c-05e0-4095-8585-a77c8359f946\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/fe85b6bd760d4598a1a3734412c90928",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-2114-07 (АО «Алтайвагон»)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Платформа-лесовоз, главной особенностью которой является наличие 12-ти съёмных стоек и торцевые стены, грузоподъёмность составляет 66 т.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/f546bfd1cb784491aa514170aa59cfec",
      "verticalAlign": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/786d841937244589a83429d2b39f96e4",
      "imgMargin": "",
      "image": "[\r\n  {\r\n    \"key\": \"c3293dc9-33b3-4c00-af88-8cdba3324e96\",\r\n    \"mediaKey\": \"4d832b5f-1d3d-49cc-8aeb-20a07cafde86\"\r\n  }\r\n]",
      "crop": "[\"Авто\"]",
      "transform": "[\"Оставить как есть\"]",
      "gorizontalAlign": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/b96b14d4f1864f259a96b5c9d9b73ac0",
      "richText": "<h4 class=\"platforms-model-name\" style=\"text-align: center;\">13-9924-01 (ОА «РВРЗ»)</h4>\n<div class=\"platforms-model-name\" style=\"text-align: center;\"></div>\n<div class=\"platforms-model-description\" style=\"text-align: center;\">Платформа оснащена 16-ю стойками и подходит для перевозки круглых лесоматериалов, пакетированных и непакетированных пиломатериалов. Грузоподъёмность – 68,5 т.</div>"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/484129eb9c3c4b75bbc3f5efd77cf586",
      "gorizontalAlign": "[\"По центру\"]",
      "verticalAlign": "",
      "width": "",
      "class": "divheight"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/c6cdf9842cd44487b538eea2c73289c3",
      "richText": ""
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "udi": "umb://element/c8e10f92f18c4ff2a86e5c675e2b5368",
      "link": null,
      "img": "[\r\n  {\r\n    \"key\": \"14b0b36a-c88e-47cd-9fd4-842677d35a4b\",\r\n    \"mediaKey\": \"6d55c552-2275-424a-a0d2-85afd1288468\"\r\n  }\r\n]",
      "nameLink": "ЗАКАЗАТЬ",
      "class": "bottom-but",
      "parametr": "3",
      "isRequest": "1"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/44573a8cdfa945599e4efaa87166a031",
      "verticalAlign": "",
      "width": "",
      "gorizontalAlign": "",
      "class": "div80"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/dbcc41aa96d54a718ab252d638ea23cb",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"dcfed234-e193-409d-aed1-8f08e63d3d21\",\r\n    \"mediaKey\": \"5d09eb39-1cdf-414f-ac51-2444fc0f95e0\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Перевозка и логистика железнодорожным транспортом занимает существенную часть российского рынка грузоперевозок, поскольку во многие регионы страны некоторые категории грузов доставить можно только по железной дороге.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/d3d360186c134634aa3128719031cea8",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"4b451d78-bdbb-41a7-935b-5fe634f91142\",\r\n    \"mediaKey\": \"054f33c3-9e64-4693-a0fc-7dc5bf77950a\"\r\n  }\r\n]",
      "richText": "<p>Железнодорожный подвижной состав на сегодняшний день является основным связующим звеном не только в логистической цепочке России, но и во всех странах СНГ.</p>",
      "edFoto": "em",
      "sizeFoto": "3"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/7cc112befcb14f43b596c0c102401993",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b3f2d068-641b-4516-a299-a0056b941112\",\r\n    \"mediaKey\": \"27d29cea-1ad0-4c3e-a5a7-66237379418a\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Учитывая широкий географический разброс регионов и дефицит современного парка, возникает острый вопрос в транспортировке грузов именно железнодорожным транспортом.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/68c2c63f40ca4d75874b6d38bcc49941",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"e686b468-0bb9-458a-a97b-7904079a774c\",\r\n    \"mediaKey\": \"f40deaff-1fc8-45d9-a5ad-38ad96dffee3\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>Более того, спрос на перевозку жд транспортом становится всё популярнее, так как она обладает рядом существенных преимуществ: обеспечение безопасности груза, независимость от погодных условий, большая грузоподъёмность, невысокая стоимость доставки по сравнению с автотранспортом.</p>"
    },
    {
      "contentTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "udi": "umb://element/413494e1a30245048a7ec20ce8850158",
      "locationImage": "[\"Слева\"]",
      "image": "[\r\n  {\r\n    \"key\": \"b2be1b68-974d-448e-bb7d-52f492045d16\",\r\n    \"mediaKey\": \"1c37c119-2f7a-4497-b121-0984ee6cec88\"\r\n  }\r\n]",
      "sizeFoto": "3",
      "edFoto": "em",
      "richText": "<p>ООО «Максима Логистик» располагает специализированным подвижным составом железнодорожного транспорта и является профессиональным игроком на современном рынке грузовой логистики. Своим клиентам мы предоставляем качественную консультацию и организацию доставки на выгодных условиях.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7736dff3353c41d699bf77f6d462758a",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"47a6fae6-6b3e-4ad6-965e-a8923af4d260\",\r\n    \"mediaKey\": \"0bc8a219-1d1b-40c7-9021-c3fd506736e3\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a39a8c2cf3024a56a1a3cdccd99ee490"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/91635f25e8e34aa3b2e33f334c2ca64d"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/20b534f1f42140e78adba6575b3c9b62"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/d23b9a93f30d4573a14776ebdd50cab3"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/df9b04e3df694ec1ad08fb0d237e8c95"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/2f8fdc7b19e04b75b50cb5e8561f66fd"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/af6dc3d99cbb4ebcae51718aa4f52bbd",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По верхнему краю\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"b469fd81-9261-4146-b459-61cd6a1cc314\",\r\n    \"mediaKey\": \"bee4d276-e6e2-4aaf-9425-504a71b6aff5\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]",
      "backgroundColor": "{\r\n  \"value\": \"c9e0ef\",\r\n  \"label\": \"c9e0ef\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"9\"\r\n}"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/55efaee2481c4eeca9615cea64375e8c"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "6e5509cf-f59c-422d-85a1-887eb9e7c444",
    "mediaKey": "a11e13c8-54c1-4723-a692-226c0491b91d"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>