<?xml version="1.0" encoding="utf-8"?>
<Content Key="26beea8f-3bbe-4e08-bb57-30e9386bc409" Alias="Поезд в Мегет " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PoezdVMeget</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:26</CreateDate>
    <NodeName Default="Поезд в Мегет ">
      <Name Culture="ru">Поезд в Мегет </Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-12-12T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/d5fcbae96fb0415fa5f59a1747091092]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В конце ноября ГК «Максимум», при поддержке  ООО «МаксЭкспресс » и ООО «Фирма Экодор», осуществила отправку первого контейнерного поезда (57 усл.ед.), следующего по направлению ст. Силикатная – ст. Мегет (Иркутская обл., Ангарский р-н) в адрес ООО «МегетМеталлоКомплект». 
С декабря текущего года компании-партнёры планируют выход на регулярное сообщение, предполагающее еженедельную отправку контейнерных поездов со ст. Силикатная до Мегета. А в перспективе будущего года, благодаря слаженной командной работе и оживлению рынка контейнерной логистики, график отправок по данному маршруту должен увеличиться до 2-х раз в неделю. 
ГК «Максимум» - российский оператор 80-футовых фитинговых платформ, парк которых на сегодняшний день насчитывает уже более 2 500 единиц и является крайне востребованным на рынке логистических услуг. 

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Поезд в Мегет ]]></Value>
    </newsTitle>
  </Properties>
</Content>