<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ab05a76-eaf0-432a-bb11-12e5e4ed9353" Alias="Пополнение парка крытых вагонов " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PopolnenieParkaKrytykhVagonov</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:25</CreateDate>
    <NodeName Default="Пополнение парка крытых вагонов ">
      <Name Culture="ru">Пополнение парка крытых вагонов </Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-12-24T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/0be9b39aa98a46668caa3f1988e6f766]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        ГК «Максимум», оператор специализированного подвижного ж/д состава,  до конца 2018 года  планирует увеличить парк крытых вагонов до 2 100 единиц, пополнив его современными моделями данного типа. 
Таким образом, к концу текущего месяца в операционный парк Группы компаний поступит 37 единиц модели 11-1807 и 11-280, 165 единиц модели 11-9962 и 11-9962-01, а также 125 единиц модели 11-1807-01. 
Пополнение парка крытыми вагонами обуславливается, в первую очередь, востребованностью данного типа перевозок на рынке железнодорожной логистики, а также долгосрочной бизнес-стратегией Группы, предполагающей непрерывное наращивание мощностей на фоне заметного дефицита нового подвижного состава. 
Очередное расширение парка позволит ГК «Максимум» надёжнее закрепить свои позиции на рынке и выйти на ещё более высокий уровень  в сегменте организации перевозок железнодорожным транспортом. 

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Пополнение парка крытых вагонов ]]></Value>
    </newsTitle>
  </Properties>
</Content>