<?xml version="1.0" encoding="utf-8"?>
<Content Key="5aeb9374-3bb8-404e-8516-1f226d5bd643" Alias="Пополнение парка фитинговых платформ " Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/PopolnenieParkaFitingovykhPlatform</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:31</CreateDate>
    <NodeName Default="Пополнение парка фитинговых платформ ">
      <Name Culture="ru">Пополнение парка фитинговых платформ </Name>
    </NodeName>
    <SortOrder>36</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2018-03-06T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В феврале 2018 г. ООО «Репетек», входящее в ГК «МАКСИМУМ», получило в лизинг первую партию 80-футовых фитинговых платформ производства Завода металлоконструкций» (г. Энгельс) по новому договору лизинга, заключенному с ПАО «ГТЛК» в конце 2017 г.
 Партия состояла из 150 единиц подвижного состава. Помимо вагонов хорошо известной модели 23-469-07, были поставлены платформы новой модели 13-6964-001, разработанной ОАО «ЗМК» в 2017 г. 
 Конструкция данной платформы уникальна тем, что позволяет произвести подкатку тележек с осевой нагрузкой 23,5 тс с минимальным объемом доработки, после чего грузоподъёмность вагона составит 69 тонн. Общий объем поставляемых вагонов в рамках нового договора с ПАО «ГТЛК» составит 850 единиц, срок поставки – весь 2018 г. 
 Реализация данного проекта позволит пополнить парк ГК «МАКСИМУМ» крайне востребованным на современном рынке видом контейнерных платформ. Более того, операционный парк, насчитывающий уже более 2 500 фитингов позволит закрепить позиции Группы в качестве одного из трёх лидирующих операторов 80-ти футовых платформ после «Трансконтейнера» и «FESCO». 
 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Пополнение парка фитинговых платформ ]]></Value>
    </newsTitle>
  </Properties>
</Content>