<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a2a86b5-10d7-485a-a43f-a64f47c42a35" Alias="Продажа ж/д запчастей" Level="102">
  <Info>
    <Parent Key="49e6cdcf-49a2-495a-8cab-de27e35de543">Компания</Parent>
    <Path>/[-20]/Kompaniya/ProdazhaZhdZapchastei</Path>
    <Trashed Parent="49e6cdcf-49a2-495a-8cab-de27e35de543">true</Trashed>
    <ContentType>gridIternal</ContentType>
    <CreateDate>2023-07-24T21:56:17</CreateDate>
    <NodeName Default="Продажа ж/д запчастей">
      <Name Culture="ru">Продажа ж/д запчастей</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="b7c3b038-da23-4f6f-9389-4f3d7536f03a">GridIternal</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="ru"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f7aa50dc542a4805b3a50c17334f3ab5",
        "settingsUdi": "umb://element/a5262e9347104e94a9d48d54fed7fb42",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/24a6cfb651fa42139d5f75d70e93c079",
                "settingsUdi": "umb://element/549a6d19dcdf4f1b9e4cb1bff7376a58",
                "areas": [
                  {
                    "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
                    "items": [
                      {
                        "contentUdi": "umb://element/634fb3dfbf95430c84915bc3844d203f",
                        "areas": [],
                        "columnSpan": 12,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f7aa50dc542a4805b3a50c17334f3ab5",
      "class": "pdtop"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/634fb3dfbf95430c84915bc3844d203f",
      "headline": "Продажа ж/д запчастей"
    },
    {
      "contentTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "udi": "umb://element/24a6cfb651fa42139d5f75d70e93c079",
      "gorizontalAlign": "",
      "verticalAlign": "",
      "class": "headerdiv"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a5262e9347104e94a9d48d54fed7fb42",
      "imagePositionX": "[\"По центру\"]",
      "imagePositionY": "[\"По центру\"]",
      "photoDisplay": "1",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"1dde3c8a-2af2-448e-93c5-bd3453a84b61\",\r\n    \"mediaKey\": \"cc17fb32-9a01-4de4-ac10-31a20ed357f1\"\r\n  }\r\n]",
      "imageRepeat": "[\"не повторять\"]",
      "imageTransform": "[\"Обрезать\"]"
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/549a6d19dcdf4f1b9e4cb1bff7376a58"
    }
  ]
}]]></Value>
    </content>
    <icoNav>
      <Value><![CDATA[[
  {
    "key": "9fdaa562-9000-4223-bf6f-314654e46e26",
    "mediaKey": "9b45a78d-3f37-4ca8-b739-119c0efc82e6"
  }
]]]></Value>
    </icoNav>
  </Properties>
</Content>