<?xml version="1.0" encoding="utf-8"?>
<Content Key="307ab5e5-6922-436a-a30f-abde8d5fd5aa" Alias="Рост парка фитинговых платформ." Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/RostParkaFitingovykhPlatform</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:58</CreateDate>
    <NodeName Default="Рост парка фитинговых платформ.">
      <Name Culture="ru">Рост парка фитинговых платформ.</Name>
    </NodeName>
    <SortOrder>85</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2015-07-09T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
В июне текущего года ГК "Максимум" завершила сделку по приобретению 273 единиц 80 футовых фитинговых платформ. Данная сделка позволила Группе преодолеть рубеж  в 1 000 единиц данного вида подвижного состава. Сегодня в оперативном управлении ГК "Максимум" находится 1 078 единиц 80 футовых фитинговых платформ. Это позволяет говорить о том, что в данном сегменте бизнеса ГК "Максимум" занимает твердую позицию и входит в Топ-5 крупнейших операторов контейнерных платформ в России, наряду с ОАО "ТрансКонтейнер", ООО "ФЕСКО", ООО "Русская Тройка" и ООО "РРЛ".   ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Рост парка фитинговых платформ.]]></Value>
    </newsTitle>
  </Properties>
</Content>