<?xml version="1.0" encoding="utf-8"?>
<Content Key="c809f64e-13ed-4e70-b573-bd684042c92b" Alias="С Днем Железнодорожника!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SDnemZheleznodorozhnika</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:16</CreateDate>
    <NodeName Default="С Днем Железнодорожника!">
      <Name Culture="ru">С Днем Железнодорожника!</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2019-08-02T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[umb://media/70522ff16265441d81cc1f2b5e1d1d56]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Поздравляем вас с профессиональным праздником, друзья! 

Российские железные дороги сегодня являются основным связующим звеном экономики, содействуют решению важнейших хозяйственных и социальных задач. Своей бесперебойной работой задают темп жизни всей стране. 

Выражаем самые искренние поздравления людям, чья профессиональная деятельность напрямую связана с железной дорогой!

С Днем Железнодорожника!
]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С Днем Железнодорожника!]]></Value>
    </newsTitle>
  </Properties>
</Content>