<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec009707-12e2-418e-8d5a-29dabbfdc2d7" Alias="С Новым годом и Рождеством!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SNovymGodomIRozhdestvom</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:31</CreateDate>
    <NodeName Default="С Новым годом и Рождеством!">
      <Name Culture="ru">С Новым годом и Рождеством!</Name>
    </NodeName>
    <SortOrder>142</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-01-01T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                         Максима Логистик поздравляет всех с наступающим Новым годом и Рождеством! 


 Уходящий високосный год с одной стороны был непростым, но с другой - он стал для нас годом новых начинаний, интересных проектов и смелых идей. В этот год Максима Логистик росла и развивалась уверенно и стремительно: мы увеличили парк вагонов, приобрели надежных партнеров и новых клиентов, вместе с этим нам открылись новые возможности и еще сильнее стало желание в будущем сделать больше. 


 В 2013 году от всей души желаем нашим друзьям, партнерам, клиентам процветания и стабильного роста, укрепления партнерских отношений и новых интересных проектов, и, конечно, веры в свои силы, в то, что все задуманное непременно исполнится!! 


 Счастья, здоровья и благополучия! 


 С новым годом, друзья!! 

 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С Новым годом и Рождеством!]]></Value>
    </newsTitle>
  </Properties>
</Content>