<?xml version="1.0" encoding="utf-8"?>
<Content Key="24968dca-a552-44ae-8184-74e92413093c" Alias="С праздником - с Днем металлурга!" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/SPrazdnikomSDnemMetallurga</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:45:26</CreateDate>
    <NodeName Default="С праздником - с Днем металлурга!">
      <Name Culture="ru">С праздником - с Днем металлурга!</Name>
    </NodeName>
    <SortOrder>131</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2013-07-19T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        Уважаемые партнеры-металлурги! 

 Коллектив ООО "Максима Логистик" поздравляет вас с профессиональным праздником - с Днем металлурга! 


 Трудно оценить ваш вклад в промышленный рост страны, благополучие миллионов людей. Он заслуживает глубокого уважения и почета! 


 Желаем вам и вашим близким здоровья, неиссякаемого оптимизма, душевного удовлетворения и материального достатка! 



 ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[С праздником - с Днем металлурга!]]></Value>
    </newsTitle>
  </Properties>
</Content>