<?xml version="1.0" encoding="utf-8"?>
<Content Key="457cd979-0901-46c3-8df0-f93852437939" Alias="Успешная сделка ГК &quot;МАКСИМУМ&quot; с ПАО &quot;ГТЛК&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/UspeshnayaSdelkaGKMAKSIMUMSPAOGTLK</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:38</CreateDate>
    <NodeName Default="Успешная сделка ГК &quot;МАКСИМУМ&quot; с ПАО &quot;ГТЛК&quot;">
      <Name Culture="ru">Успешная сделка ГК "МАКСИМУМ" с ПАО "ГТЛК"</Name>
    </NodeName>
    <SortOrder>49</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-08-18T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
                                                                        В начале августа ГК «МАКСИМУМ» подписала очередной договор лизинга с ПАО «ГТЛК» на передачу в финансовую аренду 500 ед. платформ, предназначенных для перевозки пило-лесоматериалов, модели 13-9997 производства ОАО «ЗМК», г. Энгельс. Данное соглашение стало заключительной частью сделки по передаче в лизинг ГК "Максимум" 1500 вагонов в период 2017-2018 гг.

В рамках данного соглашения в июне 2017 г. был заключен договор на передачу в финансовую аренду 1 000 ед. вагонов-хопперов для перевозки зерна модели 19-9950 производства ПАО "БВРЗ". Первая партия из 80 вагонов была поставлена лизингополучателю в июле текущего года.

Поставка вагонов по двум договорам запланирована на период с июля 2017 г. по июнь 2018 г., общий объём финансирования договоров составляет более 4 млрд. руб.

Данная сделка призвана укрепить позиции ГК «МАКСИМУМ» на рынке перевозок лесных грузов, а также занять лидирующее положение в сегменте перевозок парком зерновозов, закрепив за собой 3–е место среди операторов-собственников подвижного состава на территории РФ.

Приобретение в лизинг современного подвижного состава на фоне возрастающего дефицита данных видов вагонов является частью стратегии и своевременным шагом со стороны ГК «МАКСИМУМ». Помимо этого, данная сделка демонстрирует крепкие партнёрские отношения среди всех ее участников - одного из крупнейших операторов подвижного состава - ГК "МАКСИМУМ", ведущей лизинговой компании - ПАО "ГТЛК" и заводов- производителей современных ж/д вагонов - ЗАО "ЗМК", ПАО "БВРЗ".

Подводя итоги успешного сотрудничества, можно констатировать, что ГК «МАКСИМУМ» не скрывает своих амбициозных планов в сегментах перевозки зерновых культур, а также лесных грузов.

]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Успешная сделка ГК "МАКСИМУМ" с ПАО "ГТЛК"]]></Value>
    </newsTitle>
  </Properties>
</Content>