<?xml version="1.0" encoding="utf-8"?>
<Content Key="60a41050-fa70-4e56-a389-7f85734b7ff9" Alias="Участие в выставке &quot;Транспорт и Логистика 2017&quot;" Level="103">
  <Info>
    <Parent Key="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">Новости</Parent>
    <Path>/[-20]/Kompaniya/Novosti/UchastieVVystavkeTransportILogistika2017</Path>
    <Trashed Parent="a83c604e-97d1-4dd3-b0db-ef9af14f7da2">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-08-04T11:44:36</CreateDate>
    <NodeName Default="Участие в выставке &quot;Транспорт и Логистика 2017&quot;">
      <Name Culture="ru">Участие в выставке "Транспорт и Логистика 2017"</Name>
    </NodeName>
    <SortOrder>46</SortOrder>
    <Published Default="true">
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6378b7c6-bcfd-4a0a-a67a-7f7fa94c6f2c">NewsItem</Template>
  </Info>
  <Properties>
    <newsDate>
      <Value><![CDATA[2017-11-03T00:00:00]]></Value>
    </newsDate>
    <newsImg>
      <Value><![CDATA[]]></Value>
    </newsImg>
    <newsSection>
      <Value Culture="ru"><![CDATA[[
  "Внутри компании"
]]]></Value>
    </newsSection>
    <newsText>
      <Value Culture="ru"><![CDATA[
С 1 по 3 ноября ООО «Максима Логистик» приняла участие в 21 Казахстанской международной выставке «ТransKazakhstan», которая на этот раз прошла я в Астане. Вот уже на протяжении нескольких лет это мероприятие считается одним из самых значимых в сфере транспортной логистики и современных технологий в Центральной Азии. 

 В этом году на выставке был представлен полный комплекс самых разных отраслевых решений, начиная от транспортно-экспедиторского обслуживания, заканчивая инновационными программными разработками. 
 На своем стенде представители «Максима Логистик» провели запланированные встречи с партнёрами и клиентами компании, рассказали об услугах и новых возможностях, включая современные IT-технологии, а также обсудили дальнейшие перспективы развития рынка железнодорожного транспорта. 

В этом году мероприятие прошло при активной поддержке Комитета транспорта Министерства по инвестициям и развитию республики Казахстан.                                                            ]]></Value>
    </newsText>
    <newsTitle>
      <Value Culture="ru"><![CDATA[Участие в выставке "Транспорт и Логистика 2017"]]></Value>
    </newsTitle>
  </Properties>
</Content>