/*========ALL=========*/
@media (max-width: 480px) and (orientation: portrait) {
    .mgbot {
        padding: calc(var(--sizew)*200) 0;
    }
}

/*---ALL---*/

/*========TYPOGRAPHY=========*/
@media (max-width: 480px) and (orientation: portrait) {
    h1 {
        font-size: calc(var(--sizew)*130);
        font-weight: 300;
    }

    h2 {
        font-size: calc(var(--sizew)*100);
        font-weight: 100;
    }

    h3 {
        font-size: calc(var(--sizew)*90);
    }

    p, li {
        font-size: calc(var(--sizew)*80);
        font-weight: 300;
    }

    li::before {
        height: calc(var(--sizew)*80);
        width: calc(var(--sizew)*80);
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    h1 {
        font-size: calc(var(--sizew)*90);
        font-weight: 300;
    }

    h2 {
        font-size: calc(var(--sizew)*50);
        font-weight: 100;
    }

    h3 {
        font-size: calc(var(--sizew)*50);
    }

    p, li {
        font-size: calc(var(--sizew)*45);
        font-weight: 300;
    }

    li {
        margin: 0;
        padding: calc(var(--sizew)*30) 0;
        list-style: none;
    }

        li::before {
            height: calc(var(--sizew)*45);
            width: calc(var(--sizew)*45);
        }
}

@media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
    h1 {
        font-size: calc(var(--sizew)*80);
        font-weight: 300;
    }

    h2 {
        font-size: calc(var(--sizew)*50);
        font-weight: 100;
    }

    h3 {
        font-size: calc(var(--sizew)*50);
    }

    p, li {
        font-size: calc(var(--sizew)*45);
        font-weight: 300;
    }

        li::before {
            height: calc(var(--sizew)*45);
            width: calc(var(--sizew)*45);
        }

}

    /*---TYPOGRAPHY---*/

    /*========HEAD=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .loghead {
            width: 100%;
        }

        .logtext {
            padding-top: calc(var(--sizew)*100);
        }

        .headicon {
            padding-top: calc(var(--sizew)*100);
            padding-left: 0;
        }

        .headleft {
            display: none;
        }

        .headright {
            width: 100%;
        }

        .iconwrap {
            height: calc(var(--sizew)*420);
            padding-bottom: calc(var(--sizew)*100);
        }

            .iconwrap p {
                padding-left: calc(var(--sizew)*45);
            }

        .p1, .p2 {
            padding-left: 0;
        }
    }

@media (max-width: 1023px) and (orientation: landscape) {
    .loghead {
        width: 70%;
        margin: 0 auto;
    }

    .logtext {
        padding-top: calc(var(--sizew)*60);
    }

    .headicon {
        padding-top: calc(var(--sizew)*60);
        padding-left: 0;
        width: 50%;
        margin: 0 auto;
    }

    .headleft {
        display: none;
    }

    .headright {
        width: 100%;
    }

    .iconwrap {
        height: calc(var(--sizew)*250);
        padding-bottom: calc(var(--sizew)*50);
    }

        .iconwrap p {
            padding-left: calc(var(--sizew)*45);
        }

    .p1, .p2 {
        padding-left: 0;
    }
}

@media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
    .headleft {
        width: 40%;
    }

    .headright {
        width: 60%;
    }

    .mac {
        position: relative;
        top: calc(var(--sizew)*180);
    }

    .macbook {
        width: 32%;
        top: calc(var(--sizew)*570);
        left: calc(var(--sizew)*200);
    }

    .iconwrap {
        height: calc(var(--sizew)*150);
        padding-bottom: calc(var(--sizew)*30);
    }
}

    /*---HEAD---*/

    /*========CONT1=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .c1top {
            width: 100%;
        }

        .c1logo {
            width: calc(var(--sizew)*500);
        }

        .c1top p {
            margin-bottom: calc(var(--sizew)*150);
            margin-top: calc(var(--sizew)*90);
        }

        .c1bot {
            width: 100%;
            flex-direction: column;
        }

            .c1bot .left, .c1bot .right {
                width: 100%;
            }

                .c1bot .left img, .c1bot .right img {
                    width: 40%;
                }
    }

    /*---CONT1---*/

    /*========CONT2=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .cont2 .flexitem {
            width: 100%;
            padding-bottom: calc(var(--sizew)*300);
        }

        .flex {
            flex-direction: column;
        }

        .cont2 .flexitem img {
            width: 50%;
        }
    }

    @media (max-width: 1023px) and (orientation: landscape) {
        .cont2 .flexitem {
            width: 50%;
        }

        .cont2 .flex {
            flex-wrap: wrap;
        }
    }

    @media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
        .cont2 .flexitem {
            width: 50%;
        }

        .cont2 .flex {
            flex-wrap: wrap;
        }
    }

    /*---CONT2---*/

    /*========CONT3=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .cont3 img {
            width: 100%;
        }

        .cont3 .left {
            padding-right: 0;
        }

        .cont3 h1 {
            text-align: center;
            padding-bottom: calc(var(--sizew)*200);
        }
    }

    /*---CONT3---*/

    /*========CONT4=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .cont4 h1 {
            width: 100%;
        }

        .cont4 .grid {
            padding: calc(var(--sizew)*100) 0;
        }

        .cont4 .griditem {
            width: 100%;
            flex-direction: column;
            padding: calc(var(--sizew)*150) calc(var(--sizew)*50);
        }

        .cont4 .left, .cont4 .right {
            justify-content: center;
        }

            .cont4 .left img {
                width: 30%;
            }
    }

    @media (max-width: 1023px) and (orientation: landscape) {
        .cont4 h1 {
            width: 100%;
        }

        .cont4 .griditem {
            width: 100%;
            flex-direction: column;
        }

        .linone::before {
            background: none;
            margin-left: 0 !important;
        }
    }

    @media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
        .cont4 h1 {
            width: 80%;
        }

        .cont4 .griditem {
            flex-direction: column;
        }

        .cont4 .left, .cont4 .right {
            justify-content: center;
        }

            .cont4 .left h3 {
                padding: 0;
            }
    }

    /*---CONT4---*/

    /*========CONT5=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .cont5 h1 {
            width: 100%;
        }

        .cont5 img {
            margin-top: calc(var(--sizew)*100);
        }
    }

    @media (max-width: 1023px) and (orientation: landscape) {
        .cont5 h1 {
            width: 100%;
        }
    }

    @media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
        .cont5 h1 {
            width: 80%;
        }
    }

    /*---CONT5---*/

    /*========CONT6=========*/
    @media (max-width: 480px) and (orientation: portrait) {
        .cont6 h1 {
            width: 100%;
        }

        .ct6griditem {
            width: 100%;
        }

            .ct6griditem img {
                max-height: calc(var(--sizew)*350);
            }
    }

    @media (max-width: 1023px) and (orientation: landscape) {
        .cont6 h1 {
            width: 100%;
        }
    }

    @media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
        .cont6 h1 {
            width: 80%;
        }
    }

    /*---CONT6---*/