<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f325185d-acc3-443b-ad28-d5d36d46c94a" Alias="CallMeHeader" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Call Me Request</Translation>
    <Translation Language="ru">Заказать обратный звонок</Translation>
  </Translations>
</Dictionary>