<?xml version="1.0" encoding="utf-8"?>
<Content Key="27263ae6-f675-4345-b651-9e8078619d72" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>testTemplate</ContentType>
    <CreateDate>2026-01-14T08:17:00</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
      <Name Culture="ru">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="019bbb65-2a52-7eac-b5ef-bed9ec4f4980">TestTemplate</Template>
  </Info>
  <Properties />
</Content>