<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c04720d-1621-4ee5-82e2-638f79dfe775" Alias="tests" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/tests</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>ntemp</ContentType>
    <CreateDate>2026-01-13T18:47:36</CreateDate>
    <NodeName Default="tests" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019bb8ae-9654-77d9-a4b3-fb3d5bd05072">Ntemp</Template>
  </Info>
  <Properties />
</Content>