<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3384287-a9ca-463c-a0b9-adfaa4ca679f" Alias="Block Grid - Content" Level="3">
  <Info>
    <Name>Block Grid - Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Block+Grid/Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
          "alias": "center",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "view": "~/App_Plugins/OneColumnSectionView/oneColumnSection.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "be98af5c-aa3d-4549-bcec-9dda0c051145"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/headline.html",
      "stylesheet": "~/css/style.css",
      "label": "Headline ({{headline | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/image3.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 10,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "view": "~/App_Plugins/CardView/card.html",
      "stylesheet": "~/css/style.css",
      "label": "Card {{headine}}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "view": "~/App_Plugins/RichTextView/richText.html",
      "stylesheet": "~/css/style.css",
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "650ba975-d540-4cb1-8c3d-694f0ca40e80",
          "alias": "center",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "9f76fc6b-8a44-461d-82de-7f12e59f0dd0",
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "view": "~/App_Plugins/DivView/div.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "be98af5c-aa3d-4549-bcec-9dda0c051145"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "186fddcf-6580-475e-9976-da4c42a6d91c",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/separator.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "7bd877c8-0e52-4da2-b2c1-7cd9216f991d",
      "view": "~/App_Plugins/ImgTxtView/imgTxt.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "0a1b1512-3086-41d1-8efa-963e0fb7bd68",
          "alias": "center",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/callToAction.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "19318f32-e99f-40c8-9181-eb3a6f4e699e",
          "alias": "1",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/hero.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "f4348a1e-8970-4bed-ba97-47a0475f575a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "896d9312-0bdf-4419-a37d-777aa70d355e",
      "view": "~/App_Plugins/UmbracoBlockGrid/BlockViews/column_null.html",
      "stylesheet": "~/css/style.css",
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "be98af5c-aa3d-4549-bcec-9dda0c051145"
    }
  ],
  "gridColumns": 12,
  "maxPropertyWidth": "100%",
  "useLiveEditing": true,
  "validationLimit": {}
}]]></Config>
</DataType>