<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01400607-2d29-4812-89e7-c3a7884528a0" Alias="Image - load - Dropdown" Level="1">
  <Info>
    <Name>Image - load - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "eager",
    "lazy"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.1003145\u002B00:00"
}]]></Config>
</DataType>