<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92be4a0d-42a2-48c9-84fc-0369a4d75492" Alias="Img" Level="2">
  <Info>
    <Name>Img</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.1019886\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>