<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b73fbf01-3e63-448d-b3d8-12dd1e4d49f8" Alias="List View - news" Level="1">
  <Info>
    <Name>List View - news</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-badge color-black",
  "includeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "Grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "SortOrder",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": false,
  "umbMigrationV14": "2026-01-13T14:56:21.114227\u002B00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>