<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcfb0a38-0950-4869-ae37-d40a70c07f22" Alias="NewsItem - NewsSection - Dropdown" Level="2">
  <Info>
    <Name>NewsItem - NewsSection - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u0412\u043D\u0443\u0442\u0440\u0438 \u043A\u043E\u043C\u043F\u0430\u043D\u0438\u0438",
    "\u041E\u0442\u0440\u0430\u0441\u043B\u0435\u0432\u044B\u0435"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.1156975\u002B00:00"
}]]></Config>
</DataType>