<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70b6174f-1e3c-42e0-818d-66c09aa11848" Alias="Radiobutton" Level="2">
  <Info>
    <Name>Radiobutton</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "%",
    "em"
  ],
  "umbMigrationV14": "2026-01-13T14:56:21.1168833\u002B00:00"
}]]></Config>
</DataType>