<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b164845-db0d-4ab2-817f-38edd38ed016" Alias="VerticalAlign - Dropdown" Level="2">
  <Info>
    <Name>VerticalAlign - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u041F\u043E \u0432\u0435\u0440\u0445\u043D\u0435\u043C\u0443 \u043A\u0440\u0430\u044E",
    "\u041F\u043E \u0446\u0435\u043D\u0442\u0440\u0443",
    "\u041F\u043E \u043D\u0438\u0436\u043D\u0435\u043C\u0443 \u043A\u0440\u0430\u044E"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.1236135\u002B00:00"
}]]></Config>
</DataType>