<?xml version="1.0" encoding="utf-8"?>
<DataType Key="103e7879-758b-4a0e-9304-9643d6305d07" Alias="WorkItem - Цвет фона - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>WorkItem - Цвет фона - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": false,
  "showPalette": true
}]]></Config>
</DataType>