<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d9a95a30-3ab8-46f0-b0be-9d0ce3b6324c" Alias="CallMeButton" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">CALL ME</Translation>
    <Translation Language="ru">ПЕРЕЗВОНИТЕ МНЕ</Translation>
  </Translations>
</Dictionary>