<?xml version="1.0" encoding="utf-8"?>
<Media Key="9807c5d0-d59c-4d62-80f2-e9bb0150fef0" Alias="1764077659.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-16T12:37:02</CreateDate>
    <NodeName Default="1764077659.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l2hfclxv/1764077659.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>