<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc93c333-062e-47c5-8d35-e86b1be881f6" Alias="650" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-17T18:57:38</CreateDate>
    <NodeName Default="650" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>