<?xml version="1.0" encoding="utf-8"?>
<Media Key="7895e320-462f-4f96-ac1a-16b68561766c" Alias="Clients" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Clients</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-16T08:07:02</CreateDate>
    <NodeName Default="Clients" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>