<?xml version="1.0" encoding="utf-8"?>
<Media Key="6482a311-0fdb-40dc-91dd-5469cce26e98" Alias="fav" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fav</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-08T11:07:44</CreateDate>
    <NodeName Default="fav" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>