<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f9c1378-6761-4001-a652-d6030b04d149" Alias="favico" Level="2">
  <Info>
    <Parent Key="6482a311-0fdb-40dc-91dd-5469cce26e98">fav</Parent>
    <Path>/fav/favico</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-08T11:09:08</CreateDate>
    <NodeName Default="favico" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rkxd25l0/favico.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>