<?xml version="1.0" encoding="utf-8"?>
<Media Key="81d9e798-d44b-4beb-bbba-f825be77da15" Alias="Frame 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frame3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-03T18:15:29</CreateDate>
    <NodeName Default="Frame 3" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1tntakl/frame-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>