<?xml version="1.0" encoding="utf-8"?>
<Media Key="286cda09-f25f-4894-be85-dd1064fa96ea" Alias="Logistor 2" Level="3">
  <Info>
    <Parent Key="c521c417-6ba6-409e-bc09-af67cc16c015">Logistor</Parent>
    <Path>/Sites/Logistor/Logistor2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T19:18:15</CreateDate>
    <NodeName Default="Logistor 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hdngykc5/logistor-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>