<?xml version="1.0" encoding="utf-8"?>
<Media Key="233568c6-aa2c-4b8d-91e1-dbd0ab1e0f82" Alias="Logistor 2 650" Level="4">
  <Info>
    <Parent Key="b24f3ffa-9a4c-49e2-a57d-b824fac05700">650</Parent>
    <Path>/Sites/Logistor//Logistor2650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T12:11:07</CreateDate>
    <NodeName Default="Logistor 2 650" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/43udkizm/logistor-2-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>