<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eea25ed-e633-4619-9d87-4992d8ba7eec" Alias="Logistor 1 1024" Level="4">
  <Info>
    <Parent Key="eb167e7d-b407-4377-9bf4-c9085c12076f">1024</Parent>
    <Path>/Sites/Logistor//Logistor11024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T12:09:02</CreateDate>
    <NodeName Default="Logistor 1 1024" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1qspvhrt/logistor-1-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>