<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b5414ea-e34a-4d19-8f33-90b8fde3ff7a" Alias="Logistor 1 320" Level="4">
  <Info>
    <Parent Key="8d7f5bcb-820c-45ce-a0c6-280efeabaa3c">320</Parent>
    <Path>/Sites/Logistor//Logistor1320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T12:12:41</CreateDate>
    <NodeName Default="Logistor 1 320" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mkfic0k/logistor-1-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>