<?xml version="1.0" encoding="utf-8"?>
<Media Key="5555cd70-571d-4499-9db2-c15679b4a6ac" Alias="Logo Ecoline" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoEcoline</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T08:33:18</CreateDate>
    <NodeName Default="Logo Ecoline" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihgfkvi3/logo_ecoline.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>