<?xml version="1.0" encoding="utf-8"?>
<Media Key="784d7b91-89a0-4cd2-aea9-3cd3a60046db" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-20T12:43:05</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ub3f04fa/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>