<?xml version="1.0" encoding="utf-8"?>
<Media Key="67ab738b-090b-4bb5-92db-9954ca5fdf60" Alias="Mail" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mail</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T06:22:34</CreateDate>
    <NodeName Default="Mail" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjzlwzyl/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>