<?xml version="1.0" encoding="utf-8"?>
<Media Key="f41130f1-716c-4522-812f-4a836bfbc48f" Alias="Max 4 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max41024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:26:17</CreateDate>
    <NodeName Default="Max 4 1024" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yaybd3dm/max-4-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>