<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c5bfbfe-7653-4a27-88c6-9a9edc99d9b9" Alias="Max Mob 2 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob2320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T19:44:44</CreateDate>
    <NodeName Default="Max Mob 2 320" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z53fwpct/max_mob-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>