<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e450adf-17e1-47f5-8c76-2ef7ff624787" Alias="Max 5 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max51024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:44:27</CreateDate>
    <NodeName Default="Max 5 1024" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1efek5xb/max-5-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>