<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab3573b6-8d90-4153-b12a-576d12330487" Alias="Max Mob 3" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T18:44:41</CreateDate>
    <NodeName Default="Max Mob 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3zdlk2q/max_mob-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>