<?xml version="1.0" encoding="utf-8"?>
<Media Key="68762583-7c65-4e86-8365-42305f890eef" Alias="Max 3 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max31024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:26:17</CreateDate>
    <NodeName Default="Max 3 1024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wishm0df/max-3-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>