<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a6f58e6-f9cd-409f-beed-7faa363f7da2" Alias="Max Mob 1 (1)" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:25:51</CreateDate>
    <NodeName Default="Max Mob 1 (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2bmg5gwn/max_mob-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>