<?xml version="1.0" encoding="utf-8"?>
<Media Key="891c1ec9-6728-4414-b2c3-da2fa4e87d70" Alias="Max Mob 4 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob4320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:19:03</CreateDate>
    <NodeName Default="Max Mob 4 320" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z2pbzcji/max_mob-4-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>