<?xml version="1.0" encoding="utf-8"?>
<Media Key="f89af296-43c1-41af-837b-6cc2d5a78344" Alias="Max 2 320 (1)" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max23201</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:29:30</CreateDate>
    <NodeName Default="Max 2 320 (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u5zjv4gb/max-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>