<?xml version="1.0" encoding="utf-8"?>
<Media Key="9260d42d-fb40-4fdd-a68d-0d37cad90583" Alias="Max 6 320" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max6320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:41:19</CreateDate>
    <NodeName Default="Max 6 320" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fpkgbesa/max-6-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>