<?xml version="1.0" encoding="utf-8"?>
<Media Key="464e3024-5ff9-446a-bf67-95b024e52803" Alias="Max Mob 3 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob3650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:20:51</CreateDate>
    <NodeName Default="Max Mob 3 650" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eiye2rxz/max_mob-3-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>