<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb543f8-f65b-4379-88d7-0ea288af99b0" Alias="Max 3 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max3650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:42:55</CreateDate>
    <NodeName Default="Max 3 650" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5zblkpc1/max-3-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>