<?xml version="1.0" encoding="utf-8"?>
<Media Key="faea51db-af60-4366-9039-f2c1009b1794" Alias="Max Mob 3 320 (1)" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob33201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:19:06</CreateDate>
    <NodeName Default="Max Mob 3 320 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vipv4ta/max_mob-3-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>