<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6df1017-b1f2-4585-97a2-fe0fcde56278" Alias="Max Mob 1 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob1320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:19:02</CreateDate>
    <NodeName Default="Max Mob 1 320" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cein5nxs/max_mob-1-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>