<?xml version="1.0" encoding="utf-8"?>
<Media Key="0edb99b0-283f-4f10-8c2a-84ece21df13a" Alias="Max 1 320" Level="4">
  <Info>
    <Parent Key="28a28182-847e-495c-855f-bf5ae98cc70f">320</Parent>
    <Path>/Sites/Maxcont//Max1320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:29:29</CreateDate>
    <NodeName Default="Max 1 320" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgmnwdr5/max-1-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>