<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf004ab2-4f3b-403f-bbbc-9f22ee8cc4b5" Alias="Max 4" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T19:24:33</CreateDate>
    <NodeName Default="Max 4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnfabpz1/max-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>