<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ccb300b-2fa8-4d92-83ce-91a696eb0dff" Alias="Max Mob 6" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/MaxMob6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:25:52</CreateDate>
    <NodeName Default="Max Mob 6" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/buymwdfi/max_mob-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>