<?xml version="1.0" encoding="utf-8"?>
<Media Key="1724ec0c-82d0-4224-80ce-6cd0d1da4dbd" Alias="Maxapta 1 650" Level="4">
  <Info>
    <Parent Key="cc93c333-062e-47c5-8d35-e86b1be881f6">650</Parent>
    <Path>/Sites/maxapta//Maxapta1650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T18:57:47</CreateDate>
    <NodeName Default="Maxapta 1 650" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hxwcif4q/maxapta-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>