<?xml version="1.0" encoding="utf-8"?>
<Media Key="a29acfa3-da03-48d9-a24f-b0fe647ba6a2" Alias="Maxapta 1 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:32:11</CreateDate>
    <NodeName Default="Maxapta 1 (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slhjviqd/maxapta-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>