<?xml version="1.0" encoding="utf-8"?>
<Media Key="30258e6a-9b5f-4b51-92ae-7455953b6e8d" Alias="Maxapta 2 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:32:10</CreateDate>
    <NodeName Default="Maxapta 2 (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lohckmc5/maxapta-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>