<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5ae3fd8-e3dd-4bcb-b548-39406b09c207" Alias="Maxapta 6 650 (2)" Level="4">
  <Info>
    <Parent Key="cc93c333-062e-47c5-8d35-e86b1be881f6">650</Parent>
    <Path>/Sites/maxapta//Maxapta66502</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:38:08</CreateDate>
    <NodeName Default="Maxapta 6 650 (2)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3e5l3vo3/maxapta-6-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>