<?xml version="1.0" encoding="utf-8"?>
<Media Key="8839c1e7-b02b-41d4-8c6a-c23baddf066c" Alias="Maxapta 1 650 (1)" Level="4">
  <Info>
    <Parent Key="cc93c333-062e-47c5-8d35-e86b1be881f6">650</Parent>
    <Path>/Sites/maxapta//Maxapta16501</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:38:10</CreateDate>
    <NodeName Default="Maxapta 1 650 (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01adtcbl/maxapta-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>