<?xml version="1.0" encoding="utf-8"?>
<Media Key="0098757c-1ca0-4db4-a8cb-c984679c8794" Alias="Maxapta 6 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta61</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:32:06</CreateDate>
    <NodeName Default="Maxapta 6 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jv0jqafa/maxapta-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>