<?xml version="1.0" encoding="utf-8"?>
<Media Key="74bd3dd0-a7d3-4ccc-a915-951ab77a6aa8" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-10T16:14:40</CreateDate>
    <NodeName Default="News" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>