<?xml version="1.0" encoding="utf-8"?>
<Media Key="4361b1ad-cc34-43e0-b2fb-8edbc95160fa" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-10T17:03:06</CreateDate>
    <NodeName Default="test" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/l1mjvyyt/desctop-and-mobile-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>