<div ng-controller="LoadNewsController" class="welcome-dashboard">
    <button prevent-default ng-click="import()" class="btn btn-default" ng-class="{loading: loading}">
        <span>Import news</span>
        
    </button>
    <button ng-click="import_type()" class="btn btn-default" ng-class="{loading: loading}">
        <span>Import news type</span>
        
    </button>
	<div ng-if="result" ng-class="{loading: loading}">
        <table class="table list">
            <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                
              
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in result.data">
                <td><code>{{item.date}}</code></td>
				<td>{{item.header}}</td>
                
            </tr>
            </tbody>
        </table>
    </div>
</div>