<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecd00e6c-c71e-4dcc-b91a-96ed625615cb" Alias="blockGrid" Level="1">
  <Info>
    <Name>BlockGrid</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGrid</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>