<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecd00e6c-c71e-4dcc-b91a-96ed625615cb" Alias="blockGrid" Level="1">
  <Info>
    <Name>PageTemplate</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGrid</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ecd00e6c-c71e-4dcc-b91a-96ed625615cb" SortOrder="0">blockGrid</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3c7c7be4-7e3b-410b-804b-9bb849ff9fe0</Key>
      <Name>Контент для страницы</Name>
      <Alias>content</Alias>
      <Definition>17d9c3bf-cc5f-4461-a497-747997ce5f2e</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="unnamed">Unnamed</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0139e128-af86-4dd2-a217-efd004f7464c</Key>
      <Caption>Unnamed</Caption>
      <Alias>unnamed</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>