<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecd00e6c-c71e-4dcc-b91a-96ed625615cb" Alias="blockGrid" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGrid</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba72794a-a55f-4131-9c87-876988202d4a" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6bb39aba-73c1-4400-913b-f458dadf4028</Key>
      <Name>Название кнопки</Name>
      <Alias>buttonName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3c7c7be4-7e3b-410b-804b-9bb849ff9fe0</Key>
      <Name>Контент для страницы</Name>
      <Alias>content</Alias>
      <Definition>17d9c3bf-cc5f-4461-a497-747997ce5f2e</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="контент">Контент</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21c18820-88e6-484d-b12b-882c4142115f</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>ec1bf383-27eb-4c6d-a4bc-ee01e28b4f32</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[формат .svg]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="общееДляВсехСтраниц">Общее для всех страниц</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7f8a85b-b4d4-4d17-a0bd-a30bc8dd0fc2</Key>
      <Name>Контент</Name>
      <Alias>footer</Alias>
      <Definition>11fe47c5-8f78-4580-a92c-674cd766372d</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/подвал">Подвал</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08491d67-f369-479b-a411-aea34eedb1bd</Key>
      <Name>Логотип</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29815c2b-ce50-411e-a6a5-a00673cdfe1e</Key>
      <Name>Меню</Name>
      <Alias>menu</Alias>
      <Definition>6bb18160-159a-4dbc-b038-8efb1b4a6737</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6111147d-cee6-4897-af16-6993db565c60</Key>
      <Name>Показывать кнопку "Наверх"</Name>
      <Alias>showButtonUp</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/прочее">Прочее</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc626d39-e6b2-41a9-a340-1ea91ab501c8</Key>
      <Name>Показывать языковую панель</Name>
      <Alias>showLanquage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>823d3f21-2aa9-4000-91f2-4f366a0cad03</Key>
      <Name>Показывать кнопку "Войти в личный кабинет"</Name>
      <Alias>showLk</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f980fa6c-ae98-4c2f-bcbf-82a597b537de</Key>
      <Name>Показывать телефон</Name>
      <Alias>showTel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="общееДляВсехСтраниц/меню">Меню</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f23c0e82-d6b9-49b2-9a2f-b6fa21d9338d</Key>
      <Name>Заголовок страницы</Name>
      <Alias>titleHomePage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="общееДляВсехСтраниц">Общее для всех страниц</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0d41d5ac-fd8f-49e0-bab6-3e7b21585fc4</Key>
      <Caption>Меню</Caption>
      <Alias>общееДляВсехСтраниц/меню</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>68e860fb-da69-402b-99f1-41d9f2d851fe</Key>
      <Caption>Общее для всех страниц</Caption>
      <Alias>общееДляВсехСтраниц</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>774ae96e-4065-458b-af0e-ff70dbb7ff7f</Key>
      <Caption>Подвал</Caption>
      <Alias>общееДляВсехСтраниц/подвал</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8c7b0151-cdb3-4743-82da-8d65addbf557</Key>
      <Caption>Контент</Caption>
      <Alias>контент</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8f324aee-db70-4af6-bf50-c552d83390bc</Key>
      <Caption>Прочее</Caption>
      <Alias>общееДляВсехСтраниц/прочее</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>