<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0b4e856-78bf-454d-b331-b36057f4c791" Alias="footer" Level="3">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-panel-show</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Blocks/Compose+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22350a9f-a41d-47a9-af46-6d58bd1d8c9c</Key>
      <Name>Анимация</Name>
      <Alias>classContact</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="контакты">Контакты</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>473e3892-2796-46db-99a5-77c3923b8538</Key>
      <Name>Анимация</Name>
      <Alias>classCopy</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="копирайт">Копирайт</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e10b7770-1845-4e59-b160-081f34bf7cb3</Key>
      <Name>Анимация</Name>
      <Alias>classLegal</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="юридическиеАспекты">Юридические аспекты</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51d9cbad-7e50-4a82-8ea1-4da9b48dacc2</Key>
      <Name>Анимация</Name>
      <Alias>classNav</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="навигация">Навигация</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a94b45f7-1288-4403-9a9e-4dcabdf4614b</Key>
      <Name>Анимация</Name>
      <Alias>classSocial</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="соцсети">Соцсети</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c17a48e2-6176-423b-96c0-824c0f7e66ca</Key>
      <Name>Контакты</Name>
      <Alias>contact</Alias>
      <Definition>7bf3e975-da72-4c74-b92c-c1c347d3edf5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="контакты">Контакты</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c5d0f37-519d-49e3-b746-b4b4af14917a</Key>
      <Name>Текст копирайта</Name>
      <Alias>footerCopyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="копирайт">Копирайт</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>151d919b-c2a7-4f04-a9e9-dc715f5f1fcb</Key>
      <Name>Форма обратной связи</Name>
      <Alias>footerForm</Alias>
      <Definition>cafdc3df-d3d1-490f-80ad-f879a54eb410</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="форма">Форма</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b2394f4-e914-4f19-8975-916877fefb15</Key>
      <Name>Политика конфиденциальности</Name>
      <Alias>footerPrivacyLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="юридическиеАспекты">Юридические аспекты</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd826a47-2063-4562-b027-d64a7234d29e</Key>
      <Name>Год автоматический</Name>
      <Alias>footerShowCurrentYear</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="копирайт">Копирайт</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cfb3e1a2-84c1-4e1a-96df-764f444e3015</Key>
      <Name>Условия использования</Name>
      <Alias>footerTermsLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="юридическиеАспекты">Юридические аспекты</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b33bb2a-c644-4ecc-8d76-a18244aa7a04</Key>
      <Name>Текст</Name>
      <Alias>footerText</Alias>
      <Definition>e8b98f3b-14c6-40b6-9567-a94d5bb2b395</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[дополнительно, если нужен]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5969461e-6d8f-4153-9c76-01347b4cb98a</Key>
      <Name>Логотип</Name>
      <Alias>logoFooter</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ca423c4-a1bb-4986-ae3b-eff88fd9135e</Key>
      <Name>Меню</Name>
      <Alias>navFooter</Alias>
      <Definition>6bb18160-159a-4dbc-b038-8efb1b4a6737</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="навигация">Навигация</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>194dcd98-686f-4041-b38c-528f526d1e1d</Key>
      <Name>Соцсети</Name>
      <Alias>social</Alias>
      <Definition>14761745-ac33-4d8c-b7db-fda63707982d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="соцсети">Соцсети</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e23a24d-ac5a-45d8-8d1b-eac4918ba943</Key>
      <Caption>Копирайт</Caption>
      <Alias>копирайт</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3a97aac9-80e7-49e9-b28f-727822b155d4</Key>
      <Caption>Контакты</Caption>
      <Alias>контакты</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4a960612-dca5-45f4-be2c-e67c63a4144b</Key>
      <Caption>Дополнительно</Caption>
      <Alias>дополнительно</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>5cf0f216-09f7-46f0-9a1d-985251423656</Key>
      <Caption>Соцсети</Caption>
      <Alias>соцсети</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>6a9c4aa5-fc8b-4f40-9d6f-f896d85567bc</Key>
      <Caption>Навигация</Caption>
      <Alias>навигация</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8d99d090-9720-4781-8acd-e19299e97abf</Key>
      <Caption>Юридические аспекты</Caption>
      <Alias>юридическиеАспекты</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>aebc88f0-f347-4c34-9f0b-bd24b9a14224</Key>
      <Caption>Форма</Caption>
      <Alias>форма</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>