<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4772b7be-8aa7-4ea5-9d1b-0ef4782d3a24" Alias="menuLanding" Level="3">
  <Info>
    <Name>navLanding</Name>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Blocks/Compose+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c14ed8bf-37fe-4ff1-815b-dbed8e0233ad</Key>
      <Name>Анимация</Name>
      <Alias>class</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3aed93ed-24f0-4c83-8776-eb8d32e82cd1</Key>
      <Name>Навигация у лендинга</Name>
      <Alias>navLanding</Alias>
      <Definition>2d413cb0-46e1-463b-8e4e-35f5b526dd63</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="контент">Контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38ca0663-93ba-4ffb-80e7-425721c94a80</Key>
      <Caption>Дополнительно</Caption>
      <Alias>дополнительно</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a6f1b7df-2510-4771-9cca-90616f71a7d9</Key>
      <Caption>Контент</Caption>
      <Alias>контент</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>