<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d47ad98-4974-4b4c-8a22-4923441ec75c" Alias="ntemp" Level="1">
  <Info>
    <Name>Ntemp</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Ntemp</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b84e4c5f-704a-4205-bfab-ebd2f96e800a">maxcont</Template>
      <Template Key="019bb8ae-9654-77d9-a4b3-fb3d5bd05072">Ntemp</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a26bb10-4fe6-4983-b41e-4383aa0b3df8" SortOrder="0">news</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>