<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e79440a8-2033-4bc9-965b-885fc004c8eb" Alias="quote" Level="3">
  <Info>
    <Name>Quote</Name>
    <Icon>icon-quote</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Blocks/Bootstrap+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e8626f6c-4fac-4d6c-be64-d0195ac3e56a</Key>
      <Name>Иконка</Name>
      <Alias>bgImg</Alias>
      <Definition>ec1bf383-27eb-4c6d-a4bc-ee01e28b4f32</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="основное">Основное</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d577e07-96ca-4dea-b2e8-1dc1995a47c8</Key>
      <Name>Анимация</Name>
      <Alias>class</Alias>
      <Definition>120aafad-f417-48d2-9925-f94daff187d1</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1257f36-8b8a-47ee-b022-81dae985c3d3</Key>
      <Name>Текст</Name>
      <Alias>content</Alias>
      <Definition>43f1dcc7-7868-4d5d-b7a3-82af81414996</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="основное">Основное</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e2d7429-d18b-404f-bd6d-2aafe101871d</Key>
      <Name>Семантический тег</Name>
      <Alias>tag</Alias>
      <Definition>6dcc7f79-1dd8-4137-8cd6-60108c9537db</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e227da74-702f-423f-b44b-de0cf37800da</Key>
      <Name>Инверсия цвета текста</Name>
      <Alias>textInverse</Alias>
      <Definition>1f3b8f5f-f5eb-4ddd-b0b8-4f73f7fcfd50</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ba874068-f949-4d87-93f8-769e5de4f53c</Key>
      <Caption>Основное</Caption>
      <Alias>основное</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f29000a9-2bee-4338-bbdf-8357509f7b23</Key>
      <Caption>Дополнительно</Caption>
      <Alias>дополнительно</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>