<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b33b5e1-3536-4f19-8970-741b116dde93" Alias="title" Level="3">
  <Info>
    <Name>Title</Name>
    <Icon>icon-heading-1</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Site+Blocks/Bootstrap+Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0dd77d26-9822-4ab3-9f56-71c909932fe3</Key>
      <Name>Класс</Name>
      <Alias>class</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8608a52-a17f-40ea-9e51-29a9505615d1</Key>
      <Name>Семантический тег</Name>
      <Alias>tag</Alias>
      <Definition>6dcc7f79-1dd8-4137-8cd6-60108c9537db</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="дополнительно">Дополнительно</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75fc8afc-e622-4842-a7b5-2849fec832f8</Key>
      <Name>Заголовок</Name>
      <Alias>titleContent</Alias>
      <Definition>645fd18c-28c2-4cd1-ab5b-5b7a89bf6d8d</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="основное">Основное</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>34b93482-8da1-4bb5-ab55-d68531d7ab44</Key>
      <Caption>Основное</Caption>
      <Alias>основное</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fe2b2d3f-d195-4461-8fee-28056544095f</Key>
      <Caption>Дополнительно</Caption>
      <Alias>дополнительно</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>