<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3119fe0c-3f9a-492d-8212-fdd4c5a80544" Alias="work" Level="1">
  <Info>
    <Name>Work</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ae8e175b-a9b1-409d-98d9-ec7f7e5dcdd6">Work</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="258f40c2-00b2-46df-9a86-ced3cee2702b" SortOrder="0">workItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>42c3f5a5-311c-41f6-9e76-a5b0dcb4c76b</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18e109de-c96b-4936-a783-9cbab15701c2</Key>
      <Caption>Content</Caption>
      <Alias>general/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fa05fbf4-b3b0-4ab4-b422-263e146ecfca</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>