<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c85aff4-3b06-41b6-9ba8-8e2d37c67e5c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2026-01-14T15:52:02</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
  </Info>
  <Properties />
</Content>