<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c85aff4-3b06-41b6-9ba8-8e2d37c67e5c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2026-01-14T15:52:02</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "76f9f088-cfd0-488f-a3f9-ee61407c197e",
      "key": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
      "udi": null,
      "values": [
        {
          "alias": "sectionClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "rtd"
        },
        {
          "alias": "containerClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "cmt"
        },
        {
          "alias": "rows",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0f002cdf-dab5-4ee6-8dab-d8ab6176092d",
                "key": "59b34e58-f9af-466c-b1fa-b463a37a92a3",
                "udi": null,
                "values": [
                  {
                    "alias": "columns",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "dc3c56eb-0954-43e9-8af8-9343e470f23f",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Esdfgf sdf sdg sdg\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "tag",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                "article"
                              ]
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "41eb8c84-6c0d-498d-8fd8-bfcae13d7ebc",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Eadafasfasf\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "655414bd-7778-4206-9fb4-810559b95df0",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Easdfdsafa\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "e79440a8-2033-4bc9-965b-885fc004c8eb",
                          "key": "89a8d3ea-c5a4-44d4-b000-5d638f35c448",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Edh dfhdf hfdghgdfh\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "img",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "5e98ba12-4d98-41dd-8991-3edbba5b7b8d",
                                  "mediaKey": "2850696d-418c-485a-a3f1-bcb9bdcbe157",
                                  "mediaTypeAlias": "umbracoMediaVectorGraphics",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "dc3c56eb-0954-43e9-8af8-9343e470f23f",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "41eb8c84-6c0d-498d-8fd8-bfcae13d7ebc",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "655414bd-7778-4206-9fb4-810559b95df0",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "89a8d3ea-c5a4-44d4-b000-5d638f35c448",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 4,
                            "contentKey": "dc3c56eb-0954-43e9-8af8-9343e470f23f",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 4,
                            "contentKey": "41eb8c84-6c0d-498d-8fd8-bfcae13d7ebc",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 4,
                            "contentKey": "655414bd-7778-4206-9fb4-810559b95df0",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "89a8d3ea-c5a4-44d4-b000-5d638f35c448",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "listType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "0f002cdf-dab5-4ee6-8dab-d8ab6176092d",
                "key": "3eb5633a-99e1-4cad-b4fd-742ac050f546",
                "udi": null,
                "values": [
                  {
                    "alias": "columns",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "b4da2da0-56e9-4637-b98c-474116fa2db8",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Edsaafdsfasf\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "b4da2da0-56e9-4637-b98c-474116fa2db8",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "b4da2da0-56e9-4637-b98c-474116fa2db8",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "0f002cdf-dab5-4ee6-8dab-d8ab6176092d",
                "key": "1443c681-1d1c-4990-9955-e9f3f75b7f56",
                "udi": null,
                "values": [
                  {
                    "alias": "columns",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "54492347-ca83-459c-91e6-e5f998302822",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003E\u0446\u043A\u0435\u0446\u0435\u0446\u0443\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "54492347-ca83-459c-91e6-e5f998302822",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "54492347-ca83-459c-91e6-e5f998302822",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "listType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "59b34e58-f9af-466c-b1fa-b463a37a92a3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3eb5633a-99e1-4cad-b4fd-742ac050f546",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1443c681-1d1c-4990-9955-e9f3f75b7f56",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "59b34e58-f9af-466c-b1fa-b463a37a92a3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3eb5633a-99e1-4cad-b4fd-742ac050f546",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1443c681-1d1c-4990-9955-e9f3f75b7f56",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "76f9f088-cfd0-488f-a3f9-ee61407c197e",
      "key": "cec394f1-6efb-40ac-a07b-b669465cdf24",
      "udi": null,
      "values": [
        {
          "alias": "rows",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0f002cdf-dab5-4ee6-8dab-d8ab6176092d",
                "key": "6ad069a7-746e-407f-8f95-f32b4ffa2d49",
                "udi": null,
                "values": [
                  {
                    "alias": "columns",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                          "key": "a8f02145-c4c9-4ea2-8ccb-deb873a3a14c",
                          "udi": null,
                          "values": [
                            {
                              "alias": "content",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003E\u043A\u0435\u043D\u043A \u043A\u0435\u043D\u043A\u0435\u043D\u043A\u0435\u043D \u043A\u0435\u043D \u043A\u0435\u043D\u043A\u0435 \u043D\u043A\u0435\u043D\u003C/p\u003E"
                              }
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "a8f02145-c4c9-4ea2-8ccb-deb873a3a14c",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [],
                            "columnSpan": 12,
                            "contentKey": "a8f02145-c4c9-4ea2-8ccb-deb873a3a14c",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "listType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "6ad069a7-746e-407f-8f95-f32b4ffa2d49",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "6ad069a7-746e-407f-8f95-f32b4ffa2d49",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05",
      "key": "36b3c74a-04be-4ae2-b4ad-11e611f890f0",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a4ccad11-8ff3-4792-aefc-c46877014c95",
              "mediaKey": "9807c5d0-d59c-4d62-80f2-e9bb0150fef0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0412\u0438\u0434\u0435\u043E"
          ]
        },
        {
          "alias": "overlayBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0413\u0440\u0430\u0434\u0438\u0435\u043D\u0442"
          ]
        },
        {
          "alias": "bgSize",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u041E\u0431\u043B\u043E\u0436\u043A\u0430"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#2b00ff"
          }
        },
        {
          "alias": "colorOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#2b00ff"
          }
        },
        {
          "alias": "colorStart",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#030303"
          }
        },
        {
          "alias": "colorEnd",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#2b00ff"
          }
        },
        {
          "alias": "direction",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0421\u0432\u0435\u0440\u0445\u0443 \u0432\u043D\u0438\u0437"
          ]
        },
        {
          "alias": "video",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://vimeo.com/1136836945?share=copy\u0026fl=sv\u0026fe=ci"
        },
        {
          "alias": "opacityOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "38"
        },
        {
          "alias": "colorStartOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#030303"
          }
        },
        {
          "alias": "colorEndOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#2b00ff"
          }
        },
        {
          "alias": "directionGradient",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0421\u0432\u0435\u0440\u0445\u0443 \u0432\u043D\u0438\u0437"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05",
      "key": "57a49516-cf72-444a-895e-02557ada3702",
      "udi": null,
      "values": [
        {
          "alias": "bg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0418\u0437\u043E\u0431\u0440\u0430\u0436\u0435\u043D\u0438\u0435"
          ]
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "44d7efd1-21de-4b23-9cea-c1a798ab97c5",
              "mediaKey": "9807c5d0-d59c-4d62-80f2-e9bb0150fef0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "repeatOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "opacityOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "42"
        },
        {
          "alias": "overlayBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0426\u0432\u0435\u0442"
          ]
        },
        {
          "alias": "colorOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#030303"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cec394f1-6efb-40ac-a07b-b669465cdf24",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "36b3c74a-04be-4ae2-b4ad-11e611f890f0",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cec394f1-6efb-40ac-a07b-b669465cdf24",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "57a49516-cf72-444a-895e-02557ada3702",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>