<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c85aff4-3b06-41b6-9ba8-8e2d37c67e5c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2026-01-14T15:52:02</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="019bbd34-ac6c-7e86-a288-43e2332348ea">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "76f9f088-cfd0-488f-a3f9-ee61407c197e",
      "key": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
      "udi": null,
      "values": [
        {
          "alias": "gridContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                "key": "a18a6289-c0bb-4394-af05-c6e64bfa5d49",
                "udi": null,
                "values": [
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Edfsdgsd sdgfdsg dsfg sdfg\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                "key": "0141f60c-ff37-4fb1-b1cb-5f0091342075",
                "udi": null,
                "values": [
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Efdsgsd sdgf sd gsdg sdg\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
                "key": "ce9368c5-9c21-4703-8e72-beda7c63497e",
                "udi": null,
                "values": [
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003Esgdfg sdfg sgsdg\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a18a6289-c0bb-4394-af05-c6e64bfa5d49",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0141f60c-ff37-4fb1-b1cb-5f0091342075",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ce9368c5-9c21-4703-8e72-beda7c63497e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [],
                  "columnSpan": 4,
                  "contentKey": "a18a6289-c0bb-4394-af05-c6e64bfa5d49",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 4,
                  "contentKey": "0141f60c-ff37-4fb1-b1cb-5f0091342075",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "areas": [],
                  "columnSpan": 4,
                  "contentKey": "ce9368c5-9c21-4703-8e72-beda7c63497e",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d247ab13-4d3b-48c3-bcde-d6893cd0e981",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>