<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca01f2ad-4fde-42ff-9952-76629e8c1780" Alias="blockGrid" Level="1">
  <Info>
    <Name>Block Grid</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockGrid</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a26bb10-4fe6-4983-b41e-4383aa0b3df8" SortOrder="0">news</ContentType>
    <ContentType Key="3119fe0c-3f9a-492d-8212-fdd4c5a80544" SortOrder="1">work</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7b0420c9-87ac-4b2f-a6ee-3dbafa83c7a9</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1853e15-b153-4165-b7d3-50d71af9d5c8</Key>
      <Name>FooterContent</Name>
      <Alias>footerContent</Alias>
      <Definition>c3384287-a9ca-463c-a0b9-adfaa4ca679f</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>66137755-0284-4184-87b7-1561c4fd420c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>97bd9bea-80a7-42fe-9e85-92cf280446eb</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cdcc3397-2346-40c6-ae5f-75a16c47c5c0</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>