@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="~/preview/maxapta/img/favicon.ico" type="image/x-icon">
  <title>TestUmbraco</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="~/preview/maxapta/css/style3.css">
  <link rel="stylesheet" href="~/preview/maxapta/css/style3m.css">
</head>

<body>

  <div class="fon">
    <div class="container flex">
      <div class="headleft">
        <img src="~/preview/maxapta/img/mac.png" class="mac">
        <img src="~/preview/maxapta/img/macbook.png" class="macbook">
      </div>
      <div class="headright">
        <div class="loghead">
          <img src="~/preview/maxapta/img/logo_maxapta.svg" class="wall">
          <h3 class="logtext">Самая удобная ERP-система для:</h3>
        </div>
        <div class="headicon">
          <div class="iconwrap">
            <img src="~/preview/maxapta/img/icon1.svg">
            <p>Железнодорожных компаний</p>
          </div>
          <div class="iconwrap p1">
            <img src="~/preview/maxapta/img/icon2.svg">
            <p>Экспедиторов</p>
          </div>
          <div class="iconwrap p2">
            <img src="~/preview/maxapta/img/icon2.svg">
            <p>Контейнерных терминалов</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cont1">
    <div class="container mgbot">
      <div class="c1top">
        <img src="~/preview/maxapta/img/logo_maxima.svg" class="c1logo">
        <p>Максапта разработана внутри ГК «Максима» для автоматизации собственных процессов</p>
        <h1><b>Более 500</b> автоматизированных рабочих мест</h1>
      </div>
      <div class="c1bot">
        <div class="left">
          <img src="~/preview/maxapta/img/circle1.png">
          <p>сотрудников ГК «Максима»</p>
        </div>
        <div class="right">
          <img src="~/preview/maxapta/img/circle2.png">
          <p>сотрудников других компаний</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cont2">
    <div class="container">
      <h1>Максапта поможет:</h1>
      <div class="flex">
        <div class="flexitem">
          <img src="~/preview/maxapta/img/hexagon1.jpg">
          <h2>Руководству компании</h2>
          <ul>
            <li>Организовать работу сотрудников в единой системе</li>
            <li>Быстро получать любую отчетность по деятельности компании</li>
            <li>Ускорить рутинные процедуры, чтобы оперировать большим парком с помощью небольшого штата сотрудников
            </li>
          </ul>
        </div>
        <div class="flexitem">
          <img src="~/preview/maxapta/img/hexagon2.jpg">
          <h2>КОММЕРЧЕСКОМУ ДИРЕКТОРУ</h2>
          <ul>
            <li>Детально рассчитывать доходность перевозки на основании существующих данных</li>
            <li>Оперативно составлять, согласовывать и хранить договора и ДС на перевозку</li>
            <li>Вести учет дебиторской задолженности и недостающих документов по всем клиентам</li>
          </ul>
        </div>
        <div class="flexitem">
          <img src="~/preview/maxapta/img/hexagon3.jpg">
          <h2>ДИРЕКТОРУ ПО ЛОГИСТИКЕ</h2>
          <ul>
            <li>Удобно работать с ЭТРАНом с помощью интеграции</li>
            <li>Видеть простои / обороты парка в любом необходимом разрезе</li>
            <li>Контролировать подход вагонов и исполнение заявок на перевозку</li>
          </ul>
        </div>
        <div class="flexitem">
          <img src="~/preview/maxapta/img/hexagon4.jpg">
          <h2>ГЛАВНОМУ БУХГАЛТЕРУ</h2>
          <ul>
            <li>Следить за всеми доходами и расходами в единой системе</li>
            <li>Быстро экспортировать в 1с доходы, расходы, договора и контрагентов</li>
            <li>Формировать акты сверки с контрагентами</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="cont3">
    <div class="container flex mgbot">
      <div class="left">
        <h1>Система позволяет соединить все отделы компании <b>в единое информационное пространство</b></h1>
      </div>
      <img src="~/preview/maxapta/img/scheme_dep.png">
    </div>
  </div>

  <div class="cont4">
    <div class="container mgbot">
      <h1>Отделы компании, которые <b>автоматизирует Максапта</b></h1>
      <div class="grid">

        <div class="griditem lightgray">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse1.png">
              <h3>ТОП - менеджмент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Получайте прозрачную информацию по маржинальному доходу компании за любой период</li>
            </ul>
          </div>
        </div>

        <div class="griditem">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse2.png">
              <h3>Юридический департамент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Храните все договора с контрагентами, их оригиналы и сканы в единой системе</li>
              <li>Автоматически составляйте претензии к РЖД за определенный период времени</li>
              <li>Автоматически согласовывайте договора прямо в системе</li>
            </ul>
          </div>
        </div>

        <div class="griditem lightgray">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse3.png">
              <h3>Коммерческий департамент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Быстро составляйте договора и дополнительные соглашения на основании типовых форм</li>
              <li>Следите за текущими показателями клиентов в таблице "сводные показатели" </li>
              <li class="linone">
                - дебиторская задолженность<br>
                - количество отгрузок<br>
                - недостающие документы
              </li>
            </ul>
          </div>
        </div>

        <div class="griditem">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse4.png">
              <h3>Департамент логистики</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Контролируйте выполнение погрузок с помощью отчета на любую дату</li>
              <li>Работайте с заготовками в ЭТРАН прямо из системы</li>
              <li>Следите за простоями и оборотами вагонов с помощью удобного механизма отчетности</li>
            </ul>
          </div>
        </div>

        <div class="griditem lightgray">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse5.png">
              <h3>Тарифный департамент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Автоматически рассчитывайте тарифы и вознаграждения экспедиторов</li>
              <li>Контролируйте правильность списания тарифов с вашего счета ЕЛС</li>
              <li>Автоматически составляйте претензии за просрочку доставки в РЖД</li>
            </ul>
          </div>
        </div>

        <div class="griditem">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse6.png">
              <h3>Финансовый департамент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Выгружайте всю отчетность из системы в 1С с помощью XML-обмена</li>
              <li>Ведите ДДС в системе</li>
              <li>Используйте ЭДО для быстрого обмена документами с контрагентами</li>
            </ul>
          </div>
        </div>

        <div class="griditem lightgray">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse7.png">
              <h3>Технический департамент</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Учитывайте все прошедшие и будущие ремонты вагонов</li>
              <li>Ведите реестр запчастей на складах</li>
              <li>Автоматически получайте данные о ремонтах по ЭДО (интеграция с Warecs и АСУ ВРК)</li>
              <li>Получайте уведомления о входе-выходе вагонов из ремонта на email</li>
            </ul>
          </div>
        </div>

        <div class="griditem">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse8.png">
              <h3>Департамент безопасности</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Проверяйте благонадежность контрагентов через Контур.Фокус прямо из системы</li>
              <li>Блокируйте работу с неблагонадежной компанией за пару кликов. После блокировки коммерсант не сможет
                заадресовать вагон сомнительному клиенту</li>
              <li class="linone">Проводите комплексную скоринговую проверку по
                критериям:<br>
                - исполнительное производство в
                отношении контрагента<br>
                - статус банкрота<br>
                - и прочие</li>
            </ul>
          </div>
        </div>

        <div class="griditem lightgray">
          <div class="left">
            <div>
              <img src="~/preview/maxapta/img/Ellipse9.png">
              <h3>Отдел аренды</h3>
            </div>
          </div>
          <div class="right">
            <ul>
              <li>Автоматически рассчитывайте стоимость входящей и исходящей аренды</li>
              <li>Учитывайте простои из-за ремонтов и тарифы на подсыл</li>
              <li>Формируйте статистику по вагоносуткам</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="cont5">
    <div class="container mgbot">
      <h1><b>Максапта</b> интегрирована со всеми современными Ж/Д ИТ-системами</h1>
      <picture>
        <source media="(max-width: 480px)" srcset="~/preview/maxapta/img/sheme_max2.png">
        <img src="../../wwwroot/preview/maxapta/img/sheme_max.png">
      </picture>
    </div>
  </div>

  <div class="cont6">
    <div class="container mgbot">
      <h1><b>Ж/Д компании,</b> которые уже пользуются Максаптой</h1>
      <div class="ct6grid">
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo1.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo2.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo3.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo4.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo5.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo6.svg">
        </div>
        <div class="ct6griditem">
          <img src="~/preview/maxapta/img/logo8.svg">
        </div>
      </div>
    </div>
  </div>

</body>