/*=======FOOTER==========*/
.footer {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #262930;
}

.foot-content {
  width: 60%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem 0 3rem 0;
}

.foot-content p {
  color: white;
  text-align: center;
  font-weight: 100;
}

.grecaptcha-badge {
    visibility: hidden;
}

/*=======END FOOTER==========*/