/*=======FONT==========*/
/*@charset "UTF-8";*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;800;900;1000&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?vnovlh");
  src: url("../fonts/icomoon.eot?vnovlh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vnovlh") format("truetype"), url("../fonts/icomoon.woff?vnovlh") format("woff"), url("../fonts/icomoon.svg?vnovlh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-call:before {
  content: "\e900";
  font-size: 1.5rem;
}

.icon-ico-send:before {
  content: "\e901";
  font-size: 1.5rem;
}

.icon-ico-eye:before {
  content: "\e902";
  font-size: 1.5rem;
}

.icon-ico-cuote:before {
  content: "\e903";
  font-size: 2rem;
  color: #e31616;
}

@media (max-width: 665px) and (orientation: portrait) {
  .icon-ico-call:before {
    font-size: 1.5em;
  }
  .icon-ico-send:before {
    font-size: 1.5em;
  }
  .icon-ico-eye:before {
    font-size: 1.5em;
  }
  .icon-ico-cuote:before {
    font-size: 2em;
  }
}
/*-$font---*/
/*=======ALL==========*/
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  max-width: 100%;
  background-color: #ededed;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
a:focus {
  outline: none !important;
}

body {
  overflow-y: scroll;
}

.wrapper {
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 92%;
}

.cursor {
  height: 2.75rem;
  width: 2.75rem;
  display: block;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background: transparent;
  pointer-events: none;
  position: fixed;
  top: -1.375rem;
  left: -1.375rem;
  z-index: 500;
  opacity: 0.6;
  transition: scale 0.5s ease;
}

@media (max-width: 665px) {
  .cursor {
    display: none;
  }
}
.modal-open {
  overflow: hidden;
}

/*---ALL---*/
/*=======TYPOGRAPHY==========*/
.white {
  color: white;
}

.txt-right {
  text-align: right;
  margin-right: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

/*h2 {
  font-size: calc($font*1.5);
  font-weight: 700;
}
*/
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 300;
}

.ft-bottom span {
  font-size: 1rem;
}

.smalltext {
  font-size: 0.8rem;
}

.material-icons.md-22 {
  font-size: 1.1rem;
  margin-right: 0.2976190476vw;
}

.material-icons.md-42 {
  font-size: 1.5rem;
}

@media (max-width: 665px) and (orientation: portrait) {
  h2 {
    font-size: 2em;
  }
  /*h2 {
    font-size: 1em;
  }*/
  p,
  nav ul li a {
    font-size: 1em;
  }
  .material-icons.md-22 {
    font-size: 1em;
    padding-right: 0.2em;
  }
  .material-icons.md-42 {
    font-size: 1.5em;
  }
}
/*---TYPOGRAPHY---*/
/*=======SCROLLBAR==========*/
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 1px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
  border-radius: 0.165rem;
}

::-webkit-scrollbar-thumb {
  background-color: #262930;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.165rem;
  border: 0.5px solid #fff;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 0.22rem;
  height: 0px;
}

::-webkit-scrollbar {
  width: 0.66rem;
  background-color: #fff;
  border-radius: 0.165rem;
}

/*---SCROLLBAR---*/
/*========PRELOADER=========*/
.codrops-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.codrops-header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
}

.codrops-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  opacity: 0.7;
}

/*---PRELOADER---*/
/*=======NAVIGATION==========*/
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 3.575rem;
  background-color: #262930;
  border-bottom: 1px solid white;
}

.navbar {
  width: 92%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.brand {
  display: none;
  position: relative;
  background: url("../img/logo_menu.svg") no-repeat left center;
  background-size: contain;
}

.brandnav {
  width: 5.5rem;
  height: 2.2rem;
  background: url("../img/logo_menu.svg") no-repeat left center;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.575rem;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 3.025rem;
}

nav ul li {
  margin: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  width: auto;
  height: 3.025rem;
}

nav ul li a {
  display: flex;
  height: 100%;
  padding: 0 0.55rem;
  align-items: center;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #e31616;
  transition: 0.3s;
}

nav ul li a.active {
  color: #e31616 !important;
}

nav ul li a.active:hover {
  cursor: default;
}

/*burger*/
.mobile-menu {
  position: relative;
  width: 25px;
  height: 25px;
  display: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.mobile-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  right: 0;
  top: 6px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.mobile-menu span:nth-child(1) {
  top: 5px;
}

.mobile-menu span:nth-child(2),
.mobile-menu span:nth-child(3) {
  top: 12px;
}

.mobile-menu span:nth-child(4) {
  top: 19px;
}

.mobile-menu.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.mobile-menu.open span:nth-child(4) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.mobile-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

.mobile-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/*end burger*/
@media (min-width: 320px) and (max-width: 945px) {
  .menu {
    height: 7vh;
  }
  .mobile-menu,
  .brand {
    display: block;
  }
  .brandnav {
    display: none;
  }
  .mobile-menu {
    margin-top: 0 !important;
  }
  .brand {
    width: 5rem;
    height: 2.5rem;
  }
  nav {
    width: 100vw;
    display: none;
    margin: 0;
    position: absolute;
    top: 7vh;
    left: -4.5%;
    background: #262930;
    height: auto;
    border: 1px solid #262930;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  nav ul li {
    width: 100%;
    justify-content: center;
    padding: 1rem 1rem;
  }
}
/*---NAVIGATION---*/
/*========BUTTON UP=========*/
#button-up {
  display: none;
  width: 2.585rem;
  height: 2.585rem;
  position: fixed;
  right: 0.55rem;
  bottom: 0.55rem;
  padding: 0.55rem;
  background: #e31616;
  color: white;
  transition: 0.3s;
  z-index: 10;
}

#button-up span {
  font-size: 1.485rem;
  height: 1.375rem;
}

#button-up:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #bd0000;
}

#button-up:hover span {
  animation: 1200ms ease 0s normal none 1 running shame;
}

@keyframes shame {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(2px);
  }
  70% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(1);
  }
  90% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}
/*---BUTTON UP---*/
/*---SECTION---*/
.about {
  position: relative;
  background: #fff;
}

.about:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  height: 100%;
  background: #ededed;
}

.about .rich-text p {
  font-size: 1.1rem !important;
  padding-left: 3rem;
}

.about .image {
  padding-right: 1rem;
}

.titlewrap {
  margin-top: 6rem;
  width: 100%;
}

.contnew,
.contnew2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.contnew {
  gap: 4rem;
}

.contnew2 {
  margin-top: 3rem;
  gap: 0;
}

.hdnews {
  display: flex;
  margin-bottom: 1.5rem;
}

.flexnew {
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  min-height: 100%;
  gap: 0.5rem;
}
.flexnew h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.textnew {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-white {
  background-color: white;
  flex-grow: 1;
  padding: 2rem;
}

.title {
  font-size: 4rem;
  font-weight: 800;
}

.sv,
.news {
  position: relative;
  background: linear-gradient(116deg, #7f848e 50%, #717681 50%) !important;
}

.news h2 {
  text-align: right;
}

.new50,
.imgnew {
  aspect-ratio: 16/9;
}

.new50 {
  position: relative;
  width: 50%;
  float: left;
  margin-right: 2rem;
}

.imnew {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.redlink {
  font-size: 1.2rem;
  color: #e31616;
}

.redlink:hover {
  color: #bd0000;
}

.bnew {
  display: flex;
  max-width: 30%;
  padding: 1rem 2rem !important;
}

.sv {
  padding-bottom: 7rem !important;
}

.sv:before {
  content: "";
  position: absolute;
  left: 4%;
  bottom: 0;
  width: 92%;
  height: 3rem;
  background: #dddddd;
}

.sv p {
  color: #fff !important;
}

.sv .img-txt {
  gap: 1.2rem !important;
}

.advantages {
  padding-top: 0 !important;
}

.advantages .umb-block-grid__layout-container {
  left: -1%;
  width: 102%;
  background: linear-gradient(to bottom, #ddd 60%, transparent 40%) !important;
  padding-top: 3rem;
}

.advantages .img-txt {
  gap: 1.2rem !important;
}

.advantages .img-txt .card-content {
  flex-grow: 1;
}

.work {
  position: relative;
  background: #fff;
}

.work h2 {
  margin-right: 0;
}

.work:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 4%;
  height: 100%;
  background: #ededed;
}

.work .umb-block-grid__layout-container {
  width: 98% !important;
}

.footer {
  background: #262930;
  color: #fff;
}

.footer p {
  padding-left: 3rem;
}

.footer .rich-text table {
  margin-left: 3rem;
}

.footer .rich-text table td {
  padding: 0.5rem 0;
}

.redline {
  width: 90%;
  height: 1px;
  background-color: var(--red);
  margin: calc(var(--size) * 40) 3rem;
}

/*---SECTION---*/
/*=======FOOTER==========*/
.footer-bottom {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #262930;
}

.foot-content {
  width: 60%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem 0 3rem 0;
}

.foot-content p {
  color: white;
  text-align: center;
  font-weight: 100;
}

redline {
  width: 100%;
  height: 1px;
  background-color: #e31616;
  margin: 2.2rem 0;
}

.red {
  color: #e31616;
  font-size: 1rem !important;
  display: none;
}

.red img {
  margin-right: 0.11rem;
  width: 0.825rem;
}

input,
textarea {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  outline: none !important;
  margin: 0;
}

textarea {
  padding-top: 0.7rem !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #717681;
  font-weight: 200;
}

input::placeholder,
textarea::placeholder {
  color: #717681;
  font-weight: 200;
}

.frm {
  width: 90%;
  margin-left: 10%;
}

.frmm {
  width: 100%;
  margin-top: 2rem;
}

.frm form {
  width: 90%;
}

.fm {
  width: 100%;
  background-color: white;
  padding: 0.825rem 1.21rem;
  font-size: 1.1rem;
  margin: 0 !important;
}

.fm-flex {
  display: flex;
  width: 100%;
}

.fm-item {
  width: 50%;
}

.form {
  margin-top: 1.375rem;
}

.fm-mgbot {
  margin-bottom: 0.825rem;
}

.fm-mgrt {
  margin-right: 0.825rem;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.75rem;
  max-width: 24.75rem;
  background-color: #e31616;
  color: white;
  padding: 0.66rem 1.21rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none !important;
}

.primary-button span {
  margin-right: 0.275rem;
}

.primary-button:hover {
  background-color: #bd0000;
  transition: 0.3s;
}

.primary-button:hover span {
  animation: 1200ms ease 0s normal none 1 running shake;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
.btn {
  padding-top: calc(var(--size) * 15);
}

.smalltext {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.385rem;
  padding-bottom: 1.1rem;
}

/*=======END FOOTER==========*/
/*=====UMBRACO GRID=====*/
.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  -moz-column-gap: var(--umb-block-grid--column-gap, 0);
       column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
  background-color: transparent !important;
}

.umb-block-grid__layout-item {
  position: relative;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 6, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
  background-color: transparent !important;
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(50px, min-content);
  -moz-column-gap: var(--umb-block-grid--areas-column-gap, 0);
       column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
  background-color: transparent !important;
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 6, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
  background-color: transparent !important;
}

@media (min-width: 665px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span var(--umb-block-grid--area-column-span, 1);
  }
}
/**** Custom additions to the default Grid Layout Stylehseet: ****/
/* additional CSS options for area-container and areas: */
.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  max-width: var(--my-container-max-width);
  padding: var(--my-container-padding);
  margin-left: auto;
  margin-right: auto;
  --umb-block-grid--areas-column-gap: 1em;
  --umb-block-grid--areas-row-gap: 1em;
  background-color: transparent !important;
}

.umb-block-grid__area {
  justify-content: center;
}

.umb-block-grid__layout-item[data-content-element-type-alias=oneColumnSectionBlock] .umb-block-grid__layout-container {
  --umb-block-grid--column-gap: 1em;
  --umb-block-grid--row-gap: 1em;
}

.umb-block-grid {
  container-type: inline-size;
  --my-container-max-width: 90vw;
  --my-container-padding: 0;
}

@container (min-width: 720px) {
  .umb-block-grid__layout-container {
    --my-container-padding: 0;
  }
}
section {
  padding: 3em 0 !important;
}

section[bright-contrast] {
  color: white;
}

.pdtop {
  padding-top: 12em !important;
}

@media (max-width: 665px) {
  section {
    padding: 1.5em 0 !important;
  }
  .pdtop {
    padding-top: 2em !important;
    background-image: none !important;
  }
}
/** only works on website. */
.umb-block-grid__layout-item:has(section[nobackgroundcolor]) + .umb-block-grid__layout-item section[nobackgroundcolor] {
  padding-top: 0;
}

/*=====END UMBRACO GRID=====*/
/*=======HEADER==========*/
.head {
  width: 100%;
  height: 100vh;
  max-height: 60vw;
  padding-top: 15vh;
}

.head:after {
  content: "";
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(to bottom, #010717, rgba(1, 7, 23, 0));
  opacity: 0.8;
}

.hd {
  position: absolute;
  left: 4%;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  max-height: 53vw;
}

.zag1 {
  font-size: 5vh;
  font-weight: 200;
  color: white;
}

.zag2 {
  font-size: 6.5vh;
  font-weight: 600;
  color: var(--red);
  padding-bottom: 10vh;
}

.zag3 {
  position: absolute;
  left: 0;
  bottom: 9.3vh;
  padding: 0 !important;
  width: 40vw;
}

.zag3 img {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bot {
  position: relative;
  width: 100%;
  height: 10vh;
  background: var(--gray);
}

.abt {
  position: absolute;
  right: calc(var(--size) * 50);
  bottom: calc(var(--size) * 60);
  width: calc(var(--size) * 420);
}

#windform {
  width: 100%;
  height: 0;
  background: var(--darkgray);
  display: none;
  padding: calc(var(--size) * 0) calc(var(--size) * 20);
  transition: height 1000ms;
}

#windform.activediv {
  height: auto;
}

.abs {
  font-weight: 300;
  position: relative;
  float: right;
  top: 0;
}

.dark {
  text-align: center;
}

#particles {
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
}

@media (max-width: 665px) {
  .head {
    background: #010717;
    background-image: none !important;
    height: 70vh;
    max-height: 100vh !important;
  }
  .head:after {
    height: 1px;
  }
  .hd {
    height: 70vh;
    max-height: 70vh;
  }
  .zag1 {
    font-size: 1.5rem !important;
    margin-top: 2rem !important;
  }
  .zag2 {
    font-size: 2em;
  }
  .zag3 {
    width: 100%;
  }
  .zag3 img {
    width: 100%;
  }
  .abt {
    width: 94%;
  }
  .abs {
    position: relative;
    left: 0;
    top: 2vh;
  }
}
@media (min-width: 665px) and (max-width: 1920px) {
  .head {
    padding-top: 5vw;
  }
  .bot {
    height: 7vw;
  }
  .zag1 {
    font-size: 1.5rem !important;
  }
  .zag3 {
    bottom: 6.8vw;
  }
  .zag2 {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}
/*---HEADER---*/
/*=====CARDS=====*/
/* Call to action */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background-color: #1c7fbe;
  color: white;
}

.call-to-action img {
  width: 1.5em;
  margin-right: 0.5em;
}

.call-to-action:hover {
  background-color: #00a3ff;
  color: white !important;
}

.bottom-but {
  position: absolute;
  left: -4em;
  bottom: -0.5em;
}

@media (max-width: 665px) {
  .bottom-but {
    left: 1em;
    bottom: 2em;
  }
}
/* end Call to action */
/* Card */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* end Card */
/* Div */
.flex-div {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 1px solid transparent;
  margin: 0 auto;
  background-color: transparent;
}

.flex-div .umb-block-grid__area-container {
  width: 100% !important;
  padding: 0;
}

.flex-div .umb-block-grid__area-container .umb-block-grid__area {
  width: 100% !important;
  padding: 0;
}

.g-l {
  justify-content: start;
}

.g-c {
  justify-content: center;
}

.g-r {
  justify-content: end;
}

.v-l {
  align-items: flex-start;
}

.v-c {
  align-items: center;
}

.v-r {
  align-items: flex-end;
}

.v-str {
  align-items: stretch;
}

@media (max-width: 665px) {
  .headerdiv {
    background: transparent !important;
    width: 100%;
    padding: 0;
  }
  .headerdiv::after {
    background: transparent;
    border: 2px solid transparent;
  }
  .nhd {
    padding: 0 1em !important;
  }
}
.divheight {
  min-height: 56vh !important;
  padding: 3em;
  width: 70%;
}

.divheight .umb-block-grid__area-container {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  /*border:1px solid yellow;*/
}

.divheight .umb-block-grid__area-container .umb-block-grid__area {
  width: 100% !important;
  height: 56vh !important;
  padding: 0;
  /*border:1px solid yellow;*/
}

.divheight .umb-block-grid__layout-container .umb-block-grid__layout-item {
  height: 28vh !important;
  padding: 0;
  /*border:1px solid yellow;*/
}

@media (max-width: 665px) {
  .divheight {
    padding: 0;
    width: 100%;
  }
  .divheight p {
    display: none;
  }
}
.div80 {
  width: 80%;
}

@media (max-width: 665px) {
  .div80 {
    width: 100%;
  }
  .umb-block-grid__layout-item:has(> .col-none) {
    display: none !important;
  }
}
/* end Div */
/* Image */
.image {
  max-width: 100%;
}

.image,
.im {
  background-color: transparent !important;
}

.im {
  display: flex;
  align-items: start;
  padding: 0 !important;
}

.im-auto {
  display: flex;
  /*width: 100%;*/
  height: auto;
  overflow: hidden;
  background-color: transparent !important;
}

.im-16-on-9 {
  display: flex;
  /*width: 100%;*/
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: transparent !important;
}

.im-4-on-3 {
  display: flex;
  /*width: 100%;*/
  aspect-ratio: 4/3;
  overflow: hidden;
  background-color: transparent !important;
}

.im-5-on-6 {
  display: flex;
  /* width: 100%;*/
  aspect-ratio: 5/6;
  overflow: hidden;
  background-color: transparent !important;
}

.im-2-on-2 {
  display: flex;
  /*width: 100%;*/
  aspect-ratio: 2/2;
  overflow: hidden;
  background-color: transparent !important;
}

.im-16-on-9 img,
.im-4-on-3 img,
.im-5-on-6 img,
.im-2-on-2 img {
  height: 100%;
  width: 100%;
}

.im-auto img {
  height: auto;
  width: 100%;
}

.Cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.Contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.center {
  margin: 0 auto;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

@media (max-width: 665px) {
  .image {
    display: block;
    margin: 0 auto !important;
  }
}
/* end Image */
/* Img Text*/
.img-txt {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1rem;
  font-weight: 400 !important;
  line-height: 1.5rem;
  padding: 0;
  color: #3d5059;
  background-color: transparent !important;
}

.Align-left {
  justify-content: flex-start;
  flex-direction: row !important;
}

.Align-right {
  justify-content: flex-end;
  flex-direction: row-reverse !important;
}

.Align-center {
  justify-content: center;
}

.Img-left,
.Img-right {
  flex-direction: row !important;
  align-items: stretch;
}

.Img-top,
.Img-bottom {
  align-items: center;
}

.Img-bottom {
  flex-direction: column-reverse !important;
}

.Img-right {
  flex-direction: row-reverse !important;
}

.Img-right .card-content p {
  text-align: right;
}

.Img-left .card-content,
.Img-right .card-content {
  justify-content: center;
}

.img-txt .card-media {
  position: relative;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.img-txt .card-media img {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.img-txt .card-content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.Align-left .card-content,
.Align-right .card-content {
  justify-content: center;
}

.img-txt .card-content p {
  margin: 0;
}

.img-txt .card-content p span.white {
  color: #ffffff !important;
}

.Img-top .card-content p,
.Img-bottom .card-content p,
.Img-top .card-content p,
.Img-bottom .card-content p {
  text-align: center;
}

.Img-top .card-content .ng-binding p {
  text-align: center;
}

/* end Img Text*/
/* Rich Text */
.rich-text {
  font-weight: 400;
}

.rich-text ul {
  padding: 0;
  margin: 0;
}

.rich-text > p:first-child {
  margin-top: 0;
  font-weight: 400 !important;
}

.rich-text > ul {
  list-style-position: inside;
}

li {
  margin-bottom: 1em !important;
}

@media (max-width: 665px) {
  .rich-text {
    text-align: left !important;
  }
}
/* end Rich Text */
/* Hr */
.separator {
  display: flex;
  height: 100%;
  align-items: center;
}

hr {
  width: 100%;
  padding: 0;
  margin: 0.5em 0;
  height: 0;
  border: none;
  border-bottom: 1px solid #3d5059;
}

/* end Hr */
/* Hero */
.hero {
  width: 100% !important;
  height: auto;
  padding: 0;
  position: relative;
  left: -5vw;
  top: -3em;
}

.hero video {
  width: 100vw;
  height: auto;
}

/* end Hero */
/*=====END CARDS====*/
/*========HEADER TABLET=========*/
/*@media (min-width: 481px) and (max-width: 665px) and (orientation: portrait) {
  .head {
    height: 70vw;
    max-height: 70vw;
    padding-top: calc(5vh);
  }

  .head:after {
    height: 1px;
  }

  .hd {
    height: 70vw;
  }

  .bot {
    height: 6vh;
  }

  .zag1 {
    font-size: 1.8rem;
    margin-top: 0 !important;
  }

  .zag2 {
    font-size: 2em;
  }

  .zag3 {
    bottom: 5.7vh;
  }

  .abs {
    width: 100% !important;
    white-space: nowrap;
  }

  .abt {
    width: 44%;
  }
}*/
/*---header T---*/
/*========ABOUT SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  .about .rich-text p {
    padding-left: 0;
  }
  .about .image {
    max-width: 20%;
    padding-right: 0;
  }
  .about .im-auto {
    width: 100% !important;
  }
}
/*========ADVANTAGES SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  .adv-wrap {
    width: 100%;
  }
  .advantages-grid {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2.2rem;
  }
  .advantages-grid-item {
    flex-direction: row;
    width: 100%;
    margin-bottom: 2.75rem;
  }
  .advantages-grid-item p {
    text-align: left;
    padding-left: 2.2rem;
  }
  .advantages-grid-item img {
    width: 45%;
  }
}
/*========SERVICES SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  .sv .img-txt {
    flex-direction: column !important;
    width: 100%;
    margin-bottom: 2rem;
  }
  .sv .img-txt p {
    text-align: center !important;
  }
  .sv .img-txt .card-media {
    width: 100% !important;
  }
  .sv .img-txt .card-media img {
    width: 70%;
    margin: 0 auto;
  }
}
/*========CLIENTS AND NEWS SMARTFONE=========*/
@media (max-width: 665px) {
  .clients__image .image {
    max-width: 60% !important;
  }
  .contnew {
    gap: 1rem;
  }
  .new50,
  .flexnew {
    width: 100%;
    margin-bottom: 2rem;
  }
  .title {
    font-size: 3rem;
  }
  .icon-ico-cuote {
    display: none;
  }
  .bnew {
    width: 100% !important;
  }
  .hdnews {
    flex-direction: column;
    gap: 1rem;
  }
}
/*---clients S---*/
/*========REVIEWS SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  .owl-carousel .owl-item {
    padding: 0 4.4rem;
  }
  .fonzag {
    padding-left: 12.1rem;
  }
  .owl-carousel .owl-item {
    height: 100%;
  }
  .wn-cont {
    padding: 2.75rem;
  }
}
/*========REVIEWS TABLET=========*/
@media (min-width: 481px) and (max-width: 665px) and (orientation: portrait) {
  .fonzag {
    padding-left: 7.15rem;
  }
}
/*---reviews T---*/
/*========FOOTER SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  .frm {
    width: 100%;
    margin-left: 0;
  }
  .frm form {
    width: 100%;
  }
  .footer p {
    font-size: 0.8em;
    padding-left: 0;
  }
  .footer .rich-text table {
    margin-left: 0;
    width: 100%;
  }
  .footer .rich-text p:first-child {
    font-size: 1rem !important;
  }
  .nhd {
    padding: 0 !important;
  }
  .td-ico {
    min-width: 2.2rem;
  }
  .redline {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .ft-bottom span {
    font-size: 0.9em;
  }
  .red {
    font-size: 0.9em !important;
  }
  .red img {
    width: 1em;
    margin-right: 0.2em;
  }
  .fm-mgbot {
    margin-bottom: 1.925rem;
  }
  .fm-mgrt {
    margin-right: 0;
  }
  .fm-flex {
    flex-direction: column;
  }
  .fm-item {
    width: 100%;
  }
  .primary-button {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  .primary-button span {
    margin-right: 0.5rem;
  }
}
/*========FOOTER TABLET=========*/
@media (min-width: 481px) and (max-width: 665px) and (orientation: portrait) {
  .fm-mgrt {
    margin-right: 0;
  }
  .fm-flex {
    flex-direction: column;
  }
  .fm-item {
    width: 100%;
  }
  .primary-button {
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    font-size: 1em;
  }
}
/*---footer T---*/
/*========BUTTON UP SMARTFONE=========*/
@media (max-width: 665px) and (orientation: portrait) {
  #button-up {
    width: 3rem;
    height: 3rem;
    right: 0;
    bottom: 0;
    padding: 0, 5rem;
    background: rgba(227, 22, 22, 0.5);
  }
  #button-up span {
    font-size: 2rem;
    height: 2rem;
  }
}
/*========BUTTON UP TABLET=========*/
@media (min-width: 481px) and (max-width: 665px) and (orientation: portrait) {
  #button-up {
    width: 5.5rem;
    height: 5.5rem;
    right: 0;
    bottom: 0;
    padding: 1.375rem;
    background: rgba(227, 22, 22, 0.5);
  }
  #button-up span {
    font-size: 2.75rem;
    height: 2.53rem;
  }
}
/*---button up T---*/
/**/
.column {
  -moz-column-count: 2;
       column-count: 2;
}

.column p {
  margin-top: 0;
}

.titleNew,
.date {
  margin-bottom: 2vw;
}

@media (max-width: 650px) {
  .newscontent {
    padding: 4vh;
  }
  .column {
    -moz-column-count: 1;
         column-count: 1;
  }
  .titleNew,
  .date {
    margin-bottom: 6vh;
  }
}
/*========WORKS=========*/
.work-grid-item {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(50% - 2rem);
  gap: 0.5rem;
  aspect-ratio: 16/9;
  border: 1px solid var(--darkgray);
  background-size: cover;
}

.work-mask {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 4;
  justify-content: left;
  align-items: flex-start;
  width: 30%;
  height: 100%;
  background: white;
  shape-outside: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
}

.work-mask img {
  padding-left: 15%;
  padding-top: 2vw;
  width: 70%;
  max-width: 70%;
  max-height: 5rem;
}

.txt-work {
  position: relative;
  padding-left: 30%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.txt-work h2 {
  position: absolute;
  z-index: 5;
  left: 33%;
  top: 1.925rem;
  font-size: 1.35rem;
  font-weight: 700;
}

.dot {
  margin-top: 15%;
  width: 95%;
  height: 70%;
  max-height: 70%;
  display: flex;
  align-items: center;
}

.dot img {
  max-height: 100%;
}

.txt-work a {
  position: absolute;
  left: 16%;
  bottom: 0;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.75rem;
  max-width: 70%;
  background-color: #e31616;
  color: white;
  padding: 0.66rem 1.21rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none !important;
}

.primary-button span {
  margin-right: 0.275rem;
}

.primary-button:hover {
  background-color: #bd0000;
  transition: 0.3s;
}

.primary-button:hover span {
  animation: 1200ms ease 0s normal none 1 running shake;
}

/*---WORKS---*/
/*========WORKS SMARTFONE=========*/
@media (min-width: 451px) and (max-width: 780px) {
  .txt-work h2 {
    top: 1.65rem;
    font-size: 1.5rem;
  }
  .work-grid-item {
    width: 100%;
  }
  .txt-work a {
    width: 84% !important;
  }
}
@media (max-width: 450px) {
  .txt-work h2 {
    top: 0.55rem;
    font-size: 1.2rem;
  }
  .work-grid-item {
    width: 100%;
  }
  .txt-work a {
    width: 84% !important;
  }
}
@media (max-width: 1023px) and (orientation: landscape) {
  .txt-work h2 {
    top: 0.825rem;
    font-size: 1.2rem;
  }
  .txt-work a {
    width: 84% !important;
  }
}
/*---works S---*/
/*========WORKS TABLET=========*/
@media (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
  .txt-work a {
    width: 84% !important;
  }
}
/*---works T---*/
.small-text {
  padding-top: 1rem;
  font-size: 0.8rem;
}

.link {
  color: #e31616;
}

.link:hover {
  color: #bd0000;
}

.grecaptcha-badge {
  display: none;
}