:root {
    --size: calc((100vw / 100vh)*1);
    --font: calc((100vw / 1680)*18);
    --mg-rt: calc((100vw / 1680)*5);
    --gray: #DDDDDD;
    --lightgray: #EDEDED;
    --middlegray: #717681;
    --darkgray: #262930;
    --red: #E31616;
    --redhover: #BD0000;
}

  
/*--------------------------------------------------------------
# Lightbox2
--------------------------------------------------------------*/
.lightbox2 {
    display: none;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    outline: none;
    flex-direction: column;
    position: fixed;
    position: fixed;
    overflow: hidden;
    z-index: 300;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.lightbox2 .wind {
  padding: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; 
  background: white;
}

.lightbox_active {
  display: flex;
}

.lightbox2 .back {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 5;
  }

.primarynew {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3vw;
    height: 3vw;
    padding: calc((3vw - calc(var(--size)*27))/2) 0;
    color: white !important;
    background-color: var(--red);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.primarynew:hover {
    background-color: var(--redhover);
}
.primarynew span{
    padding: 0; 
    font-size: calc(var(--size)*27);
    height: calc(var(--size)*25);
}
/*---for tablet and smartfone---*/
@media (max-width: 1023px) {
    .primarynew {
        width: 2em;
        height: 2em;
        padding: calc((2em - 1em)/2) 0;
    }

    .primarynew span{
    padding: 0; 
    font-size: 1em;
    height: 1em;
    }

    .lightbox2 .wind {
        margin: inherit;
        width: 100%;
    }
}
/*---end for tablet and smartfone---*/
/*--------------------------------------------------------------
# End Lightbox2
--------------------------------------------------------------*/