<?xml version="1.0" encoding="utf-8"?>
<Macro Key="da5a8277-415d-4abc-b484-2417a783e56d" Alias="NewsMacro" Level="0">
  <Name>NewsMacros</Name>
  <MacroSource>~/Views/MacroPartials/NewsMacros.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>