@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models
@using TestUmbraco.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>

@{
    var content = Model.Content;
    var settings = Model.Settings;
    
    // Проверяем, нужно ли применять фон к родителю
    var applyBackgroundToParent = ViewData["ApplyBackgroundToParent"] as bool? ?? false;
    
    // Получаем значение свойства "Class"
    var customClass = content.Value<string>("Class");
    
    // Извлекаем класс анимации из строки вида "bounce (Привлекающие внимание)"
    if (!string.IsNullOrWhiteSpace(customClass) && customClass.Contains("("))
    {
        var animateClass = customClass.Split('(')[0].Trim();
        customClass = animateClass;
    }
    
    // Получаем видео-контент (ID видео Vimeo)
    var videoContent = content.Value<string>("videoContent");
}

@if (!string.IsNullOrWhiteSpace(videoContent))
{
    @if (applyBackgroundToParent)
    {
        @* Фон применяется к родительскому элементу, рендерим только контент без обертки *@
        <div class="video-container video-component">
            <div class="video-embed">
                <div class="video-embed-wrapper">
                    <iframe src="https://player.vimeo.com/video/@videoContent" 
                            frameborder="0" 
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen
                            loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    }
    else
    {
        @* Обычный рендеринг с фоном *@
        // Создаем функцию для контента с видео
        Func<object, Microsoft.AspNetCore.Html.IHtmlContent>? contentFunc = 
            @<text>
                <div class="video-container">
                    <div class="video-embed">
                        <div class="video-embed-wrapper">
                            <iframe src="https://player.vimeo.com/video/@videoContent" 
                                    frameborder="0" 
                                    allow="autoplay; fullscreen; picture-in-picture" 
                                    allowfullscreen
                                    loading="lazy">
                            </iframe>
                        </div>
                    </div>
                </div>
            </text>;

        // Создаем модель для BackgroundClasses
        var backgroundModel = new BackgroundClassesModel
        {
            Settings = settings,
            ComponentId = content.Key,
            Prefix = "video-bg",
            BaseClass = customClass ?? "",
            AdditionalClasses = "video-component",
            Tag = "div",
            ContainerClass = "video-wrapper",
            Content = contentFunc
        };

        // Рендерим через универсальный компонент
        <partial name="_BackgroundClasses" model="backgroundModel" />
    }
}