
<style>

    button {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: left;
        padding: 0;
        user-select: none;
        border: none;
    }

</style>

<button class="img-txt"
        ng-class="{'Img-top': block.data.locationImage[0] === 'Сверху', 'Img-bottom': block.data.locationImage[0] === 'Снизу', 'Img-left': block.data.locationImage[0] === 'Слева', 'Img-right': block.data.locationImage[0] === 'Справа'}"
		ng-style="{'gap': (block.data.edFoto === '%') ? '{{block.data.sizeFoto * 0.015}}em' : '{{block.data.sizeFoto / 5}}em'}"
        type="button"
        ng-click="block.edit()"
        ng-focus="block.focus">

    {{mediaItem = (block.data.image[0].mediaKey | mediaItemResolver); ""}}

    <div class="card-media" ng-style="{'width': '{{block.data.sizeFoto+block.data.edFoto}}!important', 'max-width': '{{block.data.sizeFoto+block.data.edFoto}}!important', 'min-width': '{{block.data.sizeFoto+block.data.edFoto}}!important', 'height': 'auto!important'}" >        
        <img draggable="false" ng-if="mediaItem !== null" ng-src="{{mediaItem.mediaLink}}" alt="{{mediaItem.name}}" />
    </div>
    <div class="card-content" ng-app="umbraco" ng-controller="imgTxtController" style="width: 100%;">
        <div ng-bind-html="myHTML"></div>
    </div>

</button>