@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridModel>

@foreach (var item in Model)
{
    if (item.Content.ContentType.Alias == "gridSection")
    {
        // Просто рендерим gridSection, он сам добадит свою разметку
        @await Html.PartialAsync("blockgrid/Components/gridSection", item)
    }
    else
    {
        // Для обычных блоков - только row с колонкой
        <div class="row">
            <div class="col-@item.ColumnSpan">
                @await Html.PartialAsync($"blockgrid/Components/{item.Content.ContentType.Alias}", item)
            </div>
        </div>
    }
}