@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridModel>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        if (item.Content.ContentType.Alias == "gridSection")
        {
            @* Grid Section рендерится напрямую *@
            @await Html.PartialAsync("blockgrid/Components/gridSection", item)
        }
        else
        {
            @* Обычные блоки оборачиваем в container и row *@
            <div class="container">
                <div class="row">
                    <div class="col-@item.ColumnSpan">
                        @await Html.PartialAsync($"blockgrid/Components/{item.Content.ContentType.Alias}", item)
                    </div>
                </div>
            </div>
        }
    }
}