@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridModel>

@foreach (var item in Model)
{
    if (item.Content.ContentType.Alias == "gridSection")
    {
        // Grid Section без дополнительных оберток
        @await Html.PartialAsync("blockgrid/Components/gridSection", item)
    }
    else
    {
        // Обычные блоки в отдельном row
        <div class="row">
            <div class="col-@item.ColumnSpan">
                @await Html.PartialAsync($"blockgrid/Components/{item.Content.ContentType.Alias}", item)
            </div>
        </div>
    }
}