@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridModel>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var alias = item.Content.ContentType.Alias;
        
        @* Полноширинные компоненты (gridSection, hero) рендерятся напрямую без оберток Bootstrap grid *@
        if (alias == "gridSection" || alias == "hero")
        {
            @await Html.PartialAsync($"blockgrid/Components/{alias}", item)
        }
        else
        {
            @* Обычные блоки оборачиваем в container и row *@
            <div class="container">
                <div class="row">
                    <div class="col-@item.ColumnSpan">
                        @await Html.PartialAsync($"blockgrid/Components/{alias}", item)
                    </div>
                </div>
            </div>
        }
    }
}