:root {
	--sizew: 0.05vw;
	--sizeh: 1vh;
	--size: calc((100vw / 100vh)*1);
	--font: calc(100vw / 75);
	--white: #ffffff;
	--black: #000000;
	--gray: #DDDDDD;
	--lightgray: #EDEDED;
	--middlegray: #717681;
	--darkgray: #262930;
	--red: #E31616;
	--redhover: #BD0000;
}

/*=======ALL==========*/
html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	max-width: 100%;
}

body {
	overflow-y: scroll;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*, a:focus {
	outline: none !important;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 90%;
}

.flex {
	display: flex;
}

.wall {
	width: 100%;
}

.mgbot {
	padding: calc(var(--sizew)*80) 0;
}

/*---ALL---*/

/*=======SCROLLBAR==========*/
::-webkit-scrollbar-button {
	background-image: url("");
	background-repeat: no-repeat;
	width: 1px;
	height: 0px;
}

::-webkit-scrollbar-track {
	background-color: var(--gray);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--darkgray);
	background-image: url("https://yraaa.ru/_pu/24/59610063.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	border: 0.5px solid #fff;
}

::-webkit-resizer {
	background-image: url("");
	background-repeat: no-repeat;
	width: 4px;
	height: 0px;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #fff;
	border-radius: 3px;
}
/*---for tablet and smartfone---*/
@media (max-width: 1023px) {
	::-webkit-scrollbar {
		width: 0 !important;
	}
}
/*---end for tablet and smartfone---*/
/*---SCROLLBAR---*/

/*=======TYPOGRAPHY==========*/
h1 {
	font-size: calc(var(--sizew)*60);
	font-weight: 100;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: calc(var(--sizew)*25);
	font-weight: 100;
}

h3 {
	font-size: calc(var(--sizew)*23);
	font-weight: 300;
	text-transform: uppercase;
	padding-left: calc(var(--sizew)*30);
}

p, li {
	font-size: calc(var(--sizew)*25);
	font-weight: 300;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: calc(var(--sizew)*30) 8%;
	list-style: none;
}

li::before {
	content: '';
	display: inline-block;
	height: calc(var(--sizew)*30);
	width: calc(var(--sizew)*30);
	background: url("../img/bul.svg") left center no-repeat;
	padding-right: calc(var(--sizew)*7);
}

.material-icons.md-22 {
	font-size: calc(var(--sizew)*20);
	margin-right: calc((100vw / 1680)*5);
}

.material-icons.md-42 {
	font-size: calc(var(--sizew)*25);
}

/*---TYPOGRAPHY---*/

/*========HEAD=========*/
.fon {
	width: 100%;
	height: auto;
	background: url(../img/fon_top.jpg);
	background-size: cover;
}

.headleft {
	width: 60%;
}

.mac {
	position: relative;
	width: 74%;
	top: calc(var(--sizew)*100);
}

.macbook {
	width: 42%;
	position: absolute;
	left: calc(var(--sizew)*500);
	top: calc(var(--sizew)*450);
}

.headright {
	width: 40%;
	padding: calc(var(--sizew)*90) 0;
}

.loghead {
	width: 72%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logtext {
	padding-top: calc(var(--sizew)*9);
	margin: 0;
	text-align: center;
	color: #fff;
}

.headicon {
	width: 100%;
	padding-top: calc(var(--sizew)*81);
	padding-left: calc(var(--sizew)*186);
}

.iconwrap {
	height: calc(var(--sizew)*120);
	display: flex;
	align-items: center;
	padding-bottom: calc(var(--sizew)*30);
}

.iconwrap img {
	height: 100%;
}

.iconwrap p {
	color: #fff;
	padding-left: calc(var(--sizew)*15);
}

.p1 {
	padding-left: calc(var(--sizew)*90);
}

.p2 {
	padding-left: calc(var(--sizew)*180);
}

/*---HEAD---*/

/*========CONT1=========*/
.cont1 {
	background: url("../img/fon2.jpg") center top;
	background-size: cover;
}

.c1top {
	position: relative;
	margin: 0 auto;
	width: 60%;
	padding-top: calc(var(--sizew)*62);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.c1logo {
	width: calc(var(--sizew)*173);
	display: block;
	margin: 0 auto;
}

.c1top p, .c1top h1 {
	text-align: center;
}

.c1top p {
	margin-bottom: calc(var(--sizew)*90);
	margin-top: calc(var(--sizew)*30);
}

.c1bot {
	display: flex;
	width: 75%;
	margin: 0 auto;
	padding-top: calc(var(--sizew)*116);
}

.c1bot .left, .c1bot .right {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.c1bot .left img, .c1bot .right img {
	width: calc(var(--sizew)*380);
	display: block;
	margin: 0 auto;
}

.c1bot .left p, .c1bot .right p {
	text-align: center;
	text-transform: uppercase;
}

/*---CONT1---*/

/*========CONT2=========*/
.cont2 h1 {
	text-align: center;
	padding-bottom: calc(var(--sizew)*50);
}

.cont2 .flexitem {
	width: 25%;
	padding-bottom: calc(var(--sizew)*50);
}

.cont2 .flexitem img {
	width: calc(var(--sizew)*350);
	display: block;
	margin: 0 auto;
}

.cont2 .flexitem h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	padding-top: calc(var(--sizew)*20)
}

.cont2 .flexitem li {
	text-align: center;
}

/*---CONT2---*/

/*========CONT3=========*/
.cont3 {
	background: url("../img/fon6.jpg");
	background-size: cover;
}

.cont3 img {
	width: 50%;
}

.cont3 .left {
	display: flex;
	align-items: center;
	padding-right: 5%;
}

/*---CONT3---*/

/*========CONT4=========*/
.cont4 h1 {
	text-align: center;
	width: 50%;
	display: block;
	margin: 0 auto;
}

.cont4 .grid {
	display: flex;
	flex-wrap: wrap;
	padding: calc(var(--sizew)*70) 0;
}

.cont4 .griditem {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	padding: calc(var(--sizew)*50);
}

.cont4 .left img {
	width: calc(var(--sizew)*185);
	display: block;
	margin: 0 auto;
}

.cont4 .left h3 {
	text-align: center;
	font-weight: 500;
	padding: 0;
}

.linone::before {
	background: none;
	margin-left: -8% !important;
}

.cont4 .left, .cont4 .right {
	display: flex;
	align-items: center;
}

.lightgray {
	background: #F5F6F8;
}

.cont4 .left, .cont4 .right {
	justify-content: center;
}


/*---CONT4---*/

/*========CONT5=========*/
.cont5 {
	background: linear-gradient(to bottom, #CADAE3, #fff);
}

.cont5 h1 {
	text-align: center;
	width: 60%;
	display: block;
	margin: 0 auto;
}

.cont5 img {
	width: 100%;
	margin-top: calc(var(--sizew)*50);
}

/*---CONT5---*/

/*========CONT6=========*/
.cont6 h1 {
	text-align: center;
	width: 60%;
	display: block;
	margin: 0 auto;
}

.ct6grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-top: calc(var(--sizew)*50);
}

.ct6griditem {
	width: 24%;
	margin: 0.5%;
	background: #F5F6F8;
	padding: calc(var(--sizew)*50) calc(var(--sizew)*30);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ct6griditem img {
	height: auto;
	max-width: 100%;
	max-height: calc(var(--sizew)*150);
}

/*---CONT6---*/