<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3f77e71-396d-4f49-b264-b1eacd63cbca" Alias="Background colors" Level="3">
  <Info>
    <Name>Background colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid/Section+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 9,
      "value": "{\"value\":\"dddddd\",\"label\":\"dddddd\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"e5e7eb\",\"label\":\"e5e7eb\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"717681\",\"label\":\"717681\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"262930\",\"label\":\"262930\"}"
    },
    {
      "id": 13,
      "value": "{\"value\":\"dbf1ff\",\"label\":\"dbf1ff\"}"
    },
    {
      "id": 14,
      "value": "{\"value\":\"f7f6f9\",\"label\":\"f7f6f9\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>