<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad3229fb-4bd9-48cb-8b94-948c9dd91a8f" Alias="Div - Vertical align - Dropdown" Level="3">
  <Info>
    <Name>Div - Vertical align - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid/Div</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "По верхнему краю"
    },
    {
      "id": 2,
      "value": "По центру"
    },
    {
      "id": 3,
      "value": "По нижнему краю"
    },
    {
      "id": 4,
      "value": "По высоте"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>