<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf90efe9-02ba-4ecd-8321-b0edc8b9d99b" Alias="Image - crop - Dropdown" Level="2">
  <Info>
    <Name>Image - crop - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Авто"
    },
    {
      "id": 2,
      "value": "16:9"
    },
    {
      "id": 3,
      "value": "4:3"
    },
    {
      "id": 4,
      "value": "5:6"
    },
    {
      "id": 5,
      "value": "2:2"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>