@using Umbraco.Cms.Web.Common.PublishedModels;
 @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 @using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
 
 @*
     Компонент навигационного меню для Umbraco
     
     Основной функционал:
     - Отображение логотипа
     - Адаптивное мобильное меню (бургер)
     - Автоматическая генерация пунктов меню из контента Umbraco
     - Подсветка активного пункта меню
 *@
 
 @{
     // Получаем медиа-файл логотипа по GUID
     var Logo = Umbraco.Media(Guid.Parse("{20242231-ef79-46db-b929-998267ef4799}"));
 
     <!--======MENU======-->
     <div class="menu">
         <div class="navbar">
             @* Скрытие логотип для мобильной версии *@
             <a href="/" class="brand">
             </a>
             
             @* Кнопка бургер-меню для мобильных устройств *@
             <a id="touch-menu" class="mobile-menu">
                 <span></span>
                 <span></span>
                 <span></span>
                 <span></span>
             </a>
             
             @* Основное навигационное меню *@
             <nav class="nav">
                 @* Логотип в навигации *@
                 <a href="/" class="brandnav">
                 </a>
 
                 @{
                     // Получаем видимые дочерние элементы корня сайта
                     var selection = Umbraco.ContentAtRoot().FirstOrDefault()
                     .Children()
                     .Where(x => x.IsVisible());
 
                     // Определяем класс активности для главной страницы
                     var activeClassHome = (Model.Name == "Главная") ? "active" : string.Empty;
                 }
                 
                 @* Список пунктов меню *@
                 <ul class="navigation">
                     @* Пункт меню "Главная" *@
                     <li>
                         <a href="/" class=@activeClassHome>Главная</a>
                     </li>
                     
                     @* Генерация пунктов меню из контента *@
                     @foreach (var item in selection)
                     {
                         // Определяем класс активности для текущего пункта
                         var activeClass = (Model.Name == item.Name) || (Model.Parent?.Name == item.Name) ? "active" : string.Empty;
 
                         <li>
                             <a href="@item.Url()" class=@activeClass>@item.Name()</a>
                         </li>
                     }
                 </ul>
 
             </nav>
         </div>
     </div>
     <!--======END MENU======-->
 }
