<?xml version="1.0" encoding="utf-8"?>
<Media Key="d27663d5-a078-4fbb-ad68-eda42c658808" Alias="000" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-14T17:49:02</CreateDate>
    <NodeName Default="000" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0nrhnuty/000.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>