<?xml version="1.0" encoding="utf-8"?>
<Media Key="9410c5fd-84e0-4bac-ae53-9b9772909388" Alias="320" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-17T18:58:21</CreateDate>
    <NodeName Default="320" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>