<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7" Alias="650" Level="3">
  <Info>
    <Parent Key="5c4c18da-5095-4312-b72e-56661e5baba3">MaxMob</Parent>
    <Path>/Sites/MaxMob/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-15T19:05:51</CreateDate>
    <NodeName Default="650" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>