<?xml version="1.0" encoding="utf-8"?>
<Media Key="af2958b8-6538-474d-93a1-da0251e1d932" Alias="Im1" Level="2">
  <Info>
    <Parent Key="41b1437f-156d-4e8a-8c8a-c8efb0ca407d">Services</Parent>
    <Path>/Services/Im1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T08:43:56</CreateDate>
    <NodeName Default="Im1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rfmctlzy/im1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>