<?xml version="1.0" encoding="utf-8"?>
<Media Key="352a81ba-ba71-47c1-a866-7ed258d5cd46" Alias="Lg 2" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Lg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T12:15:21</CreateDate>
    <NodeName Default="Lg 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/roadunlr/lg-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>