<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab4d6c7f-655b-4709-9a8e-a326f77585cc" Alias="Lg 5" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Lg5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T11:23:17</CreateDate>
    <NodeName Default="Lg 5" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzwe1k01/lg-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>