<?xml version="1.0" encoding="utf-8"?>
<Media Key="819acbb1-4f26-4482-a46b-2bd0d053927e" Alias="Location" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Location</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-27T06:22:36</CreateDate>
    <NodeName Default="Location" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qdfjvajg/location.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>