<?xml version="1.0" encoding="utf-8"?>
<Media Key="248cd74a-ed8f-4b7d-bebb-7e32fed95d70" Alias="Logistor 2 320" Level="4">
  <Info>
    <Parent Key="8d7f5bcb-820c-45ce-a0c6-280efeabaa3c">320</Parent>
    <Path>/Sites/Logistor//Logistor2320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T12:12:40</CreateDate>
    <NodeName Default="Logistor 2 320" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ppljyjep/logistor-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>