<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d3de3d1-bc77-4107-8a2e-ff57d42de0e5" Alias="Logistor 2 1024" Level="4">
  <Info>
    <Parent Key="eb167e7d-b407-4377-9bf4-c9085c12076f">1024</Parent>
    <Path>/Sites/Logistor//Logistor21024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T12:09:02</CreateDate>
    <NodeName Default="Logistor 2 1024" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2drd1hlx/logistor-2-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>