<?xml version="1.0" encoding="utf-8"?>
<Media Key="c521c417-6ba6-409e-bc09-af67cc16c015" Alias="Logistor" Level="2">
  <Info>
    <Parent Key="c258ff76-69aa-4347-970a-35083c42ab8f">Sites</Parent>
    <Path>/Sites/Logistor</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-13T13:43:49</CreateDate>
    <NodeName Default="Logistor" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>