<?xml version="1.0" encoding="utf-8"?>
<Media Key="26d6c48e-03a2-4eaa-89f6-a748cd880d73" Alias="Logo Efko" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoEfko</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T08:33:18</CreateDate>
    <NodeName Default="Logo Efko" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5cnmjvc/logo_efko.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>