<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6284b68-2a62-4049-a7ec-27f2acfaacd6" Alias="Logo Betta (1)" Level="2">
  <Info>
    <Parent Key="7895e320-462f-4f96-ac1a-16b68561766c">Clients</Parent>
    <Path>/Clients/LogoBetta1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-16T08:41:16</CreateDate>
    <NodeName Default="Logo Betta (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lffdrztc/logo_betta.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>