<?xml version="1.0" encoding="utf-8"?>
<Media Key="962d597f-e313-466f-b1e3-1851d9c64a74" Alias="Max Mob 1 650" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob1650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T19:44:44</CreateDate>
    <NodeName Default="Max Mob 1 650" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzmd1fqt/max_mob-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>