<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbf88eae-8afd-4257-acd2-3d3df47eeaf9" Alias="Max 2 1024" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max21024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:44:25</CreateDate>
    <NodeName Default="Max 2 1024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vchprw53/max-2-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>