<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad2bfe20-e165-40c5-b97b-3a30ac6d80ed" Alias="Max Mob 6 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob6320</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:19:05</CreateDate>
    <NodeName Default="Max Mob 6 320" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e15cxllf/max_mob-6-320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>