<?xml version="1.0" encoding="utf-8"?>
<Media Key="706fba1f-eb5e-40dd-b137-ca9b8e19f2b6" Alias="Max 3 1024 (1)" Level="4">
  <Info>
    <Parent Key="a3f6829e-9077-4f15-8257-97635f197d74">1024</Parent>
    <Path>/Sites/Maxcont//Max310241</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:44:26</CreateDate>
    <NodeName Default="Max 3 1024 (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dg3g42c4/max-3-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>