<?xml version="1.0" encoding="utf-8"?>
<Media Key="1df0898b-c66c-4b96-b8cb-fb180583ce79" Alias="Max Mob 3 320" Level="4">
  <Info>
    <Parent Key="12dc40dd-be38-4624-b25c-eb75e207909e">320</Parent>
    <Path>/Sites/MaxMob//MaxMob3320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T19:44:45</CreateDate>
    <NodeName Default="Max Mob 3 320" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xkepahlm/max_mob-3-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>