<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a53d4dd-e462-452c-abd7-6ee1c296fb85" Alias="Max Mob 4 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob4650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:20:52</CreateDate>
    <NodeName Default="Max Mob 4 650" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1pkfg0tc/max_mob-4-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>