<?xml version="1.0" encoding="utf-8"?>
<Media Key="665cabe5-87b8-4009-8db2-161a84039143" Alias="Max 5" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:46:28</CreateDate>
    <NodeName Default="Max 5" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ovfyzvy/max-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>