<?xml version="1.0" encoding="utf-8"?>
<Media Key="c97aa770-d7d4-4511-b1a8-3e2f9cd87eeb" Alias="Max Mob 7 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob71024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:23:38</CreateDate>
    <NodeName Default="Max Mob 7 1024" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o0thvsou/max_mob-7-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>