<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c85cd1c-37c8-4a75-bb82-985734282e13" Alias="Max 3 650 (1)" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max36501</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:27:56</CreateDate>
    <NodeName Default="Max 3 650 (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxgjkdgi/max-3-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>