<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b072d88-c824-4bd3-ac1b-ec2142fce6fa" Alias="Max Mob 4 1024" Level="4">
  <Info>
    <Parent Key="313aa966-0290-4411-9f15-85736e194e7c">1024</Parent>
    <Path>/Sites/MaxMob//MaxMob41024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:23:39</CreateDate>
    <NodeName Default="Max Mob 4 1024" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rywbocze/max_mob-4-1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>