<?xml version="1.0" encoding="utf-8"?>
<Media Key="f718fc96-356a-45a4-9a38-df86c6f73446" Alias="Max 6 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max6650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-02T11:42:56</CreateDate>
    <NodeName Default="Max 6 650" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sd4br31k/max-6-650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>