<?xml version="1.0" encoding="utf-8"?>
<Media Key="6587dffa-15bc-46f8-ba4b-636800d50ac4" Alias="Max 2" Level="3">
  <Info>
    <Parent Key="e42d95d3-3786-4455-8ca0-b407692a306e">Maxcont</Parent>
    <Path>/Sites/Maxcont/Max2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-14T19:24:34</CreateDate>
    <NodeName Default="Max 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zppjozn2/max-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>