<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4fd36d0-7f8d-4b6d-995e-e2c7c631361a" Alias="Max Mob 3" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T19:05:58</CreateDate>
    <NodeName Default="Max Mob 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2e1p1zen/max_mob-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>