<?xml version="1.0" encoding="utf-8"?>
<Media Key="c02c94d1-5804-43af-9a77-5b9e0124e8e6" Alias="Max 4 650" Level="4">
  <Info>
    <Parent Key="e28ec99d-345d-4e7f-9c90-bf0c54a1db54">650</Parent>
    <Path>/Sites/Maxcont//Max4650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T08:27:56</CreateDate>
    <NodeName Default="Max 4 650" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ckczqae/max-4-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>