<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1e37471-bf6e-41f8-bdf6-ca18155e92ff" Alias="Max Mob 1 650" Level="4">
  <Info>
    <Parent Key="cb22480e-0a48-4bf3-9a7a-393aeb6effc7">650</Parent>
    <Path>/Sites/MaxMob//MaxMob1650</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-15T19:05:57</CreateDate>
    <NodeName Default="Max Mob 1 650" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ib0ohilo/max_mob-1-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>