<?xml version="1.0" encoding="utf-8"?>
<Media Key="d27ee3f7-d510-428b-88e2-f9d7b76ed4f1" Alias="Maxapta 4 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta410241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:35:45</CreateDate>
    <NodeName Default="Maxapta 4 1024 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1rh3uqq/maxapta-4-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>