<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6707372-d55e-4b4f-b94a-eef770469a6f" Alias="Maxapta 5 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta510241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:35:46</CreateDate>
    <NodeName Default="Maxapta 5 1024 (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/inzhbjs4/maxapta-5-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>