<?xml version="1.0" encoding="utf-8"?>
<Media Key="9586a0d9-2b75-4a65-a1d9-430701f2b4f4" Alias="Maxapta 4 320 (1)" Level="4">
  <Info>
    <Parent Key="9410c5fd-84e0-4bac-ae53-9b9772909388">320</Parent>
    <Path>/Sites/maxapta//Maxapta43201</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:38:23</CreateDate>
    <NodeName Default="Maxapta 4 320 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3cqinflv/maxapta-4-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>