<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f94d90b-615d-472c-97f1-152652ecfa1a" Alias="Maxapta 3 1024 (1)" Level="4">
  <Info>
    <Parent Key="fda32e78-f355-48af-a7c7-6282b834db5d">1024</Parent>
    <Path>/Sites/maxapta//Maxapta310241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:35:47</CreateDate>
    <NodeName Default="Maxapta 3 1024 (1)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hlmjit03/maxapta-3-1024.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>