<?xml version="1.0" encoding="utf-8"?>
<Media Key="733c301e-a078-4896-b18d-1cf0482236aa" Alias="Maxapta 3 (1)" Level="3">
  <Info>
    <Parent Key="b82d5a18-e8fa-41b7-8feb-199aa86c2970">maxapta</Parent>
    <Path>/Sites/maxapta/Maxapta31</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:32:12</CreateDate>
    <NodeName Default="Maxapta 3 (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f2ydy21y/maxapta-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>