<?xml version="1.0" encoding="utf-8"?>
<Media Key="aff4a611-fd1d-41d5-a8a8-dde655328a7d" Alias="Maxapta 2 320" Level="4">
  <Info>
    <Parent Key="9410c5fd-84e0-4bac-ae53-9b9772909388">320</Parent>
    <Path>/Sites/maxapta//Maxapta2320</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-17T18:58:57</CreateDate>
    <NodeName Default="Maxapta 2 320" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ectpjly3/maxapta-2-320.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>