<?xml version="1.0" encoding="utf-8"?>
<Media Key="a64037de-1032-4175-8928-c8de74269ee8" Alias="Maxapta 4 650 (1)" Level="4">
  <Info>
    <Parent Key="cc93c333-062e-47c5-8d35-e86b1be881f6">650</Parent>
    <Path>/Sites/maxapta//Maxapta46501</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-03-18T10:38:09</CreateDate>
    <NodeName Default="Maxapta 4 650 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/321fbjrs/maxapta-4-650.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>