<?xml version="1.0" encoding="utf-8"?>
<Media Key="e42d95d3-3786-4455-8ca0-b407692a306e" Alias="Maxcont" Level="2">
  <Info>
    <Parent Key="c258ff76-69aa-4347-970a-35083c42ab8f">Sites</Parent>
    <Path>/Sites/Maxcont</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-14T19:00:19</CreateDate>
    <NodeName Default="Maxcont" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>