<?xml version="1.0" encoding="utf-8"?>
<Media Key="a64d7a72-a028-4c80-8bb9-dc3a230b7ad7" Alias="Maxcontcover" Level="2">
  <Info>
    <Parent Key="165ad7bd-b33b-4c87-bf77-05ed6be612bb">Works</Parent>
    <Path>/Works/Maxcontcover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-27T11:22:57</CreateDate>
    <NodeName Default="Maxcontcover" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/or3e1jri/maxcontcover.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>