<?xml version="1.0" encoding="utf-8"?>
<Media Key="5150af74-2fd1-4388-a9a0-767d704831e4" Alias="Лоты На Вагонмастере" Level="2">
  <Info>
    <Parent Key="74bd3dd0-a7d3-4ccc-a915-951ab77a6aa8">News</Parent>
    <Path>/News/LotyNaVagonmastere</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-10T16:18:02</CreateDate>
    <NodeName Default="Лоты На Вагонмастере" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/okxfauor/\u043B\u043E\u0442\u044B-\u043D\u0430-\u0432\u0430\u0433\u043E\u043D\u043C\u0430\u0441\u0442\u0435\u0440\u0435.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>