@using Umbraco.Cms.Core
@using TestUmbraco.Controllers
@using Umbraco.Cms.Web.Common
@model TestUmbraco.Domain.Models.EmailRequestItem

<div class="frm">
   
    @using (Html.BeginUmbracoForm<EmailController>(nameof(EmailController.SendEmailRequest)))
        {
            <div class="fm-mgbot">
                <input id="name" asp-for="Name" placeholder="ФИО*" class="fm">
                <span id="redname" class="red"><img src="~/img/icon-warning.svg" class="warn" />Необходимо ввести ФИО</span>
            </div>
            <div class="fm-flex">
                <div class="fm-item fm-mgbot fm-mgrt">
                    <input id="mob" asp-for="Phone" placeholder="Телефон*" class="fm">
                    <span id="redmob" class="red"><img src="~/img/icon-warning.svg" class="warn" />Необходимо ввести телефон</span>
                </div>
                <div class="fm-item fm-mgbot">
                    <input id="ml" asp-for="Email" placeholder="E-mail*" class="fm">
                    <span id="redml" class="red"><img src="~/img/icon-warning.svg" class="warn" />Некорректный адрес почты!</span>
                </div>
            </div>
            <div class="fm-mgbot">
                <textarea id="comment" asp-for="Comment" cols="40" rows="6" placeholder="Ваше сообщение*" class="fm" style="vertical-align: top;"></textarea>
                <span id="redcom" class="red"><img src="~/img/icon-warning.svg" class="warn" />Необходимо ввести комментарий</span>
            </div>
            <div>
                <div class="btn">
                @(Html.Recaptcha<RecaptchaV3HiddenInput>(RecaptchaSettings?.Value, new RecaptchaV3HiddenInput()))
                <button type="submit" data-badge="inline" id="button" class="primary-button" style="width: 100%;"><span class="icon-ico-send"></span>Отправить сообщение</button>
                    <p class="smalltext">*Нажимая на кнопку, вы даете свое согласие на обработку персональных данных</p>

                </div>
            </div>
    }
</div>