:root {
    --size: calc((100vw / 100vh)*1);
    --font: calc(100vw / 75);
    --mg-rt: calc((100vw / 1680)*5);
    --blue: #1669A6;
    --lgray: #F7F6F9;
    --lightgray: #EDEDED;
    --middlegray: #717681;
    --darkgray: #263457;
    --gray: #DDDDDD;
}

/*=======SCROLLBAR==========*/
::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 1px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: var(--gray);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkgray);
    background-image: url("https://yraaa.ru/_pu/24/59610063.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 0.5px solid #fff;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-radius: 3px;
}
/*---for tablet and smartfone---*/
@media (max-width: 1023px) {
    ::-webkit-scrollbar {
        width: 0 !important;
    }
}
/*---end for tablet and smartfone---*/
/*=======END SCROLLBAR==========*/

html, body {
    margin: 0;
    padding: 0;
}

#logistor .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 2em 0;
}

#logistor .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#logistor .left, .right {
    width: 50%;
}

.logflex {
    display: flex;
}

.cl {
    flex-direction: column;
}

.alc {
    align-items: center;
}

.jsb {
    justify-content: space-between;
}

.logmax {
    width: 100%;
}

.hr {
    background: url("../img/bgline.svg") left center repeat-x;
    padding: 0 5% 0 0;
}

.hrg {
    background: #F5F5F5 url("../img/bgline.svg") left center repeat-x;
    padding: 0 5% 0 0;
}

.hrlg {
    background: #ebebeb url("../img/bgline.svg") left center repeat-x;
    padding: 0 5% 0 0;
}

.hr h2 {
    background: white;
    padding-right: 1em;
    padding-left: 5%;
    width: auto;
}

.bggray {
    background: #F5F5F5 !important;
    width: auto !important;
    padding-right: 1em;
    padding-left: 5%;
}

.bglgray {
    background: #ebebeb !important;
    width: auto !important;
    padding-right: 1em;
    padding-left: 5%;
}

.mgb {
    margin-bottom: 6em;
}

.blue {
    background: #CFD6E9;
}

.lightgray {
    background: #F5F5F5;
}

.verylightgray {
    background: #ebebeb;
}

.logfooter {
    background: #415998;
}

.logfooter a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc((var(--font))*1.1);
}

.logfooter a:hover {
    color: #06DEEC;
}

.gritt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #D9D8D8;
    padding: 2em;
}

.mgr {
    margin-right: 1em;
}

.mgl {
    margin-left: 1em;
}

.imgrit {
    width: 40%;
    padding: 5%;
}

#vd {
    width:50%;
}

@media (max-width: 850px) {
    #logistor .wrapper {
        flex-direction: column;
    }

    #logistor .container {
        padding: 1em 0;
    }

    .mgb {
        margin-bottom: 1em;
    }

    .hr, .hrg, .hrlg {
        background-size: 5vw;
    }

    .grd {
        flex-direction: column;
    }

    .grt {
        flex-direction: column-reverse;
    }

    .gritt {
        width: 90%;
        margin: 0;
        padding: 5%;
    }

    .imgrit {
        width: 90%;
        padding: 5%;
    }

    #vd {
        width: 100%;
    }

    .mgr {
        margin-right: 0;
    }

    .mgl {
        margin-left: 0;
    }

}

    /*===typography===*/
    #logistor h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: calc(var(--font)*3);
        color: var(--darkgray);
    }

    #logistor h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(var(--font)*1.5);
        text-transform: uppercase;
        color: var(--darkgray);
    }

    #logistor h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: calc(var(--font)*1.5);
        color: var(--darkgray);
    }

        #logistor h3 span {
            color: #568FAB;
            font-weight: 900;
        }

    #logistor p {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: calc(var(--font)*1.1);
        line-height: 2;
        color: black;
    }

    .white {
        color: white !important;
    }

    @media (max-width: 850px) {
        #logistor h1 {
            font-size: 2em;
        }

        #logistor h2, #logistor h3 {
            font-size: 1.5em;
        }

        #logistor p, .logfooter a {
            font-size: 1em;
        }

        .mcsection7 a {
            font-size: 1em;
        }
    }
    /*===end typography===*/
    /*===head===*/
    .loghead {
        position: relative;
        height: auto;
    }

    .loggr {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       display: grid;
       grid-template-columns: 1fr 1fr;
    }

    .color {
        position: absolute;
        bottom: 15vh;
        left: 5%;
        width: 25%;
    }

    .quest {
        position: absolute;
        bottom: 40vh;
        right: 5%;
        width: 30%;
        text-align: right;
    }

    .logo {
        position: absolute;
        top: 15vh;
        left: 5%;
        width: 15%;
    }

    .site {
        position: absolute;
        top: 15vh;
        right: 5%;
    }

    #himmob {
        display: none;
    }

    #immob {
        display: none;
    }

@media (max-width: 850px) {

    #him {
        display: none;
    }

    #himmob, #immob {
        display: block;
    }

    .logo, .site {
        position: relative;
        width: 100%;
        height: auto;
    }

    .quest, .color {
        position: relative;
        width: 90%;
    }

    .loggr {
        position: relative;
        grid-template-columns: 1fr;
    }

    .logo, .site {
        top: 0;
        left: 0;
        right: 0;
        padding: 10%;
        background-color: #1D4457;
        box-sizing: border-box;
    }

    .logo img {
        width: 90%;
    }

    .quest {
        top: 1em;
        bottom: auto;
        right: 5%;
        left: 5%;
        text-align: left;
    }

    .color {
        top: 1em;
        bottom: auto;
        right: 5%;
        left: 5%;
        margin-bottom: 2em;
    }

    .colr {
        width: 100%;
        padding: 1vw 0;
        text-align: center;
    }

}
    /*===end head===*/
