<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="896d9312-0bdf-4419-a37d-777aa70d355e" Alias="column_null" Level="3">
  <Info>
    <Name>Column_null</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Layouts</Folder>
    <Compositions />
    <DefaultTemplate>ColumnNull</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f912be8b-877a-4b0b-817f-ce69029d1efc">ColumnNull</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>