<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a16c578-dacc-4552-ad07-26553c8a34fd" Alias="sectionSettingsBlock" Level="2">
  <Info>
    <Name>Section</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ca6e2ba-2567-4f3a-9918-671dfd2a374a</Key>
      <Name>Цвет фона</Name>
      <Alias>backgroundColor</Alias>
      <Definition>b3f77e71-396d-4f49-b264-b1eacd63cbca</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="styling">Styling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e7991b7-4b6a-42e7-b9dd-e3a35bf1712b</Key>
      <Name>Фото фона</Name>
      <Alias>backgroundImage</Alias>
      <Definition>92be4a0d-42a2-48c9-84fc-0369a4d75492</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="1">Фоновое_фото</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff229870-38b3-4cc1-8b46-cdd7948232c9</Key>
      <Name>Цвет текста</Name>
      <Alias>contrast</Alias>
      <Definition>d320454a-b023-4e83-9557-60bdb9fbc048</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="styling">Styling</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7793f12-8335-451a-ab26-f3154d0b5489</Key>
      <Name>Выравнивание по X</Name>
      <Alias>imagePositionX</Alias>
      <Definition>e3873c14-650d-4211-b3d7-b5d1449f0aa8</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="2">Выравнивание</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a92b6da-4b2c-41ef-9126-b6b2ee1ad9ca</Key>
      <Name>Выравнивание по Y</Name>
      <Alias>imagePositionY</Alias>
      <Definition>4b164845-db0d-4ab2-817f-38edd38ed016</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="2">Выравнивание</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5588292f-4b54-480e-95d2-eed9f73bba3b</Key>
      <Name>Повтор фона</Name>
      <Alias>imageRepeat</Alias>
      <Definition>9fe86fe6-cdbf-4e67-9a7c-cc75d18ddc9a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="1">Фоновое_фото</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96e74fe9-d023-498b-ad8f-d43cd5bb883e</Key>
      <Name>Параметры расположения фона</Name>
      <Alias>imageTransform</Alias>
      <Definition>c3e75e0b-954a-4e92-898c-aa4b3f659deb</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="1">Фоновое_фото</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8da042a4-ccc2-45c0-8634-5186af442c62</Key>
      <Name>Отображать фоновое изображение</Name>
      <Alias>photoDisplay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="1">Фоновое_фото</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b564a70-c934-43b0-a4e8-4da2b99e3dac</Key>
      <Name>Размер фона</Name>
      <Alias>sizeBackground</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="1">Фоновое_фото</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7f948bd8-6343-4a80-8dad-17ee00c84ef7</Key>
      <Caption>Выравнивание</Caption>
      <Alias>2</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>98efa7bc-8365-4a32-8c59-afc73fcdb77a</Key>
      <Caption>Фоновое_фото</Caption>
      <Alias>1</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b07cc85d-536c-4469-b9a5-5ce69d5b060a</Key>
      <Caption>Styling</Caption>
      <Alias>styling</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>