@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlockGrid>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var selection = Umbraco.Content(Guid.Parse("474a275c-e506-4b0e-a57e-87b07ce22f44"))
                            .ChildrenOfType("newsItem")
                            .Where(x => x.IsVisible())
                            .OrderByDescending(x => x.Value("newsDate"))
                            .Take(10);

}
<div class="headerdiv nhd">
<div class="owl-carousel owl-theme">
@foreach (var item in selection)
{
    var image = item.Value<IPublishedContent>("newsImg");
    var newsIm = image?.Url();
    var newsDate = item.Value<DateTime>("newsDate").ToShortDateString();

        <div class="textnew">
          <div class="flex" style="display: flex; align-items: flex-start;">
            <span class="icon-ico-cuote" style="margin-right: 0.8rem;"></span>
            <h4 style="margin-bottom: 2rem; font-weight: 800;">@item.Value("newsTitle")</h4>
          </div>
                
            <div class="flexbottom">
                <p class="newdate" style="display: flex; align-items: center;margin-bottom: 1rem;"><span class="material-symbols-outlined" style="margin-right:0.2em;">calendar_today</span> @newsDate</p>
                <p>@Html.Truncate(item.Value("newsText").ToString(), 150, true)</p>
                <a href="@item.Url()">Подробнее<span class="material-symbols-outlined">arrow_forward</span></a>
            </div>
        </div>
}
  </div>
</div>