<?xml version="1.0" encoding="utf-8"?>
<Macro Key="1dc60ffe-65cc-474c-937d-46a142d7d8ad" Alias="EmailRequestMacro" Level="0">
  <Name>EmailRequestMacro</Name>
  <MacroSource>~/Views/MacroPartials/EmailRequestMacro.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>