:root {
  --size: calc((100vw / 100vh)*1);
  --font: calc(100vw / 75);
  --mg-rt: calc((100vw / 1680)*5);
  --gray: #DDDDDD;
  --lightgray: #EDEDED;
  --middlegray: #717681;
  --darkgray: #262930;
  --red: #E31616;
  --redhover: #BD0000;
}

/*=======NAVIGATION==========*/
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: calc(var(--size)*65);
  background-color: var(--darkgray);
  border-bottom: 1px solid white;
}

.navbar {
  width: 92%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: none;
  position: relative;
  background: url("../img/logo_menu.svg") no-repeat left center;
  background-size: contain;
}

.brandnav {
  width: calc(var(--size)*100);
  height: calc(var(--size)*40);
  background: url("../img/logo_menu.svg") no-repeat left center;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(var(--size)*65);
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: calc(var(--size)*55);
}

nav ul li {
  margin: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  width: auto;
  height: calc(var(--size)*55);
}

nav ul li a {
  display: flex;
  height: 100%;
  padding: 0 calc(var(--size)*20);
  align-items: center;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: var(--red);
  transition: .3s;
}

nav ul li a.active_menu {
  color: var(--red) !important;
}

nav ul li a.active_menu:hover {
  cursor: default;
}

/*burger*/
.mobile-menu {
  position: relative;
  width: 25px;
  height: 25px;
  display: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.mobile-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  right: 0;
  top: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mobile-menu span:nth-child(1) {
  top: 5px;
}

.mobile-menu span:nth-child(2), .mobile-menu span:nth-child(3) {
  top: 12px;
}

.mobile-menu span:nth-child(4) {
  top: 19px;
}

.mobile-menu.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.mobile-menu.open span:nth-child(4) {
  top: 0px;
  width: 0%;
  left: 50%;
}

.mobile-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*end burger*/
/*---NAVIGATION---*/