@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <title>TestUmbraco</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/preview/logistor/css/style4.css">
</head>
<body id="logistor">

    <div class="loghead">
        <img src="~/preview/logistor/img/logistcovermob.jpg" class="logmax" id="himmob">
      <div class="loggr">
        <div class="logo">
            <img src="~/preview/logistor/img/loglogo.svg" class="logmax">
        </div>
        <div class="site">
            <h2 class="white">| РАЗРАБОТКА САЙТА</h2>
        </div>
         <div class="quest">
            <h2>ЗАДАЧА:</h2>
            <p>Сделать современный, функциональный сайт для логистической компании-партнера с системой администрирования и новостной страницей</p>
        </div>
        <div class="color">
            <h2>ЦВЕТА:</h2>
            <p>Использованы уже имеющиеся фирменные цвета из бренд-бука компании</p>
        </div>
      </div>
        <img src="~/preview/logistor/img/loghead.svg" class="logmax" id="him">
        <div id="immob">
            <div class="colr" style="background: #000000;"><p class="white">#000000</p></div>
            <div class="colr" style="background: #706F6F;"><p class="white">#706F6F</p></div>
            <div class="colr" style="background: #1D4457;"><p class="white">#1D4457</p></div>
            <div class="colr" style="background: #B7B7B7;"><p>50%, #1D4457</p></div>
            <div class="colr" style="background: #568FAB;"><p class="white">#568FAB</p></div>
            <div class="colr" style="background: #D9D8D8;"><p>#D9D8D8</p></div>
            <div class="colr" style="background: #00E0FF;"><p>#00E0FF</p></div>
        </div>
    </div>

    <div class="hrlg logflex alc">
        <h2 class="bglgray">БРЕНДБУК:</h2>
    </div>
    <div class="verylightgray">
    <div class="container cl">
        <img src="~/preview/logistor/img/brand.jpg" class="logmax">
    </div>
    </div>

    <!--<div class="hr logflex alc">
        <h2>ТИПОГРАФИКА:</h2>
    </div>-->

    <div class="hr logflex alc">
        <h2>МАКЕТ:</h2>
    </div>
    <div class="container cl">
      <div class="logflex grd" style="margin-bottom: 1em;">
          <div class="cl gritt mgr">
              <div>
                <h3><span>1.</span> Слайдер</h3>
                <p>Анимированный адаптивный слайдер в шапке.</p>
             </div>
          </div>
        <video id="vd" preload="auto" no-controls autoplay loop playsinline muted>
                    <source src="~/preview/logistor/img/logvideo.mp4" type="video/mp4">
                    <source src="~/preview/logistor/img/logvideo.ogv" type="video/ogg">
                </video>
      </div> 
      <div class="logflex grt">
        <img src="~/preview/logistor/img/icon.svg" class="imgrit">
        <div class="cl gritt mgl">
            <div>
              <h3><span>2.</span> Иконки</h3>
              <p>Иконографика проекта в фирменном стиле</p>
           </div>
        </div>
      </div> 
    </div>
    <div class="container cl">
        <h3><span>3.</span> Адаптивное меню</h3>
        <img src="~/preview/logistor/img/menu.png" class="logmax mgb">
        <h3><span>4.</span> Новостной блок</h3>
        <img src="~/preview/logistor/img/news.png" class="logmax mgb">
        <img src="~/preview/logistor/img/news2.png" class="logmax mgb">
    </div>

    <div class="blue">
    <div class="container cl">
        <h3><span>5.</span> Другие страницы сайта</h3>
        <img src="~/preview/logistor/img/main.png" class="logmax mgb">
        <img src="~/preview/logistor/img/news3.png" class="logmax mgb">
        <img src="~/preview/logistor/img/about.png" class="logmax mgb">
        <img src="~/preview/logistor/img/services.png" class="logmax mgb">
        <img src="~/preview/logistor/img/error.png" class="logmax mgb">
    </div>
    </div>

    <div class="hrg logflex alc">
        <h2 class="bggray">АДАПТИВ:</h2>
    </div>
    <div class="lightgray">
    <div class="container cl">
        <img src="~/preview/logistor/img/adaptiv.png" class="logmax">
    </div>
    </div>

    <div class="logfooter">
        <div class="container cl alc">
            <a href="https://logistorgroup.com/" target="_blank">www.logistorgroup.com</a>
        </div>
    </div>
</body>