@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TestTemplate>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Test Template Works!</title>
</head>
<body>
    <h1>✅ Тестовый шаблон работает!</h1>
    <p>Страница: @Model.Name</p>
    <p>ID: @Model.Id</p>
    <p>Дата: @DateTime.Now</p>
</body>
</html>