<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3f77e71-396d-4f49-b264-b1eacd63cbca" Alias="Background colors" Level="3">
  <Info>
    <Name>Background colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Block+Grid/Section+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "dddddd",
      "label": "dddddd"
    },
    {
      "value": "e5e7eb",
      "label": "e5e7eb"
    },
    {
      "value": "717681",
      "label": "717681"
    },
    {
      "value": "262930",
      "label": "262930"
    },
    {
      "value": "dbf1ff",
      "label": "dbf1ff"
    },
    {
      "value": "f7f6f9",
      "label": "f7f6f9"
    }
  ],
  "umbMigrationV14": "2026-01-13T14:56:21.0874387\u002B00:00",
  "useLabel": false
}]]></Config>
</DataType>