<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b15c9a2-eaa5-40c2-802f-57a15da8b129" Alias="BlockGrid - Content - Block Grid Section" Level="2">
  <Info>
    <Name>BlockGrid - Content - Block Grid Section</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "e79440a8-2033-4bc9-965b-885fc004c8eb",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "\u0426\u0438\u0442\u0430\u0442\u0430"
    },
    {
      "contentElementTypeKey": "48c16516-1052-44a0-ad26-4f17b39c5576",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "createLabel": "\u0414\u043E\u0431\u0430\u0432\u044C\u0442\u0435 \u043A\u043E\u043D\u0442\u0435\u043D\u0442",
  "gridColumns": 12
}]]></Config>
</DataType>