<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17d9c3bf-cc5f-4461-a497-747997ce5f2e" Alias="BlockGrid - Content" Level="2">
  <Info>
    <Name>BlockGrid - Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "76f9f088-cfd0-488f-a3f9-ee61407c197e",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "74c0c4d7-474c-4be2-b672-9787ff346b70",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "createLabel": "\u0414\u043E\u0431\u0430\u0432\u044C\u0442\u0435 \u043A\u043E\u043D\u0442\u0435\u043D\u0442",
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>