<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c0045d0-aa62-4372-b277-8bd0b661a884" Alias="Bootstrap Grid Page - Grid Configurations - Content Picker" Level="2">
  <Info>
    <Name>Bootstrap Grid Page - Grid Configurations - Content Picker</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "header": "Sort",
      "alias": "sortOrder",
      "isSystem": 1
    },
    {
      "header": "Last edited",
      "alias": "updateDate",
      "isSystem": 1
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "desc",
  "pageSize": 10
}]]></Config>
</DataType>