<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97fe57e6-6852-4123-a64f-7b76b5980f91" Alias="Card - cardDate - Date Only" Level="1">
  <Info>
    <Name>Card - cardDate - Date Only</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>