<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da29f433-53e8-4883-befe-537428b7bc6b" Alias="Div-Gorizontal align-Dropdown" Level="3">
  <Info>
    <Name>Div-Gorizontal align-Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Block+Grid/Div</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u041F\u043E \u043B\u0435\u0432\u043E\u043C\u0443 \u043A\u0440\u0430\u044E",
    "\u041F\u043E \u043F\u0440\u0430\u0432\u043E\u043C\u0443 \u043A\u0440\u0430\u044E",
    "\u041F\u043E \u0446\u0435\u043D\u0442\u0440\u0443",
    "\u041F\u043E \u0448\u0438\u0440\u0438\u043D\u0435"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.0924331\u002B00:00"
}]]></Config>
</DataType>