<?xml version="1.0" encoding="utf-8"?>
<DataType Key="756e5318-df26-4109-a4a2-63864b9cfa43" Alias="Div - Toggle - Toggle" Level="2">
  <Info>
    <Name>Div - Toggle - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "%",
  "labelOn": "em",
  "showLabels": true
}]]></Config>
</DataType>