<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6dcc7f79-1dd8-4137-8cd6-60108c9537db" Alias="Dropdown Text Semantic" Level="2">
  <Info>
    <Name>Dropdown Text Semantic</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "article",
    "blockquote",
    "aside"
  ],
  "multiple": false
}]]></Config>
</DataType>