<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e2a13d8-3443-4ea8-b5be-9426a91974d3" Alias="Dropdown Grid Column Size" Level="2">
  <Info>
    <Name>Dropdown Grid Column Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7",
    "8",
    "9",
    "10",
    "11",
    "12",
    "auto"
  ],
  "multiple": false
}]]></Config>
</DataType>