<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e41087e1-a051-4781-a435-cd16f99f252a" Alias="Dropdown Grid Type" Level="2">
  <Info>
    <Name>Dropdown Grid Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u041A\u043E\u043D\u0442\u0435\u0439\u043D\u0435\u0440",
    "\u0421\u043F\u0438\u0441\u043E\u043A"
  ],
  "multiple": false
}]]></Config>
</DataType>