<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cafdc3df-d3d1-490f-80ad-f879a54eb410" Alias="FormFieldsList - BlockList - Block List" Level="1">
  <Info>
    <Name>FormFieldsList - BlockList - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "693be01c-517a-4627-a86d-d0d9b89b20b0",
      "label": "{{fieldLabel}} ({{fieldType}})"
    },
    {
      "contentElementTypeKey": "098aa03c-1f00-4b75-b7de-7a979cde08e3",
      "label": "\u041A\u043E\u043B\u043E\u043D\u043A\u0430 ({formColumn} \u0432 \u0440\u044F\u0434)"
    },
    {
      "contentElementTypeKey": "4b33b5e1-3536-4f19-8970-741b116dde93"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>