<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8b98f3b-14c6-40b6-9567-a94d5bb2b395" Alias="Form Builder Block - Form Description - Text Area" Level="1">
  <Info>
    <Name>Form Builder Block - Form Description - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>