<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f20bade-8a87-41f7-baa6-82e9de51086c" Alias="formColumn - columnSize - Dropdown" Level="1">
  <Info>
    <Name>formColumn - columnSize - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "2",
    "3",
    "4",
    "6"
  ]
}]]></Config>
</DataType>