<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cab3863d-c7bf-48ef-90d1-1daf8be2b0dc" Alias="GridColumn - Content" Level="2">
  <Info>
    <Name>GridColumn - Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Custom Block",
      "key": "0b3f548a-79bf-48ba-9e39-b34e54cc51d5"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "48c16516-1052-44a0-ad26-4f17b39c5576",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "561dfe57-c586-4538-a72f-c953efbac24c",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "e79440a8-2033-4bc9-965b-885fc004c8eb",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "68e5e13e-0058-4fe5-8745-e415e05f1801",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "4b33b5e1-3536-4f19-8970-741b116dde93",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "5750e296-9727-4c9d-b305-ce40ef2f8542",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "settingsElementTypeKey": "5a02cb8e-8493-4311-9349-97ceedbcbf05"
    },
    {
      "contentElementTypeKey": "54cef777-1939-4a90-a954-ecebcf5c1f6e",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "0b3f548a-79bf-48ba-9e39-b34e54cc51d5",
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        }
      ]
    },
    {
      "contentElementTypeKey": "5a3e24f4-9e40-44bf-9ac3-7400d517b649",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>