<?xml version="1.0" encoding="utf-8"?>
<DataType Key="755d7e06-a16d-4ee4-9c8b-8784dfedab84" Alias="GridColumn -  Dropdown - Bootstrap" Level="1">
  <Info>
    <Name>GridColumn -  Dropdown - Bootstrap</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6",
    "7",
    "8",
    "9",
    "10",
    "11",
    "12"
  ]
}]]></Config>
</DataType>