<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cab3863d-c7bf-48ef-90d1-1daf8be2b0dc" Alias="Grid Section - Rows - Block List" Level="2">
  <Info>
    <Name>Grid Section - Rows - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0f002cdf-dab5-4ee6-8dab-d8ab6176092d"
    }
  ]
}]]></Config>
</DataType>