<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e507821-6733-4445-90ea-331a0d3119e6" Alias="Hero -  - Block List" Level="1">
  <Info>
    <Name>Hero -  - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cbfa30ca-f840-41a5-858f-487c46064e15"
    }
  ]
}]]></Config>
</DataType>