<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bb18160-159a-4dbc-b038-8efb1b4a6737" Alias="Home - Меню - Block Single" Level="1">
  <Info>
    <Name>Home - Меню - Block Single</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4772b7be-8aa7-4ea5-9d1b-0ef4782d3a24"
    },
    {
      "contentElementTypeKey": "a9c26980-0665-4536-956a-b81ddaa7221b"
    }
  ]
}]]></Config>
</DataType>