<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23cfd1d9-6172-47b4-a135-2cb610be049a" Alias="IconPosition - Toggle" Level="1">
  <Info>
    <Name>IconPosition - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "labelOff": "\u0421\u043F\u0440\u0430\u0432\u0430",
  "labelOn": "\u0421\u043B\u0435\u0432\u0430",
  "showLabels": true
}]]></Config>
</DataType>