<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec1bf383-27eb-4c6d-a4bc-ee01e28b4f32" Alias="Icon Media Picker " Level="2">
  <Info>
    <Name>Icon Media Picker </Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>