<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf90efe9-02ba-4ecd-8321-b0edc8b9d99b" Alias="Image - crop - Dropdown" Level="2">
  <Info>
    <Name>Image - crop - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u0410\u0432\u0442\u043E",
    "16:9",
    "4:3",
    "5:6",
    "2:2"
  ],
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.0986149\u002B00:00"
}]]></Config>
</DataType>