<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bf3e975-da72-4c74-b92c-c1c347d3edf5" Alias="Контакты - Block List" Level="1">
  <Info>
    <Name>Контакты - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "372fd891-9ce6-47c6-92f5-b4f0b62e2fbb"
    }
  ]
}]]></Config>
</DataType>