<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "f6c515bb-653c-4bdc-821c-987729ebe327",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2026-01-13T14:56:21.0783566\u002B00:00",
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>