<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d413cb0-46e1-463b-8e4e-35f5b526dd63" Alias="menu - Block List" Level="1">
  <Info>
    <Name>menu - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d0d536c1-5687-4808-875e-b51717706410"
    }
  ]
}]]></Config>
</DataType>