<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88091640-849d-4397-8a83-e66e4065a562" Alias="Settings - BgSize - Dropdown" Level="2">
  <Info>
    <Name>Settings - BgSize - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u041A\u0430\u043A \u0435\u0441\u0442\u044C",
    "\u041F\u043E \u0448\u0438\u0440\u0438\u043D\u0435",
    "\u041F\u043E \u0432\u044B\u0441\u043E\u0442\u0435",
    "\u041E\u0431\u043B\u043E\u0436\u043A\u0430",
    "\u0412\u043C\u0435\u0441\u0442\u0438\u0442\u044C"
  ]
}]]></Config>
</DataType>