<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f51e126f-35d0-4858-a775-e9b92ce963b0" Alias="Settings - Color - Color Picker" Level="2">
  <Info>
    <Name>Settings - Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>