<?xml version="1.0" encoding="utf-8"?>
<DataType Key="042237b2-35a3-42f2-8823-f24654607ce5" Alias="Settings - Opacity - Slider" Level="2">
  <Info>
    <Name>Settings - Opacity - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>