<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14761745-ac33-4d8c-b7db-fda63707982d" Alias="Соцсети - Block List" Level="1">
  <Info>
    <Name>Соцсети - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9ab7b7da-e081-4420-8151-1793fa916626"
    }
  ]
}]]></Config>
</DataType>