<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9651ac8-c141-4c7f-b7db-d8492a15779d" Alias="text - Rich Text Editor" Level="1">
  <Info>
    <Name>text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Underline"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.Underline"
      ],
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote",
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia"
      ]
    ]
  ]
}]]></Config>
</DataType>