<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f3b8f5f-f5eb-4ddd-b0b8-4f73f7fcfd50" Alias="textInverse - Color Picker" Level="1">
  <Info>
    <Name>textInverse - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": ""
    }
  ]
}]]></Config>
</DataType>