<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3063d8e-b03c-4fd6-a8f1-d521d2c85de8" Alias="True/false  - True" Level="1">
  <Info>
    <Name>True/false  - True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>