<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f77afef0-1529-4114-992b-43575269d459" Alias="Type Field - Form" Level="1">
  <Info>
    <Name>Type Field - Form</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel",
    "textarea",
    "select",
    "checkbox",
    "number",
    "date"
  ]
}]]></Config>
</DataType>